<ng-container *ngIf="userFound!==undefined;else pleasewait">
  <ng-container *ngIf="(userFound===true)">
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view pt-3">
    <!--Begin::Row    DIV ONE -->
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">

                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label d-block pt-2">
                        <p class="kt-portlet__head-title">
                            <span class="font-12"> Add projects to portfolio : </span>
                        </p>
                        <h5 class="text-primary mb-2">{{portfolioName}}</h5>
                    </div>
                    <div class="kt-portlet__head-label mr-2">
                        <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                            <div class="kt-header__topbar-wrapper">
                                <div class="kt-quick-search kt-quick-search--inline">
                                    <div class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control project-search kt-quick-search__input pl-3"
                                                placeholder="Search projects" [(ngModel)]="searchText" autofocus
                                                style="width: 200px" (keydown.enter)="SearchbyText()">
                                            <div class="input-group-prepend">
                                                <button class="input-group-text" (click)="SearchbyText()">
                                                    <i class="flaticon2-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mr-3">
                            <ng-container *ngIf="CurrentPageNo==1">
                                {{CurrentPageNo}} - {{_CurrentpageRecords}}
                            </ng-container>
                            <ng-container *ngIf="CurrentPageNo!=1">
                                {{_CurrentpageRecords * (CurrentPageNo-1) + 1}} - {{_CurrentpageRecords *
                                CurrentPageNo}}
                            </ng-container>
                            of
                            <span *ngIf="_totalProjectsCount>=1000"> {{_totalProjectsCount.toLocaleString()}}</span>
                            <span *ngIf="_totalProjectsCount<1000"> {{_totalProjectsCount}}</span>
                        </div>

                        <!-- <div class="mr-3">
                            Page <span class="badge badge-pill badge-primary">
                                {{CurrentPageNo}}</span>
                        </div> -->

                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo - 1;applyFilters()" [disabled]="CurrentPageNo==1">
                            <i class="fas fa-angle-left mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo + 1; applyFilters(); "
                            [disabled]="_CurrentpageRecords<30"  >
                            <i class="fas fa-angle-right mr-0"></i></button>
                        <!-- Filters -->
                        <div class="stores-sec mr-1">
                            <ul class="nav navbar-nav filters">
                                <li class="dropdown mega-dropdown" id="filtermenu">
                                    <a [ngClass]="edited ? 'btn btn-label-primary btn-upper btn-sm btn-bold filter-dot' : 'btn btn-label-primary btn-upper btn-sm btn-bold'" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v mr-0 "></i>
                                    </a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div (click)="$event.stopPropagation();">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5><strong>Total projects - </strong>
                                                        <h5 class="d-inline-block">
                                                            <strong>{{_totalProjectsCount}}</strong>
                                                        </h5>
                                                    </h5>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control kt-quick-search__input pl-3"
                                                        placeholder="Search Filters" [(ngModel)]="txtSearch"
                                                        style="width: 100%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="count-height">
                                                        <p><strong>Project type</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of TypeContInFilter |filter:txtSearch;let i=index">
                                                            <label class="kt-checkbox">

                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isTypeChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                            </mat-checkbox> -->
                                                                <!-- value="item.id" [attr.checked]="item.mode.indexOf(m.id) > -1 ? true : null"> -->
                                                                <input type="checkbox" (change)="isTypeChecked(item)"
                                                                    [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="count-height">
                                                        <p><strong>Status</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of StatusCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">

                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isStatusChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                </mat-checkbox> -->

                                                                <input type="checkbox" (change)="isStatusChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                    {{item.Name=='Under Approval'?'New Approval' :item.Name=="Enactive Under Approval"?"Enactive approval"  :item.Name=="Project Hold Under Approval"?"Hold approval" :item.Name=="Deadline Extend Under Approval"?"Deadline extend approval":item.Name=="Cancellation Under Approval"?"Cancellation approval"   :item.Name== "Completion Under Approval" ? "Completion approval" :item.Name=='Forward Under Approval'? "Forward approval" :item.Name=='InProcess'?'In-process':item.Name }}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="count-height">
                                                        <p><strong>Company</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of CompanyCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isEmpChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                            </mat-checkbox> -->
                                                                <input type="checkbox" (change)="isCompanyChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="count-height">
                                                        <p><strong>Employees</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of EmpCountInFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isEmpChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                            </mat-checkbox> -->
                                                                <input type="checkbox" (change)="isEmpChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                        </div>
                                        <div>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                (click)="resetFilters($event)">
                                                Clear
                                            </button> -->
                                            <button
                                                class="btn btn-label-success btn-outline-success btn-upper btn-sm btn-bold mr-2"
                                                data-toggle="dropdown">Submit</button>
                                            <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="resetAll()">Reset
                                                <!-- <i class="fas fa-sync-alt mr-0"></i> -->
                                            </button>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="applyFilters()">Apply
                                            </button> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" (click)="resetAll()">
                            <i class="fas fa-sync-alt mr-0"></i>
                        </button>
                        <button class="btn btn-primary btn-upper btn-sm btn-bold mr-1"
                            style="background-color: #384ad7;"  (click)="addPrjsToPortflio()" >
                            <!-- <i class="fas fa-trash mr-0"></i> -->Add project(s)
                        </button>
                        <button class="btn btn-primary btn-upper btn-sm btn-bold mr-1"
                        style="background-color: #384ad7;" (click)="BackBttn()">
                  Back to portfolio
                    </button>
                    </div>
                </div>
            </div>
            <!--begin::Portlet-->
            <div class="kt-portlet mt-3 mb-0">
                <!-- <div class="kt-portlet__head">
                    <div class="col-md-6 py-3">
                        <input type="text" class="form-control" [(ngModel)]="portfolioName"
                            placeholder="Enter Portfolio Name..." (keypress)="_ontextChange($event.target.value)">
                        <div>
                            <strong>
                                <p class="text-danger mb-0 py-1" [hidden]="portfolioName!=''"> * Please Enter Portfolio
                                    Name To Enable Checkboxes</p>
                            </strong>
                        </div>
                    </div>
                </div> -->
                <div class="kt-portlet__body pt-3 pb-2">
                    <div class="card projects-list no-border">
                        <div class="card-body">
                            <!--begin: Datatable -->
                            <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12  table-scroll">
                                        <div *ngIf="searchResult == true">About ({{_CurrentpageRecords}}) results found.</div>
                                        <table class="table table-hover dataTable no-footer dtr-inline" id="project-4"
                                            role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                       aria-sort="ascending"
                                                        aria-label=": activate to sort column descending">
                                                        <!-- <mat-list-item>
                                                            <mat-checkbox checked color="primary"
                                                                [(ngModel)]="master_checked" name="Allcheckbox"
                                                                (change)="master_CheckBox()"
                                                                [disabled]="portfolioName==''">
                                                            </mat-checkbox>
                                                        </mat-list-item> -->

                                                          <span class="d-flex align-items-center"><mat-checkbox  [checked]="isAllPrjSelected"   title="Select All" (change)="selectUnselectPagePrjs($event)" color="primary"></mat-checkbox>
                                                            <label class="fs-7 ml-2">Select all</label></span>

                                                    </th>

                                                    <th data-order="desc" data-name="id" class="text-center">
                                                        <!-- Info -->

                                                    </th>
                                                    <!-- <th></th> -->
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        (click)="_SortPortfoliolist()" data-name="Project_Name"
                                                        tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="Project Title &amp;amp; Description: activate to sort column ascending">
                                                        <a [hidden]="Z2A" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fas fa-sort-alpha-up"></i>
                                                        </a>
                                                        <a [hidden]="A2Z" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fa fa-sort-alpha-down-alt"></i>
                                                        </a>
                                                        Project name
                                                    </th>
                                                    <th style="width: 0px;"></th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Exec_BlockName" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="Project Type: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Project type
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="ReportType" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        class="curser-pointer"
                                                        aria-label="Category: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Category
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="TM_DisplayName" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="User Name: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Employee name
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        (click)="_SortPortfoliolist()" data-name="DeadLine" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        End date
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Status" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        class="curser-pointer"
                                                        aria-label="Status: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- filter:Emp_value|filter:ProjectTyp_value|filter:Status_value  | grdFilterPipe: {Project_Name: searchText}-->
                                                <tr role="row" class="odd project-list_AC"
                                                    *ngFor="let item of _ProjectDataList;let i=index;" [class.active]="item.isActive">
                                                    <td tabindex="0" class="sorting_1">
                                                        <mat-list-item>

                                                        <mat-checkbox
                                                           color="primary"
                                                           [checked]="(isProjectSelected(item.Project_Code)||item.addedIntoPortfolio)"
                                                           (change)="selectUnSelectProject($event,item)"
                                                        ></mat-checkbox>
                                                        </mat-list-item>
                                                    </td>
                                                    <!-- Information Icon -->
                                                    <td align="center">
                                                        <a tabindex="0" class="btn p-0 mr-2 info-btn curser-pointer" role="button" placement="right"
                                                            data-trigger="focus" title="Project Info!" (click)="openInfo(item.Project_Code,item.Project_Name);info_active_btn(item)">
                                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                            viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                                                       <g>
                                                           <circle fill="currentColor" cx="10" cy="10.024" r="9.295"/>
                                                           <g>
                                                               <path fill="#FFFFFF" d="M16.674,10.017c0.008,1.031-0.763,1.823-1.778,1.825c-1.004,0.002-1.818-0.805-1.819-1.804
                                                                   c-0.002-0.981,0.785-1.775,1.774-1.793C15.879,8.227,16.666,8.992,16.674,10.017z"/>
                                                               <path fill="#FFFFFF" d="M10.053,8.245c1.017-0.004,1.818,0.787,1.814,1.795c-0.003,1.006-0.809,1.806-1.815,1.802
                                                                   c-0.989-0.004-1.77-0.782-1.783-1.778C8.256,9.045,9.036,8.25,10.053,8.245z"/>
                                                               <path fill="#FFFFFF" d="M3.447,10.019c0.006-1.013,0.809-1.791,1.828-1.774c0.994,0.017,1.769,0.803,1.769,1.791
                                                                   c-0.001,1.004-0.809,1.81-1.812,1.806C4.224,11.838,3.44,11.038,3.447,10.019z"/>
                                                           </g>
                                                           <path fill="currentColor" d="M14.864,8.959c0.595-0.011,1.084,0.451,1.104,1.043c0.02,0.6-0.435,1.089-1.029,1.107
                                                               c-0.63,0.019-1.125-0.444-1.129-1.058C13.805,9.457,14.275,8.97,14.864,8.959z"/>
                                                           <path fill="currentColor" d="M10.085,11.109C9.477,11.117,9,10.668,8.983,10.071C8.967,9.455,9.45,8.958,10.065,8.959
                                                               c0.598,0,1.065,0.467,1.072,1.071C11.144,10.64,10.694,11.101,10.085,11.109z"/>
                                                           <path fill="currentColor" d="M5.236,11.112c-0.599-0.004-1.083-0.48-1.085-1.066C4.149,9.443,4.662,8.944,5.268,8.959
                                                               C5.851,8.973,6.34,9.48,6.326,10.056C6.312,10.657,5.838,11.117,5.236,11.112z"/>
                                                       </g>
                                                       </svg>
                                                        </a>
                                                        <a tabindex="0" class="btn p-0 info-btn curser-pointer" role="button" placement="right"
                                                            data-trigger="focus"  data-toggle="tooltip" title="Project dashboard!"  (click)="newDetails(item.Project_Code)">
                                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                            viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                                                         <g>
                                                           <path fill="currentColor" d="M19.293,9.976c0.13,4.913-4.07,9.247-9.273,9.223c-5.177-0.024-9.292-4.078-9.315-9.196
                                                             c-0.023-5.076,4.231-9.302,9.506-9.201C15.246,0.899,19.38,5.07,19.293,9.976z"/>
                                                           <path fill="#FFFFFF" d="M10.79,10.029c0,1.046,0.003,2.092-0.001,3.138c-0.002,0.523-0.3,0.858-0.756,0.874
                                                             c-0.476,0.016-0.819-0.333-0.82-0.868c-0.005-2.108-0.005-4.216,0-6.325c0.001-0.559,0.297-0.856,0.816-0.846
                                                             c0.513,0.01,0.757,0.27,0.76,0.84C10.794,7.905,10.79,8.967,10.79,10.029z"/>
                                                           <path fill="#FFFFFF" d="M14.048,8.587c0,0.545,0.007,1.09-0.002,1.635c-0.009,0.581-0.318,0.922-0.816,0.923
                                                             c-0.499,0.001-0.817-0.34-0.821-0.917c-0.008-1.122-0.009-2.245,0.001-3.367c0.005-0.556,0.306-0.859,0.814-0.858
                                                             c0.511,0,0.809,0.298,0.821,0.853C14.057,7.432,14.048,8.01,14.048,8.587z"/>
                                                           <path fill="#FFFFFF" d="M6.008,11.424c0-0.579-0.006-1.159,0.002-1.738c0.007-0.515,0.323-0.844,0.789-0.839
                                                             c0.457,0.005,0.784,0.347,0.787,0.854c0.007,1.159,0.007,2.317,0,3.476c-0.003,0.519-0.314,0.854-0.775,0.864
                                                             c-0.477,0.01-0.796-0.333-0.801-0.879C6.004,12.583,6.008,12.003,6.008,11.424z"/>
                                                           <path fill="#FFFFFF" d="M14.045,13.203c0.011,0.431-0.382,0.836-0.815,0.838c-0.421,0.002-0.797-0.355-0.821-0.778
                                                             c-0.025-0.438,0.344-0.84,0.788-0.859C13.637,12.386,14.034,12.76,14.045,13.203z"/>
                                                           <path fill="#FFFFFF" d="M6.008,6.756c0.012-0.492,0.296-0.759,0.8-0.754C7.28,6.007,7.594,6.326,7.587,6.79
                                                             C7.58,7.273,7.237,7.597,6.75,7.582C6.292,7.567,5.996,7.238,6.008,6.756z"/>
                                                         </g>

                                                         </svg>
                                                        </a>
                                                    </td>
                                                    <!-- <td>
                                                        <div *ngIf="item.Link_Status==1;else not_Linked">
                                                            <a class="curser-pointer"
                                                                (click)="_OpenMemosInfo(item.Project_Code,item.Project_Name)"><img
                                                                    width="19px"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Linked"></a>

                                                        </div>
                                                        <ng-template #not_Linked>
                                                            <a><img width="19px" class="black-white"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Not Linked"></a>
                                                        </ng-template>
                                                    </td> -->
                                                    <td>
                                                        <p class="kt-widget__title mb-0">
                                                            {{item.Project_Name}}
                                                        </p>
                                                        <span *ngIf="item.addedIntoPortfolio" class="fs-8 text-muted">Added in portfolio.</span>
                                                        <!-- <p class="kt-widget5__desc">{{item.Project_Description}}</p> -->
                                                    </td>
                                                    <td>
                                                        <span class="count2" title="Completed/All" *ngIf="item.Actioncount>0">{{item.CompletedActioncount}}/{{item.Actioncount}}</span>
                                                    </td>
                                                    <td>

                                                        <span class="kt-widget__other">{{item.Exec_BlockName}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.ReportType==null;else ReportType">
                                                            <span class="kt-widget__other">Developemt</span>
                                                        </div>
                                                        <ng-template #ReportType>
                                                            <span class="kt-widget__other">{{item.ReportType}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.TM_DisplayName}}</span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            *ngIf="item.Exec_BlockName=='Standard Tasks' || item.Exec_BlockName=='Routine Tasks';else Projecttype">
                                                            <span
                                                                class="kt-widget__other text-nowrap">{{item.SubmissionType}}</span>
                                                        </div>
                                                        <ng-template #Projecttype>
                                                            <span class="kt-widget__other text-nowrap">
                                                                {{item.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                        </ng-template>

                                                        <!-- <span class="kt-widget__other">
                                                            {{item.DeadLine|date:'dd-MM-yyyy'}}</span> -->
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.Status=='Completed'">
                                                            <span class="Completed font-weight-400">Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Delay'">
                                                            <span class="Delay font-weight-400">Delay
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='InProcess'">
                                                            <span class="InProcess font-weight-400">In-process</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo InProcess'">
                                                            <span class="ToDo-InProcess font-weight-400">ToDo
                                                                In-process</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project'">
                                                            <span class="New-Project font-weight-400">New
                                                                project</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project Rejected'">
                                                            <span class="New-Project-Rejected font-weight-400">New
                                                                project
                                                                rejected</span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Project Hold'">
                                                            <span class="Project-Hold font-weight-400">Project
                                                                hold</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Completed'">
                                                            <span class="ToDo-Completed font-weight-400">ToDo
                                                                completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Todo'">
                                                            <span class="New-Todo font-weight-400">New todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completion Under Approval'">
                                                            <span class="Completion-Under-Approval font-weight-400">Completion approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Cancellation Under Approval'">
                                                            <span class="Cancellation-Under-Approval font-weight-400">Cancellation approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Cancelled'">
                                                            <span class="Cancelled font-weight-400">Cancelled
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Under Approval'">
                                                            <span class="under-approval font-weight-400">New approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Forward Under Approval'">
                                                            <span class="Forward-Under-Approval font-weight-400">Forward approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Not Started'">
                                                          <span class="Not-Started font-weight-400">Not Started
                                                          </span>
                                                      </div>
                                                      <div *ngIf="item.Status=='ToDo Achieved'">
                                                        <span class="ToDo-Achieved font-weight-400">ToDo achieved
                                                        </span>
                                                      </div>
                                                        <div *ngIf="item.Status=='Project Complete Rejected'">
                                                            <span class="Project-Complete-Rejected font-weight-400">Project
                                                                complete
                                                                rejected
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Enactive Under Approval'">
                                                            <span class="Enactive-Under-Approval font-weight-400">Enactive approval
                                                            </span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Version'">
                                                            <span class="text-danger font-weight-400">Version
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                                            <span class="Deadline-Extend-Under-Approval font-weight-400">Deadline extend approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Holded'">
                                                            <span class=" Project-Holded font-weight-400"
                                                              >Project holded
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Hold Under Approval'">
                                                            <span class=" Project-Hold-Under-Approval font-weight-400"
                                                                > Hold approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Project_Block=='003'&&item.Status.includes('Delay')">
                                                            <span class="Delay font-weight-400">Delay
                                                            </span>
                                                        </div>

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center py-4" style="color: lightgrey">
                                            <h4>{{_filtersMessage}}</h4>
                                            <p> {{_filtersMessage2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                            <!--end: Datatable -->
                            <span class="kt-portlet__head-title">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </ng-container></ng-container>
<!-- Link memos Template -->
<ng-template #pleasewait>

  <div class="smart-glass">
      <h1></h1>
      <div class="logo">
        <div class="circle">
          <div class="circle">
              <div class="circle">
              </div>
          </div>
      </div>
      <div class="hold-loader">
        <div class="loader-img">
          <img alt="Logo" src="assets/icons/Artboard Copy.png" id="creative" style="width: 100%;">
        </div>
       </div>
      </div>
    </div>


</ng-template>


<div id="Project_info_slider_bar" class="project-info-side-bar animate-right">
    <router-outlet></router-outlet>
</div>
<!-- <div id="mysideInfobar" class="sideInfobar animate-right">
    <app-project-info [inputFromParent]="parentToChild" *ngIf='_loadChildComponent'></app-project-info>
</div> -->

<div id="rightbar-overlay" (click)="closeInfo()"></div>
