<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view">
    <!--Begin::Row    DIV ONE -->
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">

                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label d-block pt-2">
                        <p class="kt-portlet__head-title">
                            <span class="font-12"> Add projects to portfolio : </span>
                        </p>
                        <h5 class="text-primary mb-2">{{portfolioName}}</h5>
                    </div>
                    <div class="kt-portlet__head-label mr-2">
                        <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                            <div class="kt-header__topbar-wrapper">
                                <div class="kt-quick-search kt-quick-search--inline">
                                    <div class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control project-search kt-quick-search__input pl-3"
                                                placeholder="Search Projects" [(ngModel)]="searchText" autofocus
                                                style="width: 200px" (keydown.enter)="SearchbyText()">
                                            <div class="input-group-prepend">
                                                <button class="input-group-text" (click)="SearchbyText()">
                                                    <i class="flaticon2-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mr-3">
                            <ng-container *ngIf="CurrentPageNo==1">
                                {{CurrentPageNo}} - {{_CurrentpageRecords}}
                            </ng-container>
                            <ng-container *ngIf="CurrentPageNo!=1">
                                {{_CurrentpageRecords * (CurrentPageNo-1) + 1}} - {{_CurrentpageRecords *
                                CurrentPageNo}}
                            </ng-container>
                            of
                            <span *ngIf="_totalProjectsCount>=1000"> {{_totalProjectsCount.toLocaleString()}}</span>
                            <span *ngIf="_totalProjectsCount<1000"> {{_totalProjectsCount}}</span>
                        </div>

                        <!-- <div class="mr-3">
                            Page <span class="badge badge-pill badge-primary">
                                {{CurrentPageNo}}</span>
                        </div> -->

                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo - 1;applyFilters()" [disabled]="CurrentPageNo==1">
                            <i class="fas fa-angle-left mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo + 1; applyFilters()"
                            [disabled]="_CurrentpageRecords<30">
                            <i class="fas fa-angle-right mr-0"></i></button>
                        <!-- Filters -->
                        <div class="stores-sec mr-1">
                            <ul class="nav navbar-nav filters">
                                <li class="dropdown mega-dropdown" id="filtermenu">
                                    <a class="btn btn-label-primary btn-upper btn-sm btn-bold" data-toggle="dropdown"><i
                                            class="fas fa-ellipsis-v mr-0"></i></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div (click)="$event.stopPropagation();">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5><strong>Total Projects - </strong>
                                                        <h5 class="d-inline-block">
                                                            <strong>{{_totalProjectsCount}}</strong>
                                                        </h5>
                                                    </h5>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control kt-quick-search__input pl-3"
                                                        placeholder="Search Filters" [(ngModel)]="txtSearch"
                                                        style="width: 100%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Project Type</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of TypeContInFilter |filter:txtSearch;let i=index">
                                                            <label class="kt-checkbox">

                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isTypeChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                            </mat-checkbox> -->
                                                                <!-- value="item.id" [attr.checked]="item.mode.indexOf(m.id) > -1 ? true : null"> -->
                                                                <input type="checkbox" (change)="isTypeChecked(item)"
                                                                    [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Status</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of StatusCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">

                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isStatusChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                </mat-checkbox> -->

                                                                <input type="checkbox" (change)="isStatusChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name =='Under Approval'?'New Project Under Approval': item.Name =='InProcess' ? 'In-Process' :(item.Name=='Not Started'?'Draft' :item.Name)}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Employees</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of EmpCountInFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <!-- <mat-checkbox class="example-margin" color="primary"
                                                                (change)="isEmpChecked(item)"
                                                                [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                            </mat-checkbox> -->
                                                                <input type="checkbox" (change)="isEmpChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                        </div>
                                        <div>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                (click)="resetFilters($event)">
                                                Clear
                                            </button> -->
                                            <button
                                                class="btn btn-label-success btn-outline-success btn-upper btn-sm btn-bold mr-2"
                                                data-toggle="dropdown">Submit</button>
                                            <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="resetAll()">Reset
                                                <!-- <i class="fas fa-sync-alt mr-0"></i> -->
                                            </button>
                                            <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold"
                                                (click)="applyFilters()">Apply
                                            </button> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" (click)="resetAll()">
                            <i class="fas fa-sync-alt mr-0"></i>
                        </button>
                        <button class="btn btn-primary btn-upper btn-sm btn-bold mr-1"
                            style="background-color: #384ad7;" (click)="BackBttn()">
                            <!-- <i class="fas fa-trash mr-0"></i> -->Done
                        </button>
                    </div>
                </div>
            </div>
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="col-md-6 py-3">
                        <input type="text" class="form-control" [(ngModel)]="portfolioName"
                            placeholder="Enter Portfolio Name..." (keypress)="_ontextChange($event.target.value)">
                        <div>
                            <strong>
                                <p class="text-danger mb-0 py-1" [hidden]="portfolioName!=''"> * Please Enter Portfolio
                                    Name To Enable Checkboxes</p>
                            </strong>
                        </div>
                    </div>
                </div> -->
                <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                    <div class="card projects-list no-border">
                        <div class="card-body">
                            <!--begin: Datatable -->
                            <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div *ngIf="searchResult == true">About ({{_CurrentpageRecords}}) results found.</div>
                                        <table class="table table-hover dataTable no-footer dtr-inline" id="project-4"
                                            role="grid" style="width: 0px;">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" aria-sort="ascending"
                                                        aria-label=": activate to sort column descending">
                                                        <!-- <mat-list-item>
                                                            <mat-checkbox checked color="primary"
                                                                [(ngModel)]="master_checked" name="Allcheckbox"
                                                                (change)="master_CheckBox()"
                                                                [disabled]="portfolioName==''">
                                                            </mat-checkbox>
                                                        </mat-list-item> -->
                                                        <!-- <span class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin"><input type="checkbox"
                                                          class="mat-checkbox-input cdk-visually-hidden" id="mat-checkbox-11-input" tabindex="0" aria-checked="false"><span
                                                          matripple="" class="mat-ripple mat-checkbox-ripple mat-focus-indicator"
                                                          ng-reflect-trigger="[object HTMLLabelElement]" ng-reflect-disabled="false" ng-reflect-radius="20"
                                                          ng-reflect-centered="true" ng-reflect-animation="[object Object]"><span
                                                            class="mat-ripple-element mat-checkbox-persistent-ripple"></span></span><span
                                                          class="mat-checkbox-frame"></span><span class="mat-checkbox-background"><svg version="1.1" focusable="false"
                                                            viewBox="0 0 24 24" aria-hidden="true" class="mat-checkbox-checkmark">
                                                            <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3" class="mat-checkbox-checkmark-path"></path>
                                                          </svg><span class="mat-checkbox-mixedmark"></span></span></span> -->
                                                    </th>

                                                    <th data-order="desc" data-name="id" class="text-center">
                                                        <!-- Info -->

                                                    </th>
                                                    <!-- <th></th> -->
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        (click)="_SortPortfoliolist()" data-name="Project_Name"
                                                        tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="Project Title &amp;amp; Description: activate to sort column ascending">
                                                        <a [hidden]="Z2A" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fas fa-sort-alpha-up"></i>
                                                        </a>
                                                        <a [hidden]="A2Z" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fa fa-sort-alpha-down-alt"></i>
                                                        </a>
                                                        Project Name
                                                    </th>
                                                    <th style="width: 0px;"></th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Exec_BlockName" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="Project Type: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Project Type
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="ReportType" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        class="curser-pointer"
                                                        aria-label="Category: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Category
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="TM_DisplayName" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="User Name: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Employee Name
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        (click)="_SortPortfoliolist()" data-name="DeadLine" tabindex="0"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        style="width: 0px;" class="curser-pointer"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        End date
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Status" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        class="curser-pointer"
                                                        aria-label="Status: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- filter:Emp_value|filter:ProjectTyp_value|filter:Status_value  | grdFilterPipe: {Project_Name: searchText}-->
                                                <tr role="row" class="odd project-list_AC"
                                                    *ngFor="let item of _ProjectDataList;let i=index;" [class.active]="item.isActive">
                                                    <td tabindex="0" class="sorting_1">
                                                        <mat-list-item>
                                                            <mat-checkbox checked color="primary"
                                                                [(ngModel)]="item.checked"
                                                                [disabled]="portfolioName==''"
                                                                (change)="dataTableCheckbox();checkboxclick(item.checked,item.Project_Code)">
                                                            </mat-checkbox>
                                                        </mat-list-item>
                                                    </td>
                                                    <!-- Information Icon -->
                                                    <td align="center">
                                                        <a tabindex="0" class="btn p-0 mr-2" role="button" placement="right"
                                                            data-trigger="focus">
                                                            <i class="fa fa-info-circle info-icon-cir"
                                                                (click)="openInfo(item.Project_Code,item.Project_Name);info_active_btn(item)"></i>
                                                        </a>
                                                        <a tabindex="0" class="btn p-0" role="button" placement="right"
                                                            data-trigger="focus"  data-toggle="tooltip" title="More Info!">
                                                            <i class="fa fa-chart-bar info-icon-cir" (click)="newDetails(item.Project_Code)"></i>
                                                        </a>
                                                    </td>
                                                    <!-- <td>
                                                        <div *ngIf="item.Link_Status==1;else not_Linked">
                                                            <a class="curser-pointer"
                                                                (click)="_OpenMemosInfo(item.Project_Code,item.Project_Name)"><img
                                                                    width="19px"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Linked"></a>

                                                        </div>
                                                        <ng-template #not_Linked>
                                                            <a><img width="19px" class="black-white"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Not Linked"></a>
                                                        </ng-template>
                                                    </td> -->
                                                    <td>
                                                        <p class="kt-widget__title mb-0">
                                                            {{item.Project_Name}}
                                                            
                                                        </p>
                                                        <!-- <p class="kt-widget5__desc">{{item.Project_Description}}</p> -->
                                                    </td>
                                                    <td>
                                                        <span class="count2" *ngIf="item.Actioncount>0">{{item.Actioncount}}</span>
                                                    </td>
                                                    <td>

                                                        <span class="kt-widget__other">{{item.Exec_BlockName}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.ReportType==null;else ReportType">
                                                            <span class="kt-widget__other">Developemt</span>
                                                        </div>
                                                        <ng-template #ReportType>
                                                            <span class="kt-widget__other">{{item.ReportType}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.TM_DisplayName}}</span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            *ngIf="item.Exec_BlockName=='Standard Tasks' || item.Exec_BlockName=='Routine Tasks';else Projecttype">
                                                            <span
                                                                class="kt-widget__other text-nowrap">{{item.SubmissionType}}</span>
                                                        </div>
                                                        <ng-template #Projecttype>
                                                            <span class="kt-widget__other text-nowrap">
                                                                {{item.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                        </ng-template>

                                                        <!-- <span class="kt-widget__other">
                                                            {{item.DeadLine|date:'dd-MM-yyyy'}}</span> -->
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.Status=='Completed'">
                                                            <span class="Completed font-weight-400">Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Delay'">
                                                            <span class="Delay font-weight-400">Delay
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='InProcess'">
                                                            <span class="InProcess font-weight-400">In-Process</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo InProcess'">
                                                            <span class="ToDo-InProcess font-weight-400">ToDo
                                                                In-Process</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project'">
                                                            <span class="New-Project font-weight-400">New
                                                                Project</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project Rejected'">
                                                            <span class="New-Project-Rejected font-weight-400">New
                                                                Project
                                                                Rejected</span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Project Hold'">
                                                            <span class="Project-Hold font-weight-400">Project
                                                                Hold</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Completed'">
                                                            <span class="ToDo-Completed font-weight-400">ToDo
                                                                Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Todo'">
                                                            <span class="New-Todo font-weight-400">New Todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completion Under Approval'">
                                                            <span class="Completion-Under-Approval font-weight-400">Completion
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Cancellation Under Approval'">
                                                            <span class="Cancellation-Under-Approval font-weight-400">Cancellation
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Cancelled'">
                                                            <span class="Cancelled font-weight-400">Cancelled
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Under Approval'">
                                                            <span class="under-approval font-weight-400">New Project Under Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Forward Under Approval'">
                                                            <span class="Forward-Under-Approval font-weight-400">Forward
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Not Started'">
                                                          <span class="Not-Started font-weight-400">Draft
                                                          </span>
                                                      </div>
                                                      <div *ngIf="item.Status=='ToDo Achieved'">
                                                        <span class="ToDo-Achieved font-weight-400">ToDo Achieved
                                                        </span>
                                                    </div>
                                                        <div *ngIf="item.Status=='Project Complete Rejected'">
                                                            <span class="Project-Complete-Rejected font-weight-400">Project
                                                                Complete
                                                                Rejected
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Enactive Under Approval'">
                                                            <span class="Enactive-Under-Approval font-weight-400">Enactive
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Version'">
                                                            <span class="text-danger font-weight-400">Version
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                                            <span class="Deadline-Extend-Under-Approval font-weight-400">Deadline Extend
                                                                Under Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Holded'">
                                                            <span class=" Project-Holded font-weight-400"
                                                              >Project Holded
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Hold Under Approval'">
                                                            <span class=" Project-Hold-Under-Approval font-weight-400"
                                                                >Project Hold Under Approval
                                                            </span>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center py-4" style="color: lightgrey">
                                            <h4>{{_filtersMessage}}</h4>
                                            <p> {{_filtersMessage2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                            <!--end: Datatable -->
                            <span class="kt-portlet__head-title">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Link memos Template -->


<div id="Project_info_slider_bar" class="project-info-side-bar animate-right">
    <router-outlet></router-outlet>
</div>
<!-- <div id="mysideInfobar" class="sideInfobar animate-right">
    <app-project-info [inputFromParent]="parentToChild" *ngIf='_loadChildComponent'></app-project-info>
</div> -->

<div id="rightbar-overlay" (click)="closeInfo()"></div>
