<style>
    .dialogboxDropdpwn .multiselect-dropdown {
        width: 250px;
    }
</style>

<!-- Delete Conformation Box -->

<div *ngIf="data.mode=='delete'">
    <p mat-dialog-title>{{data.title1}}</p>

    <div mat-dialog-content style="text-align: center;">
        <p><span style="color: darkgray;">Do you want to delete </span> <span> <strong>{{data.message1}}</strong></span>
        </p>

    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color="primary" [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>
<!-- Calendar Events Dialog Box {{data.date | date}} -->
<!-- Memos Delete From More Component -->
<div *ngIf="data.mode=='memos_Delete';">

    <p mat-dialog-title>{{data.title1}}</p>

    <div mat-dialog-content style="text-align: center;">
        <p><span style="color: darkgray;">Do you want to delete </span> <span> <strong>this Memo</strong></span>
        </p>

    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color="primary" [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>
<!-- Todo List Delete -->

<div *ngIf="data.mode=='Todo_Delete';">
    <p mat-dialog-title>{{data.title1}}</p>

    <div mat-dialog-content style="text-align: center;">
        <p><span style="color: darkgray;">Are you sure, Do you want to delete </span> <span>
                <strong>{{data.taskName}}</strong></span></p>

    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color='primary' [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>

<!-- Category Detele Conifrmation -->

<div *ngIf="data.mode=='Category_Delete';">
    <p mat-dialog-title>{{data.titleDelete}}</p>

    <div mat-dialog-content style="text-align: center;">
        <p><span style="color: darkgray;">Are you sure, Do you want to delete </span> <span>
                <strong>{{data.CategoryName}}</strong></span></p>

    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color='primary' [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>

<!-- File Upload To Azure/FTP -->
<div *ngIf="data.mode=='fileUpload';">
    <p mat-dialog-title>{{data.filetitle}}</p>
    <hr>
    <p style="color: mediumslateblue;">{{data.projectName}}</p>
    <p>ProjectCode:{{data.projectCode}}</p>
    <p>Autho :{{data.EMpNo}}</p>
    <div class="mb-3">
        <input type="file" class="form-control" id="formFile" accept="application/pdf"
        (change)="onFileChange($event)">

        
    </div>
    <div style="float:right;margin:20px;">
        <button mat-raised-button color='primary' [mat-dialog-close]="true" class="mr-3">Confirm</button>
        <button mat-raised-button [mat-dialog-close]="false"> Cancel</button>
    </div>
</div>




<!-- <h5><strong>Project Details</strong></h5>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4" class="text-primary">Project Name</label>
                <p>{{data.eventName}}</p>
            </div>
            <div class="form-group col-md-6">
            <label for="inputEmail4" class="text-primary">Project Type</label>
            <p>{{data.P_Type}}</p>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="text-primary">Status</label>
            <p>{{data.Status}}</p>
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="text-primary">Start Date</label>
                <p>{{data.start|date:'dd-MM-yyyy'}}</p>
               
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4" class="text-primary">End Date</label>
                <p>{{data.end|date:'dd-MM-yyyy'}}</p>

            </div>
        </div>
       
        <div style="float:right;margin:20px;">
            <button mat-raised-button [mat-dialog-close]="false" color="primary"> Cancel</button>
        </div> -->