<!-- New Task Assigning Form -->
<div class="kt-portlet">
<div class="kt-portlet__head kt-portlet__head align-items-center">
        <h4 class=" m-0">Assign Task/Project</h4>
        <a href="javascript:void(0)" class="btn btn-icon btn-hover-info" (click)="closeInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
            fill="currentColor">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
                d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
        </svg>
        </a>
    </div>
    <div id="Action2Assign-body" class="kt-portlet__body pb-0 pt-3 sidehf_scroll scroll-y">
        <div class="form-group">
            <label>Project Type : </label>
            <!-- <span class="text-danger">*</span> -->
            <mat-select [(ngModel)]="selectedProjectType" placeholder="Select project type" class="form-control">
                <mat-option *ngFor="let item of ProjectTypelist" [value]="item.Exec_BlockNo"  (click)="todo()">
                    {{item.Exec_BlockName}}
                </mat-option>
            </mat-select>
        </div>
        <div class="form-group" [hidden]="selectedProjectType!='003' && selectedProjectType!='008' ">
            <mat-select [(ngModel)]="SelectedSubmissionType" name="Select Type" placeholder="Submission type"
                class="form-control">
                <mat-option [value]="0">Select Type</mat-option>
                <mat-option [value]="1">Daily</mat-option>
                <mat-option [value]="2">Weekly</mat-option>
                <mat-option [value]="4">Monthly</mat-option>
                <mat-option [value]="8">Quarterly</mat-option>
                <mat-option [value]="10">HalfYearly</mat-option>
                <mat-option [value]="16">Annually</mat-option>
            </mat-select>
        </div>
        <div class="form-group" [ngClass]="{'error-date': !_taskName&&formFieldsRequired}" >
            <label> Task/Project Name : </label>
            <!-- <span class="text-danger">*</span> -->
            <input type="text"              
             class="form-control" placeholder="Enter task name" aria-describedby="basic-addon1"
                [(ngModel)]="_taskName" (ngModelChange)="isPrjNameValid=isValidString(_taskName,3)" >
                <span style="color:rgb(217, 48, 37)" class=""
                *ngIf="!isPrjNameValid" >please enter atleast 3
                  words. </span>
                  <span *ngIf="!_taskName&&formFieldsRequired" style="color:red">task name required.</span>    
        </div>
        <div class="form-group">
            <label>Description : </label>
            <!-- <span class="text-danger">*</span> -->
            <textarea class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" [(ngModel)]="_description" (ngModelChange)="isPrjDesValid=isValidString(_description,5)"
                style="height: 100px"></textarea>
                <span style="color:rgb(217, 48, 37)"*ngIf="!isPrjDesValid">please enter
                  atleast 5 words.  </span>
        </div>
        <!-- <div class="form-group">
            <label>Assign To : <strong></strong> <span class="text-danger">*</span> </label>
            <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_Employee"
                [data]="EmployeeList" [(ngModel)]="SelectedEmplList" (onSelect)="EmployeeOnSelect($event)"
                (onDeSelect)="EmployeeOnDeselect($event)">
            </ng-multiselect-dropdown>  - {{item.TM_DisplayName}} portfolio owner name
        </div> -->

        <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0" [ngClass]="{'error-vd': !SelectedEmplList&&formFieldsRequired}">
            <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
            <ng-select #assign="ngModel"   required (change)="EmployeeOnSelect($event)" [(ngModel)]="SelectedEmplList" placeholder="Select employee" >
                <ng-option [value]="item.Emp_No" *ngFor="let item of EmployeeList">
                    {{item.DisplayName}}
                </ng-option>
            </ng-select>
            <span *ngIf="!SelectedEmplList&&formFieldsRequired" style="color:red">Assign To required!</span>
        </div>
        <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
          <label>Link Portfolio : <strong></strong></label>
          <ng-select #Portfolio="ngModel"  [(ngModel)]="port_id" placeholder="Select portfolio">
              <ng-option [value]="item.Portfolio_ID" *ngFor="let item of PortfolioList">
                  {{item.Portfolio_Name}}
              </ng-option>
          </ng-select>
      </div>


        <!-- <div class="form-group">
        <mat-form-field class="drp-dwn-field w-100"   *ngIf="PortfolioList">
          <mat-label>Link Portfolio</mat-label>
           <mat-chip-list #selectedPortfolios>
            <mat-chip *ngFor="let prtfolioId of port_id" class="Data_chip_kt" (removed)="removeSelectedPortfolio(prtfolioId)">
              {{getObjOf(PortfolioList,prtfolioId,'Portfolio_ID')?.Portfolio_Name}}-{{getObjOf(PortfolioList,prtfolioId,'Portfolio_ID')?.TM_DisplayName}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>

          </mat-chip-list>
          <div class="d-flex">
            <input class="flex-1" [matChipInputFor]="selectedPortfolios"
                [matAutocomplete]="PortfoliosDrpDwn" #PortfolioTF />

            <button *ngIf="isPortfolioDrpDwnOpen"
                class="bg-transparent border-0 "  (click)="this.isPortfolioDrpDwnOpen=false; closeAutocompleteDrpDwn('PortfolioDrpDwn');">
                <mat-icon class="close-icon">cancel</mat-icon></button>

                <button *ngIf="!isPortfolioDrpDwnOpen"
                class="bg-transparent border-0" (click)="this.isPortfolioDrpDwnOpen=true; openAutocompleteDrpDwn('PortfolioDrpDwn');">
                <mat-icon class="add-icon"
                    >add</mat-icon></button>
            </div>


        <mat-autocomplete aria-label="PortfolioDrpDwn" #PortfoliosDrpDwn="matAutocomplete"
        (optionSelected)="onPortfolioSelected($event); PortfolioTF.value=''; "
        (opened)="isPortfolioDrpDwnOpen=true" (closed)="isPortfolioDrpDwnOpen=false; ">

        <mat-option *ngFor="let prt of (PortfolioList|filter:PortfolioTF.value).slice(0,1000)" [value]="prt.Portfolio_ID">

          <mat-checkbox  color="primary" [checked]="port_id?port_id.indexOf(prt.Portfolio_ID)!==-1:false"></mat-checkbox>
              {{prt.Portfolio_Name}} - {{prt.TM_DisplayName}}
      </mat-option>
     </mat-autocomplete>
    </mat-form-field>


</div> -->


<!-- <div class="row ">
    <div class="form-group text-dark-50 w-75px col-md-6 brdng-0">
        <label> Inform </label>
        <ng-select #assign="ngModel" required (change)="EmployeeOnSelect($event)" [(ngModel)]="SelectedinformlList" placeholder="Select Informer" >
            <ng-option [value]="item.Emp_No" *ngFor="let item of EmployeeList">
                {{item.DisplayName}}
            </ng-option>
        </ng-select>

    </div>
    <div class="form-group text-dark-50 w-75px col-md-6 brdng-0">
        <label> Coordinator </label>
        <ng-select #assign="ngModel" required (change)="EmployeeOnSelect($event)" [(ngModel)]="SelectedcordlList" placeholder="Select Coordinator" >
            <ng-option [value]="item.Emp_No" *ngFor="let item of EmployeeList">
                {{item.DisplayName}}
            </ng-option>
        </ng-select>

    </div>
</div> -->




<!-- <div class="form-group">
  <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0 mb-0">
    <mat-form-field class="drp-dwn-field w-100">
      <mat-label class="text-dark-50 w-75px">Support</mat-label>
      <mat-chip-list #selectedProjSprt>
        <mat-chip *ngFor="let p of PrjSupport" class="Data_chip_kt"
          (removed)="removeSelectedPrjSprt(p);  ">
          {{ p.DisplayName}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <div class="d-flex">
        <input class="border-gray" [matChipInputFor]="selectedProjSprt"
          [matAutocomplete]="ProjSprtDrpDwn" #PrjSprtSelectTF />
        <button *ngIf="isPrjSprtDrpDwnOpen" class="bg-transparent border-0 "><mat-icon
            color="primary" class="close-icon"
            (click)=" this.isPrjSprtDrpDwnOpen=false;  PrjSprtSelectTF.value='';  closeAutocompleteDrpDwn('PrjSprtDrpDwn');">cancel</mat-icon></button>
        <button *ngIf="!isPrjSprtDrpDwnOpen" class="bg-transparent border-0"><mat-icon
            class="add-icon"
            (click)="this.isPrjSprtDrpDwnOpen=true; openAutocompleteDrpDwn('PrjSprtDrpDwn');">add</mat-icon></button>
      </div>

      <mat-autocomplete aria-label="PrjSprtDrpDwn" #ProjSprtDrpDwn="matAutocomplete"
        (optionSelected)="onPrjSprtSelected($event); PrjSprtSelectTF.value='';   "
        (opened)="isPrjSprtDrpDwnOpen=true" (closed)="isPrjSprtDrpDwnOpen=false; ">
        <ng-container *ngIf="PrjResp;else PrjRespIsUndefined">
          <ng-container *ngFor="let p of EmployeeList|filter:PrjSprtSelectTF.value">
              <mat-option *ngIf="p.Emp_No!=PrjResp.trim()" [value]="p.Emp_No">
              <mat-checkbox color="primary" [checked]="PrjSupport.indexOf(p)!==-1"></mat-checkbox>
              {{p.DisplayName}}
              </mat-option>
         </ng-container>
        </ng-container>
        <ng-template #PrjRespIsUndefined>
          <mat-option  *ngFor="let p of EmployeeList|filter:PrjSprtSelectTF.value"  [value]="p.Emp_No">
            <mat-checkbox color="primary" [checked]="PrjSupport.indexOf(p)!==-1"></mat-checkbox>
            {{p.DisplayName}}
            </mat-option>
        </ng-template>
      </mat-autocomplete>
    </mat-form-field> -->
    <!-- <span style="color:rgb(217,48,37)" *ngIf="PrjSupport.length===0">please select support.</span> -->
  <!-- </div> -->
<!-- </div> -->

<!-- <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
    <label> RACIS </label>
    <div  class="kt-project-sts-data">
        <div  class="kt-support-view">
          <div  class="symbol-group symbol-hover flex-nowrap justify-content-start">
            <div  class="symbol symbol-35px symbol-circle">
              <span  class="symbol-label text-inverse-warning fw-bold bg-primary" title="Aquib Shahbaz (Team Lead/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> A </span>
            </div>
            <div  class="symbol symbol-35px symbol-circle">
              <span  class="symbol-label text-inverse-warning fw-bold bg-danger" title="Md Waseem Akram (Dot Net Developer/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> M </span>
            </div>
            <div  class="symbol symbol-35px symbol-circle">
              <span  class="symbol-label text-inverse-warning fw-bold bg-warning" title="Mohammed Mateen (Jr. Dot Net Developer/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> M </span>
            </div>
          </div>
        </div>
      </div>
</div> -->

<ng-container *ngIf="selectedProjectType !=='003' && selectedProjectType!=='008'" >
        <div class="d-flex gap-1 ">
            <div class="form-group flex-1">
                <label>Start Date : </label>
                <!-- <span class="text-danger">*</span> -->
                <div class="input-group" (click)="startdatechecker()">
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [min]="disablePreviousDate" (dateChange)="setMaxDate()" [(ngModel)]="_StartDate"
                        placeholder="Start date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix  (click)="startdatechecker()" [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </div>
                </div>
                <div *ngIf="selectedProjectType=='011'" style="color:grey">To do List not more than 3 Days </div>
                <span *ngIf="noStartDate==true" style="color:red">Start Date required!</span>
            </div>










            <div class="form-group flex-1" *ngIf="_StartDate!=null">
                <label>End Date :</label>
                <!-- <span class="text-danger">*</span> -->
                <div class="input-group" (click)="datesCheck()">
                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" [min]="_StartDate" [max]="selectedProjectType==='011'?maxDate:''" [(ngModel)]="_EndDate" (dateChange)="_EndDate=_StartDate<_EndDate?(selectedProjectType!=='011'?_EndDate:( _EndDate<=maxDate?_EndDate:null) ):null"
                        placeholder="End date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>
                <span *ngIf ="noEndDate == true" style="color:red">End Date required!</span>
            </div>
            <div class="form-group flex-1" *ngIf="_StartDate==null">
                <label>End Date :</label>
                <!-- <span class="text-danger">*</span> -->
                <div class="input-group" (click)="enddateChecker()">
                    <input matInput [matDatepicker]="picker2" [matDatepickerFilter]="myFilter"
                        (click)="picker2.open()"
                        placeholder="End Date" class="form-control" >
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
      </ng-container>

    <!-- <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
      <label>Racis :</label>
      <ng-select placeholder="Please select Racis"></ng-select>
    </div> -->




        <div class="form-group">
            <label for="exampleFormControlFile1">Remarks</label>
            <textarea class="form-control" aria-label="With textarea" placeholder="Enter task remarks if any" [(ngModel)]="_remarks"
                style="height: 111px;"></textarea>
        </div>


        <div class="form-group">
          <div class="custom-file pl-1">
              <button type="button" class="btn btn-primary cursor-pointer" (click)="selectFile()">Choose File</button>
              <span *ngIf="file" class="selected-file">{{ file.name }}</span>
              <span *ngIf="file" class="delete-icon cursor-pointer" (click)="this.file=null">✖</span>
              <input type="file" class="form-control-file" id="uploadFile" #fileInput style="display: none;" (change)="onFileChanged($event)" />
          </div>
      </div>




</div>
<div  class="kt-portlet__foot py-3">
    <div  class="form-group mb-0">
        <button type="submit" class="btn btn-info btn-sm"

        (click)="OnAssignTask_Submit()">Submit
    </button>
    </div>
</div>
</div>
    <!--   -->
