<!-- For;  New; Subtask  -->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="offcanvas-header d-flex align-items-center justify-content-between flex-1">
            <h4 class="m-0">Action to project</h4>
            <a href="javascript:void(0)" class="btn btn-icon btn-hover-info" (click)="closeInfo()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    fill="currentColor">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="kt-portlet__body pb-0 pt-3 sidehf_scroll scroll-y">

    <div class="form-group" [hidden]="ProjectsDropdownBoolean">
        <label>Select project :<span class="text-danger">*</span></label>
        <!-- <ng-multiselect-dropdown; required [placeholder]="'Select Project'" [settings]="dropdownSettings_Projects"
            [data]="_ProjectDataList" [(ngModel)]="selectedProjectCodelist" (onSelect)="ProjectOnSelect($event)"
            (onDeSelect)="ProjectOnDeselect($event)" > -->
            <!-- (onFilterChange);="onFilterChange($event)"> -->
        <!-- </ng-multiselect-dropdown> -->
        <ng-select required #action="ngModel" (change)="ProjectOnSelect(); _projcode=!selectedProjectCodelist; "  [ngClass]="{'error-vd': _projcode == true||(action.touched&&!selectedProjectCodelist)}"   [(ngModel)]="selectedProjectCodelist"    placeholder="Select project" >
            <ng-option [value]="item.Project_Code" *ngFor="let item of _ProjectDataList">
                {{item.Project_Name}}
            </ng-option>
        </ng-select>
        <span *ngIf ="_projcode == true||(action.touched&&!selectedProjectCodelist)"; style="color:red">Project required!</span>
    </div>
    <div class="form-group">
        <label> Action name :<span class="text-danger">*</span></label>
        <input #name="ngModel" required type="text" class="form-control" [ngClass]="{'error-border': _subname == true&&(name&&!Sub_ProjectName)}" placeholder="Enter action name" [(ngModel)]="Sub_ProjectName"   (ngModelChange)="_subname=!Sub_ProjectName;onInputChange($event);isPrjNameValid=isValidString(Sub_ProjectName.trim(),2)" />

        <span style="color:rgb(217,48,37)" class=""  *ngIf="!Sub_ProjectName&&_subname">Please enter action name </span>
        <span  style="color:red" *ngIf ="Sub_ProjectName&&isPrjNameValid==='TOOSHORT'">Please enter atleast 2 words, Maximum 100 characters are allowed</span>
        <!-- <span *ngIf;="isPrjNameValid==='TOOSHORT'";  style="color:rgb(217,48,37)">Maximum; 3; Words; are; allowed</span> -->
        <span *ngIf="Sub_ProjectName&&Sub_ProjectName.length>100"  style="color:rgb(217,48,37)">Maximum 100 characters are allowed</span>

    </div>
    <div class="form-group">
        <label>Description :<span class="text-danger">*</span></label>
        <textarea #description="ngModel" required class="form-control"
         [ngClass]="{'error-border': _desbool == true&&(description&&!_Description)}" placeholder="Enter action description"
          [(ngModel)]="_Description"  (input)="updateCharacterCount()" (paste)="updateCharacterCount()"
           (ngModelChange)="_desbool=!_Description;onDescriptionChange($event);isPrjDesValid=isValidString(_Description.trim(),3)" style="height: 100px"></textarea>
        <span style="color:rgb(217,48,37)" class=""  *ngIf="!_Description&&_desbool">Please enter description name </span>

        <!-- <span *ngIf ="_desbool&&!_Description" style="color:red">Please enter description Maximum 200 characters are allowed</span> -->
        <span *ngIf="_Description&&isPrjDesValid==='TOOSHORT'"  style="color:rgb(217,48,37)">Please enter atleast 3 words, Maximum 500 characters are allowed</span>
        <span *ngIf="characterCount > 0" >Max Characters {{characterCount}}/500</span>
        <span *ngIf="characterCount>=500" style="color:rgb(217,48,37)"> Maximum 500 characters are allowed</span>
      </div>
    <!-- <div; class="form-group">
        <label> Assign; To <span class="text-danger">*</span> : <strong></strong></label>
        <ng-multiselect-dropdown [placeholder];="'Select Employee'" [settings]="dropdownSettings_EMP"
            [data]="_EmployeeListForDropdown" [(ngModel)]="selected_Employee" (onSelect)="EmployeeOnSelect($event)"
            (onDeSelect)="EmployeeOnDeselect($event)">

        </ng-multiselect-dropdown>
    </div> -->
    <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0"   id="AssignedToEmp" >
        <label> Assign to :<span class="text-danger">*</span> </label>
        <!-- <ng-select reuired; #assign="ngModel" (Change)="EmployeeOnSelect($event)" [(ngModel)]="selectedEmpNo"; placeholder="Select employee" >
            <ng-option [value];="item.Emp_No" [disabled]="item.Emp_No==Owner_Empno" *ngFor;="let item of _EmployeeListForDropdown">
                {;{item.DisplayName;}}
            </ng-option>
        </ng-select> -->
        <ng-select id='AssignedToEmp'  [items]="allUsers" bindLabel="RACIS"
            bindValue="Emp_No" groupBy="usergroup"
            [ngClass]="{'error-vd': _selectemp == true&&assignedToEmpf&&!selectedEmpNo}"
            (change)="EmployeeOnSelect($event)" placeholder="Select employee"
            [searchable]="true" name="RACIS"
            [(ngModel)]="selectedEmpNo"
            required
            [disabled]="disableAssignedField"
            #assignedToEmpf="ngModel"
            >
            <!-- <ng-template ng-option-tmp; let-item;="item">
                <ng-container *ngIf;="item.Emp_No === Owner_Empno">
                  <ng-option [value];="item.Emp_No">
                    <p  >{;{ item.RACIS; }} </p>
                </ng-option>
                </ng-container>
                <ng-container *ngIf;="item.Emp_No !== Owner_Empno">
                  <ng-option [value];="item.Emp_No">{;{ item.RACIS; }}</ng-option>
                </ng-container>
              </ng-template> -->

              <ng-template ng-option-tmp let-item="item">
                <span [ngClass]="{'disabled-option': item.Emp_No === Owner_Empno }">
                  {{ item.RACIS }}
                </span>
              </ng-template>
        </ng-select>
        <span *ngIf ="_selectemp !selectedEmpNo" style="color:red">Please select employee to assign</span>
    </div>
    <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
        <label>Action owner  <strong >
</strong></label>
        <ng-select required #ownerno="ngModel" [(ngModel)]="owner" placeholder="Select owner" >
            <ng-option [value]="item.Emp_No" *ngFor="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                <span>{{item.RACIS}} </span>
            </ng-option>
        </ng-select>



    </div>
     <!-- <div; class="row">
        <div class;="form-group text-dark-50 w-75px col-md-6 brdng-0">
            <label> Inform </label>
            <ng-select reuired; #ownerno="ngModel" [(ngModel)]="informer"; placeholder="Select owner" >
                <ng-option [value];="item.Emp_No" *ngFor;="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                    <span>{;{item.RACIS;}} </span>
                </ng-option>
            </ng-select>

        </div>
        <div; class="form-group text-dark-50 w-75px col-md-6 brdng-0">
            <label> Coordinator </label>
            <ng-select reuired; #ownerno="ngModel" [(ngModel)]="coordinator"; placeholder="Select owner" >
                <ng-option [value];="item.Emp_No" *ngFor;="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                    <span>{;{item.RACIS;}} </span>
                </ng-option>
            </ng-select>

        </div>
    </div>;
 -->



    <!-- <div; class="form-group">
      <div class;="form-group text-dark-50 w-75px flex-grow-1 brdng-0 mb-0">
        <mat-form-field; class="drp-dwn-field w-100">
          <mat-label; class="text-dark-50 w-75px">Support<span style="color:rgb(217,48,37)">*</span></mat-label>
          <mat-chip-list #selectedProjSprt>
            <mat-chip *ngFor;="let p of PrjSupport"; class="Data_chip_kt"
              (removed)="removeSelectedPrjSprt(p);  ">
              {;{ p.RACIS;}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <div; class="d-flex">
            <input class;="border-gray" [matChipInputFor]="selectedProjSprt"
              [matAutocomplete]="ProjSprtDrpDwn"; #PrjSprtSelectTF />
            <button *ngIf;="isPrjSprtDrpDwnOpen"; class="bg-transparent border-0 "><mat-icon
                color="primary"; class="close-icon"
                (click)=" this.isPrjSprtDrpDwnOpen=false;  PrjSprtSelectTF.value='';  closeAutocompleteDrpDwn('PrjSprtDrpDwn');">cancel</mat-icon></button>
            <button *ngIf;="!isPrjSprtDrpDwnOpen"; class="bg-transparent border-0"><mat-icon
                class="add-icon"
                (click)="this.isPrjSprtDrpDwnOpen=true; openAutocompleteDrpDwn('PrjSprtDrpDwn');">add</mat-icon></button>
          </div>

          <mat-autocomplete; aria-label;="PrjSprtDrpDwn"; #ProjSprtDrpDwn="matAutocomplete"
            (optionSelected)="onPrjSprtSelected($event); PrjSprtSelectTF.value='';   "
            (opened)="isPrjSprtDrpDwnOpen=true" (closed)="isPrjSprtDrpDwnOpen=false; ">
            <ng-container *ngIf;="PrjResp;else PrjRespIsUndefined">
              <ng-container *ngFor;="let p of _ProjectDataList|filter:PrjSprtSelectTF.value">
                  <mat-option *ngIf;="p.Emp_No!=PrjResp.trim()" [value]="p.Emp_No">
                  <mat-checkbox color="primary" [checked]="PrjSupport.indexOf(p)!==-1"></mat-checkbox>;
                  {{p.RACIS;}}
                  </mat-option>
             </ng-container>
            </ng-container>
            <ng-template; #PrjRespIsUndefined>
              <mat-option  *ngFor;="let p of _ProjectDataList|filter:PrjSprtSelectTF.value"  [value]="p.Emp_No">
                <mat-checkbox color="primary" [checked]="PrjSupport.indexOf(p)!==-1"></mat-checkbox>;
                {{p.RACIS;}}
                </mat-option>
            </ng-template>
          </mat-autocomplete>
        </mat-form-field>
        </div>
    </div>;


 -->


   <!-- <div; class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
        <label> RACIS </label>
        <div;  class="kt-project-sts-data">
            <div  class;="kt-support-view">
              <div  class;="symbol-group symbol-hover flex-nowrap justify-content-start">
                <div  class;="symbol symbol-35px symbol-circle">
                  <span  class;="symbol-label text-inverse-warning fw-bold bg-primary"; title="Aquib Shahbaz (Team Lead/Devbox Software Pvt Ltd)"; ng-reflect-ng-class;="[object Object]"> A </span>
                </div>
                <div  class="symbol symbol-35px symbol-circle">
                  <span  class;="symbol-label text-inverse-warning fw-bold bg-danger"; title="Md Waseem Akram (Dot Net Developer/Devbox Software Pvt Ltd)"; ng-reflect-ng-class;="[object Object]"> M </span>
                </div>
                <div  class="symbol symbol-35px symbol-circle">
                  <span  class;="symbol-label text-inverse-warning fw-bold bg-warning"; title="Mohammed Mateen (Jr. Dot Net Developer/Devbox Software Pvt Ltd)"; ng-reflect-ng-class;="[object Object]"> M </span>
                </div>
              </div>
            </div>
          </div>
    </div>-->
    <div class="d-flex gap-1">
      <div class="form-group flex-1 details-date">
        <label>Start date : <span class="text-danger">*</span></label>
        <div class="d-flex date-border" [ngClass]="{'error-date': (_sdate == true&&!_StartDate)||_actbefore}" (click)="startdatechecker()">
            <input matInput [matDatepicker]="picker1" required #startdate="ngModel" (click)="picker1.open()" [min]="todayDate" (dateChange)="_StartDate=_StartDate<_curtd?null:_StartDate"
                [(ngModel)]="_StartDate" placeholder="Start date" class="form-control" />

            <div class="input-group-text p-0">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </div>
        </div>
        <div *ngIf="_sdate &&!_StartDate" style="color: red">Please select start date</div>
        <div *ngIf="_actbefore" style="color: red">Action cannot start before the project.</div>
    </div>

        <div class="form-group flex-1 details-date" *ngIf="_StartDate!=null">
            <label>End date :<span class="text-danger">*</span></label>
            <div class="d-flex date-border" [ngClass]="{'error-date': (_edate && !_EndDate)}" >
                <input matInput [matDatepicker]="picker2" required #Enddate="ngModel" (click)="picker2.open()" [min]="_StartDate"
                    [(ngModel)]="_EndDate" placeholder="End date" class="form-control"  (dateChange)="(this._EndDate=this._StartDate<=this._EndDate?this._EndDate:null); hasSameDateActions();" (input)="_edate=!_EndDate" />

             <div class="input-group-text p-0">
                    <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <span *ngIf="sameDateActions" style="color:orange">more than 3 actions ending on same date.</span>
            <span *ngIf="_edate && !_EndDate" style="color:red">Please select end date</span>
            <!-- <div *ngIf="_actafter" style="color: red">Action cannot end after the project.</div> -->
        </div>
         <!--when start date is provided-->
        <div class="form-group flex-1 details-date" *ngIf="_StartDate==null">
            <label>End date :<span class="text-danger">*</span></label>
            <div class="d-flex date-border" [ngClass]="{'error-date': _edate && !_EndDate}"  (click)="enddateChecker()">
                <input matInput [matDatepicker]="picker2"  [matDatepickerFilter]="myFilter"
                required #Enddate="ngModel" (click)="picker2.open()"
                    [(ngModel)]="_EndDate" (dateChange)="this._EndDate=this._StartDate<=this._EndDate?this._EndDate:null" placeholder="End Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <span *ngIf="_edate && !_EndDate" style="color:red">Please select end date</span>
        </div>  <!--when start date is not provided-->
    </div>


    <div class="form-group">                          <!--*ngIf;="selectedEmpNo == Current_user_ID"-->
        <label>Allocated hours :<span class="text-danger">*</span></label>
        <!-- [ngClass];="{'form-control':maxlimit==true,'form-control-danger':maxlimit==false}" -->
        <input id="hour-input" #allocated="ngModel"   type="tel" class="form-control" pattern="[0-9]*" placeholder="Enter action duration in hrs" [(ngModel)]="_allocated" min="0" oninput="validity.valid||(value='')"
            (click)="alertMaxAllocation()"  (change)="_alchr=!_allocated"
            [ngClass]="{'error-border': _allocated > maxAllocation}"
            [ngClass]="{'error-border': (_allocated==0)}"
            [ngClass]="{'error-border': this._StartDate == null || this._EndDate == null}"
            [ngClass]="{'error-border': this._alchr==true&&!_allocated}"
            >
        <!-- <span *ngIf;="allocated.touched&&!_allocated"; style="color:red">Allocated; hours; required!; Enter; non-decimal; value&nbsp;</span> -->
        <span *ngIf="_allocated > maxAllocation" style="color:red">Allocation per day limit is 10 hours.</span>
        <span *ngIf="_allocated > maxAllocation" style="color:red">Please enter the hours less than or equal to <b>{{maxAllocation}}</b> hours!</span>
        <span *ngIf="this._alchr==true&&!_allocated" style="color:red">Allocated hours required. Hours should not be in decimal </span>
        <span *ngIf="(_allocated==0)" style="color:red">Allocated hours cannot be 0, please enter a value, It accept only numeric and non-negative value. </span>
        <span *ngIf="this._StartDate == null || this._EndDate == null" >{{ _message}} </span>

    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Remarks</label>
        <textarea class="form-control" aria-label="With textarea" placeholder="Enter action remarks if any" [(ngModel)]="_remarks"
            style="height: 111px"></textarea>
    </div>



<!--
    <div>
        <div class;="form-group d-flex align-items-start">
        <input type;="checkbox"; id="actionDep" [checked]="isActionIndependent"; style=" width: 18px;height: 18px;" (change)="isActionIndependent=$event.target.checked"/>
            <label for="actionDep" class="ml-2">Independent</label>
       </div>
      <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0"   *ngIf="!isActionIndependent">

        <mat-form-field; class="drp-dwn-field   w-100 ">
            <mat-label>Select; Actions</mat-label>
            <mat-chip-list #selectedactionslist>
                <mat-chip *ngFor;="let action of selectedActions"; class="Data_chip_kt"
                    (removed)="removeSelectedAction(action)">
                    {;{action.Project_Name;}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
            <div; class="d-flex">
                <input class;="border-gray" [matChipInputFor]="selectedactionslist" [matAutocomplete]="actionDrpDown";
                    #actionSelectTF />
                    <button *ngIf;="isActionsDrpDwnOpen"; class="bg-transparent border-0 "><mat-icon class="close-icon"
                        (click)="closeAutocompleteDrpDwn('Actionsdrpdwn')">cancel</mat-icon> </button>
                <button *ngIf;="!isActionsDrpDwnOpen"; class="bg-transparent border-0"><mat-icon class="add-icon"
                        (click)="openAutocompleteDrpDwn('Actionsdrpdwn')">add</mat-icon> </button>
            </div>
            <mat-autocomplete; aria-label;="Actionsdrpdwn";   #actionDrpDown="matAutocomplete"
                (optionSelected)="actionSelectTF.value=''; "
                (closed)="isActionsDrpDwnOpen=false;" (opened)="isActionsDrpDwnOpen=true">
                <mat-option *ngFor;="let action of allactions|filter:actionSelectTF.value" [value]="action.Project_Code">
                    <mat-checkbox color="primary" [checked]="(selectedActions.indexOf(action)!==-1)"></mat-checkbox>;
                    {{action.Project_Name;}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>




      </div>
    </div> -->



    <div class="form-group">
      <div class="custom-file pl-1">
          <button type="button" class="btn btn-primary cursor-pointer" (click)="selectFile()">Choose file</button>
          <span *ngIf="file" class="selected-file">{{ file.name }}</span>
          <span *ngIf="file" class="delete-icon cursor-pointer" (click)="this.file=null">✖</span>
          <input type="file" class="form-control-file" id="uploadFile" #fileInput style="display: none" (change)="onFileChanged($event)" />
      </div>
  </div>







    <div class="form-group">
      <div class="d-flex align-items-center" id="actattach">
        <input type="checkbox" class="mr-2" [(ngModel)]="completionattachment"/>
        <label for="actioncompl" class="mb-0 font-weight-normal"> Completion attachment</label>
      </div>
    </div>

    </div>









    <div class="kt-portlet__foot py-3">

        <div class="form-group mb-0">

            <button type="submit" class="btn btn-info btn-sm"  (click)="sweetAlert()">Submit</button>

            <!-- [disabled];="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || !_allocated || (_allocated > maxAllocation)" -->

            <!-- <button type="submit"; class="btn btn-info btn-sm"  (click)="sweetAlert()" *ngIf;="selectedEmpNo == Current_user_ID"
                [disabled]="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || !_allocated || (_allocated > maxAllocation)">Submit
            </button>
            <button type="submit"; class="btn  btn-info btn-sm"  (click)="sweetAlert()" *ngIf;="selectedEmpNo != Current_user_ID"
                [disabled]="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || (_allocated > maxAllocation)">Submit
            </button> -->
            <!-- <button type="submit"; class="btn btn-primary"  (click)="sweetAlert()" *ngIf;="selectedEmpNo != Current_user_ID"
                >Submit
            </button> -->
            <button type="submit" class="btn btn-secondary btn-sm ml-2"  (click)="closeInfo()">Close</button>
        </div>
    </div>
</div>

