<!-- For  New Subtask  -->
<div id="mysideInfobar_NewSubtask" class="sideInfobar animate-right offcanvas">
    <div class="p-4">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-2 mb-3 brdr-b">
            <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-hover-primary closebtn" (click)="closeInfo()">
                <i class="fa fa-times"></i>
            </a>
            <h3 class="font-weight-bold m-0">Action To Project</h3>
        </div>

        <h5 class="pro-nm text-info mb-2">{{_MainPrjectName}}</h5>
        <div class="form-group" [hidden]="ProjectsDropdownBoolean">
            <label>Select Project :<span class="text-danger">*</span></label>
            <ng-multiselect-dropdown [placeholder]="'Select Project'" [settings]="dropdownSettings_Projects"
                [data]="_ProjectDataList" [(ngModel)]="selectedProjectCodelist" (onSelect)="ProjectOnSelect($event)"
                (onDeSelect)="ProjectOnDeselect($event)" (onFilterChange)="onFilterChange($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="form-group">
            <label> Action Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="Sub_ProjectName" required />
        </div>
        <div class="form-group">
            <label>Description :<span class="text-danger">*</span></label>
            <textarea class="form-control" [(ngModel)]="_Description" style="height: 139px"></textarea>
        </div>
        <!-- <div class="form-group">
            <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
            <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_EMP"
                [data]="_EmployeeListForDropdown" [(ngModel)]="selected_Employee" (onSelect)="EmployeeOnSelect($event)"
                (onDeSelect)="EmployeeOnDeselect($event)">

            </ng-multiselect-dropdown>
        </div> -->
        <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
            <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
            <ng-select (Change)="EmployeeOnSelect($event)" [(ngModel)]="selectedEmpNo" placeholder="Select Employee" >
                <ng-option [value]="item.Emp_No" *ngFor="let item of _EmployeeListForDropdown">
                    {{item.DisplayName}}
                </ng-option>
            </ng-select>
        </div>

        <div class="form-group">
            <label>Start Date : <span class="text-danger">*</span></label>
            <div class="input-group">
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [min]="disablePreviousDate"
                    [(ngModel)]="_StartDate" placeholder="Start Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>End Date :<span class="text-danger">*</span></label>
            <div class="input-group">
                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" [min]="disablePreviousDate"
                    [(ngModel)]="_EndDate" placeholder="End Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="exampleFormControlFile1">Remarks</label>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                style="height: 111px;"></textarea>
        </div>

        <div class="form-group">
            <div class="custom-file pl-1">
                <input type="file" class="form-control-file" id="uploadFile" accept="application/pdf"
                    (change)="onFileChange($event)">
            </div>
        </div>
        <div class="form-group mb-1">
            <button type="submit" class="btn btn-primary"  (click)="sweetAlert()"
                [disabled]="!selectedProjectCodelist || !Sub_ProjectName || !_Description || !selected_Employee || !_StartDate || !_EndDate">Submit
            </button>
        </div>
    </div>
</div>