<!-- For  New Subtask  -->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="offcanvas-header d-flex align-items-center justify-content-between flex-1">
            <h4 class="m-0">Action To Project</h4>
            <a href="javascript:void(0)" class="btn btn-icon btn-hover-info" (click)="closeInfo()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    fill="currentColor">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="kt-portlet__body pb-0 pt-3 sidehf_scroll scroll-y">

    <div class="form-group" [hidden]="ProjectsDropdownBoolean"> 
        <label>Select Project :<span class="text-danger">*</span></label>
        <!-- <ng-multiselect-dropdown required [placeholder]="'Select Project'" [settings]="dropdownSettings_Projects"
            [data]="_ProjectDataList" [(ngModel)]="selectedProjectCodelist" (onSelect)="ProjectOnSelect($event)"
            (onDeSelect)="ProjectOnDeselect($event)" > -->
            <!-- (onFilterChange)="onFilterChange($event)"> -->
        <!-- </ng-multiselect-dropdown> -->
        <ng-select required #action="ngModel" (change)="ProjectOnSelect()" [(ngModel)]="selectedProjectCodelist" (ngModelChange)="_projcode == !selectedProjectCodelist"    placeholder="Select project" >
            <ng-option [value]="item.Project_Code" *ngFor="let item of _ProjectDataList">
                {{item.Project_Name }} 
            </ng-option>
        </ng-select>
        <span *ngIf ="_projcode == true||(action.touched&&!selectedProjectCodelist)" style="color:red">Project required!</span>
    </div>
    <div class="form-group">
        <label> Action Name <span class="text-danger">*</span></label>
        <input #name="ngModel" required type="text" class="form-control" placeholder="Enter action name" [(ngModel)]="Sub_ProjectName" required  (ngModelChange)="_subname=!Sub_ProjectName" />
        <span *ngIf ="_subname == true||(name.touched&&!Sub_ProjectName)" style="color:red">Action Name required!</span>
    </div>
    <div class="form-group">
        <label>Description :<span class="text-danger">*</span></label>
        <textarea #description="ngModel" required class="form-control" placeholder="Enter action description" [(ngModel)]="_Description" (ngModelChange)="_desbool=!_Description" style="height: 100px"></textarea>
        <span *ngIf ="_desbool == true||(description.touched&&!_Description)" style="color:red">Description required!</span>
    </div>
    <!-- <div class="form-group">
        <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
        <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_EMP"
            [data]="_EmployeeListForDropdown" [(ngModel)]="selected_Employee" (onSelect)="EmployeeOnSelect($event)"
            (onDeSelect)="EmployeeOnDeselect($event)">

        </ng-multiselect-dropdown>
    </div> -->
    <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0"   id="AssignedToEmp" >
        <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
        <!-- <ng-select reuired #assign="ngModel" (Change)="EmployeeOnSelect($event)" [(ngModel)]="selectedEmpNo" placeholder="Select employee" >
            <ng-option [value]="item.Emp_No" [disabled]="item.Emp_No==Owner_Empno" *ngFor="let item of _EmployeeListForDropdown">
                {{item.DisplayName}}
            </ng-option>
        </ng-select> -->
        <ng-select id='AssignedToEmp'  [items]="allUsers" bindLabel="RACIS"
            bindValue="Emp_No" groupBy="usergroup"
            (change)="EmployeeOnSelect($event)" placeholder="Select employee"
            [searchable]="true" name="RACIS"
            [(ngModel)]="selectedEmpNo"
            required
            [disabled]="disableAssignedField"
            #assignedToEmpf="ngModel"
            >
            <!-- <ng-template ng-option-tmp let-item="item">
                <ng-container *ngIf="item.Emp_No === Owner_Empno">
                  <ng-option [value]="item.Emp_No">
                    <p  >{{ item.RACIS }} </p>
                </ng-option>
                </ng-container>
                <ng-container *ngIf="item.Emp_No !== Owner_Empno">
                  <ng-option [value]="item.Emp_No">{{ item.RACIS }}</ng-option>
                </ng-container>
              </ng-template> -->

              <ng-template ng-option-tmp let-item="item">
                <span [ngClass]="{'disabled-option': item.Emp_No === Owner_Empno }">
                  {{ item.RACIS }}
                </span>
              </ng-template>
        </ng-select>
        <span *ngIf ="_selectemp == true||assignedToEmpf.touched&&!selectedEmpNo" style="color:red">Assign To required!</span>
    </div>
    <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
        <label>Action Owner : <strong >
</strong></label>
        <ng-select reuired #ownerno="ngModel" [(ngModel)]="owner" placeholder="Select owner" >
            <ng-option [value]="item.Emp_No" *ngFor="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                <span>{{item.RACIS}} </span>
            </ng-option>
        </ng-select>



    </div>
    <div class="d-flex gap-1 ">
        <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
            <label> Inform </label>
            <ng-select reuired #ownerno="ngModel" [(ngModel)]="owner" placeholder="Select owner" >
                <ng-option [value]="item.Emp_No" *ngFor="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                    <span>{{item.RACIS}} </span>
                </ng-option>
            </ng-select>

        </div>
        <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
            <label> Coordinate </label>
            <ng-select reuired #ownerno="ngModel" [(ngModel)]="owner" placeholder="Select owner" >
                <ng-option [value]="item.Emp_No" *ngFor="let item of ownerArr" [disabled]="item.Emp_No==selectedEmpNo" >
                    <span>{{item.RACIS}} </span>
                </ng-option>
            </ng-select>

        </div>
    </div>
    <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0">
        <label> RACIS </label>
        <div  class="kt-project-sts-data">
            <div  class="kt-support-view">
              <div  class="symbol-group symbol-hover flex-nowrap justify-content-start">
                <div  class="symbol symbol-35px symbol-circle">
                  <span  class="symbol-label text-inverse-warning fw-bold bg-primary" title="Aquib Shahbaz (Team Lead/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> A </span>
                </div>
                <div  class="symbol symbol-35px symbol-circle">
                  <span  class="symbol-label text-inverse-warning fw-bold bg-danger" title="Md Waseem Akram (Dot Net Developer/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> M </span>
                </div>
                <div  class="symbol symbol-35px symbol-circle">
                  <span  class="symbol-label text-inverse-warning fw-bold bg-warning" title="Mohammed Mateen (Jr. Dot Net Developer/Devbox Software Pvt Ltd)" ng-reflect-ng-class="[object Object]"> M </span>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="d-flex gap-1">
      <div class="form-group flex-1">
        <label>Start Date : <span class="text-danger">*</span></label>
        <div class="d-flex date-border" (click)="startdatechecker()">
            <input matInput [matDatepicker]="picker1" required #startdate="ngModel" (click)="picker1.open()" [min]="disablePreviousDate"
                [(ngModel)]="_StartDate" placeholder="Start date" class="form-control">

            <div class="input-group-text p-0">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </div>
        </div>
        <div *ngIf="_sdate == true||(startdate.touched&&!_StartDate)" style="color: red">Start Date is required!</div>
    </div>

        <div class="form-group flex-1" *ngIf="_StartDate!=null">
            <label>End Date :<span class="text-danger">*</span></label>
            <div class="d-flex date-border">
                <input matInput [matDatepicker]="picker2" required #Enddate="ngModel" (click)="picker2.open()" [min]="_StartDate"
                    [(ngModel)]="_EndDate" placeholder="End date" class="form-control" (dateChange)="_edate=!_EndDate" (input)="_edate=!_EndDate" >
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <span *ngIf ="_edate == true" style="color:red">End Date required!</span>
        </div>  <!--when start date is provided-->
        <div class="form-group flex-1" *ngIf="_StartDate==null">
            <label>End Date :<span class="text-danger">*</span></label>
            <div class="d-flex date-border" (click)="enddateChecker()">
                <input matInput [matDatepicker]="picker2"  [matDatepickerFilter]="myFilter"
                required #Enddate="ngModel" (click)="picker2.open()"
                    [(ngModel)]="_EndDate" placeholder="End Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <span *ngIf ="_edate == true" style="color:red">End Date required!</span>
        </div>  <!--when start date is not provided-->
    </div>


    <div class="form-group">                          <!--*ngIf="selectedEmpNo == Current_user_ID"-->
        <label>Allocated Hours<span class="text-danger">*</span></label>
        <!-- [ngClass]="{'form-control':maxlimit==true,'form-control-danger':maxlimit==false}" -->
        <input id="hour-input" #allocated="ngModel" required type="number" class="form-control" placeholder="Enter action duration in hrs" [(ngModel)]="_allocated" min="0" oninput="validity.valid||(value='');"
            (click)="alertMaxAllocation()"  (ngModelChange)="_alchr=!_allocated" >
        <!-- <span *ngIf="allocated.touched&&!_allocated" style="color:red">Allocated hours required! Enter non-decimal value&nbsp;</span> -->
        <span *ngIf="_allocated > maxAllocation" style="color:red">Allocation per day limit is 10 hours.</span>
        <span *ngIf="_allocated > maxAllocation" style="color:red">Please enter the hours less than or equal to <b>{{maxAllocation}}</b> hours!</span>
        <span *ngIf="(_allocated==0)" style="color:red">Allocated hours cannot be 0, please enter a value.</span>
        <span *ngIf="this._StartDate == null || this._EndDate == null" style="color:red">{{_message}}</span>
        <span *ngIf="this._alchr==true||(allocated.touched&&!_allocated)" style="color:red">Allocated hours required.</span>
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Remarks</label>
        <textarea class="form-control" aria-label="With textarea" placeholder="Enter action remarks if any" [(ngModel)]="_remarks"
            style="height: 111px;"></textarea>
    </div>



<!--
    <div>
        <div class="form-group d-flex align-items-start">
        <input type="checkbox" id="actionDep" [checked]="isActionIndependent" style=" width: 18px;height: 18px;" (change)="isActionIndependent=$event.target.checked"/>
            <label for="actionDep" class="ml-2">Independent</label>
       </div>
      <div class="form-group text-dark-50 w-75px flex-grow-1 brdng-0"   *ngIf="!isActionIndependent">

        <mat-form-field class="drp-dwn-field   w-100 ">
            <mat-label>Select Actions</mat-label>
            <mat-chip-list #selectedactionslist>
                <mat-chip *ngFor="let action of selectedActions" class="Data_chip_kt"
                    (removed)="removeSelectedAction(action)">
                    {{action.Project_Name}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
            <div class="d-flex">
                <input class="border-gray" [matChipInputFor]="selectedactionslist" [matAutocomplete]="actionDrpDown"
                    #actionSelectTF />
                    <button *ngIf="isActionsDrpDwnOpen" class="bg-transparent border-0 "><mat-icon class="close-icon"
                        (click)="closeAutocompleteDrpDwn('Actionsdrpdwn')">cancel</mat-icon> </button>
                <button *ngIf="!isActionsDrpDwnOpen" class="bg-transparent border-0"><mat-icon class="add-icon"
                        (click)="openAutocompleteDrpDwn('Actionsdrpdwn')">add</mat-icon> </button>
            </div>
            <mat-autocomplete aria-label="Actionsdrpdwn"   #actionDrpDown="matAutocomplete"
                (optionSelected)="actionSelectTF.value=''; "
                (closed)="isActionsDrpDwnOpen=false;" (opened)="isActionsDrpDwnOpen=true">
                <mat-option *ngFor="let action of allactions|filter:actionSelectTF.value" [value]="action.Project_Code">
                    <mat-checkbox color="primary" [checked]="(selectedActions.indexOf(action)!==-1)"></mat-checkbox>
                    {{action.Project_Name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>




      </div>
    </div> -->



    <div class="form-group">
      <div class="custom-file pl-1">
          <button type="button" class="btn btn-primary cursor-pointer" (click)="selectFile()">Choose File</button>
          <span *ngIf="file" class="selected-file">{{ file.name }}</span>
          <span *ngIf="file" class="delete-icon cursor-pointer" (click)="this.file=null">✖</span>
          <input type="file" class="form-control-file" id="uploadFile" #fileInput style="display: none;" (change)="onFileChanged($event)" />
      </div>
  </div>







    <div class="form-group">
      <div class="d-flex align-items-center"  id="actattach">
        <input type="checkbox" class="mr-2 " [(ngModel)]="completionattachment"/>
        <label for="actioncompl" class="mb-0 font-weight-normal"> Completion Attachment</label>
      </div>
    </div>

    </div>









    <div class="kt-portlet__foot py-3">

        <div class="form-group mb-0">                                             
            <button type="submit" class="btn btn-info btn-sm"  (click)="sweetAlert()" 
                >Submit
            </button>

            <!-- [disabled]="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || !_allocated || (_allocated > maxAllocation)" -->
            
            <!-- <button type="submit" class="btn btn-info btn-sm"  (click)="sweetAlert()" *ngIf="selectedEmpNo == Current_user_ID"
                [disabled]="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || !_allocated || (_allocated > maxAllocation)">Submit
            </button>
            <button type="submit" class="btn  btn-info btn-sm"  (click)="sweetAlert()" *ngIf="selectedEmpNo != Current_user_ID"
                [disabled]="!Sub_ProjectName || !_Description || !selectedEmpNo || !_StartDate || !_EndDate || (_allocated > maxAllocation)">Submit
            </button> -->
            <!-- <button type="submit" class="btn btn-primary"  (click)="sweetAlert()" *ngIf="selectedEmpNo != Current_user_ID"
                >Submit
            </button> -->
            <button type="submit" class="btn btn-secondary btn-sm ml-2"  (click)="closeInfo()">close</button>
        </div>
    </div>
</div>
