/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disabled-option {
  color: gray;
  cursor: not-allowed;
}
.custom-checkbox {
  width: 15px;
  height: 15px;

}
.selected-file {
  margin-left: 10px; }

.delete-icon {
  cursor: pointer;
  margin-left: 15px;

}
