/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disabled-option {
  color: gray;
  cursor: not-allowed;
}
.custom-checkbox {
  width: 15px;
  height: 15px;

}
.selected-file {
  margin-left: 10px; }

.delete-icon {
  cursor: pointer;
  margin-left: 15px;

}
.symbol-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}

.symbol-group .symbol {
  position: relative;
  z-index: 0;
  margin-left: -10px;
  transition: all .3s ease;
}

.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #252f4a;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}

.text-inverse-warning {
  color: #ffffff !important;
}

.bg-warning {
  --bs-bg-rgb-color: rgba(255, 199, 0);
  background-color: #ffc700 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol-group .symbol-label {
  position: relative;
}

.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}

.symbol .symbol-label:after {
  border-radius: 0.475rem;
}

.symbol-group .symbol-label:after {
  display: block;
  content: " ";
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bg-primary {
  --bs-bg-rgb-color: rgba(62, 151, 255);
  background-color: #3e97ff !important;
}

.text-inverse-primary {
  color: #ffffff !important;
}

.symbol.symbol-35px>img {
  width: 35px;
  height: 35px;
}
.error-border,
.error-date .input-group-text,
.error-date .form-control,
::ng-deep .error-vd .ng-select-container {
    border: 1px solid #F44336 !important;
}
::ng-deep .mat-icon-button {
  width: 38px;
  height: 36px;
  line-height: 30px;
}
.details-date .form-control {
  border-radius: 4px 0px 0px 4px;
}
.details-date .input-group-text {
  border-radius: 0px 4px 4px 0px;
  height: calc(1.5em + 1.3rem + 2px);
  margin-left: -1px;
}




/* file uploading loader */

.file-upload-progress {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 2001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-progress .progress {
  width: 30%;
  height: 30px;
  border-radius: 16px;
  background-color: #347bb1;
  position: relative;
  top:10px;
}

.file-upload-progress .progress-bar {
  background-color: #1164a3;
}

.file-upload-progress .progress-bar-striped {
  background-size: 3rem 3rem;
}

.file-upload-progress .progress-bar-control {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  font-size: 14px;
  font-weight: 500;
  gap: 2rem;
  height: 30px;
  line-height: 2;
}
.file-upload-progress .progress-bar-label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}



.file-upload-progress .file-upload-upload-label{
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation-name: texthighlight-jump;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}





@keyframes texthighlight-jump{
  from{
       transform: scale(1);
       opacity: 0.91;
  }
  to{
    transform: scale(1.025);
    opacity: 1;
  }
}

/*file uploading loader*/



/*actual working days allocated hours validation css start*/
.attach-tippy{
  position: relative;
}
.attach-tippy .st-line{
  min-width: 13rem;
  padding: 1rem 1rem;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-110px, 23px, 0px);
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  border-radius: .25rem;
  transition: all .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: none;
  z-index: 2;
}
.attach-tippy-div:hover .st-line{
  display: block;
}
.attach-tippy:hover .st-line{
  display: block;
}


.off-days-span
{
    transform: translate3d(-160px, 20px, 0px) !important;
}

.off-days-span .days-list
{
    max-height: 130px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 8px;
}


/*actual working days allocated hours validation css end*/