.active{
    background: #4c59688f;
   
}
.kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link.active>.kt-menu__link-icon {
    color: #5867dd !important;
}
.side-btn {
    position: relative;
}
a.kt-menu__link svg {
    fill: #b8bac3;
    display: flex;
    flex: 0 0 42px !important;
    align-items: center;
    justify-content: center;
    outline: 0;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover .kt-menu__link svg:hover{
    fill: #5867dd !important;
}
.kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__link svg {
    color: #5867dd !important;
}
.kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link.active svg {
    fill: #ffffff !important;
}
a.kt-menu_link.kt-menu__toggle.active svg {
    fill: #fff;
}
li.kt-menu__item:hover a svg path {
    fill: #5867dd  !important;
}



.side-open-close {
    top: 22px;
    right: -40px;
    bottom: 99%;
    width: 60px;
    height: 20px;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: #0b0e1f;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d1cfcf;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.side-open-close:hover {
    color: #fff;
}

svg.toggle-arrow-svg {
    width: 20px;
    height: 20px;
    transform: rotate(270deg);
    margin-bottom: -8px;
    transition: all 0.15s ease-in-out;
}
::ng-deep .kt-aside--minimize svg.toggle-arrow-svg {
    transform: rotate(90deg)!important;
    transition: all 0.15s ease-in-out;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link.active>.kt-menu__link-icon{
    fill:#fff;
}