<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height">
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title mr-2">
                            <i class="fab fa-buffer mr-2 text-primary"></i>
                            <!-- <i class="kt-menu__link-icon fas fa-clipboard-check mr-2 text-primary"></i> -->
                            <strong>Assigned Tasks</strong>
                        </h3>
                        <h6 class="text-muted mt-2">({{FilteredText}})</h6>
                    </div>
                    <div class="kt-header__topbar pr-0">

                        <div class="kt-widget19__stats text-center px-4 m-auto">
                            <button class="btn btn-primary btn-sm btn-bold cust-btn" (click)="ShowForm()">
                                <i class="fas fa-plus mr-2"></i> Add Task
                            </button>
                        </div>

                        <div class="kt-widget19__stats text-center mr-1 m-auto">
                            <div class="btn-group">
                                <button class="btn btn-info btn-sm cust-btn dropdown-toggle waves-effect show"
                                    aria-expanded="true" data-toggle="dropdown"><i
                                        class="fas fa-ellipsis-v  mr-2"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <span class="dropdown-header"><i class="fas fa-filter mr-2"></i>Filter Tasks
                                        :</span>
                                    <a class="dropdown-item" (click)="GetAssignTask()">
                                        <div><span
                                                class="kt-badge kt-badge--primary kt-badge--inline mr-2">{{countAssigned}}</span>
                                        </div>
                                        <span class="kt-drop-text">Total Assigned</span>
                                    </a>
                                    <a class="dropdown-item" (click)="GetAccepted()">
                                        <div><span
                                                class="kt-badge kt-badge--success kt-badge--inline mr-2">{{countAccepted}}</span>
                                        </div>
                                        <span class="kt-drop-text">Accepted</span>
                                    </a>
                                    <a class="dropdown-item" (click)="GetInProcess()">
                                        <div><span
                                                class="kt-badge kt-badge--info kt-badge--inline mr-2">{{countInprocess}}</span>
                                        </div>
                                        <span class="kt-drop-text"> In Process</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <div><span
                                                class="kt-badge kt-badge--success kt-badge--inline mr-2">{{countCompleted}}</span>
                                        </div>
                                        <span class="kt-drop-text">Completed</span>
                                    </a>
                                    <a class="dropdown-item" (click)="GetRejected()">
                                        <div><span
                                                class="kt-badge kt-badge--danger kt-badge--inline mr-2">{{countRejected}}</span>
                                        </div>
                                        <span class="kt-drop-text">Rejected</span>
                                    </a>
                                    <a class="dropdown-item" (click)="GetNotStarted()">
                                        <div><span
                                                class="kt-badge kt-badge--dark kt-badge--inline mr-2">{{countNotStarted}}</span>
                                        </div>
                                        <span class="kt-drop-text">Not Started</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="kt-widget19__stats text-center mr-4">
                            <h3 class="kt-font-brand mt-2 mb-0">{{countAssigned}}</h3>
                            <button class="btn btn-primary btn-sm cust-btn">Total Assigned</button>
                        </div>
                        <div class="kt-widget19__stats text-center mr-4">
                            <h3 class="kt-font-success mt-2 mb-0">{{countAccepted}}</h3>
                            <button class="btn btn-success btn-sm cust-btn" (click)="GetAccepted()">Accepted </button>
                        </div>
                        <div class="kt-widget19__stats text-center mr-4">
                            <h3 class="kt-font-info mt-2 mb-0">{{countInprocess}}</h3>
                            <button class="btn btn-info btn-sm cust-btn" (click)="GetInProcess()">In Process</button>
                        </div>
                        <div class="kt-widget19__stats text-center mr-4">
                            <h3 class="kt-font-success mt-2 mb-0">{{countCompleted}}</h3>
                            <button class="btn btn-success btn-sm cust-btn" >Completed</button>
                        </div>
                        <div class="kt-widget19__stats text-center mr-4">
                            <h3 class="kt-font-danger mt-2 mb-0">{{countRejected}}</h3>
                            <button class="btn btn-danger btn-sm cust-btn"(click)="GetRejected()">Rejected</button>
                        </div>
                        <div class="kt-widget19__stats text-center">
                            <h3 class="kt-font-secondary mt-2 mb-0">{{countNotStarted}}</h3>
                            <button class="btn btn-secondary btn-sm cust-btn" (click)="GetNotStarted()">Not Started</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Block 1 -->
        <div class="col-lg-3 p-0">
            <div class="card shadow-sm brdr-r-0">
                <div class="card-header">
                    <input type="search" placeholder="Search for assigned task.." [(ngModel)]="_AssignTaskSearch"
                        (input)="Search()" class="form-control">
                    <p class="d-none">Filtered : <span class="text-primary">{{FilteredText}}</span></p>
                </div>
                <div class="sidebar pr-2">
                    <div class="scrollbar">
                        <ul class="side-bar-box">
                            <li *ngFor="let item of Assigntask_List">
                                <a
                                    (click)="OnAssigntaskClick(item.Employee,item.End_Date,item.ProjectType,
                        item.Start_Date,item.Task_Description,item.Task_Name,item.AssignedBy,item.CreatedBy,item.IsActive,
                        item.Reject,item.Reject_Comments,item.Status,item.Reference,item.ProjectDays,item.Creation_Date,item.SubmissionType,item.Modified_DT,item.Project_Code,item.Remarks,item.FileName)">
                                    <p class="project-title mb-2">
                                        {{item.Task_Name}}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">{{item.Employee}}</p>
                                        <p class="mb-2"> {{item.Start_Date|date:'dd-MM-yyyy'}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <!-- [ngClass]="{
                                    'text-Completed':item.ProjectType=='Core Tasks',
                                    'text-warning':item.ProjectType=='Secondary Tasks',
                                    'text-underApp':item.ProjectType=='Standard Tasks',
                                    'text-info':item.ProjectType=='Routine Tasks',
                                    'text-Rejected':item.ProjectType=='To Do List'}" -->
                                        <p>{{item.ProjectType}}</p>
                                        <p class="mb-2"> {{item.End_Date | date:'dd-MM-yyyy'}}</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Block 2  -->
        <div class="col-lg-9 p-0">
            <!-- Runnig  Version -->
            <p style="color:lightgray;font-size: large;" [hidden]="paragraph_msg">Select the project from left panel to
                display result here.</p>
            <h4 style="margin:0px;color: lightgrey">{{NotfoundAssignedTask}} </h4>

            <div [hidden]="Div_TaskDetails" class="mt-0 card border-left-0 shadow-sm scrollbar-rt">
                <!-- <div class="kt-widget12__item pb-2 card-header">
                    <div class="kt-widget12__info d-flex flex-column mb-0  card-title">
                        <h5 class="kt-widget12__value kt-font-brand">{{Task_Name}}</h5>
                        <span class="kt-widget12__desc">{{Task_Description}}</span>
                    </div>
                </div> -->
                <div class="subtask-list">
                    <div class="kt-widget12">
                        <div class="kt-widget12__content">

                            <!-- old Code -->

                            <!-- <div class="kt-widget12__item" style="border-bottom: 1px solid #e9ebed;">
                                <div class="kt-widget12__info p-4">
                                    <span class="kt-widget12__value kt-font-header "># {{Task_Name}}</span>
                                    <span class="kt-widget12__desc fs-5">{{Task_Description}}</span>
                                </div>
                                <div  class="kt-widget19__stats text-center px-4 m-auto">
                                    <button class="btn btn-primary btn-sm btn-bold cust-btn" (click)="viewProjectDetails()">View Project Details</button>
                                </div>
                            </div> -->

                            <!-- New Code -->
                            <div class="d-flex justify-content-between flex-wrap"
                                style="border-bottom: 1px solid #eee;">

                                <!-- Right Side Buttons -->
                                <div class="text-right col-lg-12" [hidden]="ProjectCode==null">
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                                        title="More Infomation" (click)="moreDetails()">
                                        <i class="fa fa-chart-bar"></i>
                                    </button>
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                                        title="Project Infomation" (click)="ProjectInfoDetails()">
                                        <i class="fa fa-info-circle mr-0"></i>
                                    </button>
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                                        title="Add Assign Task" (click)="ShowForm()">
                                        <i class="fas fa-plus mr-0"></i>
                                    </button>
                                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1">
                                        <i class="fas fa-sort-alpha-up fa-lg mr-0"></i>
                                    </button>
                                    <!-- <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" title="RACIS">
                                        <i class="fas fa-user-friends fa-lg mr-0" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                        </i>
                                    </button> -->
                                </div>
                                <div class="col-lg-12">
                                    <label class="text-info strong h5 mt-3 ml-3">
                                        {{Task_Name}}
                                        <span></span>
                                    </label>
                                    <!--   [hidden]="EmpNo_Own!=CurrentUser_ID"-->
                                    <p class="mb-3 mt-1 pl-15px h5" style="color:grey; font-size: small;">
                                        <span id="Span_DescName">{{Task_Description}}</span>
                                    </p>
                                    <p class="mb-1 pl-15px">
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="fas fa-project-diagram text-muted mr-1"></i>
                                            <b>{{ProjectType}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block" [ngClass]="{'text-success':Status=='Accepted',
                                        'text-info':Status=='Pending',
                                        'text-warning':Status=='Rejected'
                                       }">
                                            <b>{{Status}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                            <b>{{Start_Date|date:'dd-MM-yyyy'}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                            <b>{{End_Date|date:'dd-MM-yyyy'}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="fas fa-clock text-muted mr-1"></i>
                                            <span class="my-1 fs-4 kt-widget12__value" *ngIf="SubmissionType==null">
                                                {{ProjectDays}} days</span>
                                            <span class="my-1 fs-4 kt-widget12__value" *ngIf="SubmissionType!=''">
                                                {{SubmissionType}}</span>
                                        </span>
                                        <!-- <span class="text-nowrap mb-2 d-inline-block">
                                            <i class="fab fa-dev text-muted mr-1"></i>
                                            <b>projectCost</b>
                                        </span> -->
                                    </p>
                                    <p class="mb-1 pl-15px">
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="text-muted mr-1"></i>
                                            <b>By: {{AssignedBy}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="text-muted mr-1"></i>
                                            <b>To : {{Employee}}</b>
                                        </span>
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                            <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                            <b>On : {{ModifyDate|date:'dd-MM-yyyy'}} &nbsp; {{ModifyDate|date:'h:mm
                                                a'}}</b>
                                        </span>
                                    </p>
                                    <p class="mb-1 pl-15px">
                                        <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="FileName!= ''"><i
                                            class="fas fa-file-pdf text-muted mr-1"></i>
                                        <a class="text-info curser-pointer"
                                            (click)="LoadDocument(Reference)"><b>{{FileName}}</b></a></span>
                                        <span data-toggle="tooltip" title="Remarks!" class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="Remarks != ''" >
                                            <i class="fas fa-registered text-muted mr-1"></i>
                                            <b>{{Remarks}}</b>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [hidden]="DisplayProject_Det" -->
            </div>
            <!-- Demo Version -->
            <h4 [hidden]="_DemoVersion">EP Development</h4>
            <div class="scrollbar" [hidden]="_DemoVersion">

                <div class="assigned_task d-flex justify-content-between" *ngFor="let item of DemoTasksList">
                    <p><i class="la la-check"></i> {{item.name}}</p>
                    <div>
                        <a><i class="la la-star-o"></i> </a>
                        <a><i class="la la-trash"></i> </a>
                    </div>
                </div>
            </div>
            <div class="add_assigned_task" [hidden]="_DemoVersion">
                <div class="form-group mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="la la-plus mr-0"></i>
                            </span>
                        </div>
                        <input type="text" [(ngModel)]="_Demotext" class="form-control add_assign_task_input"
                            placeholder="Add Task" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="la la-calendar-o"></i>
                            </span>
                            <span class="input-group-text curser-pointer" id="basic-addon1" data-toggle="modal"
                                data-target="#AssignTo">
                                <i class="la la-user"></i>
                            </span>
                            <span class="input-group-text" id="basic-addon1" data-toggle="modal"
                                data-target="#AttachmentModal">
                                <i class="la la-paperclip"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Demo Version Models -->

            <!--begin::Modal  Demo Version-->
            <div class="modal fade" id="AssignTo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Responsible Name</h5>
                        </div>
                        <div class="modal-body">
                            <p>Coming Soon</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->

            <!--begin::Modal Demo Version-->
            <div class="modal fade" id="AttachmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Responsible Name</h5>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="la la-angle-right"></i> Creative Solutions
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="la la-angle-right"></i> YR Global
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="la la-angle-right"></i> dr.CAFE Coffee
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
            <!-- Demo Version Models Ends -->
        </div>
    </div>
</div>

<!-- Modal -->
<div id="rightbar-overlay"></div>
<!-- For Update Projects-->

<!-- Project Info Details -->
<div id="mysideInfobar" class="sideInfobar animate-right">
    <router-outlet></router-outlet>
</div>