<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid side_view">
    <div class="col-lg-12">
        <h4 class="mb-3 pro-nm"> {{ "Masterform.Role" | translate }} </h4>

        <!--View role-->

        <div class="card">
            
            <div class="card-header align-items-center d-flex py-3">
                <div class="flex-1">
                    <div class="search-bar">
                        <input type="search" id="txtMainSearch" [(ngModel)]="RoleSearch" (keyup.enter)="Search()" class="form-control search_clear" [placeholder]="RoleSearchs" aria-controls="example" (keyup)="handleKeyUp($event)" autocomplete="off">
                        <a  *ngIf="RoleSearch" class="close close-icn"><i  (click)="ReBindData()" class="material-icons">close<i></i></i></a>
                    </div>
                </div>
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-info btn-sm" id="role_add" (click)="role_add()">
              <i class="material-icons fs-4">add</i> {{ "Masterform.AddRole" | translate }}
          </button>
                </div>
            </div>           
            
            <div class="mb-0 table-responsive">
                <table role="table" aria-busy="false" aria-colcount="5" class="table b-table">
                    <thead>
                        <tr>
                            <th>{{ "Masterform.Role" | translate }}</th>
                            <th> {{ "Masterform.Note" | translate }}</th>
                            <th>{{ "Masterform.SharingAccess" | translate }}</th>
                            <th>{{ "Masterform.Status" | translate }}</th>
                            <th>{{ "Masterform.Action" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of _objRole">
                            <td>{{item.RoleName}}</td>
                            <td>{{item.Description}}</td>
                            <td [ngStyle]="{'color':item.Sharing=== true ? '#1dc9b7' : '#dc3545'}">
                                <div *ngIf="item.Sharing">
                                    Yes
                                </div>
                                <div *ngIf="!item.Sharing">
                                    No
                                </div>
                            </td>
                            <td [ngStyle]="{'color':item.IsActive=== true ? '#1dc9b7' : '#dc3545'}" (click)="UpdateStatus(item)">
                                <div *ngIf="item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-success curser-pointer w-min-70">
                                    Active
                                </div>
                                <div *ngIf="!item.IsActive" class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-danger curser-pointer w-min-70">
                                    In-Active
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-outline btn-circle fs-5 btn-sm text-info px-0" (click)="role_edit(item)">                                    
                                    <span class="mr-2">
                                        <svg data-v-9a6e255c="" xmlns="http://www.w3.org/2000/svg" width="14px"
                                            height="14px" viewBox="0 0 24 24" fill="none" stroke="#2786fb"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-edit">
                                            <path data-v-9a6e255c=""
                                                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                            <path data-v-9a6e255c=""
                                                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                        </svg>
                                    </span>
                                    <span>Edit</span>
                                </a>
                            </td>
                        </tr>
                        <ng-container *ngIf="_objRole.length==0">
                            <div class="d-flex-center kt-tb-error-box">
                                <div class="m-auto text-center">
                                    <div class="svgs-1 kt-blank-msg">
                                        <img src="assets/media/Img/No Memo Found 01.png">
                                    </div>
                                    <h3 class="kt-blank-ttl"> {{ "Masterform.NoDataCompany" | translate }} </h3>
                                    <p class="kt-blank-msg"> {{ "Masterform.NofoundRole"}} </p>
                                </div>
                            </div>
                        </ng-container>
                    </tbody>
                </table>
            </div>
                <div class="card-footer">
                    <div class="page-div p-1 d-flex-center">
                        <div class="card-footer-left">
                            <span class="text-muted">
              <!-- <span class="pagination__desc">
                <ng-container *ngIf="activePage==1">
                    {{activePage}} - {{_CurrentpageRecords}}
                </ng-container>
                <ng-container *ngIf="activePage!=1 && activePage!=LastPage">
                    {{_CurrentpageRecords * (activePage-1) + 1}} - {{_CurrentpageRecords * activePage}}
                </ng-container>
                <ng-container *ngIf="activePage==LastPage">
                    {{lastPagerecords * (activePage-1) + 1}} - {{lastPagerecords * (activePage-1) + _CurrentpageRecords}}
                </ng-container> 
                <span class="en-of"> of {{TotalRecords}}</span>
                <span class="ar-main-of" style="display: none;"><span class="of"> - </span> {{TotalRecords}}</span>
                </span> -->
                <span class="pagination__desc">
                    <ng-container *ngIf="activePage==1">
                        {{activePage}} - {{_CurrentpageRecords}}
                    </ng-container>
                    <ng-container *ngIf="activePage!=1 && activePage!=LastPage">
                        {{_CurrentpageRecords * (activePage-1) + 1}} - {{_CurrentpageRecords * activePage}}
                    </ng-container>
                    <ng-container *ngIf="activePage==LastPage && activePage!=1">
                        {{lastPagerecords * (activePage-1) + 1}} - {{lastPagerecords * (activePage-1) +
                        _CurrentpageRecords}}
                    </ng-container>
                    <span class="en-of"> of {{TotalRecords}}</span>
            <span class="ar-main-of" style="display: none;"><span class="of"> - </span> {{TotalRecords}}</span>
            </span>
                            </span>
                        </div>
                        <!-- pagenation start Showing 1 to 10 of 11 customers -->
                        <div class="card-footer-right d-flex">
                            <nav aria-label="items">
                                <ul class="pagination m-0">
                                    <li class="page-item" [ngClass]="(NextPage == false)?'page-item ar-first-page  paginationdisable':'page-item ar-first-page '">
                                        <span [ngClass]="(NextPage == false)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="null page" tabindex="-1" aria-disabled="true" (click)="onClickPage(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--FirstPage">
                          <path d="M24 0v24H0V0h24z" fill="none" opacity="0.87"></path>
                          <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6 1.41-1.41zM6 6h2v12H6V6z"></path>
                        </svg>
                      </span>
                                    </li>
                                    <!-- [disabled]="activePage==1" -->
                                    <li class="page-item" [ngClass]="(activePage == 1)?'page-item ar-first-page  paginationdisable':'page-item ar-first-page '">
                                        <span [ngClass]="(activePage == 1)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="First Page" tabindex="-1" aria-disabled="true" (click)="onClickPage(activePage - 1)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--ChevronLeft">
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"></path>
                        </svg>
                      </span>
                                    </li>
                                    <li class="page-item active">
                                        <span role="button" class="page-link" aria-label="1 page">{{activePage}}</span>
                                    </li>
                                    <!-- <li class="page-item" *ngFor="let iteam of data">
                      <span role="button" class="page-link" aria-label="2 page">{{activePage+1}}</span>
                    </li> -->
                                    <li [ngClass]="(_CurrentpageRecords < 9)?'page-item ar-last-page  paginationdisable':'page-item ar-last-page '">
                                        <!-- [disabled]="_CurrentpageRecords < 10" -->
                                        <span [ngClass]="(_CurrentpageRecords < 9)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="Last Page" (click)="onClickPage(activePage + 1)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" 
                        data-name="Material--ChevronRight">
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"></path>
                        </svg>
                      </span>
                                    </li>
                                    <li [ngClass]="(_CurrentpageRecords < 9)?'page-item ar-last-page  paginationdisable':'page-item ar-last-page '">
                                        <span [ngClass]="(_CurrentpageRecords < 9)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="null page" (click)="onClickPage(LastPage)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--LastPage">
                          <path d="M0 0h24v24H0V0z" fill="none" opacity="0.87"></path>
                          <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6-1.41 1.41zM16 6h2v12h-2V6z"></path>
                        </svg>
                      </span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--pagenation start-->
                </div>
        </div>

    </div>
</div>



<div class="kt-aside-menu-overlay" (click)="closeInfo()"></div>

<div id="addrck" class="wc-75 kt-quick-panel kt-quick-panel1 scroll-div">
    <a id="kt_quick_panel_close_btn" class="kt-quick-panel__close" (click)="closeInfo()">
        <i class="flaticon2-delete"></i>
    </a>
    <div id="kt_chat_content" class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-chat">
            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                <div class="kt-portlet__head">
                    <div class="kt-chat__head">
                        <div>
                            <div class="kt-chat__label">
                                <h4 class="mb-0" id="editrck"> Add </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body py-1">

                    <form [formGroup]="roleformGroup" (ngSubmit)="OnCreate()" id="forms_1">
                        <div class="tab-content">
                            <div class="tab-pane d-flex flex-wrap justify-content-start align-items-baseline form-m">
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Role" | translate }}</label>
                                    <span class="text-danger ml-1">*</span>
                                    <input class="form-control" id="txtrolename" name="roleName" formControlName="roleName" [placeholder]="EnterRoleName" type="text" (change)="checkRoleNameExits()" value="" [(ngModel)]="services._obj.RoleName" required minlength="3" maxlength="50">
                                    <div>
                                        <span style="color:red" [hidden]="RoleNameMinLength">
                                            {{ "Masterform.fieldsalertmessage" | translate }} </span>
                                    </div>
                                </div>
                                <div class="form-cus">
                                    <span id="SharedDocumentAccessRole" class="material-icons fs-4 float-right">
                                        info_outline
                                        </span>
                                    <label class="form-label">{{ "Masterform.ShareDocumentAccess" | translate }}</label>
                                    <div>
                                        <mat-slide-toggle color="primary" formControlName="sharing" [(ngModel)]="services._obj.Sharing">
                                        </mat-slide-toggle>

                                    </div>
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Status" | translate }}</label>
                                    <div>
                                        <mat-slide-toggle color="primary" formControlName="status" [(ngModel)]="services._obj.IsActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Note" | translate }}</label>
                                    <textarea formControlName="note" class="form-control" [placeholder]="EnterDescription" [(ngModel)]="services._obj.Description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="task_act form-m">
                            <div class="form-cus">
                                <button class="btn btn-sm btn-info px-3 mt-2" [disabled]="roleformGroup.invalid" *ngIf='!isShow'>
                                    {{ "Masterform.Save" | translate }}
                                </button>
                                <button type="submit" class="btn btn-sm btn-info px-3 mt-2" *ngIf='isShow'>{{ "Masterform.Update" | translate }}</button>
                                <button class="btn btn-sm btn-secondary px-3 ml-2 mt-2" (click)="role_cl()">
                                    {{ "Masterform.Cancel" | translate }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>