



/* test */



/* 
.mini-tab {
  position: fixed;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 9999;
  cursor: move;
  overflow: hidden;
}

.mini-header {
  background: #f0f0f0;
  padding: 5px 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: 35px;
}

iframe {
  border: none;
  width: 100%;
}

.resize-handle {
  width: 16px;
  height: 16px;
  background: #ccc;
  position: absolute;
  right: 2px;
  bottom: 2px;
  cursor: se-resize;
  border-radius: 2px;
}


.miniplayer-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}
.miniplayer-btn svg {
  width: 28px;
  height: 28px;
}
 */



/*test*/