<div class="kt-grid kt-grid--hor kt-grid--root">
    <router-outlet></router-outlet>


      <!--test-->

    <!-- <div *ngIf="showMinimizedWindow" class="mini-tab"
          
                [ngStyle]="{ top: miniTop + 'px', left: miniLeft + 'px', width: width + 'px', height: height + 'px' }"
                (mousedown)="startDrag($event)">
            
            <div class="mini-header">
                Mini Tab
                <button (click)="showMinimizedWindow = false">🔼</button>
            </div>

            <iframe [attr.src]="miniUrl" width="100%" [style.height.px]="height - 35"></iframe>

          
            <div class="resize-handle" (mousedown)="startResize($event)"></div>
    </div>  -->



  <!--test-->

  
</div>