.height-adjust {
    height: auto;
    max-height: 60vh;
    overflow: auto;
}


/* width */

.height-adjust::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.height-adjust::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.height-adjust::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
}


/* Handle on hover */

.height-adjust::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dashboard-subtitle {
    font-size: 12px;
    color: #a5a4a4;
}

.Activity-title {
    color: #22b9ff !important;
}

.Activity-title span,
.Activity-title small {
    color: #7d7d7d;
}

.Activity-date {
    font-size: 12px;
}

.dialogboxDropdpwn .multiselect-dropdown {
    width: 250px !important;
}

.fc .fc-button-primary {
    background-color: #fff !important;
    border-color: #2c3e50 !important;
    color: #fff !important;
}

.action-count {
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 0.25rem;
    color: #646c9a;
    /* cursor: pointer; */
    letter-spacing: 0.2px;
    -webkit-transition: all 4s ease;
    transition: all .3s ease !important;
}

.action-count:hover {
    transform: scale(1.02);
}

.action-count .count-icon {
    background-color: #deecfd;
    padding: 5px 8px;
    height: 30px;
    border-radius: 6px;
    margin-right: 15px;
    color: #00b2ff;
}

.action-count .action-content {
    font-size: 14px;
}

.action-count .action-content span {
    font-size: 12px;
    color: #696969;
}

.action-count.bg-grey {
    background-color: #efeff1;
}

.action-count.bg-grey .action-content a.arrow-btn {
    display: inline-block;
    background-color: #f9d57f;
    color: #333;
    padding: 7px 10px;
    font-size: 11px;
    border-radius: 8px;
}

.action-bg-warning {
    background-color: #f9d57f;
}

.action-count.action-bg-warning .count-icon {
    background-color: #fff;
    color: #f9d57f;
}

.action-count .action-meeting i {
    background-color: #f9d57f;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    border-radius: 9px;
    margin-right: 10px;
}

.action-count .action-meeting span {
    font-size: 18px;
}

.bd-example-modal-lg .modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.collapsed .fa-chevron-up:before {
    content: "\f078";
}

/* width */

.bd-example-modal-lg .modal-body::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.bd-example-modal-lg .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.bd-example-modal-lg .modal-body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}


/* Handle on hover */

.bd-example-modal-lg .modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-body .table-hover tbody tr:hover {
    color: #212529;
    background-color: #fafbfc;
}


/* === Sidebar === */

.sideInfobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    border-left: 1px solid #EDEAE9;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow:0 .1rem 1rem .25rem rgb(0 0 0/5%)!important;
    /* padding-top: 60px; */
}

/* New design CSS  from Here... */

.name-box {
    display: inline-block;
    font-size: 9px;
    width: 30px;
    height: 30px;
    background-color: #5867dd;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 5px;
}

.names-response {
    display: inline-block;
    text-align: left;
}

.names-response span:first-child {
    display: block;
    font-size: 10px;
    font-weight: 600;
}

.names-response span:last-child {
    font-weight: 600;
}

.head-btn {
    background-color: rgba(88, 103, 221, 0.1);
    padding: 3px 10px 3px 5px;
    border-radius: 2rem;
    border: 1px solid #b3bcff;
    font-weight: 500;
    font-size: 12px;
}

.head-btn i {
    width: 25px;
    height: 25px;
    background: #5867dd;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-right: 3px;
}

.devider {
    height: 1px;
    width: 100%;
    background-color: #f1f1f1;
}

.pricevalues {
    padding-top: 30px;
    padding-bottom: 10px;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.top-border .pricevalues:nth-child(1),
.top-border .pricevalues:nth-child(2) {
    border-top: 1px solid #f1f1f1;
}

.top-border .pricevalues:nth-child(3),
.top-border .pricevalues:nth-child(4) {
    border-bottom: none
}

.pricevalues:nth-child(2),
.pricevalues:nth-child(4) {
    border-right: none;
}

.w-60 {
    width: 60px;
}

.dms-links {
    list-style-type: disc;
}

.dms-links li a {
    display: block;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 5px;
}

.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:active {
    background-color: #dedee0;
}


/* ========= Progress Bar ========= */

.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height: 4px;
    margin-bottom: 12px;
    margin-top: 30px;
    position: relative;
    text-align: left;
}

.progress_bar .progress_bar_title {
    color: hsl(218, 4%, 50%);
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: -28px;
    z-index: 1;
}

.progress_bar .progress_number {
    float: right;
}

.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}

.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}

.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}

.bg-today {
    background-color: #342bf0 !important;
}

.M_fsize {
    font-size: smaller;
}

.badge {
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}

.text-Rejected {
    color: #E6747A !important;
}

.text-underApproval {
    color: #98c7bf !important;
}

.text-CompleteRejected {
    color: #D83C3C !important;
}

.text-underApp {
    color: #4495D5 !important;
}

.text-Todo {
    color: #45F495 !important;
}

.text-Completed {
    color: #41D37B !important;
}

.bell-icon[data-count]:after {
    position: absolute;
    right: 15px;
    top: 10px;
    content: attr(data-count);
    font-size: 45%;
    padding: 0.6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.menu-sub-dropdown {
    display: none;
    border-radius: 0.475rem;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    z-index: 105;
}

.kt-subheader--enabled .kt-content {
    padding-top: 60px !important;
}

.kt-content {
    padding-top: 60px !important;
}