<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid side_view">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h4 class="mb-3"> {{ "Masterform.Source" | translate }} </h4>
        </div>

        <div class="card mb-3 w-50" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="add_rck">
                            <div class="px-3 edit_options">
                                <ul class="nav nav-pills">
                                    <li class="tab_one active">
                                        <a href="#1a" data-toggle="tab" class="px-3"><span id="editrck">Add
                                            </span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card ribbon-box">
            <div class="card-header align-items-center d-flex py-3">
                <div class="flex-1">
                    <div class="search-bar">
                        <input type="text" class="form-control" [(ngModel)]="SourceSearch" [placeholder]="SourceSearchs"
                            aria-controls="example">
                            <a *ngIf="SourceSearch" class="close close-icn"><i  (click)="ReBindData()" class="material-icons">close<i></i></i></a>
                    </div>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-info my-2" style="display: block;" id="source_add"
                        (click)="source_add()">
                        <i class="material-icons fs-4">add</i>
                        {{ "Masterform.AddSource" | translate }}
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <!-- <div class="ribbon ribbon-info float-left"><i class="mdi mdi-access-point me-1"></i> Source List
                        </div> -->
                <div class="mb-0 table-responsive">
                    <table class="table b-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>{{ "Masterform.Source" | translate }}</th>
                                <th>{{ "Masterform.Phone" | translate }}</th>
                                <th>{{ "Masterform.Email" | translate }}</th>
                                <th>{{ "Masterform.Address" | translate }}</th>
                                <th>{{ "Masterform.Country" | translate  }}</th>
                                <!-- <th>City</th> -->

                                <!-- <th>Note</th> -->
                                <!-- 
                                       
                                        <th>Contact Person</th>
                                        <th>Fax</th> -->
                                <th>{{ "Masterform.Status" | translate }}</th>
                                <th>{{ "Masterform.Action" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="(_objSource|filter:SourceSearch)as _objSource">
                                <tr *ngFor="let item of _objSource|filter:SourceSearch">
                                    <td>{{item.SourceName}}</td>
                                    <td>({{item.CountryCode}}) {{item.Phone}}</td>
                                    <td>{{item.Email}}</td>
                                    <td>{{item.Address}}</td>
                                    <td>{{item.Country}}</td>
                                    <!-- <td>{{item.City}}</td> -->

                                    <!-- <td>{{item.Description}}</td> -->
                                    <!-- 
                                       
                                        <td>{{item.ContactUser}}</td>
                                        <td>{{item.Fax}}</td> -->

                                    <td [ngStyle]="{'color':item.IsActive=== true ? '#1dc9b7' : '#dc3545'}"
                                        (click)="UpdateStatus(item)">
                                        <div *ngIf="item.IsActive"
                                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-success curser-pointer w-min-70">
                                            Active
                                        </div>
                                        <div *ngIf="!item.IsActive"
                                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--unified-danger curser-pointer w-min-70">
                                            In-Active
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline btn-circle fs-5 btn-sm text-info p-0"
                                            (click)="source_edit(item)">
                                            <span class="mr-2">
                                                <svg data-v-9a6e255c="" xmlns="http://www.w3.org/2000/svg" width="14px"
                                                    height="14px" viewBox="0 0 24 24" fill="none" stroke="#2786fb"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-edit">
                                                    <path data-v-9a6e255c=""
                                                        d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                    </path>
                                                    <path data-v-9a6e255c=""
                                                        d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <span class="align-middle">Edit</span>
                                        </a>
                                    </td>
                                </tr>
                                <ng-container *ngIf="_objSource.length==0">
                                    <div class="d-flex-center kt-tb-error-box">
                                        <div class="m-auto text-center">
                                            <div class="svgs-1 kt-blank-msg">
                                                <img src="assets/media/Img/Source.png">
                                            </div>
                                            <h3 class="kt-blank-ttl"> {{ "Masterform.NoBlockData" | translate }} </h3>
                                            <p class="kt-blank-msg"> {{ "Masterform.NoSourcelist" | translate }} </p>
                                        </div>
                                    </div>

                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer">
                            <div class="page-div p-1 d-flex-center">
                            <div class="card-footer-left">
                              <span class="text-muted">
                                <span class="pagination__desc">
                                  <ng-container *ngIf="activePage==1">
                                      {{activePage}} - {{_CurrentpageRecords}}
                                  </ng-container>
                                  <ng-container *ngIf="activePage!=1">
                                      {{_CurrentpageRecords * (activePage-1) + 1}} - {{_CurrentpageRecords * activePage}}
                                  </ng-container>
                                  of {{TotalRecords}}
                                  </span>
                              </span>
                            </div>
                              <div class="card-footer-right d-flex">
                                <nav aria-label="items">
                                    <ul class="pagination m-0" >
                                      <li class="page-item" [ngClass]="(NextPage == false)?'page-item paginationdisable':'page-item'">
                                        <span [ngClass]="(NextPage == false)?'paginationpointerdisable':''"   role="button" class="page-link" aria-label="null page" tabindex="-1" aria-disabled="true" (click)="onClickPage(1)">
                                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--FirstPage">
                                            <path d="M24 0v24H0V0h24z" fill="none" opacity="0.87"></path>
                                            <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6 1.41-1.41zM6 6h2v12H6V6z"></path>
                                          </svg>
                                        </span>
                                      </li>
                                      <li class="page-item"  [ngClass]="(activePage == 1)?'page-item paginationdisable':'page-item'" >
                                        <span  [ngClass]="(activePage == 1)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="First Page" tabindex="-1" aria-disabled="true"  (click)="onClickPage(activePage - 1)">
                                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--ChevronLeft">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"></path>
                                          </svg>
                                        </span>
                                      </li>
                                      <li class="page-item active">
                                        <span role="button" class="page-link" aria-label="1 page">{{activePage}}</span>
                                      </li>
                                      <li class="page-item" *ngFor="let iteam of data">
                                        <span role="button" class="page-link" aria-label="2 page">{{activePage+1}}</span>
                                      </li>
                                      <li [ngClass]="(_CurrentpageRecords < 10)?'page-item paginationdisable':'page-item'">
                                        <span  [ngClass]="(_CurrentpageRecords < 10)?'paginationpointerdisable':''" role="button" class="page-link" aria-label="Last Page" (click)="onClickPage(activePage + 1)" >
                                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" 
                                          data-name="Material--ChevronRight">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"></path>
                                          </svg>
                                        </span>
                                      </li>
                                      <li class="page-item">
                                        <span role="button" class="page-link" aria-label="null page" (click)="onClickPage(LastPage)">
                                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" class="svg-icon--material svg-icon" data-name="Material--LastPage">
                                            <path d="M0 0h24v24H0V0z" fill="none" opacity="0.87"></path>
                                            <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6-1.41 1.41zM16 6h2v12h-2V6z"></path>
                                          </svg>
                                        </span>
                                      </li>
                                    </ul>
                                  </nav>
              
                              </div>
                          </div>
                          </div> -->
            </div>
        </div>
    </div>
</div>


<div class="kt-aside-menu-overlay" (click)="closeInfo()"></div>

<div id="addrck" class="wc-75 kt-quick-panel kt-quick-panel1 scroll-div">
    <a id="kt_quick_panel_close_btn" class="kt-quick-panel__close" (click)="closeInfo()">
        <i class="flaticon2-delete"></i>
    </a>
    <div id="kt_chat_content" class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="kt-chat">
            <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                <div class="kt-portlet__head">
                    <div class="kt-chat__head">
                        <div>
                            <div class="kt-chat__label">
                                <h4 class="mb-0" id="editrck"> {{ "Masterform.Add" | translate }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body py-1">

                    <form [formGroup]="sourceformGroup" (ngSubmit)="OnCreate()">
                        <div class="tab-content">
                            <div class="tab-pane d-flex flex-wrap justify-content-start align-items-baseline form-m">
                                <div class="form-cus w-50">
                                    <label class="form-label">{{ "Masterform.IsArchiving" | translate }}</label>
                                    <span class="text-danger ml-1">*</span><br>
                                    <mat-slide-toggle color="primary" formControlName="IsArchiving"
                                        [(ngModel)]="services._obj.IsArchiving">
                                    </mat-slide-toggle>
                                </div>
                                <div class="form-cus w-50">
                                    <label class="form-label">{{ "Masterform.IsCommunication" | translate  }}</label>
                                    <span class="text-danger ml-1">*</span><br>
                                    <mat-slide-toggle color="primary" formControlName="IsCommunication"
                                        [(ngModel)]="services._obj.IsCommunication">
                                    </mat-slide-toggle>
                                </div>
                                <!--confidential-->
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.IsConfidential" | translate }}</label>
                                    <span class="text-danger ml-1" style="display:none;">*</span><br>
                                    <mat-slide-toggle color="primary" formControlName="state"
                                        (change)="GetUsersListDrp()" [(ngModel)]="services._obj.IsConfidential">
                                    </mat-slide-toggle>
                                </div>
                                <!--confidential-->
                                <div class="form-cus" *ngIf="userlist==false">
                                    <label class="form-label">{{ "Masterform.UsersList" | translate }}</label>
                                    <span class="text-danger ml-1">*</span>
                                    <span class="material-icons fs-4 float-right tips"
                                        data-tippy-content="Select Users">info_outline</span>
                                    <ng-select [multiple]="true" [searchable]="true" formControlName="UsersList"
                                        style="width: 100%;" [placeholder]="SelectUsers" [(ngModel)]="AccessUsers">
                                        <ng-option *ngFor="let item of SourceList" [value]="item.UserId">
                                            {{item.ContactName}}
                                        </ng-option>
                                    </ng-select>
                                </div>

                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Source" | translate }}</label>
                                    <span class="text-danger ml-1">*</span>
                                    <span id="EnterSource" class="material-icons fs-4 float-right">
                                        info_outline
                                    </span>
                                    <input type="text" class="form-control" formControlName="SourceName"
                                        (change)="checkSourceNameExist()" id="txtsourcename"
                                        [placeholder]="EnterSourceName" [(ngModel)]="services._obj.SourceName" required
                                        minlength="3" maxlength="50">
                                    <div>
                                        <!-- <span style="color:red" [hidden]="SourceNameMinLength">
                                            Required Atleast 3 Characters</span> -->
                                    </div>
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.ContactPersonName" | translate }}</label>
                                    <span class="text-danger ml-1"></span>
                                    <span id="EnterContactPerson" class="material-icons fs-4 float-right">
                                        info_outline
                                    </span>
                                    <input formControlName="ContactUser" [placeholder]="EnterContactPersonName"
                                        class="form-control" type="text" [(ngModel)]="services._obj.ContactUser">
                                    <!-- <div>
                                        <span style="color:red" [hidden]="ContactUserMinLength">
                                            Required Atleast 3 Characters</span>
                                    </div> -->
                                </div>
                                <div class="form-cus">
                                    <label class="col-form-label ">{{ "Masterform.PhoneNumber" | translate }}</label><span class="text-danger ml-1">*</span>
                                    <div class="">
                                        <div class="input-group">

                                            <input formControlName="countrycode" (change)="checkphoneNoExist()"
                                                type="text" ng2TelInput (countryChange)="onCountryChange($event)"
                                                class="form-control inputgrp-first" style="width: 90px;"
                                                [(ngModel)]="services._obj.CountryCode" required maxlength="50" />
                                            <input (keypress)="keyPress($event)" type="text" formControlName="phone"
                                                id="txtphoneNo" class="form-control" [placeholder]="EnterPhoneNumber"
                                                [(ngModel)]="services._obj.Phone" />
                                            <div>
                                                <span style="color:red" [hidden]="PhoneNoMinLength">
                                                    Required Atleast 8 Characters</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-cus w-50">
                                    <label class="form-label">Phone Number</label><span class="text-danger ml-1">*</span>
                                    <input (keypress)="keyPress($event)" (change)="checkphoneNoExist()" id="txtphoneNo" type="text" class="form-control" formControlName="phone" minlength="9" maxlength="14" placeholder="Enter Phone Number" [(ngModel)]="services._obj.Phone" />
                                    <div>
                                        <span style="color:red" [hidden]="PhoneNoMinLength">
                                            Required Atleast 9 Characters</span>
                                    </div>
                                </div> -->
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Fax" | translate}}</label>
                                    <span class="text-danger ml-1"></span>
                                    <input  class="form-control" type="text" formControlName="Fax"
                                        [placeholder]="EnterFaxNumber" [(ngModel)]="services._obj.Fax">
                                    <!-- <div>
                                        <span style="color:red" [hidden]="FaxMinLength">
                                            Required Atleast 3 Characters</span>
                                    </div> -->
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Email" | translate }}</label>
                                    <span class="text-danger ml-1">*</span>
                                    <input formControlName="Email" [placeholder]="EnterEmailAddress"
                                        (change)="CheckEmailExist()" id="txtemail" class="form-control" type="email"
                                        [(ngModel)]="services._obj.Email">
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Address" | translate }}</label>
                                    <span class="text-danger ml-1">*</span>
                                    <input (change)="checkaddressExist()" id="txtaddress" placeholder="address"
                                        class="form-control" type="text" formControlName="Address"
                                        [placeholder]="EnterFullAddress" [(ngModel)]="services._obj.Address" required
                                        minlength="3" maxlength="50">
                                    <div>
                                        <!-- <span style="color:red" [hidden]="AddressMinLength">
                                            Required Atleast 3 Characters</span> -->
                                    </div>
                                </div>
                                <div class="form-cus w-50">
                                    <label class="form-label">{{ "Masterform.Country" | translate }}</label>
                                    <!-- <span class="text-danger ml-1">*</span> -->
                                    <ng-select (change)="getcities($event)" formControlName="Country"
                                        [placeholder]="SelectCountry" [(ngModel)]="services._obj.CountryId">
                                        <!-- <div *ngIf="submitted && f.Country.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.Country.errors.required">Country is
                                                Required </div>
                                        </div> -->
                                        <ng-option [value]="pd.CountryId" *ngFor="let pd of lstPrdcts">
                                            {{pd.Country}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-cus w-50">
                                    <label class="form-label">{{ "Masterform.City" | translate }}</label>
                                    <!-- <span class="text-danger ml-1">*</span> -->
                                    <ng-select formControlName="city" [placeholder]="SelectCity"
                                        [(ngModel)]="services._obj.CityId">
                                        <!-- <div *ngIf="submitted && f.city.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.city.errors.required">City is Required
                                            </div>
                                        </div> -->
                                        <ng-option [value]="cc.CityId" *ngFor="let cc of lstCities">
                                            {{cc.City}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Status" | translate }}</label>
                                    <div>
                                        <mat-slide-toggle color="primary" formControlName="status"
                                            [(ngModel)]="services._obj.IsActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="form-cus">
                                    <label class="form-label">{{ "Masterform.Note" | translate }}</label>
                                    <textarea formControlName="note" [placeholder]="EnterDescription"
                                        class="form-control" type="textarea"
                                        [(ngModel)]="services._obj.Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="task_act form-m">
                            <div class="form-cus">
                                <button class="btn btn-sm btn-info px-3 mt-2"
                                    [disabled]="sourceformGroup.invalid || (!services._obj.IsArchiving && !services._obj.IsCommunication)"
                                    *ngIf='!isShow'>
                                    {{ "Masterform.Save" | translate }}
                                </button>
                                <button type="submit" class="btn btn-sm btn-info px-3 mt-2" *ngIf='isShow'
                                    [disabled]="sourceformGroup.invalid || (!services._obj.IsArchiving && !services._obj.IsCommunication )">{{ "Masterform.Update" | translate }}</button>
                                <button class="btn btn-sm btn-secondary px-3 ml-2 mt-2" (click)="source_cl()">
                                    {{ "Masterform.Cancel" | translate }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>