/* .kt-portlet__body_scroll {
    height: calc(100vh - 100px);
    overflow: auto;
    visibility: hidden;
}
.kt-portlet__body_scroll1{
    height: calc(100vh - 140px);
} */

th {
    white-space: nowrap;
}

.no-border {
    border: none;
}

.modal-body .select2-container {
    width: 100% !important
}

.accordion,
.kt-widget5,
.projects-list,
.kt-portlet__body_scroll:hover {
    visibility: visible;
}

.kt-portlet__body_scroll::-webkit-scrollbar {
    width: 6px;
}

.kt-portlet__body_scroll::-webkit-scrollbar-track {
    background: #f8f9ff;
}

.kt-portlet__body_scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 40px;
}

.kt-portlet__body_scroll::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.table td {
    vertical-align: middle;
    align-items: center;
}
@media (max-width: 1024px){
    .kt-portlet__head {
        overflow: auto;
    }
}

/* .table td:last-child{
    text-align: right;
} */

.popover-table td {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 50%;
    vertical-align: top !important;
}

.expired {
    background-color: rgba(246, 78, 96, 0.2);
}

.completed {
    background-color: rgba(0, 128, 0, 0.2)
}

.no-border {
    border: none !important;
}

.created-portfolio {
    position: absolute;
    top: 15px;
    right: 40px;
}

.created-portfolio h6 {
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    line-height: 25px;
}

.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form {
    background-color: #f5f6fc;
    border-radius: 4px;
}

.kt-widget__title {
    /* font-size: 1.1rem; */
    font-weight: 500;
    color: #595d6e;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.kt-widget5__desc {
    margin: 0;
    padding: 0.4rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #74788d;
    white-space: nowrap;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kt-widget__other {
    /* font-size: 1.1rem; */
    font-weight: 400;
    color: #595d6e;
}
.txtm-cus {
    color: #969696;
}
.font-weight-400 {
    font-weight: 400;
}

.kt-widget5 .kt-widget5__item {
    border: none;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.accordion.accordion-solid .card {
    margin-bottom: 1rem;
}

.accordion.accordion-solid .card .card-header .card-title.expired {
    background-color: rgba(246, 78, 96, 0.2);
}

.accordion.accordion-solid .card .card-header .card-title.completed {
    background-color: rgba(0, 128, 0, 0.2)
}

.kt-aside-menu,
.kt-aside__brand {
    background-color: #2b3643;
    background: rgb(255,255,255);
    background-color: #0b0f1f;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link.active .kt-menu__link-icon {
    color: #fff;
}
.kt-aside__brand {
    padding: 0 5px;
}

.kt-aside--show #creative{
    display: none;
}
.dataTables_filter {
    display: none;
}

.kt-header--fixed .kt-wrapper {
    padding-top: 20px;
}

.font-20 {
    font-size: 20px!important;
}

.pl-30px {
    padding-left: 30px;
}

.custom-title {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.dataTables_wrapper .dataTable td:focus,
.dataTables_wrapper .dataTable th:focus {
    outline: none
}

.toast-top-right {
    top: auto !important;
    bottom: 12px;
    right: 12px;
}

.popover {
    width: max-content;
    /* transform: translate(73px, -10px) !important; */
}

h3.popover-header {
    background-color: #5867dd;
    color: white;
    width: 100%;
}


/* .bs-popover-right>.arrow{
    display: none;
} */
.mutlidropdown-set .multiselect-dropdown {
    width: 230px !important;
    height: 33px;
}
.multi .multiselect-dropdown {
    width: 100% !important;
    height: 33px;
}

.modal .mutlidropdown-set .multiselect-dropdown,
.mutlidropdown-full .multiselect-dropdown {
    width: 100% !important;
}

.dropdown-width-150 {
    width: 240px !important;
}


/* .multiselect-dropdown{
    width:160px !important;
} */

.kt-quick-search .kt-quick-search__form .form-control.project-search {
    height: auto !important;
}

.mutlidropdown-set .multiselect-dropdown .dropdown-btn {
    background-color: #f5f6fc;
    border: 1px solid #e7e8ed !important;
    height: 33px;
    padding: 6px 12px !important;
    overflow-y: auto;
    font-size: 11px;
}

.mutlidropdown-set .multiselect-item-checkbox input[type=checkbox]+div:before {
    border-color: #5867dd !important;
    border-radius: 4px;
}

.mutlidropdown-set .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    border: 2px solid #5867dd !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    background-color: #5867dd !important;
}

.mutlidropdown-set .dropdown-list .filter-textbox input {
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}

.bullet {
    display: inline-block;
    background-color: #E5EAEE;
    width: 10px;
    height: 2px;
    border-radius: 2rem;
}

.bullet.bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100% !important;
}

.bullet.bullet-ver {
    width: 2px;
    height: 10px;
}

.bullet.bullet-bar {
    width: 4px;
    height: 100%;
}

.bullet.bullet-bar.dar-border-height {
    height: 130px;
}

.card-title.plist-border-success {
    border-left: 5px solid #1dc9b7;
}

.card-title.plist-border-warning {
    border-left: 5px solid #ffb822;
}

.card-title.plist-border-info {
    border-left: 5px solid #2786fb;
}

.card-title.plist-border-danger {
    border-left: 5px solid #dc3545;
}

.card-title .text-mute {
    color: #808080;
}

.card-title .text-mute:hover {
    color: #007bff;
}

.dropdown-height-adjust {
    height: auto;
    max-height: 250px;
    overflow: auto;
}

.kt-footer {
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.curser-pointer {
    cursor: pointer !important;
}

.wc-75 {
    width: 74% !important;
    right: -74%;
}

.fs-1 {
    font-size: calc(1.3rem + .6vw)!important
}

.fs-2 {
    font-size: calc(1.275rem + .3vw)!important
}

.fs-3 {
    font-size: calc(1.26rem + .12vw)!important
}

.fs-4 {
    font-size: 1.25rem!important
}

.fs-5 {
    font-size: 1.15rem!important
}

.fs-6 {
    font-size: 1.075rem!important
}

.fs-7 {
    font-size: .95rem!important
}

.fs-8 {
    font-size: .85rem!important
}

.fs-9 {
    font-size: .75rem!important
}

.fs-10 {
    font-size: .5rem!important
}

.shadow-sm {
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
}

.kt-hover--primary:hover {
    background-color: #5867dd !important;
    color: #ffffff !important;
}

.fs-125 {
    font-size: 1.25rem!important
}

.kt-font-header {
    color: #445c5c !important;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
}

.navtab-bg .nav-link {
    background-color: #edeff1;
    margin: 0 5px;
}


/* SideInfo Animated */

.sideInfobar .kt-portlet__head{
  background-color: #f5f6fc;
}

.sideInfobar .closebtn {
	text-decoration: none;
	color: #333;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
  color: #2786fb;
}

.sideInfobar .kt-widget1 .kt-widget1__item{
  border-bottom: 0.07rem dashed #dedede;
  padding: 6px;
}
.sideInfobar .kt-widget1 .kt-widget1__item.dark{
  border-bottom: 0.07rem dashed rgba(0,0,0,0.3);
}

.kt-inbox__datetime{
  font-size: 13.5px !important;
}
.brdr-b {
    border-bottom: 1px solid #dedefd;
}
.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title{
  font-weight: 600;
}
.sideInfobar .title-sidebar{
  width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animate-right {
    transition: all 0.3s ease 0s !important;
}

.offcanvas {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
    box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
}

.name-box {
    display: inline-block;
    font-size: 9px;
    width: 30px;
    height: 30px;
    background-color: #666A86;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 5px;
}

.cir-icon .fa-circle {
    vertical-align: middle;
    color: #42a0ff;
    font-size: 20px;
}
.multiselect-dropdown .dropdown-btn .dropdown-up, .multiselect-dropdown .dropdown-btn .dropdown-down{
    border: solid #72747c !important;
    border-width: 0px 2px 2px 0px !important;
    padding: 3px;
}
.multiselect-dropdown .dropdown-btn .dropdown-down{
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
.multiselect-dropdown .dropdown-btn .dropdown-up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
#rightbar-overlay {
    background-color: rgba(50, 58, 70, .2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 998;
    transition: all .2s ease-out;
    cursor: pointer;
}
.no-after:after {
    content: none !important;
}
.accordion.accordion-solid .card.brdr-b {
    border: 1px solid #ebedf2;
}
/* More Detail Component */
/* Ribbons  */
.ribbon-box {
    position: relative;
    z-index: 998;
}
.ribbon {
    position: relative;
    clear: both;
    padding: 5px 12px;
    margin-bottom: 15px;
    box-shadow: 2px 5px 10px rgb(50 58 70 / 15%);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    z-index: 9999;
}
.float-start {
    float: left!important;
}
.ribbon-info {
    background: #4FC6E1;
}
.ribbon-box .ribbon {
    border-radius: 0 3px 3px 0;
}
.ribbon-box .ribbon:before {
    content: " ";
    border-style: solid;
    border-width: 10px;
    display: block;
    position: absolute;
    bottom: -11px;
    left: 3px;
    margin-bottom: -10px;
    z-index: -1;
    height: 0;
    width: 0;
    border-bottom: none;
    border-left: 8px solid transparent;
    top: 26px;
    z-index: 1;
}
.ribbon-box .ribbon-info:before {
    border-color: #4FC6E1 transparent transparent;
}
.ribbon-success {
    background: #008080;
}
.ribbon-box .ribbon:before {
    content: " ";
    border-style: solid;
    border-width: 10px;
    display: block;
    position: absolute;
    bottom: -11px;
    left: 3px;
    margin-bottom: -10px;
    z-index: -1;
    height: 0;
    width: 0;
    border-bottom: none;
    border-left: 8px solid transparent;
    top: 26px;
    z-index: 1;
}
.ribbon-box .ribbon-success:before {
    border-color: #008080 transparent transparent;
}
.ribbon-box .ribbon-content {
    clear: both;
}
.rounded {
    border-radius: 0.25rem!important;
}
.br-50{
    border-radius: 50% !important;
}
.created-date {
    position: absolute;
    top: 15px;
    right: 40px;
}
.created-date h6 {
    text-align: center;
    background-color: #75A8AE;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
}
.trans{
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.cust-btn{
    padding: 3px 7px;
}
.text-info-1{
    color: #00aef3;
}
.kt-portlet__head-title, .pro-nm{
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.side--on{
    width: 35% !important;    
    transition: all 0.3s ease 0s !important;
}
@media (max-width: 1366px){
    .side--on{
    width: 40% !important;   
    }
}
@media (max-width: 768px){
    .side--on{
    width: 44% !important;   
    }
}

@media (max-width: 568px) {
    .side--on{
    width: 100% !important;
    }
}
.cir-icon .fa-code-branch, .cir-icon .fa-stream {
    vertical-align: middle;
    color: #42a0ff;
    font-size: 23px;
    transform: rotate(180deg) scaleX(-1);
}
@media (min-width: 1025px) {
    .kt-aside--minimize .kt-aside,
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--hover>.kt-menu__link {
        width: 60px;
    }
    .kt-aside--fixed.kt-aside--minimize .kt-wrapper {
        padding-left: 48px;
    }
    .kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--hover>.kt-menu__submenu {
        margin-left: 61px !important;
    }
    .kt-header--fixed.kt-aside--minimize .kt-header,
    .kt-aside .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--hover.kt-menu__item--submenu-fullheight:not([data-ktmenu-submenu-mode='accordion'])>.kt-menu__submenu {
        left: 60px;
    }
}

@media (max-width: 1024px) {
    .margin-height {
        margin-top: 50px !important;
    }
}

.tippy-box[data-theme~='gradient'] {
        background: linear-gradient(135deg, #a390f5 0%, #b187d1 100%);
      color: #fff;
    }
    .tippy-box[data-theme~='gradient'][data-placement^='top'] > .tippy-arrow::before {
      border-top-color: #b187d1;
    }
    .tippy-box[data-theme~='gradient'][data-placement^='bottom'] > .tippy-arrow::before {
      border-bottom-color: #b187d1;
    }
    .tippy-box[data-theme~='gradient'][data-placement^='left'] > .tippy-arrow::before {
      border-left-color: #b187d1;
    }
    .tippy-box[data-theme~='gradient'][data-placement^='right'] > .tippy-arrow::before {
      border-right-color: #b187d1;
    }
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes effect {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.3, 0.6);
    }

    50% {
        transform: scale(1.1, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
  .tippy-box[data-animation='rotate'][data-state='hidden'] {
      opacity: 0;
      animation: effect  linear 0.4s;;
    }
    .ver-m{
        vertical-align: middle;
    }

    .form-check-input:checked[type=radio] {
        background-image: url('../../assets/images/bgwh.png');
    }
    .form-check-input:checked {
        background-color: #5867dd;
        border-color: #5867dd;
    }
    .form-check-info .form-check-input:checked {
        background-color: #2786fb;
        border-color: #2786fb;
    }
    .form-check-primary .form-check-input:checked {
        background-color: #5867dd;
        border-color: #5867dd;
    }
    .form-check-success .form-check-input:checked {
        background-color: #1dc9b7;
        border-color: #1dc9b7;
    }
    .form-check-danger .form-check-input:checked {
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .form-check-warning .form-check-input:checked {
        background-color: #ffb822;
        border-color: #ffb822;
    }
    .form-check-dark .form-check-input:checked {
        background-color: #282a3c;
        border-color: #282a3c;
    }
    .form-check-input[type=radio] {
        border-radius: 50%;
    }
    .form-check .form-check-input {
        float: left;
        margin-left: -1.643em;
    }
    .form-check-input {
        width: 1.143em;
        height: 1.143em;
        margin-top: 0.1785em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid #adb5bd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .subtask-list .form-check{
        padding-left: 1.5rem !important;
        padding-right: 0.5rem !important;
    }
    .filter-dot:after {
        content: "•";
       position: absolute;
       top: -3px;
       right: 1px;
       font-size: 30px;
       color: #CD5C5C;
   }
   .filter-dot {
       position: relative;
   } 

   .sideInfobar {
    box-shadow: 0 1px 9px -3px rgb(0 0 0 / 75%) !important;
    background: #fff;
   }
   .bg-blued {
    background: #516c8d !important;
}
.swal2-icon.swal2-icon-show {
    margin-left: auto;
    margin-right: auto;
}
.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.w-100px{
  width: 100px;
}
.w-200px{
  width: 200px;
}
.w-max-100px{
  max-width: 100px;
}
.w-max-180px{
  max-width: 180px;
}
.w-max-200px{
  max-width: 200px;
}
.offcanvas-header h4 {
    color: #646c9a;
    font-size: 1.4rem;
}
.h-6px {
    height: 6px !important;
}
.d-inline-blck{
    display: inline-block;
}
.bg-blued .closebtn i {
    color: #fff;
}
.shadow-0 {
    box-shadow: none !important;
}

.b-avatar {
    font-size: .857rem;
    font-weight: 600;
    color: #fff;
}
.rounded-circle {
    border-radius: 50%!important;
}
.rounded-xl {
    border-radius: 0.5rem!important;
}

.b-avatar.badge-light-primary {
    background-color: rgba(115,103,240,.12);
}
.b-avatar.badge-light-primary {
    color: #7367f0;
}
.b-avatar {
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    max-width: 100%;
    max-height: auto;
    overflow: visible;
    position: relative;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.b-avatar .b-avatar-custom, .b-avatar .b-avatar-img, .b-avatar .b-avatar-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-mask-image: radial-gradient(#fff,#000);
    mask-image: radial-gradient(#fff,#000);
}
.b-avatar .b-avatar-custom, .b-avatar .b-avatar-img, .b-avatar .b-avatar-text {
    border-radius: inherit;
}
.b-avatar .b-avatar-img img {
    width: 100%;
    height: 100%;
    max-height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
svg.feather {
    outline: none;
}

.feather {
    font-family: feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.asgn-colpse.collapsed .fa-chevron-up:before {
    content: "\f078";
}
.shad{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%) !important;
}

.grid-template-columns-5 {
    grid-template-columns: repeat(5,minmax(0,1fr)) !important;
}

.grid-template-columns-6 {
    grid-template-columns: repeat(6,minmax(0,1fr)) !important;
}
.grid-template-columns-7 {
    grid-template-columns: repeat(7,minmax(0,1fr)) !important;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.grid{
    display: grid;
}
.bg-gray-400 {
    --bg-opacity: .12 !important;
    background-color: rgb(148 163 184 / var(--bg-opacity))!important;
}
.count-list label {
    margin-bottom: 0px;
}
.lead {
    line-height: 1.25rem!important;
    font-weight: 500!important;
    font-size: 1.1rem!important;
    color: #1e293b;
}
.count-num{
    border-radius: 20px !important;
    padding: 4px 4px !important;
    line-height: 1;
    margin-right: 5px;
}
@media (max-width: 1600px){
    .grid-template-columns-7 {
        grid-template-columns: repeat(6,minmax(0,1fr)) !important;
    }
}
@media (max-width: 1440px){
    .grid-template-columns-7 {
        grid-template-columns: repeat(5,minmax(0,1fr)) !important;
    }
}
@media (max-width: 1260px){
    .grid-template-columns-7 {
        grid-template-columns: repeat(4,minmax(0,1fr)) !important;
    }
}
@media (max-width: 768px){
    .grid-template-columns-7 {
        grid-template-columns: repeat(3,minmax(0,1fr)) !important;
    }
}
.flex-1 {
    flex: 1;
}
.box1{
    box-shadow: 0 .1rem 1rem .25rem #0000000d!important;
    background-clip: border-box;
    border: 1px solid #ebedf2;
}
.btn.btn-light-primary {
    color: #3699FF;
    background-color: #E1F0FF;
    border-color: transparent;
}
.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-light-primary:focus:not(.btn-text), .btn.btn-light-primary.focus:not(.btn-text) {
    color: #FFFFFF;
    background-color: #3699FF;
    border-color: transparent;
}

.h-50px {
    height: 50px !important;
}
.h-60px {
    height: 60px !important;
}
.h-70px {
    height: 70px !important;
}
.h-80px {
    height: 80px !important;
}
.h-100px {
    height: 100px !important;
}
.gap-4{
    gap: 4rem;
}
.gap-5{
    gap: 5rem;
}
.gap-6{
    gap: 6rem;
}
.arrow-none:after{
    content: none;
}

.btn-app {
    background: #fff;
    border: 1px solid #cfcbcb;
    color: #1e1f21;
    font-size: 1rem;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 6px;
    margin-right: 8px;
  }
  .lbl-suc{
    border: 1px solid #13d33c;
  }
  .lbl-war{
    border: 1px solid #ffac15;
  }
  .lbl-dan{
    border: 1px solid #ff2c2c;
  }
  .lbl-new1{
    border: 1px solid teal;
  }  
  .lbl-transfer{
    border: 1px solid #f318e10d;
  }
  span.textts {
    color: #8993A4;
    font-size: 12px;
    padding: 0px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
  }
  
.p-cb{
    padding:1.25rem !important;
  }
  .pl-cb{
    padding-left:1.25rem !important;
  }
  .pr-cb{
    padding-right:1.25rem !important;
  }
  .pt-cb{
    padding-top:1.25rem !important;
  }
  .pb-cb{
    padding-bottom:1.25rem !important;
  }
  .px-cb{
    padding-right:1.25rem !important;
    padding-left:1.25rem !important;
  }
  .py-cb{
    padding-top:1.25rem !important;
    padding-bottom:1.25rem !important;
  }
  .mh-325 {
    max-height: 325px!important;
}
  .bg-gry{
    background: #f9fafb;
  }
  .z-1k{
    z-index: 1000;
  }
  ::ng-deep ng-select.kt-input {
    min-height: 36px;
    height: auto !important;
  }
  .kt-quick-panel--on{
    width: 65% !important;
}
.kt-action-panel--on{
    width: 50% !important;
}
@media Screen and (max-width: 1024px) {

    .kt-quick-panel--on {
        width: 75% !important;
    }
    .kt-action-panel--on {
        width: 65% !important;
    }
}
@media Screen and (max-width: 768px) {

    .kt-quick-panel--on, .kt-action-panel--on {
        width: 100% !important;
    }
}

.sideInfobar::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}
.sideInfobar::-webkit-scrollbar-button {
    display: none;
}


.sideInfobar::-webkit-scrollbar-thumb {
    background: #ccc;
}

.sideInfobar::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::ng-deep .input-group-append .mat-icon-button {
    height: 35px !important;
}
button[disabled] {
    cursor: not-allowed;
  }
.dropzone-delete {
    float: right;
}
.btn-mini{
    position: absolute;
    left: 100%;
    bottom: 120px;
    background-color: #242736;
    color: #eeeeee;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    min-width: 0;
    padding: 0;
    border: 0;
    transition-property: box-shadow,transform,opacity,background;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    transform: translate(-50%,0) rotate(0) skew(0) skewY(0) scaleX(1) scaleY(1);
}
.kt-aside--minimize .btn-mini i{
    transform: rotate(180deg);
    transition-property: box-shadow,transform,opacity,background;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.logo-txt{
    margin-left: 3px;
}
.kt-aside--minimize .logo-txt{
    width: 0px;
}
.kt-aside--show .logo-txt {
    width: 230px;
    transition: all 0.3s ease;
}
.symbol.symbol-30px .symbol-label {
    width: 30px;
    height: 30px;
}