<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi mb-2">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Performance Dashboard
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Calendar -->
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Total Projects Vs Total Completed
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="chartdiv5" style="width: 100%; height: 500px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Project Type vs Completed Projects
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="chartdiv" style="width: 100%; height: 500px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Status Performance
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="chartdiv4" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Team Performance
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="chartdiv3" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                         Portfolio Graph vs Team members
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="chartdiv2" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rightbar-overlay" (click)="closeInfo()"></div>
