/*-----new project add side bar css------*/

.add_new_project_slide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}

.open_sidebar {
  width: 100%;
}

.step-line {
  /* background: #e0e0e0; */
  height: 2px;
  width: 34vw;
  position: absolute;
  top: 45px;
  z-index: 1;
  border-top: 1px dashed #dfdfdf;
}

.nav-pills.custom li {
  background: transparent;
  margin: 0 20px;
  z-index: 2;
}

.nav-link.active.custom {
  background-color: transparent;
  color: #007bff;
}

.nav-link.custom {
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-width: 8vw;
}

.nav-link.custom span.icon {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
}

.nav-link.custom.active span.icon {
  background-color: #007bff;
  color: #fff;
}

.nav-link.custom i {
  font-size: 28px;
}

.tab-content.custom {
  display: flex;
  justify-content: center;
}

.tab-content.custom .tab-pane {
  width: 60vw;
}

@media screen and (min-width: 840px) {
  .tab-content.custom .tab-pane {
    width: 60vw;
  }
}

.nav-link.active.custom:hover {
  background-color: unset !important;
  color: #007bff !important;
}

.kt-portlet .kt-portlet__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
}

.kt-portlet__body_scroll {
  height: calc(100vh - 130px);
  min-height: 50vh;
  ;
  overflow-y: auto;
}

.section-bottom {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 3rem;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 10px 15px #5867dd40;
}

.section-bottom .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}

.section-bottom .section-header h3 {
  letter-spacing: 1px;
}

.section-bottom .section-header button {
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  background-color: #F2F0F0;
}

.section-bottom .section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  color: #fff;
}

/* .section-bottom .section-cards .card:nth-of-type(1) {
    background-color: #F4B73F;
    box-shadow: 0 5px 8px #F4B73F;
  }
  .section-bottom .section-cards .card:nth-of-type(2) {
    background-color: #F97751;
    box-shadow: 0 5px 8px #F97751;
  }
  .section-bottom .section-cards .card:nth-of-type(3) {
    background-color: #F99651;
    box-shadow: 0 5px 8px #F99651;
  } */
.section-bottom .section-cards .card {
  text-align: center;
  padding: 2rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* opacity: -0.5; */
  align-items: center;
  border-radius: 1rem;
}

.section-bottom .section-cards .card div {
  display: flex;
  align-items: center;
}

.section-bottom .section-cards .card div h1 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.section-bottom .section-cards .card div i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.section-bottom .section-cards .card p {
  margin-top: -0.8rem;
  text-align: left;
  opacity: 0.9;
}

.kt-cd-tlv {
  margin-top: 13px;
  text-align: center;
}

.kt-cd-tlv p {
  color: #676f9c;
  font-weight: 500;
  font-size: 14px;
}

.card {
  cursor: pointer;
  transition: 0.6s;
  position: relative;
}

.card:hover {
  box-shadow: 0 20px 50px rgb(0 0 0 / 22%);
}

.kt-ctv-btn {
  margin-top: 3rem;
  text-align: end;
}

.my-ct-v-btn {

  margin-right: 1px;
}

.kt-desc-textarea {
  min-height: 68px;
}

.kt-ctv-btn-two {
  margin-top: 3rem;
}

.my-ct-v-btn-back {
  min-width: 120px;
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #6b6b6b !important;
}

.ng-select-container {
  border: 0 !important;
}

.nav-pills .nav-item .nav-link:active,
.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:hover {
  background-color: unset;
  color: unset;
}


/*-------------file uploade -----------*/
.formbold-mb-5 {
  margin-bottom: 10px;
}

.formbold-pt-3 {
  padding-top: 12px;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}

.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}

.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}

.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.formbold-file-input input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.formbold-file-input label {
  /* position: relative; */
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}

.formbold-drop-file {
  display: block;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 14px;
  margin-bottom: 1px;
}

.formbold-or {
  font-weight: 400;
  font-size: 11px;
  color: #b1b1b1;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.formbold-browse {
  font-weight: 400;
  font-size: 12px;
  color: #959595;
  display: inline-block;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.formbold-file-list {
  border-radius: 6px;
  background: #f5f7fb;
  padding: 16px 16px;
}

.formbold-mb-5.formbold-file-input {
  overflow: hidden;
  position: relative;
}

.formbold-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formbold-file-item button {
  color: #07074d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.formbold-file-name {
  font-weight: 400;
  font-size: 14px;
  color: #5867dd;
  padding-right: 12px;
}

.formbold-progress-bar {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: #e2e5ef;
}

.formbold-progress {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  background: #6a64f1;
  border-radius: 8px;
}

@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

.btn.btn-icon svg:hover {
  /* fill: #737373; */
  fill:#ffffff;
}

/*---project shart data view ---------*/
.card {
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
}

.card.card-body {
  padding: 2rem 2.25rem;
  color: var(--bs-card-color);
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.rounded {
  border-radius: 0.475rem !important;
}

.w-lg-150px {
  width: 50px !important;
}

.h-lg-150px {
  height: 63px !important;
}

.bg-light {
  --bs-bg-rgb-color: 249, 249, 249;
  background-color: #f5f5f5 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.flex-column {
  flex-direction: column !important;
}

.border-gray-300 {
  border-color: #dbdfe9 !important;
}

.border-dashed {
  border-style: dashed !important;
  border-color: #dbdfe9;
}

.border-dashed {
  border-style: dashed !important;
  border-color: #dbdfe9;
}

.px-4 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.min-w-125px {
  min-width: 125px !important;
}

.fw-stl {
  color: #4d5aa1;
  font-weight: 600;
}

.fs-7 {
  font-size: .95rem !important;
}

.fw-semi-lt {
  color: #8f8f8f;
  margin-top: 3px;
}

.fs-8 {
  font-size: .85rem !important;
}

.mw-lg-75px {
  max-width: 35px !important;
}

.me-2 {
  margin-right: 10px;
}

.my-crd {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 5px 20px #5867dd38;
}

.kt-sub-box-vew .mb-1 .form-group {
  margin-bottom: 3px;
}

.my-sub-task-tittle h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #686c8b;
  padding: 4px 0px;
  letter-spacing: 0.5px;
}

button.btn.btn-sm.btn-bg-light.Clr-act {
  background-color: #f1f1f2;
  margin-right: 10px;
}

.Kt-act-btnb {
  text-align: end;
  padding-right: 3px !important;
}

.kt-act-no {
  text-align: center;
  margin-right: 8px;
  background-color: #e9f3ff;
  padding: 6px;
  border-radius: 5px;
  color: #2786fb;
}

.kt-act-no span {
  color: #818080;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.kt-act-no p {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
}

.kt-act-ttl-v h6 {
  color: #6c79e1;
  margin-bottom: 3px;
  font-size: 16px;
}

.kt-act-ttl-v p {
  margin-bottom: 0px;
  color: #a3a3a3;
}

.kt-act-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.kt-act-btns {
  border-left: 1px solid #ccc;
  padding: 8px;
}

.kt-dl-icon.db-v {
  margin-right: 10px;
}

.kt-dl-icon {
  cursor: pointer;
  opacity: 0.7;
}

.kt-dl-icon:hover {
  opacity: 1;
}

.kt-act-card {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 1px 20px #cccccc78;
  margin-bottom: 8px;
}

span.kt-act-svg-ic {
  border-right: 1px solid #ccc;
  margin: 0pc 4px;
  padding-right: 4px;
}

span.kt-act-svg-ic svg {
  position: relative;
  top: -2.3px;
}

.kt-vi-act-dtl {
  margin-right: 10px;
}

.kt-sub-box-vew {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 5px 20px #5867dd38;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kt-portlet__foot {
  padding: 0rem 2rem;
}

.kt-portlet__foot {
  box-shadow: 0px -5px 6px #cccccca1;
}

.add_new_project_slide .kt-portlet__body_scroll {
  height: calc(100vh - 70px);
  min-height: 50vh;
  ;
  overflow-y: auto;
}

.add-vhd-h {
  height: calc(100vh - 117px) !important;
}

/*------to show team members ----------*/
.symbol-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.symbol-group.symbol-hover .symbol {
  cursor: default;
}

.symbol-group .symbol {
  position: relative;
  z-index: 0;
  margin-left: -10px;
  transition: all .3s ease;
}

.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #252f4a;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}

.text-inverse-warning {
  color: #ffffff !important;
}

.bg-warning {
  --bs-bg-rgb-color: rgba(255, 199, 0);
  background-color: #ffc700 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol-group .symbol-label {
  position: relative;
}

.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol-group.symbol-hover .symbol {
  cursor: default;
}

.symbol .symbol-label:after {
  border-radius: 0.475rem;
}

.symbol-group .symbol-label:after {
  display: block;
  content: " ";
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bg-primary {
  --bs-bg-rgb-color: rgba(62, 151, 255);
  background-color: #3e97ff !important;
}

.text-inverse-primary {
  color: #ffffff !important;
}

.symbol.symbol-35px>img {
  width: 35px;
  height: 35px;
}

.text-inverse-danger {
  color: #ffffff !important;
}

.text-gray-300 {
  color: #dbdfe9 !important;
}

label.my-chosse-flv {
  min-height: 55px !important;
  background-color: #e1e1e1;
  cursor: pointer;
}

.my-chosse-flv .formbold-drop-file {
  display: block;
  font-weight: 400;
  color: #717171;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 12px;
  font-size: 16px;
  margin-bottom: 0;
}

.right-side-act {
  padding: 15px;
  border-left: 3px solid #d9d9d9;
  height: calc(100vh - 117px);
  overflow: auto;
}

.kt-action-list {
  margin-top: 1rem;
}

.Act-tittle-Right h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.Act-tittle-Right {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 9px;
}

.kt-right-style {
  padding-left: 15px;
  border-left: 3px solid #d9d9d9;
}

.sm-btn-submit {
  width: 70px !important;
  padding: 5px;
  background-color: #2196F3 !important;
  border: 1px solid #2196f3 !important;
}

.sm-btn-close {
  min-width: 60px !important;
  padding: 5px;
}

.VW_60 {
  width: 60vw;
  ;
}

.act-bd-box {
  margin-top: 1rem;
}

label.checkbox.kt-fnt-vd input {
  font-size: 35px;
  position: relative;
  top: 1px;
  /* height: 12px; */
  margin-right: 5px;
}

label.checkbox.kt-fnt-vd {
  margin-bottom: 0px !important;
  font-size: 15px;
  color: #6e7497;
}

@media (max-width: 2500px) {
  .tab-content.custom .tab-pane {
    width: 50vw;
  }
}

@media (max-width: 1280px) {
  .tab-content.custom .tab-pane {
    width: 60vw;
  }
}

.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}

.l-radio:hover,
.l-radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}

.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}

.l-radio input:focus {
  outline: none;
}

.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}

.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}

/*=============================== css project create ==========================*/
.card {
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
}

.card-Scroll {
  /* height: 334px; */
  height: calc(100vh - 310px);
  overflow-y: scroll;
  padding: 2rem 2.25rem;
}

.card .card-body {
  padding: 2rem 2.25rem;
}


    .card-Scroll::-webkit-scrollbar {
      width: 5px;
    }

    .card-Scroll::-webkit-scrollbar-thumb {
      background-color: #8cabfa;
      border-radius: 50px;
    }

    .card-Scroll::-webkit-scrollbar-track {
      /* background-color: #e9ebee; */
      background-color: #ffffff;
      border-radius: 50px;
    }
    .kt-info-box{
        padding: 10px 10px;
        border-bottom: 1px solid #ededed;
        padding-right: 0px;
        border: 1px solid #ededed;
    }
.card-Scroll::-webkit-scrollbar {
  width: 5px;
}

.card-Scroll::-webkit-scrollbar-thumb {
  background-color: #8cabfa;
  border-radius: 50px;
}

.card-Scroll::-webkit-scrollbar-track {
  /* background-color: #e9ebee; */
  background-color: #ffffff;
  border-radius: 50px;
}

.kt-info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
  padding-right: 0px;
  border: 1px solid #ededed;
}

.kt-info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #6388e3;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.kt-project-name h4 {
  color: #181818;
  font-weight: 700;
}

.kt-project-desc {
  margin-top: 5px;
}

.kt-project-desc p {
  margin: 0;
  color: #999999;
  font-weight: 400;
}

.kt-project-type {
  text-align: center;
}

.Add_Action_btn {
  background-color: #2786fb;
  border: 1px solid #2786fb;
  font-size: 13px !important;
  padding: 3px 5px;
  border-radius: 4px !important;
  border-width: 1px !important;
  font-weight: 400;
  font-weight: 400 !important;
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.kt-project-action-list-view {
  padding: 10px;
}

.kt-projcect-act-list {
  margin-bottom: 10px;
}

.kt-p-box {
  padding: 10px 10px;
  background-color: #f6f6f6;
  height: 100%;
}

.kt-action-p-tittle {
  margin-bottom: 11px;
}

.kt-action-p-tittle h4 {
  font-size: 14px;
  font-weight: 500;
  color: #5d5d5d;
}

.kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.kt-p-action-No {
  color: #567edf;
  font-weight: 700;
}

button.Create_pp {
  border: 1px solid #939393;
  background-color: transparent;
  border-radius: 5px;
  color: #939393;
}

.kt-p-action-Status {
  margin-top: 6px;
}

/*--------- steps process css ----------*/
.sbs--basic {
  margin: 0 -1rem;
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.sbs--basic li {
  flex: 1;
  padding: 0 1rem;
}

.sbs>li {
  cursor: default;
}

.sbs>li.active {
  cursor: default;
}

.sbs--basic li .step {
  padding: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sbs--basic li .step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-top: 4px solid #dfe2e5;
}

.sbs--basic li.active>.step::before {
  border-color: #567edf;
  border-top-style: dotted;
}

.sbs--basic li .step .title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  color: #8a94a1;
}

.sbs--basic li.active>.step .title {
  color: #567edf;
}

.sbs--basic li .step .description {
  font-weight: bold;
}

.sbs--basic li.finished>.step::before {
  border-color: #567edf;
}

.card-hader {
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
  cursor: default;
  transition: 0.6s;
  position: relative;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
  margin-bottom: 10px;
}

.add_tema_tab,
.Add_action_tab {
  display: none;
}

.rvg-ht {
  height: 100px !important;
  margin: 5px 0px;
}

.kt-prd-dtl {
  height: calc(100vh - 365px);
  overflow-x: auto;
  overflow: hidden;
  overflow-y: auto;
}

.btn-move-fw {
  background-color: #2786fb;
  color: #fff;
  font-size: 14px;
  border: 2px solid #2786fb;
  opacity: 1;
  font-size: 13px;
  width: 120px;
  letter-spacing: 0;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-move-fw:hover {
  background-color: #2786fb !important;
  color: #fff !important;
}

.Kt-Pd-Status.Add_Action_btn:hover {
  background-color: #2786fb;
  color: #fff;
}

.act-Submit {
  /* background-color: #567edf !important; */
  border: 2px solid #567edf !important;
  color: #567edf !important;
}

.act-Submit:hover {
  background-color: #567edf !important;
  border: 2px solid #567edf !important;
  color: #fff !important;
}

/*=========== new css add for new create project creation ===========*/
.project-ct-d {
  align-items: center;
}

span.info-ic-guide svg {
  width: 15px;
  height: 15px;
  display: inline-flex;
  position: relative;
  top: -1px;
}

.project-ct-d {
  align-items: center;
  border-bottom: 0px;
  padding: 1rem 1rem !important;
}

.title-view-md {
  text-align: center;
}

.title-view-md h2 {
  color: #898989;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

.title-view-md p {
  color: #838383;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.op-card {
  text-align: center;
  min-width: 0;
  word-wrap: break-word;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  padding: 2rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.op-svg-ic {
  margin-bottom: 2rem;
}

.op-title-ic p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.option-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  color: #fff;
  width: 58vw;
  margin: auto;
  margin-top: 4rem;
}

.op-card:hover {
  background-color: #fff;
  box-shadow: 10px 50px 50px #0000001a;
}

.Scratech .op-svg-ic svg path {
  stroke: #195ABC;
}

.Scratech .op-svg-ic svg circle {
  stroke: #669DF6;
}

.projects .op-svg-ic svg path {
  fill: #669DF6;
}

.projects .op-svg-ic svg .dtv {
  fill: #195ABC;
}

.template .op-svg-ic svg path {
  fill: #669DF6;
}

.template .op-svg-ic svg .dtv {
  fill: #195ABC;
}

.Assigned-projects-list {
  width: 100%;
}

.kt-prd-dtl {
  height: 100%;
  /* min-height: calc(100vh - 99px); */
  overflow-x: auto;
  overflow: hidden;
  overflow-y: auto;
}

.kt-project-sts-data {
  margin-top: 6px;
  color: #3b3b3b;
  font-weight: 500;
  font-size: 13px;
}

.UnderApproval {
  background-color: #888888 !important;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: kt-get-color();
  border-radius: 0.25rem;
}

.progress.kt-projcect-progress.bar {
  border-radius: 50px;
  height: 10px;
}

.kt-prg-bar-info {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
}

.border-b-dashed {
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 10px;
}

.kt-info-data-v {
  background-color: #f0f0f0;
  border-radius: 35px;
  padding: 5px 4px;
  font-weight: 500;
  color: #4f4f4f;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-action-view {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-dv-text-v p {
  color: #8f8f8f;
  width: 68%;
  margin: auto;
  font-size: 14px;
  margin-top: 1rem;
}

.hin-ht {
  min-height: 90vh;
}

.guide-view {
  cursor: pointer;
}

::ng-deep #staticBackdrop {
  z-index: 99999999999999999999 !important;
}

::ng-deep .modal-backdrop.fade.show {
  display: none !important;
}

/*--------- project reject model css --------------*/
.Project_reject_model.fade.show {
  background-color: #00000099;

}

.modal-Y_wd {
  max-width: 50%;
}

.project_reject_msg {
  padding: 10px;
  text-align: center;
  background-color: #ee1c1c1c;
  border-radius: 5px;
  margin-top: 9px;
}

.project_reject_msg p {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 19px;
  color: #e50d0d;
  letter-spacing: 0.3px;
  font-weight: 400;
}



.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #edeae9;
  box-shadow: 0 1px 9px -3px rgb(0 0 0 / 75%);
  transition: transform 0.2s ease-in;
  overflow-x: hidden;
  color: #212529;
}

.PA_Edit_btn svg {
  width: 15px;
  height: 15px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn {
  margin-left: 7px;
  position: relative;
  top: -1px;
  border-left: 1px solid #ccc;
  padding-left: 7px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn .lbl-hdn {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: .2s;
  color: #61a2f1;
  z-index: -1;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn:hover .lbl-hdn {
  max-width: 200px;
  margin-left: 5px;
  opacity: 1;
  z-index: 1;
}

.PA_Edit_btn:hover svg {
  transform: rotate(360deg);
}

.kt-portlet__body_scroll {
  height: calc(100vh - 156px);
  overflow-y: hidden;
}

.kt-portlet__body_scroll:hover {
  overflow-y: auto;
}

.kt-portlet .kt-portlet__body {
  flex-direction: column !important;
}

.kt-quick-Project_edit_form--on {
  width: 58%;
}

.kt-info-body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  min-height: calc(100vh - 4vh);
  height: auto;
}

.svg-icon {
  line-height: 1;
}

.svg-icon.svg-icon-2 svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.svg-icon.svg-icon-info svg {
  fill: #2786fb !important;
}

.svg-icon.svg-icon-info svg :not(.permanent):not(g) {
  fill: #2786fb !important;
}

.input-icon.project-name_ed input {
  color: #181818;
  font-weight: 700;
  font-size: 1.4rem;
}


.input-icon.project_des_ed textarea {
  margin: 0;
  color: #000;
  font-weight: 400;
  padding: 5px;

}

.input-icon.Sub_In_ed input {
  border: 1px solid #ccc;
}

.input-icon.Sub_In_ed.date-border-v.d-flex .input-group-append.h-2 {
  margin-top: -2px;
  margin-right: -4px;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Project_type_DW {
  min-width: 160px;
}

mat-icon.mat-icon.notranslate.curser-pointer {
  /* height: 20px; */
  width: 20px;
  font-size: 20px;
}

.kt-info-box_en {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}

label.pe-label {
  font-size: 13px;
  color: #8f8f8f;
  margin-bottom: 4px;
}

.kt-info-lable-v.mb-off {
  margin-bottom: 4px;
}

.date-border-v {
  height: 36px;
  margin-top: 5px;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  overflow: hidden;
}

.date-border-v input {
  margin: 0px !important;
  padding-bottom: 0px !important;
}

.date-border-v input {
  margin: 0px !important;
  padding: 0px 5px;
  height: auto;
}

span.Wd_text_kt {
  font-size: 12px;
}

.Bt-Submit {
  background-color: #878787;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.Bt-Submit {
  padding: 4px 1px;
  background-color: transparent;
  color: #2786fb;
  font-size: 14px;
  border: 2px solid #2786fb;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .Bt-Submit:hover {
  background-color: #2786fb;
  color: #fff;
} */

.active .Bt-Submit {
  background-color: #2786fb;
  color: #fff;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: none !important;
}

.Bt-Close {
  background-color: transparent !important;
  border: 2px solid #e7e7e7;
  padding: 4px 1px;
}

.Bt-Close:hover {
  background-color: #e7e7e7 !important;
  color: #000;
}

.w-110 {
  width: 100px;
}

.btn.btn-sm.btn-bg-light {
  background-color: #f1f1f2;
}

.btn-project-stv {
  width: 100px;
  background-color: #f0f0f0;
}

.Ct-btn {
  border: 0px;
  background-color: transparent;
  border: 1px solid #527ce2;
  font-size: 13px !important;
  padding: 3px 5px;
  border-radius: 4px !important;
  border-width: 1px !important;
  font-weight: 400;
  font-weight: 400 !important;
  color: #527ce2;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Action_btn_all ul li {
  margin-right: 5px !important;
}

.Ct-btn:hover {
  background-color: #527ce2;
  color: #ffffff;
}

button.Ct-btn.head-btn-right {
  margin-right: 29px;
  padding: 2px 8px;
  font-size: 13px;
}

.PA_title {
  display: flex;
  align-items: center;
}
.PA_title span.label{
  background: #527ce2;
  color: #fff;
  padding: 0px 8px;
  border-radius: 3px;
  font-weight: 500;
}

.PA_Edit_btn svg {
  width: 15px;
  height: 15px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn {
  margin-left: 7px;
  position: relative;
  top: -1px;
  /* height: 23px; */
  border-left: 1px solid #ccc;
  padding-left: 7px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn .lbl-hdn {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: .2s;
  color: #61a2f1;
  z-index: -1;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PA_Edit_btn:hover .lbl-hdn {
  max-width: 200px;
  margin-left: 5px;
  opacity: 1;
  z-index: 1;
}

.PA_Edit_btn:hover svg {
  transform: rotate(360deg);
}

.drp-dwn-submitbtn {
  margin-bottom: 15px;
}

.drp-dwn-submitbtn {
  margin-bottom: 15px;
}

.mbt-btn button {
  width: 100%;
  margin: 0px 0px !important;
  margin-bottom: 10px !important;
}

.mbt-btn button:last-child {
  margin-bottom: 0px !important;
}

.mbt-btn {
  padding: 10px;
}

.btn-group.dropleft:hover svg {
  fill: #567edf;
}

.mbt-btn {
  padding: 10px;
  box-shadow: -7px 7px 20px 5px #00000014;
}

.Ic_ed span svg {
  height: 17px;
  width: 17px;
  position: relative;
  top: -2px;
}

.Ic_ed input,
textarea {
  padding: 5px 5px !important;
}

.Ic_ed input {
  /* height: 36px; */
  margin-top: 5px;
}

.Ic_ed {
  margin-bottom: 18px !important;
}





.Data_chip_kt {
  padding: 6px !important;
  font-size: 12px;
  font-weight: 500;
  color: #60626D !important;
  padding-right: 2px !important;
  border-radius: 5px !important;
  min-height: 22px;
  background-color: #E6EAFF !important;
  line-height: 10px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}


.input-group-text {
  border-radius: 1px solid red;
}



.corol-icn {
  fill: #ff5263;
}


.file-attachment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-attachment svg {
  max-width: 60%;
}



/*file attachment css*/


.kt-Note-msg {
  width: 100%;
  padding: 10px;
  background-color: #fd7e7a38;
  margin-top: 10px;
}


.kt-note-icon {
  width: 40px;
  height: 40px;
  background:linear-gradient(6deg,#6388e3 0%, #6388e3 0%, #6388e3 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

.kt-note-icon svg {
  fill: #fff;
}



.kt-note-text {
  margin-left: 14px;
  font-size: 14px;
  padding-right: 10px;
  color: #cb1910;
}




.file-attach-dv {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*end*/


.kt-projcect-act-list {
  margin-bottom: 10px;
}


.kt-action-p-tittle h4 {
  font-size: 14px;
  font-weight: 500;
  color: #5d5d5d;
}

.kt-action-p-tittle {
  margin-bottom: 11px;
}

.kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.kt-project-action-list-view {
  margin-top: 10px;
  max-height: 69vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.Active .kt-p-box {
  background-color: rgb(255 255 255);
  border: 2px solid #3e97ff;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

}

.project_main_view {
  background-color: #f6f6f6;
}

.project_main_view.active {
  background-color: rgb(216, 239, 255);
}

.owner_responsible_view {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.own_x {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  margin: 0px 4px;
  padding: 1px 2px;
  border-radius: 5px;
}

.ow_r {
  border-right: 1px solid #f6f6f6;
  margin-right: 10px;
  padding-right: 5px;
}

.own_x {
  display: flex;
  align-items: center;
}

.ow_dtl label {
  margin-bottom: 0px;
  font-size: 11px;
  letter-spacing: 0.6px;
  color: #959595;
}

.ow_dtl p {
  margin-bottom: 0px;
  color: #4f4f4f;
  font-weight: 500;
  font-size: 12px;
  margin-top: -3px;
}



.save-as-checkbox {
  width: 18px;
  height: 18px;
  accent-color: #6388e3;
}






svg.template-pin * {
  fill: gray;
}

svg.template-pin:hover * {
  fill: #6388e3;
}

.prj-template:hover {
  background-image: linear-gradient(#fbfbfb, white);

}

.tabs-view-dg {
  padding: 5px 40px;
}

a.nav-link.active span {
  color: #6d7be3;
}

.Create_project_section {
  min-height: 50vh;
  min-height: calc(100vh - 135px);

}

.top_pading_view {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 135px);
}

.Assigned-projects-list {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.Templates-list {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.Templates-list .card-Scroll {
  height: calc(100vh - 260px);
}



.prj-status {
  color:#000;
  font-weight: 600;
  padding: 0.1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  line-height: 20px;
  border-radius: 2px;
  font-size: 13px;
  min-height: 24px;
}
.not-started-project {
  background-color: #888888 !important;
  color:#fff !important;
}
.np-step-2 {
  padding: 20px;
  padding-bottom: 15px;
}


.Kt-info-box-main {
  border: 1px solid #ededed;
  cursor: pointer;
  border-radius: 4px;
}

.Kt-info-box-main.active {
  border: 2px solid #3e97ff;
  border-radius: 4px;
}

.Kt-info-box-main hr {
  margin: 1rem 1rem;
  border: 0;
  border-top: 1px dashed #dbdbdb;
}

.kt-project-name h4 {
  margin-bottom: 0px;
}

.kt-info-box-tittle p {
  margin-bottom: 0px;
}

/* .kt-prd-dtl{
  height: calc(100vh - 365px);
} */
.New_guidelines-view:hover {
  color: #567edf;
}

.New_guidelines-view {
  cursor: pointer;
}

.open_sidebar_guide {
  width: 80%;
}

/*=========================== css view x ===============================*/
/*------------======== model popup ========------------*/
::ng-deep #staticBackdrop {
  z-index: 99999999999999999999 !important;
}
::ng-deep .modal-backdrop.fade.show {
  display: none !important;
}

div#Guideline_view {
  background-color: #0000004a;
}

button.close.close-btn-gd svg {
  fill: #656565;
}

.d-flex.men-tlv {
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  border-radius: 5px;
}
h2.prj-ttl {
  font-size: 16px;
  margin-bottom: 0px;
}

.dvx-cd {
  box-shadow: unset !important;
}
.dvx-cd {
  border: 0px !important;
}
.dvx-cd {
  padding: 5px;
  background-color: #f7f7f7;
  margin-bottom: 6px !important;
  border-radius: 4px !important;
}
.Guidelines_info-view {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 5px;
}

.Guidelines_info_text p {
  font-size: 13px;
  color: #656262;
}

.Guidelines_info-view h4 {
  font-size: 17px;
  margin-bottom: 4px;
}
.Guidelines_info_text h4 {
  font-size: 13px;
  color: #535353;
  border-left: 3px solid #2196F3;
  padding-left: 5px;
}
.Guidelines_info-view p {
  font-size: 13px;    margin-bottom: 3px;
}
.Guidelines_info_text {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

.team_Ltr {
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  background-color: #3398f0;
  margin-right: 10px;
  min-width: 42px;
    text-align: center;
}

.teams_s_tab {
  display: flex;
    background: #ebf6ff;
    margin-bottom: 4px;
}
.team_lt_info p {
  font-size: 13px !important;
  padding-right: 5px;
  color: #797979;
  font-weight: 400;
}

tr.odd.project-list_AC.active{
  background-color: #e0f1ff;
}
.Add_new_project_btn {
  font-size: 14px;
}

.InProcess_color{
  color:#1B272D !important;
}

.Delay_color{
  color: #EE4137 !important;
}

.ToDo_Completed_color{
  color:#000 !important;
}
.Forward_Under_Approval_color{
  color: #B2D732 !important;
}

.ToDo_Achieved_color{
  color: #000 !important;
}
.Not_Started{
  color: #888888 !important;
}


.Deadline_Extend_Under_Approval_color{
  color: #F88282 !important;
}

.Cancellation_Under_Approval_color{
  color: #000 !important;
}

.Completion_Under_Approval_color{
  color: #B2D732 !important;
}

.Hold_color{
  color:#E2D9BC  !important;
}

.Completed_color{
  color: #62B134 !important;
}

.Under_Approval_color{
  color: #888888 !important;
}

.New_Project_Rejected_color{
  color: #DFDFDF !important;
}

.Not_Started_color{
  color: #000000 !important;
}

.Cancelled_color{
  color: #DFDFDF !important;
}
.Enactive_Under_Approval_color{
  color: #C9C1E6 !important;
}
.New_Todo_color{
  color: #6E9BC4 !important;
}

.Project_Complete_Rejected_color{
  color: #FAF065 !important;
}

.kt-p-box.border-r-0 {
  border-right: 0px !important;
}
.kt-p-box.border-l-0 {
  border-left: 0px !important;
}
.step-third .symbol-group {
  margin-left: 0px;
}
.kt-info-box-tit {
  color: #6388e3 !important;
}
::ng-deep .date-border ::ng-deep .form-control {
  border-radius: 4px 0px 0px 4px;
}
::ng-deep .date-border ::ng-deep .input-group-text{
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px;
}
::ng-deep .date-border ::ng-deep .mat-icon-button {
  width: 40px;
  height: 36px;
  line-height: 36px;
}
/* #mysideInfobar12 ::ng-deep .form-control {
  border-radius: 4px 0px 0px 4px;
}
#mysideInfobar12 ::ng-deep .input-group-text{
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px;
}
#mysideInfobar12 ::ng-deep .mat-icon-button {
  width: 40px;
  height: 36px;
  line-height: 36px;
} */
.Kt-info-box-main.active {
  position: relative;
  border: 2px solid #527ce2;
  border-radius: 4px;
  padding-left: 10px;
}
.Kt-info-box-main.active:after, .Kt-info-box-main.active:before {
  border: solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
  left: 100%;
}
.Kt-info-box-main.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
}
.Kt-info-box-main.active:before {
  border-color: rgb(255 255 255 / 0%);
  border-left-color: #527ce2;
  top: 50%;
  margin-top: -13px;
  border-width: 13px;
}
.Active .kt-p-box {
  border: 0px solid #3e97ff;
}
.kt-projcect-act-list.Active {
  position: relative;
  border: 2px solid #527ce2;
  border-radius: 4px;
  padding-left: 10px;
 }
 .kt-projcect-act-list.Active:after, .kt-projcect-act-list.Active:before {
  border: solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
  left: 100%;
}
.kt-projcect-act-list.Active:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
}
.kt-projcect-act-list.Active:before {
  border-color: rgb(255 255 255 / 0%);
  border-left-color: #527ce2;
  top: 50%;
  margin-top: -13px;
  border-width: 13px;
}







/* notification css start*/
.notifications-list .notification:first-child{
  margin-top: 0px;
}

.notification{
  display: flex;
  align-items: center;
  column-gap: 13px;
  padding: 12px 15px 12px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 12px 0px #e9e9e93b;
  margin: 10px 0 10px 10px;
  cursor:default;
}

.notifications-list{
  width:100%;
}

.i-notification{
  /* background-color: #dde7ff; */
 background-color: #eaf2f9;

}

.notification .notif-img{
  align-self: flex-start;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  fill: transparent;
  stroke: #2786fb;
}
.notification .notif-msg{
flex-grow: 1;
font-family: var(--font-family-sans-serif);
font-weight: 500;
font-size: 14px;
color: #2786fb;
}

.kt-Note-msg {
  width: 100%;
  padding: 10px;
  background-color:#fff;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 16px #cccccc80;
}

.error-notification{

  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 12px 0px #e9e9e93b;

}

.error-notification.i-notification{
  background-color: #f5e9e8;
  width: 100%;

}

.error-notification .notif-img{
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  fill: transparent;
  stroke: #F44336;
}
.error-notification .notif-msg{
  flex-grow: 1;
  font-family: var(--font-family-sans-serif);
  font-weight: 500;
  font-size: 12px;
  color: #F44336;
}

/* notification css end*/



/*draft project css  start*/

.draft-prjs-option .op-svg-ic svg path.folder {
    fill:#b5b5b5;
}


.draft-prjs-option .op-svg-ic svg path.paper {
  fill:lightgray;
}


.draft-prjs-option .op-svg-ic svg path.line {
  fill:lightgray;
}


.draft-prjs-option .op-svg-ic svg path.folder {
  fill:#195ABC;
}


.draft-prjs-option .op-svg-ic svg path.paper {
  fill:#669DF6;
}

.draft-prjs-option .op-svg-ic svg path.line {
  fill:#669DF6;
}




.Drafts-list {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.Drafts-list .card-Scroll {
  height: calc(100vh - 260px);
}



.label-draft-count{
  color:#939191;
  font-size:12px;
}

.label-draft-text{
  color: #999999;
  margin-left: 5px;
}


._counts-square{
  color:#b1b0b0;
  font-weight: normal;
  font-family: Lucida Sans Unicode;
  font-size: 12px;
  background-color: #ffffff;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-radius: 3px;
}

.op-card:hover ._counts-square{
  color: #195ABC;
  font-weight: bold;
  font-family: Lucida Sans Unicode;
  font-size: 12px;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-radius: 3px;
  box-shadow: 0px 0px 2px #195abc0f;
  /* background-image: linear-gradient(359deg, #b5b5b526, #d1d3d51f); */
  background-color: #ffffff;
}


/*draft projects css end*/


::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #646c9a;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #646c9a;
  font-size: 18px;
  font-family: var(--font-family-sans-serif);
  font-size: 17px;
}


.error-border, .error-date .input-group-text, .error-date .form-control, ::ng-deep .error-vd .ng-select-container {
  border: 1px solid #F44336 !important;
}

.save-mat-selection{
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #646C9A;
}
.save-mat-selection:hover{
  background-color: #3D4991;
  transform: none;
  color: white;
}

.add-icon {
  color: white;
  border-radius: 50%;
  background-color: #646C9A;
  -webkit-text-stroke-width: thin;
}

.add-icon:hover {
  background-color: #3D4991;
  transform: none;
  color: white;
}

.close-icon {
  color: #f4f3f3;
  /* background-color: gray; */
  border-radius: 50%;
}

.close-icon:hover {
  color: #ffffff;
  transform: none;
}
.cursor-pointer {
  cursor: pointer;
}


.action-edit-header{
   color:#646c9a;
}
