<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height">
    <div class="row">

        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title mr-4">
                            <i class="kt-menu__link-icon fas fa-clipboard-check mr-2 text-primary"></i>
                            <strong>Process</strong> details
                        </h3>
                        <!-- <div class="progress form-group" *ngIf="progress > 0">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Block 1 -->
        <div class="col-lg-4 col-md-6">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <div>
                    <div class="mr-3">
                        <ng-container *ngIf="CurrentPageNo==1">
                            {{CurrentPageNo}} - {{_CurrentpageRecords}}
                        </ng-container>
                        <ng-container *ngIf="CurrentPageNo!=1">
                            {{_CurrentpageRecords * (CurrentPageNo-1) + 1}} - {{_CurrentpageRecords * CurrentPageNo}}
                        </ng-container>
                        of
                        <span> {{_totalProjectsCount}}</span>
                    </div>
                </div>

                <div class="text-right d-flex justify-content-end" >
                    <span class="dropdown" >
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1 dropdown-toggle"
                            type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-plus mr-0"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item text-primary" type="button"
                                (click)="Btn_NewProjectCreation()">Create New
                                Project</button>
                            <button class="dropdown-item text-warning" type="button" (click)="Btn_AssignTask()">Assign
                                Task</button>
                            <button class="dropdown-item text-danger" type="button" (click)="Btn_UnplannedTask()">Runway
                                Task</button>
                        </div>
                    </span>
                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                        (click)="CurrentPageNo = CurrentPageNo - 1;applyFilters()" [disabled]="CurrentPageNo==1">
                        <i class="fas fa-angle-left mr-0"></i>
                    </button>
                    <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                        (click)="CurrentPageNo = CurrentPageNo + 1; applyFilters()" [disabled]="_CurrentpageRecords<30">
                        <i class="fas fa-angle-right mr-0"></i></button>
                    <span class="mr-2">
                        <a [hidden]="Z2A" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                            data-toggle="kt-tooltip" title="Click to sort Asc">
                            <i class="fa fa-sort-alpha-down-alt font-16 mr-0"></i>
                        </a>
                        <a [hidden]="A2Z" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                            data-toggle="kt-tooltip" title="Click to sort Desc">
                            <i class="fas fa-sort-alpha-up font-16 mr-0"></i>
                        </a>
                    </span>
                    <span>
                        <!-- Filters -->
                        <div class="stores-sec mr-1">
                            <ul class="nav navbar-nav filters">
                                <li class="dropdown mega-dropdown" id="filtermenu">
                                    <a [ngClass]="edited ? 'btn btn-label-primary btn-upper btn-sm btn-bold filter-dot' : 'btn btn-label-primary btn-upper btn-sm btn-bold'" data-toggle="dropdown"><i
                                            class="fas fa-ellipsis-v mr-0"></i></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div (click)="$event.stopPropagation();">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h5><strong>Total Projects - </strong>
                                                        <h5 class="d-inline-block">
                                                            <strong>{{_totalProjectsCount}}</strong>
                                                        </h5>
                                                    </h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <!-- Empty Column -->
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control kt-quick-search__input pl-3"
                                                        placeholder="Search Filters" [(ngModel)]="txtSearch"
                                                        style="width: 100%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row scroll-drop">
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Project Type</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of TypeContInFilter |filter:txtSearch;let i=index">
                                                            <label class="kt-checkbox">
                                                                <input type="checkbox" (change)="isTypeChecked(item)"
                                                                    [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Status</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of StatusCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <input type="checkbox" (change)="isStatusChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Employees</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of EmpCountInFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <input type="checkbox" (change)="isEmpChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <button
                                                    class="btn btn-label-success btn-outline-success btn-upper btn-sm btn-bold mr-2"
                                                    data-toggle="dropdown">Submit</button>
                                                <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                    (click)="resetAll()">Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control project-search kt-quick-search__input pl-3 mb-2"
                        placeholder="Search Projects" [(ngModel)]="searchText" autofocus style="width: 100%"
                        (keydown.enter)="search($event.target.value)" style="background-color:#E5E7E9;">
                </div>
            </div>
            <div class="sidebar scrollbar" >
                <ul class="side-bar-box">
                    <li *ngFor="let item of _ProjectDataList">
                        <a (click)="OnProjectClick(item.Project_Code,item.Project_Name,item.Project_Owner,
                        item.Team_Res,item.Team_Autho,item.Team_Informer,item.Team_Coor,item.Team_Support,
                        item.EmpNo_Owner,item.EmpNo_Res,item.EmpNo_Autho,item.EmpNo_Coor,item.EmpNo_Informer,
                        item.EmpNo_Support,item.Emp_Comp_No,item.Project_Block,item.Project_Description,
                        item.DPG,item.Exec_BlockName,item.DeadLine,item.Status,item.Chkboxvalue,item.Project_Cost,item.Duration,
                        item.Client_Name,item.Remarks,item.ReportType,item.Attachments,item.id,item.Sourcefile,item.SubmissionType)">
                            <p class="project-title mb-2">
                                {{item.Project_Name}}
                            </p>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{item.Team_Res}}</p>
                                <p class="mb-2">{{item.Exec_BlockName}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p [ngClass]="{'text-danger':item.Status=='Delay',
                                    'text-Completed':item.Status=='Completed',
                                    'text-warning':item.Status=='InProcess',
                                    'text-underApp':item.Status=='Under Approval',
                                    'text-info':item.Status=='Completion Under Approval',
                                    'text-Rejected':item.Status=='New Project Rejected',
                                    'text-underApproval':item.Status=='Enactive Under Approval',
                                    'text-underApproval':item.Status=='Forward Under Approval',
                                    'text-primary':item.Status=='New Project',
                                    'text-success':item.Status=='Completion Under Approval',
                                    'text-CompleteRejected':item.Status=='Project Complete Rejected',
                                    'text-Todo':item.Status=='ToDo Completed'}">
                                    {{item.Status}}</p>
                                <p class="mb-2">Date : {{item.DeadLine | date:'dd-MM-yyyy'}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Block 2 -->
        <div class="col-lg-8 col-md-6 card">
            <!-- <button (click)="generateSerial()">Testing....</button> -->
            <p style="color:lightgray;margin:10px;font-size: large;margin-top: 5px;" [hidden]="paragraph_msg">Select the
                project from left panel to display result here.</p>
            <div class="card-title pt-3" [hidden]="_topbar">
                <div class="d-flex justify-content-between row" style="border-bottom: 1px solid #eee;">

                    <!-- Right Side Buttons -->
                    <div class="text-right col-lg-12" >
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" (click)="moreDetails()"
                            title="More Infomation">
                            <i class="fa fa-chart-bar"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="ProjectInfoDetails()" title="Project Infomation">
                            <i class="fa fa-info-circle mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" *ngIf="Project_Status != 'Completed'" [hidden]="addbutton_hidden"
                            (click)="OnAddTaskClick()" title="Create New Subtask" >
                            <i class="fas fa-plus mr-0"></i>
                        </button>
                        
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1">
                            <i class="fas fa-sort-alpha-up fa-lg mr-0"></i>
                        </button>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" title="RACIS">
                            <i class="fas fa-user-friends fa-lg mr-0" data-toggle="modal"
                                data-target="#exampleModalCenter">
                            </i>
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <label id="SpanProjName_{{Pid}}"
                            class="kt-checkbox kt-checkbox--bold kt-checkbox--brand text-info strong h5">
                            <input type="checkbox" (click)="OnClickCheckboxProjectUpdate($event.target.checked)"
                                [disabled]="Checkbox_checked=='1'" [checked]="Checkbox_checked=='1'">
                            {{_ProjectName}}
                            <span></span>
                        </label>
                        <!--   [hidden]="EmpNo_Own!=CurrentUser_ID"-->
                        <span class="text-info"  [hidden]="Editbutton" (click)="OnEditProject(Pid,_ProjectName)"
                            id="EidtBtn_{{Pid}}">
                            <i class="fas fa-edit ml-2 mb-1"></i>
                        </span>
                        <span class="kt-inbox__subject mt-2 pl-30px" style="display:none;" id="spanTextbox_{{Pid}}">
                            <div class="d-flex">
                                <input type="text" class="form-control" id="textboxfocus_{{Pid}}"
                                    [(ngModel)]="_modelProjectName" style="width: 78%;height: 32px;"
                                    (keydown.enter)="OnProject_Rename(Pid,_MasterCode)">
                                <div class="d-inline-block ml-3" id="button-addon4">
                                    <button (click)="OnProject_Rename(Pid,_MasterCode)"
                                        class="btn btn-primary btn btn-sm mr-2">Done</button>
                                    <button class=" btn btn-secondary btn btn-sm"
                                        (click)="onCancel(Pid)">Cancel</button>
                                </div>
                            </div>
                        </span>
                        <p class="mb-3 mt-1 pl-30px h5" style="color:grey; font-size: small;">
                            <span id="Span_DescName_{{Pid}}">{{Proj_Desc}}</span>
                            <span class="text-info" [hidden]="Editbutton" (click)="OnEditProject_Desc(Pid,Proj_Desc)"
                                id="EidtBtn_{{Pid}}">
                                <i class="fas fa-edit ml-2 mb-1"></i>
                            </span>
                            <span class="kt-inbox__subject mt-2" style="display:none;" id="spanTextarea_{{Pid}}">
                                <div class="d-flex">
                                    <input type="text" class="form-control" id="textboxfocus_{{Pid}}"
                                        [(ngModel)]="_modelProjDesc" style="width: 78%;height: 32px;"
                                        (keydown.enter)="OnProject_Rename(Pid,_MasterCode)">
                                    <div class="d-inline-block ml-3" id="button-addon4">
                                        <button (click)="OnProject_Rename(Pid,_MasterCode)"
                                            class="btn btn-primary btn btn-sm mr-2">Done</button>
                                        <button class=" btn btn-secondary btn btn-sm"
                                            (click)="onCancel(Pid)">Cancel</button>
                                    </div>
                                </div>
                            </span>
                        </p>
                        <p class="mb-1 pl-30px">
                            <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fas fa-project-diagram text-muted mr-1"></i>
                                <b>{{Proj_ExecBlck}}</b>
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block" [ngClass]="{'text-danger':Project_Status=='Delay',
                                    'text-Completed':Project_Status=='Completed',
                                    'text-warning':Project_Status=='InProcess',
                                    'text-underApp':Project_Status=='Under Approval',
                                    'text-info':Project_Status=='Completion Under Approval',
                                    'text-Rejected':Project_Status=='New Project Rejected',
                                    'text-underApproval':Project_Status=='Enactive Under Approval',
                                    'text-underApproval2':Project_Status=='Forward Under Approval',
                                    'text-primary':Project_Status=='New Project',
                                    'text-success':Project_Status=='Completion Under Approval',
                                    'text-CompleteRejected':Project_Status=='Project Complete Rejected',
                                    'text-Todo':Project_Status=='ToDo Completed'}">
                                {{Project_Status}}
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                <b>{{PstDT | date:'dd-MM-yyyy'}}</b>
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="Proj_ExecBlck != 'Standard Tasks'">
                                <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                <b>{{PEndDT | date:'dd-MM-yyyy'}}</b>
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="Proj_ExecBlck == 'Standard Tasks'">
                                <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                <b>{{SubmissionType}}</b>
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fas fa-clock text-muted mr-1"></i>
                                <b>{{Duration}} Hrs</b>
                            </span>
                            <span class="text-nowrap mb-2 d-inline-block">
                                <i class="fab fa-dev text-muted mr-1"></i>
                                <b>{{projectCost|currency:'SAR '}}</b>
                            </span>
                        </p>
                        <p class="mb-1 pl-30px">
                            <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fab fa-dev text-muted mr-1"></i>
                                <b>{{Resp}}</b>
                            </span>
                            <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fas fa-wallet text-muted mr-1"></i>
                                <b>{{Client_Name}}</b>
                            </span>
                            <span class="text-nowrap mb-2 d-inline-block" *ngIf="ReportType">
                                <i class="fas fa-info-circle text-muted mr-1"></i>
                                <b>{{ReportType}}</b>
                            </span>
                        </p>
                        <p class="mb-1 pl-30px">
                            <span class="mr-3 text-nowrap mb-2 d-inline-block"><i
                                class="fas fa-file-pdf text-muted mr-1"></i>
                            <a class="text-info curser-pointer" title="Click To Open File"
                                (click)="LoadDocument(Attachments)"><b>{{FileName}}</b></a></span>
                            <!-- <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                <i class="fas fa-paperclip text-muted mr-1"></i>
                                <a (click)="LoadDocument(Attachments)">{{FileName}}</a>
                            </span> -->
                            <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="Remarks">
                                <i class="fas fa-registered text-muted mr-1"></i>
                                <b>{{Remarks}}</b>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="scrollbar scrollbar1 card-body py-0 px-2 mt-4">
                    <div id="Subtask_Details" [hidden]="_subtaskDetails">
                        <div class="subtask-list" *ngFor="let item of Subtask_List; let i =index"
                            [ngClass]="{'bg-custom': item.Team_Autho==CurrentUser_ID}">
                            <input type="radio" name="Subtask" class="subtask-radio" (click)="OnSubtaskClick(item)"
                                [hidden]="item.Team_Autho!=CurrentUser_ID" />
                            <!-- .Project_Code,item.Project_Name,item.StartDate,
                            item.SubProject_DeadLine,item.Subtask_Autho,item,SubProject_Status -->

                            <!-- INPROCESS TASKS -->
                            <div class="col-lg-11">
                                <p class="subtask-list-title text-hover-primary font-size-h5 font-weight-bold mb-1">
                                    <span class="mr-2" id="SpanProjName_{{item.id}}"> {{item.Project_Name}}</span>
                                    <!-- [hidden]="item.Project_Owner!=CurrentUser_ID" -->
                                    <span class="text-info" [hidden]="Editbutton" id="EidtBtn_{{item.id}}"
                                        (click)="OnEditProject(item.id,item.Project_Name)">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="kt-inbox__subject" style="display:none;" id="spanTextbox_{{item.id}}">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="textboxfocus_{{item.id}}"
                                                [(ngModel)]="_modelProjectName" style="width: 78%;height: 32px;"
                                                (keydown.enter)="OnProject_Rename(item.id)">
                                            <div class="d-inline-block ml-3" id="button-addon4">
                                                <button (click)="OnProject_Rename(item.id)"
                                                    class="btn btn-primary btn btn-sm mr-2">Done</button>
                                                <button class=" btn btn-secondary btn btn-sm"
                                                    (click)="onCancel(item.id)">Cancel</button>
                                            </div>
                                        </div>
                                    </span>
                                </p>
                                <p class="mb-3">
                                    <span class="mr-2" id="Span_DescName_{{item.id}}">
                                        {{item.Project_Description}}</span>
                                    <span class="text-info" [hidden]="Editbutton"
                                        (click)="OnEditProject_Desc(item.id,item.Project_Description)">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="kt-inbox__subject" style="display:none;" id="spanTextarea_{{item.id}}">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="textareafocus_{{item.id}}"
                                                [(ngModel)]="_modelProjDesc" style="width: 78%;height: 32px;"
                                                (keydown.enter)="OnProject_Rename(item.id)">
                                            <div class="d-inline-block ml-3" id="button-addon4">
                                                <button (click)="OnProject_Rename(item.id)"
                                                    class="btn btn-primary btn btn-sm mr-2">Done</button>
                                                <button class=" btn btn-secondary btn btn-sm"
                                                    (click)="onCancel(item.id)">Cancel</button>
                                            </div>
                                        </div>
                                    </span>

                                </p>

                                <p class="mb-1">
                                    <span data-toggle="tooltip" title="Start Date!" class="mr-3 text-nowrap mb-2 d-inline-block">
                                        <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                        <b>{{item.StartDate |date:'dd-MM-yyyy'}}</b>
                                    </span>
                                    <span data-toggle="tooltip" title="End Date!" class="mr-3  text-nowrap mb-2 d-inline-block">
                                        <i class="fas fa-calendar-alt text-muted mr-1"></i>
                                        <b>{{item.SubProject_DeadLine |date:'dd-MM-yyyy'}}</b>
                                    </span>
                                    <span class="mr-3  text-nowrap mb-2 d-inline-block">
                                        <i class="fas fa-clock text-muted mr-1"></i>
                                        <b>{{item.Duration}} Hrs</b>
                                    </span>
                                    <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="item.Project_Cost">
                                        <i class="fas fa-wallet text-muted mr-1"></i>
                                        <b>{{item.Project_Cost|currency:'SAR '}}</b>
                                    </span>
                                </p>
                                <p class="mb-2">
                                    <span class="mr-3 text-nowrap mb-2 d-inline-block">
                                        <i class="fab fa-dev text-muted mr-1"></i>
                                        <b> {{item.Subtask_Res}}</b>
                                    </span>

                                    <span class="mr-2 text-nowrap mb-2 d-inline-block" [ngClass]="{'text-danger':item.SubProject_Status=='Delay',
                                    'text-Completed':item.SubProject_Status=='Completed',
                                    'text-warning':item.SubProject_Status=='InProcess',
                                    'text-underApp':item.SubProject_Status=='Under Approval',
                                    'text-info':item.SubProject_Status=='Completion Under Approval',
                                    'text-Rejected':item.SubProject_Status=='New Project Rejected',
                                    'text-underApproval':item.SubProject_Status=='Enactive Under Approval',
                                    'text-underApproval':item.SubProject_Status=='Forward Under Approval',
                                    'text-primary':item.SubProject_Status=='New Project',
                                    'text-success':item.SubProject_Status=='Completion Under Approval',
                                    'text-CompleteRejected':item.SubProject_Status=='Project Complete Rejected',
                                    'text-Todo':item.SubProject_Status=='ToDo Completed'}">
                                        {{item.SubProject_Status}}
                                    </span>
                                </p>
                                <p class="mb-1">
                                    <span class="mr-3 text-nowrap mb-2 d-inline-block"><i
                                            class="fas fa-file-pdf text-muted mr-1"></i>
                                        <a class="text-info curser-pointer"
                                            (click)="LoadDocument(item.CompleteProofDoc)"><b>{{item.Sourcefile}}</b></a></span>
                                    <span class="mr-3 text-nowrap mb-2 d-inline-block" *ngIf="item.Remarks">
                                        <i class="fas fa-registered text-muted mr-1"></i>
                                        <b>{{item.Remarks}}</b>
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div [hidden]="_projectDetails">
                        <div class="subtask-list">
                            <h5 style="color: lightgray;"> No Action found in <b>InProcess</b> State </h5>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <!-- Completed tasks -->
                    <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5"
                        [hidden]="_CompletedDetails">
                        <div class="card">
                            <div class="card-header" id="headingOne5">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne5"
                                    aria-expanded="true" aria-controls="collapseOne5">
                                    Completed
                                </div>
                            </div>
                            <div id="collapseOne5" class="collapse show" aria-labelledby="headingOne5"
                                data-parent="#accordionExample5">
                                <div class="card-body">
                                    <div class="subtask-list" *ngFor="let item of CompletedList; let i =index">
                                        <input type="radio" class="subtask-radio" checked />
                                        <div>
                                            <p
                                                class="subtask-list-title text-hover-primary font-size-h5 font-weight-bold mb-1">
                                                <s>{{item.SubProject_Name}}</s>
                                            </p>
                                            <p class="mb-1">{{item.Project_Description}}</p>
                                            <p class="mb-2"><span class="mr-3 text-nowrap  d-inline-block"><i
                                                        class="fab fa-dev text-muted mr-1"></i>{{item.Subtask_Res}}</span>
                                                <span
                                                    class="mr-2 text-nowrap  d-inline-block badge bg-light text-success">Completed</span>
                                            </p>
                                            <p class="mb-2">
                                                <span  data-toggle="tooltip" title="Start Date!" class="mr-3 text-nowrap d-inline-block"><i
                                                    class="fas fa-calendar-alt text-muted mr-1"></i>{{item.StartDate | 
                                                date}}</span>  
                                               
                                                <span  data-toggle="tooltip" title="End Date!" class="mr-3 text-nowrap d-inline-block"><i
                                                    class="fas fa-calendar-alt text-muted mr-1"></i>{{item.SubProject_DeadLine | 
                                                date}}</span> 

                                                <span data-toggle="tooltip" title="Completed Date!" class="mr-3 text-nowrap d-inline-block"><i
                                                        class="fas fa-calendar-alt text-muted mr-1"></i>{{item.CD |
                                                    date}}</span>
                                                            

                                                <span class="mr-3  text-nowrap mb-2 d-inline-block">
                                                    <i class="fas fa-clock text-muted mr-1"></i>
                                                    <b>{{item.Duration}} Hrs</b>
                                                </span>
                                            </p>
                                            <p class="mb-2">
                                                <span class="mr-3 text-nowrap mb-2 d-inline-block"><i
                                                        class="fas fa-file-pdf text-muted mr-1"></i>
                                                    <a class="text-info curser-pointer"
                                                        (click)="LoadDocument(item.CompleteProofDoc)"><b>{{item.Sourcefile}}</b></a></span>

                                                <span class="mr-3 text-nowrap  d-inline-block" *ngIf="item.Remarks">
                                                    <i class="fas fa-registered text-muted mr-1"></i>
                                                    <b>{{item.Remarks}}</b>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">RACIS (People on the project) </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                        <div class="kt-portlet__body px-3 py-3 project-people">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-1"><i class="fas fa-user"></i>
                                        </div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Owner)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Owner}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-2"><i class="fas fa-user"></i></div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Responsible)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Resp}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-3"><i class="fas fa-user"></i>
                                        </div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Authority)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Autho}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-4"><i class="fas fa-user"></i>
                                        </div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Coordinator)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Coor}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-5">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Informer)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Informer}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="initial-box color-6"><i class="fas fa-user"></i>
                                        </div>
                                        <div class="owner-details ml-3">
                                            <span class="text-muted">(Support)</span>
                                            <p class="text-dark text-hover-primary mb-0">
                                                <strong>{{Support}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For Update Project-->
<div id="mysideInfobar_ProjectsUpdate" class="sideInfobar animate-right offcanvas">
    <div class="kt-portlet__head p-3 bg-blued">
        <div class="offcanvas-header d-flex align-items-center justify-content-between">
            <h5 class="title-sidebar w-90 mb-0 text-white">
                {{this._ProjectName}}
            </h5>
            <a href="javascript:void(0)" class="text-hover-primary closebtn pull-right ml-2 text-white"
                (click)="closeInfoProject()">
                <i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-upload" viewBox="0 0 16 16">
                        <path
                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                    </svg>
                </span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="_pdf" accept="application/pdf"
                    (change)="onFileChange($event)">
                <label class="custom-file-label" for="_pdf">Choose file</label>
            </div>
        </div>
        <span class="text-info"> *Accept only pdf files </span>
        <!-- <div class="form-group">
            <label>Attachments 1 </label>
            <div></div>
            <div class="custom-file">
                <input type="file" class="form-control-file" id="_pdf" accept="application/pdf"
                    (change)="onFileChange($event)">
            </div>
        </div> -->

        <!-- <div class="form-group">
            <label>Attachments 2</label>
            <div></div>
            <div class="custom-file">
                <input type="file" class="form-control-file" id="uploadFile" (change)="onFileChange2($event)">
            </div>
        </div> -->
        <div class="form-group">
            <label for="exampleFormControlFile1"> Remarks <span class="text-danger">*</span></label>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                style="height: 264px; margin-top: 0px; margin-bottom: 0px;"></textarea>
        </div>


        <div class="form-group mb-1">
            <button type="submit" class="btn btn-primary" [disabled]="_remarks==''" (click)="updateMainProject()">Submit
            </button>
        </div>
    </div>
</div>

<!-- For Update Subtask -->
<div id="mysideInfobar_Update" class="sideInfobar animate-right offcanvas">
    <div class="kt-portlet__head p-3 bg-blued">
        <!-- <h3 class="font-weight m-0 text-white">Update Action</h3> -->
        <div class="offcanvas-header d-flex align-items-center justify-content-between">

            <h5 class="title-sidebar w-90 mb-0 text-white">
                {{this._Subtaskname}}
            </h5>
            <a href="javascript:void(0)" class="text-hover-primary closebtn pull-right ml-2 text-white"
                (click)="closeInfo()">
                <i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="p-4">
        <div class="form-group">
            <label>Attachments</label>
            <div></div>
            <div class="custom-file">
                <input type="file" class="form-control-file" id="uploadFile" accept="application/pdf"
                    (change)="onFileChange($event)">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1"><span class="text-danger">*</span> Remarks</label>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                style="margin-top: 0px; margin-bottom: 0px; height: 300px;"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="_remarks==''"
                (click)="OnUpdateSubtask()">Submit</button>
        </div>
    </div>
</div>

<!-- For  New Subtask  -->
<!-- <div id="mysideInfobar_NewSubtask" class="sideInfobar animate-right offcanvas">
    <div class="p-4">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0">Action To Project</h3>
            <a href="javascript:void(0)" class="btn btn-xs btn-icon btn-hover-primary closebtn" (click)="closeInfo()">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="form-group">
            <label> Action Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="Sub_ProjectName" required />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="_Description" style="height: 139px"></textarea>
        </div>
        <div class="form-group">
            <label> Assign To <span class="text-danger">*</span> : <strong></strong></label>
            <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_EMP" autofocus="true"
                [data]="_EmployeeListForDropdown" [(ngModel)]="selected_Employee" (onSelect)="EmployeeOnSelect($event)"
                (onDeSelect)="EmployeeOnDeselect($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [min]="disablePreviousDate" [(ngModel)]="_StartDate"
                    placeholder="Start Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" [min]="disablePreviousDate" [(ngModel)]="_EndDate"
                    placeholder="End Date" class="form-control">
                <div class="input-group-text p-0">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="exampleFormControlFile1">Remarks</label>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                style="height: 111px;"></textarea>
        </div>

        <div class="form-group">
            <div class="custom-file pl-1">
                <input type="file" class="form-control-file" id="uploadFile" accept="application/pdf"
                    (change)="onFileChangeATP($event)">
            </div>
        </div>
        <div class="form-group mb-1">
            <button type="submit" class="btn btn-primary" (click)="OnSubmit()"
                [disabled]="Sub_ProjectName==''|| _StartDate==null || _EndDate==null||selectedEmpNo==''">Submit
            </button>
        </div>
    </div>
</div> -->



<!-- Project Info Details -->
<div id="mysideInfobar" class="sideInfobar animate-right">
    <router-outlet></router-outlet>
</div>

<div id="rightbar-overlay"></div>
<!-- <mat-form-field class="example-full-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->