.sidebar {
    margin: 0;
    padding: 0;
    /* width: 300px; */
    background-color: #fff;
    /* position: fixed; */
}

.scrollbar {
    height: calc(100vh - 185px);
    overflow-y: auto;
}
.scrollbar1 {
    height: calc(100vh - 320px);
    overflow-y: auto;
}
.dropdown-menu label.kt-checkbox {
    font-size: 1rem;
    margin: 5px 0px;
}

/* width */

.scrollbar::-webkit-scrollbar {
    width: 6px;
}


/* Track */

.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/* Handle on hover */

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.sidebar a {
    display: block;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a.active {
    background-color: #e0e0e0;
    color: rgb(48, 46, 46);
}

.sidebar a:hover:not(.active) {
    background-color: #f4f4f4;
    color: rgb(48, 46, 46);
}

.sidebar .project-title {
    color: #3c3c3c;
    font-weight: 500;
}

.sidebar .d-flex p {
    font-size: 12px;
    color: #484848;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* More Details Components CSS */

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

.project-info-page {
    letter-spacing: 0.4px;
}

.project-description .d-flex span {
    color: #969696;
    font-size: 13px;
}

.project-description p {
    color: #646464;
    /* font-size: 14px; */
}

.project-budget h6,
.project-duration h6 {
    color: #969696;
}

.project-duration-bar {
    width: 100%;
}

.bg-blued {
    background: #516c8d !important;
}
#rightbar-overlay {
    background-color: rgba(50, 58, 70, .2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 998;
    transition: all .2s ease-out;
}

/* === Sidebar === */

.sideInfobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    border-left: 1px solid #f9f9fc;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.sideInfobar .kt-portlet__head {
    background-color: #f5f6fc;
}

.sideInfobar .closebtn {
    text-decoration: none;
    color: #333;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.info-icon-cir {
    font-size: 20px;
    color: #5867dd;
}

.sideInfobar .kt-widget1 .kt-widget1__item {
    border-bottom: 0.07rem dashed #dedede;
    padding: 6px;
}

.sideInfobar .kt-widget1 .kt-widget1__item.dark {
    border-bottom: 0.07rem dashed rgba(0, 0, 0, 0.3);
}


/* .kt-inbox__datetime{
    width: 100px !important;
  } */

.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title {
    font-weight: 600;
}

.sideInfobar .title-sidebar {
    width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-bar-box {
    list-style-type: none;
    padding-left: 0px !important;
}

.side-bar-box li {
    border-bottom: 1px solid #f1f1f1;
    font-weight: 400;
}

.text-hover-primary:hover {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF !important;
}

.side-bar-box li:last-child {
    border-bottom: none
}

.subtask-list {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ebedf2;
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
    border-radius: 0.25rem;
    margin-right: 5px;
    margin-bottom: 10px;
}

.offcanvas {
    background: #ffffff;
    box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
}

.w-75 {
    width: 75%;
}

.subtask-list:last-child {
    border-bottom: 1px solid #ebedf2;
}

.subtask-radio {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
}

.subtask-list p {
    font-weight: 400;
    font-size: 12px;
}

.subtask-list p.subtask-list-title {
    font-size: 14px;
    font-weight: 500;
}

#accordionExample5 .card {
    background-color: transparent;
    margin-top: 15px;
}

.accordion.accordion-svg-icon .card:last-child .card-body {
    padding-left: 0px;
}

.accordion.accordion-light .card .card-header .card-title:after {
    left: 0px !important;
    font-weight: 600;
    font-size: 1.3rem;
}

.accordion.accordion-light .card .card-header .card-title {
    padding-left: 25px;
    font-size: 16px;
}

.text-Rejected {
    color: #E6747A !important;
}

.text-underApproval {
    color: #98c7bf !important;
}
.text-underApproval2 {
    color: #98c7bf !important;
}

.text-CompleteRejected {
    color: #D83C3C !important;
}

.text-underApp {
    color: #4495D5 !important;
}

.text-Todo {
    color: #45F495 !important;
}

.text-Completed {
    color: #41D37B !important;
}

input.largerCheckbox {
    width: 13px;
    height: 13px;
}

.textarea {
    height: 381px;
}

.kt-checkbox {
    font-size: 1.25rem;
    margin-bottom: inherit;
}

.project-active {
    background-color: #cacff5 !important;
}

.bg-custom {
    box-shadow: 2px 3px 4px #ccc;
    background-color: #cccfcf5c !important;
    border: 0px;
    /* border: 1px solid #9eebf3; */
    /* border-left: 6px solid #a8aaaa5c; */
}

.multiselect-dropdown .dropdown-list {
    overflow: hidden;
}
/* Filters Design */

.stores-sec .mega-dropdown {
    position: static !important;
  }
  .stores-sec .mega-dropdown-menu {
      padding: 20px;
      width: 800px;
      /* border: 1px solid #ccc !important;
      box-shadow: none;
      -webkit-box-shadow: none; */
      top: 10px !important;
      left: -100px !important;
  }
  .stores-sec .mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 32px;
    z-index: 10;
  }
  .scroll-drop{
    height: 250px;
        overflow: auto;
  }
  .stores-sec .mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 30px;
    z-index: 8;
  }
  
  .stores-sec .mega-dropdown-menu1 .filter-box{
    width: 33.3333%;
    display: inline-block;
  }
  .up-btn {
    padding: 0.5rem 1.6rem;
    font-size: 10px;
    color: #fff;
    /* background-color: #4285f4 !important; */
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-family: "Roboto",sans-serif;
    position: relative;
}
.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden;
}
.file-field .file-path-wrapper .file-path {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="file"].cus-upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
}
.up-btn:hover, .up-btn:focus, .up-btn:active {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
.disable { 
    pointer-events: none; 
  }
  .kt-quick-search .kt-quick-search__form .input-group {
    border: 1px solid #cdcfd5;
    border-radius: 5px;
    background: #fff;
  }