<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view pt-3">
    <div class="row">

        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title mr-4">
                            <i class="kt-menu__link-icon fas fa-bell mr-2 text-primary"></i>
                            <strong>Notifications</strong> 
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!-- <div class="card my-1 shadow-sm brdr notifi-list mb-2">
                        <div class="card-body row">
                            <div class="col">
                                <div>
                                    <label class="kt-badge kt-hover--primary kt-bg-light-primary kt-badge--inline">
                                        <i class="fa fa-clone mr-2"></i>Standard Tasks </label>
                                </div>
                                <h5 class="card-title text-capitalize mb-0"> Testing deadline for approvals in old Ep. </h5>
                                <span class="h6 tic-abt mb-0"> Comments: Test by author. This project is about deadline for approvals in old Execution Planner.</span>
                            </div>
                            <div class="col-auto mr-3 pro-rsec">
                                <span class="h6 text-muted mb-0 mr-1"><i class="far fa-calendar-alt mr-1"></i>Req Date: 31-10-2022</span>
                                <span class="h6 text-muted mb-0 mr-1"><i class="far fa-user mr-1"></i>Stevee Smith Smith smith</span>
                            </div>
                        </div>
                    </div> -->

                    
                    <div class="card my-1 shadow-sm brdr notifi-list mb-2">
                        <div class="card-body row">
                            <div class="col">
                                <div class="pro-dc">
                                    <div class="">
                                        <label class="kt-badge kt-hover--primary kt-bg-light-primary kt-badge--inline">
                                            <i class="fa fa-clone mr-2"></i>Standard Tasks </label>
                                        <span class="h6 text-muted mb-0 ml-2"><i class="far fa-calendar-alt mr-1"></i>31-10-2022</span>
                                    </div>
                                    <div>
                                        <span class="h6 text-muted mb-0 mr-1"><i class="far fa-user mr-1"></i>Stevee Smith Smith smith</span>
                                    </div>
                                </div>
                                <h5 class="card-title text-capitalize mb-0"> Testing deadline for approvals in old Ep. </h5>
                                <span class="h6 tic-abt mb-0"> Comments: Test by author. This project is about deadline for approvals in old Execution Planner.</span>
                            </div>
                        </div>
                    </div>

                    <div class="card my-1 shadow-sm brdr notifi-list mb-2">
                        <div class="card-body row">
                            <div class="col">
                                <div class="pro-dc">
                                    <div class="">
                                        <label class="kt-badge kt-hover--primary kt-bg-light-primary kt-badge--inline">
                                            <i class="fa fa-clone mr-2"></i>Standard Tasks </label>
                                        <span class="h6 text-muted mb-0 ml-2"><i class="far fa-calendar-alt mr-1"></i>Req Date: 31-10-2022</span>
                                    </div>
                                    <div>
                                        <span class="h6 text-muted mb-0 mr-1"><i class="far fa-user mr-1"></i>Stevee Smith Smith smith</span>
                                    </div>
                                </div>
                                <h5 class="card-title text-capitalize mb-0"> Testing deadline for approvals in old Ep. </h5>
                                <span class="h6 tic-abt mb-0"> Comments: Test by author. This project is about deadline for approvals in old Execution Planner.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>