.card.brdr {
    border-left: 4px solid #2786fb;
    border-radius: 5px;
}
.pro-rsec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}
.tic-abt {
    color: #8898aa!important;
}
.notifi-list .card-title {
    color: #32325d;
    line-height: 1.5;
}
.pro-dc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #b3bcff;
  border-left: 1px solid #f5f6fc;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}
.sideInfobar .kt-portlet__head{
  background-color: #f5f6fc;
}

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
}

.sideInfobar .kt-widget1 .kt-widget1__item{
  border-bottom: 0.07rem dashed #dedede;
  padding: 6px;
}
.sideInfobar .kt-widget1 .kt-widget1__item.dark{
  border-bottom: 0.07rem dashed rgba(0,0,0,0.3);
}


.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title{
  font-weight: 600;
}
.sideInfobar .title-sidebar{
    width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kt-quick-search .kt-quick-search__form .input-group {
  border: 1px solid #d6dbff;
  border-radius: 5px;
}

.cmmts.text-ellipsis{max-width: 250px;}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
}

/* project summary css */

.multiselect-dropdown .dropdown-btn .dropdown-down,
.multiselect-dropdown .dropdown-btn .dropdown-up{
  border-top: 7px solid #adadad !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important
}

.multiselect-dropdown{
  width: 80px !important;

}
.dataTables_wrapper .dataTable .plist-details tr td{
  border-color: #d6d6d6;
}

.dataTables_wrapper .dataTable .plist-details tr td:first-child.success {
  border-left: 5px solid #1dc9b7;
  /* border-radius: 4px; */
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.warning {
    border-left: 5px solid #ffb822;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.info {
    border-left: 5px solid #2786fb;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.danger {
    border-left: 5px solid #F58A8B;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.UnderApprovals {
  border-left: 5px solid #BD838C;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.ForwardUnderApproval {
  border-left: 5px solid #E0B1D7;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.completeUnderApproval {
  border-left: 5px solid #98c7bf;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.projectHold {
  border-left: 5px solid #C0B5DC;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.HoldunderApp {
  border-left: 5px solid #a85098;
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.DeadlineExtended{
  border-left: 5px solid #E0B1D7;
}
.delayDays{
  font-size: 11px;
}
.kt-quick-panel .kt-portlet.kt-portlet--head-lg .kt-portlet__head {
  min-height: 60px;
}
.kt-badge.kt-badge--unified-brand {
  color: #FFFFFF;
  background: rgb(195, 195, 195);
}
/* .inbox-text {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.text-ellipsis.w-600 {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.kt-portlet__body_scroll {
  height: calc(100vh - 100px);
    overflow-x: hidden;

}
.dataTables_wrapper .dataTable{
  margin: 0px !important;
}

.multiselect-dropdown[_ngcontent-unj-c40] .dropdown-btn[_ngcontent-unj-c40]{
  width: 150px !important;
}
/* virtual Scroller */
virtual-scroller {
  /* width: 350px; */
  height: 200px;
}

.vsdiv {
  display: block;
  width: 100%;
  height: 30px;
}

/* === Sidebar === */

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
}
.count-height{
  max-height: 200px;
  overflow-y: auto;
}

/* .count-height .justify-content-between{
  border-bottom: 1px solid #f1f1f1;
} */
.count-height .justify-content-between .kt-checkbox{
  margin-top: 5px;
  margin-bottom: 5px;
}


/* width */
.count-height::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.count-height::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.count-height::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
.count-height::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.dropdown .kt-checkbox > input:checked ~ span{
  border-color: #5867dd;
}
.kt-checkbox > span:after {
  border: solid #5867dd;
}

.stores-sec .mega-dropdown {
  position: static !important;
}
.stores-sec .mega-dropdown-menu {
    padding: 20px;
    width: 60%;
    /* border: 1px solid #ccc !important;
    box-shadow: none;
    -webkit-box-shadow: none; */
    top: 20px !important;
    left: -22px !important;
}
.stores-sec .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 32px;
  z-index: 10;
}
.stores-sec .mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 30px;
  z-index: 8;
}

.stores-sec .mega-dropdown-menu1 .filter-box{
  width: 33.3333%;
  display: inline-block;
}

#project-4 thead tr th:nth-child(1), #project-4 tbody tr td:nth-child(1){
  width: 3%;
}
#project-4 thead tr th:nth-child(2), #project-4 tbody tr td:nth-child(2){
  width: 33%;
}
#project-4 thead tr th:nth-child(3), #project-4 tbody tr td:nth-child(3){
  width: 10%;
}
#project-4 thead tr th:nth-child(4), #project-4 tbody tr td:nth-child(4){
  width: 10%;
}
#project-4 thead tr th:nth-child(5), #project-4 tbody tr td:nth-child(5){
  width: 15%;
}
#project-4 thead tr th:nth-child(6), #project-4 tbody tr td:nth-child(6){
  width: 10%;
}
#project-4 thead tr th:nth-child(7), #project-4 tbody tr td:nth-child(7){
  width: 10%;
}
#project-4 thead tr th:nth-child(8), #project-4 tbody tr td:nth-child(8){
  width: 10%;
}

.kt-quick-search .kt-quick-search__form .input-group-prepend .input-group-text, .kt-quick-search .kt-quick-search__form .input-group-append .input-group-text{
  /* background-color: #e4e7ff; */
  cursor: pointer;
}
.kt-quick-search .kt-quick-search__form .input-group{
  border: 1px solid #d6dbff;
  border-radius: 5px;
}

.show_entries span{
  position: absolute;
  top: 3px;
  background-color: #fff;

}
.show_entries select{
  /* width: 100px; */
  border: 2px solid rgba(88, 103, 221, 0.3);
  color: #5867dd;
  font-weight: bold;
}

.count-btn{
  /* height: 25px; */
  /* background-color: #5867dd; */
  padding: 0px 10px;
  font-weight: 700;
  color: rgb(88, 88, 88);
  font-size: 14px;
  line-height: 25px;
}
/* Search Projects */
.kt-inbox .kt-inbox__toolbar .kt-inbox__search .input-group .form-control {
  height: 44px;
  border: none;
  background-color: #f2f3f7;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100% !important;
}

.dropdown-menu-md.bg-ground, .dropdown-menu-md.bg-ground-short{
  /* background-color: #e2e9ff; */
  background-color: #fff;
  width: 25vw;
  box-shadow: none;
  border: 1px solid #d6dbff !important;
  margin-top: 5px;
}
.dropdown-menu-md.bg-ground .form-control, .dropdown-menu-md.bg-ground-short .form-control{
  background-color: #f5f6fc;
}

.kt-inbox .kt-inbox__list .kt-inbox__items .kt-inbox__item{
  position: relative;
}
.delete-btn{
  display: none;
  position: absolute;
   right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f3f7;
    color: grey;
    line-height: 63px;
    padding: 0 20px;
    transition: all 2s ease !important;
}
.delete-btn i{
  background: none;
  font-size: 16px;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  width: 30px;
  background-color: #f5f6fc;
  border: 1px solid #b3bcff;
  color: #5867dd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 8px 0 0;
  border-radius: 0;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* .delete-btn i{
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #f2f3f7;
  transition: all .3s ease !important;
}*/
.btn-secondary.theme-btn{
  background-color: #5867dd;
  color: #fff;
}
.btn.btn-label-primary{
  border: 1px solid #b3bcff;
}

.delete-btn i:hover{
    background-color: #5867dd;
    color: #fff;
}
.kt-inbox__item:hover .delete-btn{
  display: block;
}

.sidebar-more{
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}
.ng-autocomplete {
  width: 300px;
}

/* Boxes  */
.memoscount {
  float: left;
  width: 70px;
  height: 34px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: justify;

}

.blue {
  background: #fff;
}

.purple {
  background: #00B74A;
}

.wine {
  background: #F93154;
}
/* memosCount_Fontsize */
.M_fsize{
  font-size: smaller;
}

.badge {
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal;
}

.badge-outline-primary {
  color: #405189;
  border: 1.5px solid #405189
}

.badge.badge-pill {
  border-radius: 10rem
}

.badge-outline-info {
  color: #3da5f4;
  border: 1.5px solid #3da5f4
}

.badge-outline-danger {
  color: #f1536e;
  border: 1.5px solid #f1536e
}

.badge-outline-success {
  color: #00c689;
  border: 1.5px solid #00c689
}

.badge-outline-warning {
  color: #fda006;
  border: 1px solid #fda006
}

.dms-links{
  list-style-type: disc;
}

.dms-links li a{
  display: block;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 5px;
}

/* ========= Mat Select Styles ========= */

mat-select{
  padding: 10px 5px;
  background-color: #fff;
  margin-right: 5px;
}
div#mat-select-0-panel{
  min-width: auto;
}

.mat-select-panel-wrap.ng-tns-c275-0.ng-trigger.ng-trigger-transformPanelWrap.ng-star-inserted{
  transform: none;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #303F9F;
}

.kt-widget__details {
  min-width: 90px;
}
.kt-media-group .kt-media.kt-media--sm img {
  max-width: 25px;
  height: 25px;
  cursor: pointer;
}
.kt-media-group .kt-media.kt-media--sm span {
  width: 25px;
  height: 25px;
  background: #deecf8;
  color: #2786fb;
}
.bg-today {
  background-color: #342bf0 !important;
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}

#project-4_wrapper table tbody tr {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hvr-item {
  display: none;
  position: absolute;
  right: 0;
  background: #fff;
  height: 100%;
  min-width: 200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ebedf2;
  color: #2786fb;

}
.chck-div{
  cursor: pointer;
}
#project-4_wrapper table tbody tr:hover .hvr-item {
  display: flex;
}
#project-4_wrapper table tbody tr:hover {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: 0px 8px 20px rgb(0 0 0 / 12%);
}
.chck-div:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.chk-icn svg{
  width: 20px;
  height: 20px;
  fill: #2786fb;
}
.hvr-item::after {
  width: 145px;
  transition: all 0.1s;
  content: "";
  height: 47px;
  margin-left: -144px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgba(250, 251, 252, 0) 0%, #FAFBFC 100%);
  opacity: 1;
}
/* #project-4_wrapper tr:hover .hvr-item::after  {
  opacity: 1;
} */
@media only screen and (max-width: 768px) {
  .dropdown-menu-md.bg-ground{
    width: 80vw;
  }
}

.suc-hvr {
  color: #1dc9b7;
}
.suc-hvr:hover {
  background: #1dc9b7;
  color: #fff;
}
.dan-hvr {
  color: #dc3545;
}
.dan-hvr:hover {
  background: #dc3545;
  color: #fff;
}
.kt-widget__title{
  width: 250px;
}
@media (max-width: 1440px){
  .kt-widget__title{
    width: 240px;
  }
  .stat-td div{
    width: 135px;
  }
  .stat-td{
    width: 135px;
  }
}


@media (max-width: 1300px){
.kt-widget__title{
    width: 180px;
}
}


.kt-widget__title1{
  width: 200px;
  font-weight: 500;
}
@media (max-width: 1440px){
  .kt-widget__title1{
    width: 160px;
    font-weight: 500;
  }
}


@media (max-width: 1300px){
.kt-widget__title1{
    width: 160px;
    font-weight: 500;
}
}

.kt-leave-fixboxes{
   display:block;
   width:100px;
}







.stores-sec .mega-dropdown-menu {
  padding: 20px;
  width: 60%;
  /* border: 1px solid #ccc !important;
  box-shadow: none;
  -webkit-box-shadow: none; */
  top: 20px !important;
  left: -22px !important;
}
.stores-sec .mega-dropdown-menu:before {
content: "";
border-bottom: 15px solid #fff;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
left: 32px;
z-index: 10;
}
.stores-sec .mega-dropdown-menu:after {
content: "";
border-bottom: 17px solid #ccc;
border-right: 19px solid transparent;
border-left: 19px solid transparent;
position: absolute;
top: -17px;
left: 30px;
z-index: 8;
}

.stores-sec .mega-dropdown-menu1 .filter-box{
width: 33.3333%;
display: inline-block;
}

.sort-drop .dropdown-item{
  padding: 0.4rem 1rem;
}

a.dropdown-item{
  cursor: pointer;
}
.select-box{
  cursor: pointer;
}

.form-check-input1 {
  vertical-align: text-top;
  cursor: pointer;
  border-radius: 1px;
  border-color: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
}
.form-check-input {
  vertical-align: text-top;
  cursor: pointer;
  border-radius: 1px;
  border-color: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
}
.ps-1{
  position: relative;
  float: unset;
  margin: 0 !important;
}
.cmts-items {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #e4e7e8;
}
.cmts-svg svg {
  width: 20px;
  height: 20px;
  fill: #8d95a5;
}
.appr-comts h6 {
  margin: 0;
  flex: 1;
}
.exs-cmts {
  margin-bottom: 10px;
  color: #4b4343;
}
.exs-cmts .crd-bdy{
  overflow: auto;
  max-height: 200px;
}
.cmts-items:hover .cmts-svg svg {
  transform: scale(1.1);
  fill: #2786fb;
}
.cmts-svg {
  cursor: pointer;
}
.card-car{
  color: #595d6e;
}
#rejectbar.kt-quick-panel--on {
  width: 50% !important;
}

#acceptbar.kt-quick-panel--on {
  width: 50% !important;
}
.event-main {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  align-items: center;

}

.event-color {
margin-right: 10px;
background-color: transparent;
flex: 0 0 auto;
border-radius: 40px;
height: 10px;
width: 10px;
margin-left: 3px;
}
.event-color--info {
background-color: #4d87ff;
}
.event-color--transparent {
  border: 1px solid #ddd;
}
.event-title {
color: #555;
font-weight: 600;
display: flex;
flex-direction: row;
flex: 0 1 auto;
flex-wrap: wrap;
word-break: break-word;
overflow-wrap: break-word;
word-wrap: break-word;
-webkit-hyphens: manual;
-ms-hyphens: manual;
hyphens: manual;
}
.event-title a {
color: #007bff;
color: #555;
}
.event-media {
color: #2786fb!important;
}
.desc-1 {
  margin-left: 24px;
  color: #6d6c71;
}
.btm-des {
  display: flex;
  align-items: center;
}
.cus-scroll{
  max-height: 200px;
  overflow-y: auto;
}
.meetdt {
  padding: 0.8rem 1.25rem;
  border-bottom: 1px solid #ddd;
}
.crd-title{
  color: #595d6e;
}
.brb-1{
  border-bottom: 1px solid #ebedf2;
}
.status-d h6{
  margin-bottom: 0;
}
span.count2 {
  margin-left: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #deecf8;
  color: #2786fb;
  border-radius: 50%;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.noti {
  background: #153b5669;
  border-radius: 50%;
  padding: 0.2em 0.5rem 0.35rem 0.5rem;
  min-width: 1.429rem;
  min-height: 1.429rem;
  line-height: 1;
  margin-left: 5px;
  position: absolute;
  right: 5px;
}
.noti-cus {
  background: #153b5669 !important;
  border-radius: 500px !important;
  padding: 0.2em 0.8rem 0.35rem 0.8rem;
  min-width: 1.429rem;
  min-height: 1.429rem;
  line-height: 1;
  margin-left: 45px;
  color: #fff !important;
  font-size: 13px;
  font-weight: 400;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}
.st-line {
  font-size: 12px;
  font-weight: 400;
  color: #979797;
}
tr.odd.project-list_AC.active{
  background-color: #e0f1ff;
}
a.info-btn {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in;
  color: #8c8c8c;
}
a.info-btn:hover {
  background: #e6e6ff;
  color: #7D7EBB;
}
a.info-btn svg {
  width: 26px;
  height: 26px;
}
.leave-requisition-slider-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}
.open_requisition_sidebar_info {
  width: 55% !important;
}
.open_requisition_sidebar_info .kt-portlet__head {
  padding: 1rem;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.open_requisition_sidebar_info .kt-portlet--body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  min-height: calc(100vh - 4vh);
  height: auto;
}
.open_requisition_sidebar_info .leave-title {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.open_requisition_sidebar_info .grid{
  align-items: flex-start;
  animation: fade-in .5s forwards;
  display: block;
  gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  margin: 0;
  padding: 0px 12px;
  padding-bottom: 12px;
}
.open_requisition_sidebar_info .kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
  width: 24%;
  font-weight: 500;
}
.open_requisition_sidebar_info .kt-info-data-v {
   /* background-color: #f0f0f0; */
  border-radius: 35px;
  padding: 2px 14px;
  /* font-weight: 500; */
  color: #4f4f4f;
  /* margin-top: 10px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.open_requisition_sidebar_info .cnt-ovrl {
  text-decoration: none;
  font-size: 0.85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* -webkit-box-orient: vertical; */
  text-align: left !important;
}
.open_requisition_sidebar_info .d-check{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 14px 0px;
}
.open_requisition_sidebar_info .form-check-input[type=radio] {
  border-radius: 50%!important;
  border: 1px solid #adb5bd!important;
}
.open_requisition_sidebar_info label {
  color: #252323;
}
textarea.form-control {
  height: auto;
  border-radius: 4px 4px 0px 0px;
  z-index: 1;
  position: relative;
}
.previous-comments {
  border: 1px solid #e2e5ec;
  border-radius: 0px 0px 4px 4px;
  margin-top: -1px;
  background: #fff;
}
.previous-comments ul {
  list-style: none;
  padding: 10px 5px;
  margin-bottom: 0px;
  max-height: 110px;
  overflow: auto;
  background: #fff;
}
.previous-comments ul::-webkit-scrollbar {
  width: 5px;
}
.previous-comments li a {
  color: #a6a6a6;
  width: 100%;
  display: inline-block;
  padding: 0px 5px;
  line-height: 2;
  /* border-bottom: 1px dashed #ccc; */
  border: 1px solid #cccccc42;
  border-radius: 3px;
  margin-top: 6px;
}
.previous-comments li a:hover {
  background-color: #cccccc14;
  color: #000;
}

.open_requisition_sidebar_info .kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.open_requisition_sidebar_info .kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}
.open_requisition_sidebar_info .action-div{
  background: #e9eeff;
  padding: 10px 0px;
}


.leave{
  text-decoration: none;

}
.leave:hover{
  text-decoration: underline;
  color: #00B74A;
}
.selected-item-blue{
  background-color:#5867dd;
  color: #ffffff;
}
/*--leave requistion from--*/

.req-form{
  /* width:970px !important; */
  margin: 0px auto;
  padding: 20px 0px;
}
.req-form .head-title{
  border: none;
  padding: 0 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.28571429em;
  text-transform: none;
  color: #000000de;
}
.req-form .company-details p{
  margin-bottom: 0px;
  color: #000000de;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}
.head-date{
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  color: #000000de;
}
.logo img {
  width: 60px;
}
.req-form .main-card{
  position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 #22242626;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid #22242626;
}
.req-form .label{
  color: #000000de;
  width: 30%;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}
.req-form .data{
  color: #000000de;
  font-size: 14px;
  width: 68%;
  display: inline-block;
}
.req-form .card{
  border: 0px solid #ebedf2;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.req-form .card-header{
  color: #000000de;
  font-size: 18px;
  font-weight: 500;
}
.req-form .card-body{
  padding: 0.75rem 1.25rem;
}
.leave-requisition-form-slider-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}
.leave-requisition-form-slider-bar.open_requisition_sidebar_info {
  width: 55% !important;
}
.leave-requisition-form-slider-bar.open_requisition_sidebar_info .kt-portlet--body {
  
}
.levress{
  text-decoration: none;
}
.levress:hover{
 text-decoration: underline;
 color: #007bff;
cursor: pointer;
}
a.dropdown-item{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.not-title h5 {
  color: #000;
  padding: 6px 3px;
  margin-bottom: 0.2rem;
}
span.count {
  background: #9886eb;
  padding: 0px 4px;
  color: #ffffff;
  cursor: auto;
  border-radius: 3px;
  font-size: 11px;
}
.fil-lbl {
  flex: 1;
  text-align: left;
}
.chck-icn {
  display: none;
}
.active .chck-icn {
  display: block;
}
.btn-filtr {
  color: #323130;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
}

.btn-filtr:hover {
  background: #f3f2f1;
}

.btn-filtr.active{
  color: #2786fb;
  background: rgba(39, 134, 251, 0.1) !important;
}

.btn-filtr.active .count {
  background: #5766d7;
  color: #fff;
}

.btn-filtr .count{
  background: #717171;
  color: #fff;
  border-radius: 3px;
  margin-right: 4px;
  padding: 0px 2px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 2;
}

.btn-filtr svg {
  fill: #5c5b5a;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}
.btn-filtr.active svg {
  fill: #5766d7 !important;
}
.dropdown-menu.dropdown-menu-xl {
  width: 250px;
}
 #dropd {
  margin-top: 18px;
}

.btn-filtr .count.pj-aprvls{
  background-color: #35A79C;
}

.btn-filtr .count.infors{
  background-color: #64B5F6;
}
.btn-filtr .count.lv-reqs{
  background-color: #9C27B0;
}
.btn-filtr .count.lv-resps{
  background-color: #795548;
}

.kt-detail-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.kt-detail-link {
  color: #009688;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 10px;
  margin-right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aac3ff;
}
.kt-detail-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.kt-detail-iconname {
  font-size: 13px;
  color: #7e818f;
  margin-left: 8px;
  font-weight: 400;
  text-wrap: nowrap;
}
.kt-detail-link:hover {
  background-color:#d8e0ff;
  transition: all .3s ease;
}
.kt-detail-link.active {
  background-color:#d8e0ff;
  transition: all .3s ease;
}


.prvcmt-chip{
  border: 1px solid #e1e1e1;
  border-radius: 16px;
  background-color: #f8f8f8;
}

.prvcmt-chip:hover a{
  background-color:#eeeaff;
}
.previous-comments .prvcmt-chip:active a{
  background-color: #c7c7c7;
}


.error-border,
.error-date .input-group-text,
.error-date .form-control,
::ng-deep .error-vd .ng-select-container {
  border: 1px solid #F44336 !important;
}
.new_appraval{
  background-color: #9C27BD !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.cancellation{
  background-color: #F44336 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;
}
.completion{
  background-color: #81C784 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;

}
.Done{
  background-color: #388E3C !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;
}
.Forward{
  background-color: #9C27BD !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.process{
  background-color: #64B5F6 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.not_started{
  background-color: #E0E0E0 !important;
  color: black !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.hold{
  background-color: #795548 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.proj_rej{
  background-color: #BA68C8 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.proj_comp{
  background-color: #F44336 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.Deadline{
  background-color: #F9A825 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}
.new_act{
  background-color: #1E88E5 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
display: inline-block;
}
.attach-tippy{
  position: relative;
}
.attach-tippy .st-line{
  min-width: 13rem;
  padding: 1rem 1rem;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-110px, 23px, 0px);
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  border-radius: .25rem;
  transition: all .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: none;
  z-index: 1;
}
.attachment {
  padding: 5px;
  cursor: pointer;

}
/* width: max-content;
display: inline-block; */
.attach-tippy-div:hover .st-line{
  display: block;
}
.attach-tippy:hover .st-line{
  display: block;
}
/*new details page loading circle start*/

.smart-glass {
  /* position: absolute; */
  margin: auto;
  /* left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  /* width: 288px;
  height: 388px; */
}

.logo {
  width: 288px;
  height: 288px;
  position: relative;
}

.circle {
  padding: 20px;
  border: 6px solid transparent;
  border-top-color: #6388e3;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: connect 2.5s linear infinite;
}

.loader-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



.notifloading_spinner .logo{
  width: 200px;
  height: 200px;
}

.notifloading_spinner .circle{
  padding: 11px;
  border-width:4px;
  animation-duration: 2.2s;
}

.notifloading_spinner .loader-img {
  width: 65px;
  height: 50px;
}


@keyframes connect {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/*new details page loading circle end*/


.AuditUnderApproval{
  background-color: #A5D6A7 !important;
  color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}



.cnt-ovrl1 {
  text-decoration: none;
  font-size: 0.85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



.kt-info-lable-v1 {
  font-size: 12px;
  color: black;
  letter-spacing: 0.3px;
}


.kt-info-data-v1 {
  background-color: #f0f0f0;
  border-radius: 35px;
  padding: 7px 4px;
  font-weight: 500;
  color: #4f4f4f;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leaveAprvlForm .kt-info-data-v1{
   background-color: #dde1f8;
}

.kt-reject-form-view {
  margin-top: 13px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 1px #ccc;
}

.kt-info-pg-footer {
  margin: 5px 10px;
}

.btn-project-stv {
  width: 100px;
  background-color: #f0f0f0;
}

.Bt-Submit {
  background-color: transparent;
  color: #2786fb; 
  font-size: 14px;
  border: 1px solid #2786fb;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Bt-Submit:hover {
  background-color: #2786fb;
  color: #fff;
}

.Bt-close {
  /* padding: 4px 1px; */
  background-color: transparent;
  color: #a7a7a7;
  font-size: 14px;
  border: 1px solid #a7a7a7;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Bt-close:hover{
  background-color: #a7a7a7;
  color: #fff;
}


/*circles*/

.timeline-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1ef;
}
.timeline-icon .tmicn-svg{
  fill: #e1e1ef;
}


.timeline-icon.approved{
  border-color: #4caf50;
  animation-name: grow_circle;
  animation-duration:0.5s;
  animation-delay:2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.timeline-icon.approved .tmicn-svg{
  fill: #4caf50;
}




.timeline-icon.rejected{
  border-color: #ff00008c;
}
.timeline-icon.rejected .tmicn-svg{
  fill: red;
}


.line-aprved{
   border-style:solid;
   border-color:#4caf50b0;
}
.line-pending{
  border-style:dashed;
  border-color:#ede6ef;
}

/*circles*/

#leave-aprv-list table th, #prj-aprv-list table th{
  background-color: #e9e9e9 !important;
}



#darReqRes-list table thead th{
  background-color: #e9e9e9 !important;
}




/*dar sidebar css start*/

.dar-reqs-slider-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}
.dar-reqs-slider-bar.open_sidebar {
  width: 55% !important;
}


.btn-filtr .count.dr-reqs{
 background-color: #527ce2;
}

.btn-filtr .count.dr-resps{
 background-color: #ffc432;
}







.dar-reqs-slider-bar.open_sidebar .kt-portlet__head {
  padding: 1rem;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.dar-reqs-slider-bar.open_sidebar .kt-portlet--body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  min-height: calc(100vh - 4vh);
  height: auto;
}
.dar-reqs-slider-bar.open_sidebar .leave-title {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.dar-reqs-slider-bar.open_sidebar .grid{
  align-items: flex-start;
  animation: fade-in .5s forwards;
  display: block;
  gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  margin: 0;
  padding: 0px 12px;
  padding-bottom: 12px;
}
.dar-reqs-slider-bar.open_sidebar .kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
  width: 24%;
  font-weight: 500;
}
.dar-reqs-slider-bar.open_sidebar .kt-info-data-v {
   /* background-color: #f0f0f0; */
  border-radius: 35px;
  padding: 2px 14px;
  /* font-weight: 500; */
  color: #4f4f4f;
  /* margin-top: 10px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.dar-reqs-slider-bar.open_sidebar .cnt-ovrl {
  text-decoration: none;
  font-size: 0.85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* -webkit-box-orient: vertical; */
  text-align: left !important;
}



.dar-reqs-slider-bar.open_sidebar .kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.dar-reqs-slider-bar.open_sidebar .kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}


.dar-reqs-slider-bar .dar-underaprvl{
  background-color: #9C27BD !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}

#dar-req_slider_bar .dar-achievement-sec {
  margin: 0px 0px;
  padding: 14px !important;
  background: #f2f5ff;
  border-radius: 4px;
  overflow-x: auto;
}

#dar-req_slider_bar .dar-achievement-sec .time-table
{
  display: block; 
  max-height: 35vh;
  overflow-y: auto;
  background-color: #fff;
}

#dar-req_slider_bar .dar-achievement-sec table.time-table thead th{
  font-size: 12px;
  background-color: #6e6d7614 !important;
  color: #090808;
  padding: 10px;
  font-weight: 600;
}


#dar-req_slider_bar .dar-achievement-sec table.time-table tbody tr td{
  border-top: 1px solid #e1e6ee;
  padding: 10px;
  color: #0b0e1f;
  vertical-align: middle;
}

/*dar sidebar css end*/



/* new prj rej release dropdown below status start */


.min_height_fvoo{
  min-height: 500px;
}

.newaprvl-label2{
  font-weight: 500;
  color: #8c8c8c;
}



.new-p-rejects-drpdwn{
  margin-top: 21px; 
  margin-left: -24px; 
  min-width: 370px;
  max-height: 340px;
  overflow-y: auto;
}

.new-p-rejects-drpdwn::-webkit-scrollbar{
    width:8px;
}

.new-p-rejects-drpdwn::-webkit-scrollbar-thumb{
    background-color: #a7a5a540;
    border-radius: 4px;
}

.new-p-rejects-drpdwn::-webkit-scrollbar-track{
    background-color: #fff;
}


.timeline {
  position: relative;
  padding-left: 32px;
  margin: 3px 11px 3px 30px;
  color: white;
}

.timeline .timeline-container {
  position: relative;
  margin-bottom: 16px
}

.timeline .timeline-container:not(.last-item):before {
  content: "";
  position: absolute;
  left: -32px;
  top: 40px;
  width: 3px;
  height: 69%;
  background: #c9c9c9;
}


.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -50px;
  top: 0px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.timeline .timeline-container.sent .timeline-icon {
  color: #4CAF50;
}



.timeline .timeline-container .timeline-icon svg {
  width: 16px;
  height: 16px;
}

.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.timeline .timeline-container .timeline-body {
  color: #000;
  padding-top: 8px;
}

.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 0px;
  font-size: 14px;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  /* font-weight: 500; */
  margin-bottom: 0px;
  font-size: 10px;
  text-wrap-mode: nowrap;
  color: #8c8c8c;
}

.timeline .timeline-container .timeline-body .timeline-content {
  color: #999;
  line-height: 1.45em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.timeline .timeline-container .timeline-body .timeline-content.msg-type {
  border: 1px dashed #ccc;
  padding: 0.35em;
  border-radius: 8px 8px 8px 8px;
}


.timeline-body .timeline-submitby{
  color: #8c8c8c; 
  font-weight: 500;
}

/* new prj rej release dropdown below status end */


/*reject approval's existing comments new design start*/


.reject-comments-sec{

}

.reject-comments-sec .comment-search-bx{
  margin-bottom: 10px;
}



.reject-comments-sec  .existing-comments-sec
{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0px 10px 1px 10px;
}


.reject-comments-sec  .existing-comments-sec legend
{
  width: fit-content;
  margin-left: 0;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
}

.reject-comments-sec .existing-comments-sec .all-comments-list{
  overflow: auto;
  max-height: 200px;
}
.reject-comments-sec  .existing-comments-sec .all-comments-list .cmts-items{
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #e4e7e8;
}

.reject-comments-sec  .existing-comments-sec .all-comments-list .cmts-items:hover .cmts-actns .cmts-svg svg {
  transform: scale(1.1);
  fill: #2786fb;
}

.prev-cmt-drp{
  min-width: 130px;
  margin-left: 10px;
  border: 1px solid #e2e5ec;
}


.cmts-items .cmts-value{
  flex: 1; 
  display:flex;
  align-items: center;
}


.cmts-items .cmts-value .used-cnt{
  font-size: 11px;
  color: #aeadad;
  visibility: hidden;
  margin-right:8px;
}

.cmts-items:hover .cmts-value .used-cnt{
   visibility:visible;
}


/*reject approval's existing comments new design end*/



/*new nav tab btn css start*/
 
.nt-nav-tab
{
  background-color: transparent !important;
  border-radius: 0;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  color:#888888;
}

.nt-nav-tab svg{
  stroke:#888888 !important;
}

.nt-nav-tab.active{
  border-bottom: 3px solid #1e88e5;
  color: #000;
}
.nt-nav-tab.active svg{
  stroke:#000 !important;
}

.nt-nav-tab:hover{
   background-color: #7574740d !important;
}
.nt-nav-tab.active:hover{
  background-color: transparent !important;
}

/*new nav tabs btn css end*/


.compl-remarks-span {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-height: 3.98em;
  line-height: 1.5em;
  cursor: default;

}


.txt-expnd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 8px;
  border: 0;
  background-color: #dde1f8;
}

.txt-expnd-btn svg {
  stroke: #898989;
  stroke-width: 2px;
}

.txt-expnd-btn:hover {
  background-color: #eaeaea;
}

.txt-expnd-btn:hover svg {
  stroke-width: 2.6px;
}
