<ngx-loading-bar [height]="'3px'" ref="http" [includeSpinner]="false"></ngx-loading-bar>
<!-- <mat-progress-bar *ngIf="isLoading"></mat-progress-bar> -->
<router-outlet></router-outlet>
<!-- <div id="mysideInfobar" class="sideInfobar animate-right">
    <app-project-info [inputFromParent]="parentToChild" *ngIf= '_loadChildComponent'></app-project-info>
 </div>  -->
<!-- [inputFromParent]="parentToChild" *ngIf= '_loadChildComponent' -->
<!-- <button (click)="showToasterSuccess()">
        Success Toaster
    </button>
      
    <button (click)="showToasterError()">
        Error Toaster
    </button>
      
    <button (click)="showToasterInfo()">
        Info Toaster
    </button>
      
    <button (click)="showToasterWarning()">
        Warning Toaster
    </button> -->
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-default></app-default> -->



