<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid margin-height">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title"  data-tippy-content="Another Tooltip" id="tippy1">
                            <i class="fas fa-registered mr-2 text-primary"></i>
                            <strong>Runway Task</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Two Side Work -->
    <div class="row">
        <!-- Block 1 -->
        <div class="col-lg-3">

            <div class="sidebar scrollbar">
                <ul class="side-bar-box">
                    <!-- [ngClass]="{'bg-secondary': }" id="SelectedCat_{{item.Category_ID}} -->
                    <li *ngFor="let item of CategoryList" [ngClass]="{'bg-secondary': item.Category_ID==_Categoryid}">
                        <a>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <!--Textbox Category Rename -->
                                <span class="kt-inbox__subject w-100" id="TextboxCat_{{item.Category_ID}}"
                                    style="display: none;">
                                    <div class="d-flex">
                                        <input type="text" class="form-control" [(ngModel)]="Cat_Name"
                                            (keydown.enter)="OnCategoryRename(item.Category_ID)">
                                        <div class="d-flex ml-3" id="button-addon4">
                                            <button class=" btn btn-secondary btn btn-sm py-0 px-2 mr-2"
                                                (click)="OnCategoryRename(item.Category_ID)"><i
                                                    class="fas fa-check text-info"></i></button>
                                            <button class=" btn btn-secondary btn btn-sm py-0 px-2"
                                                (click)="OnCat_Cancel(item.Category_ID)"><i
                                                    class="fas fa-times text-dark"></i></button>
                                        </div>
                                    </div>
                                </span>
                                <div class="d-flex flex-column align-items-cente py-2 w-90">
                                    <div id="LabelCat_{{item.Category_ID}}"
                                        (click)="OnCategoryClick(item.Category_ID,item.Category_Name)">
                                        <span>
                                            <p
                                                class="text-dark-75 font-weight-bold text-hover-primary font-size-lg project-title mb-2">
                                                {{item.Category_Name}}
                                            </p>
                                        </span>
                                        <span class="kt-badge kt-badge--dark  kt-badge--inline w-content">
                                            <div class=""> {{item.Created_DT|date}}</div>
                                        </span>
                                        <!-- <span class="kt-badge kt-badge--primary  kt-badge--inline w-content">
                                            {{item.Created_DT|taskDateAgo}}
                                        </span> -->

                                        <span class="kt-badge kt-badge--info  kt-badge--inline w-content">
                                            <div class="">{{item.TaskCount}}</div>
                                        </span>

                                        <!-- Venkat Class For Count 
                                            <span class="kt-badge kt-badge--primary kt-badge--inline w-content b-r-20">33</span> -->
                                    </div>
                                    <!-- End -->
                                </div>
                                <!-- <div class="d-flex flex-wrap align-items-center py-lg-0 py-2"> -->
                                <span mat-icon-button [matMenuTriggerFor]="menuCat" [hidden]="hideMenuOfCategory"
                                    aria-label="Example icon-button with a menu" matTooltip="More">
                                    <mat-icon color="primary">more_vert</mat-icon>
                                </span>
                                <mat-menu #menuCat="matMenu" xPosition="after">
                                    <button mat-menu-item mat
                                        (click)="OnCategoryEdit_Click(item.Category_ID,item.Category_Name)">
                                        <mat-icon class="mr-2" color='primary'>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>

                                    <button mat-menu-item mat
                                        (click)="OnDeleteCategory(item.Category_ID,item.Category_Name)">
                                        <mat-icon class="mr-2" color='primary'>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                                <!-- </div> -->
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="add_assigned_task1 mt-2">
                <div class="form-group mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend w-100">
                            <button class="btn btn-primary btn-sm lh-25" (click)="OnSubmitCategory(Mdl_CategoryName)">
                                <i class="la la-plus text-white mr-0"></i>
                            </button>
                            <input type="text" class="form-control add_assign_task_input brdr-gr"
                                placeholder="Add category and press enter to submit"
                                (keydown.enter)="OnSubmitCategory(Mdl_CategoryName)" [(ngModel)]="Mdl_CategoryName">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Block 2  -->
        <div class="col-lg-9">
            <!-- Messages If Not Found -->
            <h4 style="color:lightgray">{{IfNoTaskFound}}</h4>
            <!-- Messages End -->
            <div [hidden]="ShowTaskList_Div ">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>{{_CategoryName}}</h3>
                    </div>

                </div>
                <!-- Test Work -->
                <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid">
                    <div id="kt_inbox" class=" kt-inbox">
                        <!-- Inprocess -->
                        <div class="row">
                            <div class="col-lg-12 scrollbar1">
                                <h5 *ngIf="_TodoList.length>0">Task</h5>
                                <div data-type="inbox" class="kt-inbox__items">
                                    <div class="mb-2 card" *ngFor="let item of _TodoList; let i=index">
                                        <div class="card-body p-2 Replied_border_left_true_NewProject mr-2">
                                            <div data-type="inbox" class="d-flex flex-wrap align-items-center my-1">
                                                <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 m-auto">
                                                    <div class="kt-inbox__actions">
                                                        <input type="radio" name="Subtask" class="subtask-radio mx-4"
                                                            (click)="OnRadioClick(item.Assign_Id)"
                                                            [disabled]="item.TypeOfTask=='SUBTASK'" />
                                                    </div>
                                                </div>
                                                <!-- Working Now -->
                                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3 w-75">
                                                    <div
                                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                                                        <span class="kt-inbox__subject"
                                                            id="spnLabel_{{item.Assign_Id}}">
                                                            {{item.Task_Name}}</span>
                                                        <span class="kt-inbox__subject" style="display:none;"
                                                            id="spanTextbox_{{item.Assign_Id}}">
                                                            <div class="d-flex">
                                                                <input type="text" autofocus class="form-control"
                                                                    [(ngModel)]="_taskName"
                                                                    style="width: 78%;height: 32px;"
                                                                    (keydown.enter)="OnTask_Rename()">
                                                                <div class="d-inline-block ml-3" id="button-addon4">
                                                                    <button (click)="OnTask_Rename()"
                                                                        class=" btn btn-primary btn btn-sm mr-2">Done</button>
                                                                    <button class=" btn btn-secondary btn btn-sm"
                                                                        (click)="onCancel(item.Assign_Id)">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <!-- Rename Model -->

                                                    <div class="mt-2">
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-dark kt-badge-light-bold kt-badge--inline mr-2">
                                                            {{item.Creation_Date|date:'medium'}}
                                                        </span>
                                                        <!-- <span
                                                            class="kt-badge kt-badge--dark  kt-badge--inline w-content">
                                                            {{item.Creation_Date|date:'medium'}}
                                                        </span> -->
                                                        <!-- Act Fiber Care --- 7288 9999 99 , 91 21 21 21 21 -->
                                                        <!-- <span
                                                            class="kt-badge kt-badge--primary  kt-badge--inline w-content">
                                                            {{item.Creation_Date|taskDateAgo}}
                                                        </span> -->
                                                        <!-- <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                            {{item.Creation_Date|taskDateAgo}}
                                                        </span> -->
                                                        <span *ngIf="item.TypeOfTask=='SUBTASK'"
                                                            class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                            Action Added To
                                                            <mat-icon color='primary' class="ml-2">task_alt</mat-icon>
                                                        </span>

                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center py-lg-0 py-2"
                                                    id="div_{{item.Assign_Id}}" *ngIf="item.TypeOfTask!='SUBTASK'">
                                                    <span matTooltip="Action Re-Name"
                                                        (click)="OnEditNameClick(item.Task_Name,item.Assign_Id)"
                                                        class="mr-2">
                                                        <mat-icon class="mr-2" color="primary">edit</mat-icon>
                                                    </span>
                                                    <!-- <span class="mr-2" matTooltip="Create New Project">
                                                        <mat-icon color="primary">add</mat-icon>
                                                    </span> -->
                                                    <span matTooltip="Delete Task"
                                                        (click)="_Deletetask(item.Assign_Id,item.Task_Name)"
                                                        class="mr-2">
                                                        <mat-icon color='primary'>delete</mat-icon>
                                                    </span>
                                                    <span mat-icon-button [matMenuTriggerFor]="menu"
                                                        aria-label="Example icon-button with a menu" matTooltip="More">
                                                        <mat-icon color="primary">more_vert</mat-icon>
                                                    </span>
                                                    <mat-menu #menu="matMenu" xPosition="after">

                                                        <button mat-menu-item mat
                                                            (click)="GetProjectTypeList(item.Task_Name,item.Assign_Id)">
                                                            <mat-icon class="mr-2" color='primary'>group</mat-icon>
                                                            <span>Assign Task/Project</span>
                                                        </button>

                                                        <button mat-menu-item mat
                                                            (click)="ActionToProject_Click(item.Task_Name,item.Assign_Id)">
                                                            <mat-icon class="mr-2" color='primary'>new_label</mat-icon>
                                                            <span>Add Action To Project</span>
                                                        </button>
                                                    </mat-menu>
                                                    <mat-menu #AssignTo="matMenu">
                                                        <span *ngFor="let item1 of EmployeeList">
                                                            <button mat-menu-item
                                                                (click)="OnEmployeeSelect(item1.Emp_No,item.Assign_Id)">{{item1.Tm_DisplayName}}</button>
                                                        </span>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Completed -->
                                <h5 *ngIf="_CompletedList.length>0">Completed</h5>
                                <div data-type="inbox" class="kt-inbox__items">
                                    <!-- Completed  -->
                                    <div class="card mb-2" *ngFor="let item of _CompletedList">
                                        <div class="card-body p-2 Replied_border_left_true_success mr-2">
                                            <div data-type="inbox" class="d-flex flex-wrap align-items-center my-1">
                                                <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 m-auto">
                                                    <div class="kt-inbox__actions">
                                                        <input type="radio" class="subtask-radio mx-4"
                                                            (click)="On_Uncheck(item.Assign_Id)" checked>
                                                        <span></span>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3 w-75">
                                                    <div
                                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                                                        <span class="kt-inbox__subject"><s>{{item.Task_Name}}</s></span>
                                                    </div>
                                                    <div class="mt-2">
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-dark kt-badge-light-bold kt-badge--inline mr-2">
                                                            <div>
                                                                {{item.Modified_DT|date:'medium'}}
                                                            </div>
                                                        </span>
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-success kt-badge-light-bold kt-badge--inline">
                                                            {{item.ToDo_Status}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="kt-inbox__datetime">
                                                </div>
                                                <div class="delete-btn">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h5 *ngIf="ActionedSubtask_Json.length>0">Actioned To Projects</h5>
                                <div data-type="inbox" class="kt-inbox__items">
                                    <!-- Action Subtask -->
                                    <div class="mb-2 card" *ngFor="let item of ActionedSubtask_Json">
                                        <div class="card-body p-2 Replied_border_left_true_underApprovals mr-2">
                                            <div data-type="inbox" class="d-flex flex-wrap align-items-center my-1">
                                                <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 m-auto">
                                                    <div class="kt-inbox__actions">
                                                        <!-- <input type="radio" class="subtask-radio" [disabled]="true"> -->
                                                        <span></span>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3 w-75">
                                                    <div
                                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                                                        <span class="kt-inbox__subject">{{item.Task_Name}}</span>
                                                    </div>
                                                    <div class="mt-2">
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-dark kt-badge-light-bold kt-badge--inline">
                                                            <div>
                                                                {{item.Modified_DT|date:'medium'}}
                                                            </div>
                                                        </span>
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                            Action Added To
                                                            <mat-icon color='primary' class="ml-2 mr-2">task_alt
                                                            </mat-icon>
                                                            <b>{{item.Project_Name}}</b>
                                                        </span>
                                                        <span
                                                        class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                        Assigned To
                                                        <mat-icon color='primary' class="ml-2 mr-2">task_alt
                                                        </mat-icon>
                                                        <b>{{item.Assigned_Name}}</b>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="kt-inbox__datetime">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 *ngIf="ActionedAssigned_Josn.length>0">Assigned Task/Project</h5>
                                <div data-type="inbox" class="kt-inbox__items">
                                    <!-- Action Assigned Tasks -->
                                    <div class="mb-2 card" *ngFor="let item of ActionedAssigned_Josn">
                                        <div class="card-body p-2 Replied_border_left_true_warning mr-2">
                                            <div data-type="inbox" class="d-flex flex-wrap align-items-center my-1">
                                                <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 m-auto">
                                                    <div class="kt-inbox__actions">
                                                        <!-- <input type="radio" class="subtask-radio" [disabled]="true"> -->
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3 w-75">
                                                    <div
                                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                                                        <span class="kt-inbox__subject">{{item.Task_Name}}</span>
                                                    </div>
                                                    <div class="mt-2">
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-dark kt-badge-light-bold kt-badge--inline">
                                                            <div><img src="../assets/icons/create2.png" alt="actiondate" class="badge-img"></div>
                                                            <div>
                                                                {{item.Modified_DT|date:'medium'}}
                                                            </div>
                                                        </span>
                                                        <span
                                                            class="kt-inbox__label kt-badge kt-badge--unified-info kt-badge-light-bold kt-badge--inline mybutton" (click)="openInfo()">
                                                            Assigned Task/Project
                                                            <mat-icon color='success' class="ml-2 mr-2">task_alt
                                                            </mat-icon>
                                                            <b> {{item.AssignedTo}}</b>
                                                        </span>
                                                        <!-- <span  class="kt-inbox__label kt-badge kt-badge kt-badge--unified-info kt-badge-light-bold kt-badge--inline">
                                                            <div><img src="../assets/icons/action-info.png" alt="actiondate" class="badge-img"></div>
                                                            <div> {{item.Creation_Date}}</div>
                                                        </span> -->
                                                        <span  class="kt-inbox__label kt-badge kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                            <div><img src="../assets/icons/strat-prim.png" alt="actiondate" class="badge-img"></div>
                                                            <div> {{item.Start_Date}}</div>
                                                        </span>
                                                        <span  class="kt-inbox__label kt-badge kt-badge kt-badge--unified-primary kt-badge-light-bold kt-badge--inline">
                                                            <div><img src="../assets/icons/end-prim.png" alt="actiondate" class="badge-img"></div>
                                                            <div> {{item.End_Date}}</div>
                                                        </span>
                                                        <span  class="kt-inbox__label kt-badge kt-badge kt-badge--unified-success kt-badge-light-bold kt-badge--inline">
                                                            <div><img src="../assets/icons/done-suc.png" alt="actiondate" class="badge-img"></div>
                                                            <div> Jun 29, 2022</div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="kt-inbox__datetime">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="add_assigned_task-removeforcss mt-2 pr-1">
                    <div class="form-group mb-0">
                        <a class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 text-white my-1 float-right d-none"
                            id="addbtn"><i class="la la-plus text-white mr-2"></i>Add Task</a>
                        <div class="input-group" id="addtsk">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary btn-sm lh-25" id="basic-addon1"
                                    (click)="EnterSubmit(_Demotext)">
                                    <i class="la la-plus text-white mr-0"></i>
                                </button>
                            </div>
                            <input type="text" [(ngModel)]="_Demotext"
                                class="form-control add_assign_task_input brdr-gr"
                                placeholder="Add task to @'{{_CategoryName}}' and press enter to submit"
                                (keydown.enter)="EnterSubmit(_Demotext)" aria-describedby="basic-addon1">
                            <!-- <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="la la-calendar-o"></i>
                                    </span>
                                    <span class="input-group-text curser-pointer" id="basic-addon1" data-toggle="modal"
                                        data-target="#AssignTo">
                                        <i class="la la-user"></i>
                                    </span>
                                    <span class="input-group-text" id="basic-addon1" data-toggle="modal"
                                        data-target="#AttachmentModal">
                                        <i class="la la-paperclip"></i>
                                    </span>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- New Task Assigning Form -->
    <!-- <div id="mysideInfobar_AssignTask" class="sideInfobar animate-right">
        <router-outlet></router-outlet>
    </div> -->
    <!-- <div id="mysideInfobar_AssignTask" class="sideInfobar animate-right offcanvas">
        <div class="p-4">
            <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5" kt-hidden-height="40">
                <h3 class="font-weight-bold m-0">Assign Task/Project</h3>
                <a href="javascript:void(0)" class="btn btn-xs btn-icon btn-hover-primary" (click)="closeInfo()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="form-group">
                <label>Project Type</label>
                <mat-select [(ngModel)]="selectedProjectType" placeholder="Select Project Type" class="form-control">
                    <mat-option *ngFor="let item of ProjectTypelist" [value]="item.Exec_BlockNo">
                        {{item.Exec_BlockName}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="form-group">
                <label> Task/Project Name</label>
                <input type="text" class="form-control" placeholder="Task Name" aria-describedby="basic-addon1"
                    [(ngModel)]="_taskName" disabled>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" aria-describedby="basic-addon1" [(ngModel)]="_description"
                    style="height: 139px"></textarea>
            </div>
            <div class="form-group">
                <label>Assign To : <strong></strong> <span class="text-danger">*</span> </label>
                <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_Employee"
                    [data]="EmployeeList" [(ngModel)]="SelectedEmplList" (onSelect)="EmployeeOnSelect($event)"
                    (onDeSelect)="EmployeeOnDeselect($event)">
                </ng-multiselect-dropdown>
            </div>


            <div class="form-group">
                <label>Start Date</label>
                <div class="input-group">
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [min]="disablePreviousDate" [(ngModel)]="_StartDate"
                        placeholder="Start Date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>End Date</label>
                <div class="input-group">
                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" [min]="disablePreviousDate" [(ngModel)]="_EndDate"
                        placeholder="End Date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>
            </div>



            <div class="form-group" [hidden]="selectedProjectType!='003'">
                <mat-select [(ngModel)]="SelectedSubmissionType" name="Select Type" placeholder="Submission Type"
                    class="form-control">
                    <mat-option [value]="0">Select Type</mat-option>
                    <mat-option [value]="1">Daily</mat-option>
                    <mat-option [value]="2">Weekly</mat-option>
                    <mat-option [value]="4">Monthly</mat-option>
                    <mat-option [value]="8">Quarterly</mat-option>
                    <mat-option [value]="10">HalfYearly</mat-option>
                    <mat-option [value]="16">Annually</mat-option>
                </mat-select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Remarks</label>
                <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                    style="height: 111px;"></textarea>
            </div>
            <div class="form-group">
                <div class="custom-file pl-1">
                    <label for="exampleFormControlFile1">Reference</label>
                    <input type="file" class="form-control-file" id="uploadFile" accept="application/pdf"
                        (change)="onFileChangeATP($event)">
                </div>
            </div>

            <div class="form-group mb-1">
                <button type="submit" class="btn btn-primary" [disabled]="_taskName==''||selectedEmployee==''"
                    (click)="OnAssignTask_Submit()" style="width: 150px;">Submit
                </button>
            </div>
        </div>
    </div> -->

    <!-- Action To Project -->
    <!-- <div id="mysideInfobar_ProjectAction" class="sideInfobar animate-right offcanvas">

        <div class="p-4">
            <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5" kt-hidden-height="40">
                <h3 class="font-weight-bold m-0">Action To Project</h3>
                <a href="javascript:void(0)" class="btn btn-xs btn-icon btn-hover-primary closebtn"
                    (click)="closeInfo()">
                    <i class="fa fa-times"></i>
                </a>
            </div>

            <div class="form-group">
                <label>Select Project</label>
                <ng-multiselect-dropdown [placeholder]="'Select Project'" [settings]="dropdownSettings_Projects"
                    [data]="_ProjectDataList" [(ngModel)]="selectedProjectCodelist" (onSelect)="ProjectOnSelect($event)"
                    (onDeSelect)="ProjectOnDeselect($event)" (onFilterChange)="onFilterChange($event)">
                </ng-multiselect-dropdown>

               
            </div>

            <div class="form-group">
                <label> Action Name </label>
                <input type="text" class="form-control" [(ngModel)]="_taskName" required disabled />
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="_description" style="height: 139px"></textarea>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span> Assign To : <strong></strong> </label>
                <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings_Employee"
                    [data]="EmployeeList" [(ngModel)]="SelectedEmplList" (onSelect)="EmployeeOnSelect($event)"
                    (onDeSelect)="EmployeeOnDeselect($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group">
                <label>Start Date</label>
               

                <div class="input-group">
                    <input matInput [matDatepicker]="picker3" (click)="picker3.open()" [min]="disablePreviousDate" [(ngModel)]="_StartDate"
                        placeholder="Start Date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>End Date</label>
                <div class="input-group">
                    <input matInput [matDatepicker]="picker4" (click)="picker4.open()" [min]="disablePreviousDate" [(ngModel)]="_EndDate"
                        placeholder="End Date" class="form-control">
                    <div class="input-group-text p-0">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Remarks</label>
                <textarea class="form-control" aria-label="With textarea" [(ngModel)]="_remarks"
                    style="height: 111px;"></textarea>
            </div>

            <div class="form-group">
                <div class="custom-file pl-1">
                    <label for="exampleFormControlFile1">Reference</label>
                   
                    <input type="file" class="form-control-file" id="uploadFile" accept="application/pdf"
                        (change)="onFileChangeATP($event)">
                </div>
            </div>



            <div class="form-group mb-1">
                <button type="submit" class="btn btn-primary" (click)="OnSubmit()"
                    [disabled]="_StartDate==null || _EndDate==null">Submit
                </button>
            </div>
        </div>
    </div> -->

    <div id="rightbar-overlay" (click)="closeInfo()"></div>

    <div id="mysideInfobar" class="sideInfobar animate-right">
        <router-outlet></router-outlet>
    </div>
</div>

<!--end::Modal-->

