  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view">

    <div class="row">
        <!--begin:: Widgets/Best Sellers->
            <-- begin::Portlet -->
        <div class="kt-portlet mt-3">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <!-- <span class="kt-portlet__head-title mr-4">
                        <button type="button" (click)="BackBttn()"
                            class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2">
                            <i class="fa fa-arrow-left mr-0" aria-hidden="true"></i>
                        </button>
                    </span> -->
                        <h3 class="kt-portlet__head-title mr-3">
                            <strong data-toggle="tooltip" title="Portfolio name">{{_PortFolio_Namecardheader}}</strong>
                            <button id="groupportfolio" class="btn btn-outline-hover-primary btn-sm btn-icon btn-circle"
                                data-toggle="dropdown" style="color:#5867dd" (click)="btnEdit()" [disabled]="_MessageIfNotOwner!=''">
                                <strong><i class="fa fa-edit m-2"></i></strong>
                            </button>
                            <span class=" ml-4" [hidden]="Max50Char">
                                <small style="color:red;" >*Only 50 characters allowed</small>
                            </span>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-fit dropdown-menu-md bg-ground-short mr-2">
                                <!--begin::Nav-->
                                <ul class="kt-nav">
                                    <li class="kt-nav__head d-block">
                                        <p class="mb-0"><strong>Rename Portfolio</strong></p>
                                        <div class="kt-nav__separator"></div>
                                    </li>
                                    <li class="kt-nav__item px-4">
                                        <input type="text" class="form-control" placeholder="Enter Portfolio Name"
                                            [(ngModel)]="Rename_PortfolioName"
                                            [ngStyle]="{'border-color':Rename_PortfolioName == '' ? 'rgb(255 177 175)' : 'rgb(136 150 255)' }">

                                    </li>
                                    <li class="kt-nav__foot">
                                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-3"
                                            (click)="RenamePortfolio()" [disabled]="Rename_PortfolioName==''">Update
                                            Portfolio</button>
                                    </li>
                                </ul>
                                <!--end:: Nav-->
                            </div>
                            <div style="font-size: smaller;font-weight: 400;" data-toggle="tooltip" title="Portfolio Owner">{{_PortfolioOwner}}</div>
                        </h3>

                    <!-- Vali Work's -->
                    <div class="kt-quick-search kt-quick-search--inline ml-3" [hidden]="HideStatusDropdown">
                        <div class="kt-quick-search__form">
                            <div class="input-group">
                                <input type="text" class="form-control kt-quick-search__input pl-3"
                                    placeholder="Search Projects" [(ngModel)]="_SearchProjects"
                                    style="width: 170px;height:30px">
                                <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="flaticon2-search-1"></i></span></div>
                            </div>
                        </div>
                    </div>
                    <!-- <input type="text" name="search" class="form-control kt-quick-search__input pl-3" [(ngModel)]="_SearchProjects">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                        class="flaticon2-search-1"></i></span></div> -->
                </div>
                <!-- Labels  -->
                <div class="kt-portlet__head-toolbar">
                    <!-- All Projects... -->
                    <!-- <a (click)="labelAll()" [hidden]="HideStatusDropdown"
                        class="kt-inbox__label kt-badge kt-badge--unified-primary kt-badge.kt-badge-light-bold kt-badge--inline mr-4 btn-sm"
                        role="button">
                        {{TotalProjects}} Projects </a> -->
                    <!-- <div [hidden]="HideStatusDropdown"> -->



                    <a href="javascript:void(0)" (click)="labelAll(); onButtonClick('tot')"  [hidden]="HideStatusDropdown"
                      class="badge total-project kt-badge--inline mr-2 py-10px btn-sm active-total-project" id="tot" tabindex="0" >
                      <span>{{TotalProjects}}</span> Total Projects
                    </a>





                    <!-- End -->
                    <ng-container *ngIf="CountInprocess>0">
                        <!-- <a (click)="labelInprocess()" [hidden]="HideStatusDropdown"
                            class="kt-inbox__label kt-badge kt-badge--unified-warning kt-badge.kt-badge-light-bold kt-badge--inline mr-4 btn-sm"
                            role="button">
                            {{CountInprocess}} InProcess </a> -->
                        <a href="javascript:void(0)" (click)="labelInprocess();onButtonClick('inn')" [hidden]="HideStatusDropdown"
                            class="badge in-processs kt-badge--inline mr-2 btn-sm py-10px" id="inn"> {{CountInprocess}}
                            In-Process</a>

                    </ng-container>
                    <ng-container *ngIf="CountDelay>0">
                        <!-- <a (click)="labelDelay()" [hidden]="HideStatusDropdown"
                            class="kt-inbox__label kt-badge kt-badge--unified-danger kt-badge.kt-badge-light-bold kt-badge--inline mr-4 btn-sm"
                            role="button">
                            {{CountDelay}} Delay
                        </a> -->
                        <a href="javascript:void(0)" (click)="labelDelay();onButtonClick('del')" [hidden]="HideStatusDropdown"
                            class="badge Delay-head kt-badge--inline mr-2 btn-sm py-10px" id="del"> {{CountDelay}} Delay</a>
                    </ng-container>

                    <ng-container *ngIf="CountNotStarted > 0">
                    <a href="javascript:void(0)" (click)="labelDraft();onButtonClick('draft')" [hidden]="HideStatusDropdown"
                    class="badge Not-started-head kt-badge--inline mr-2 btn-sm py-10px" id="draft"> {{CountNotStarted}} Draft</a>
            </ng-container>




                    <ng-container *ngIf="CountCompleted > 0">
                        <a href="javascript:void(0)" (click)="labelCompleted();;onButtonClick('compl')" [hidden]="HideStatusDropdown"
                            class="badge complteed_color kt-badge--inline mr-2 btn-sm py-10px" id="compl"> {{CountCompleted}}
                            Completed</a>
                    </ng-container>

                    <ng-container *ngIf="CountNewProject > 0">
                        <a href="javascript:void(0)" (click)="labelNewProject();onButtonClick('new-pro')" [hidden]="HideStatusDropdown"
                            class="badge New-project kt-badge--inline mr-2 btn-sm  py-10px
                            " id="new-pro">
                            {{CountNewProject}} New Project</a>
                    </ng-container>

                    <ng-container *ngIf="CountAll_UA > 0">
                        <a href="javascript:void(0)" (click)="labelUA();onButtonClick('underappr')" [hidden]="HideStatusDropdown"
                            class="badge new-project-head kt-badge--inline mr-2 btn-sm py-10px cursor-pointer" id="underappr"> {{CountAll_UA}} Under
                            Approval</a>
                    </ng-container>
                    <ng-container *ngIf="CountProjectHold > 0">
                        <a href="javascript:void(0)" (click)="labelProjectHold();onButtonClick('pro-hold')" [hidden]="HideStatusDropdown"
                            class="badge Hold_color kt-badge--inline mr-2 btn-sm text-white py-10px" id="pro-hold"
                            >
                            {{CountProjectHold}} Project Hold</a>
                    </ng-container>
                    <ng-container *ngIf="CountRejecteds > 0">
                        <a href="javascript:void(0)" (click)="labelRejecteds();onButtonClick('reject')" [hidden]="HideStatusDropdown"
                            class="badge rejected kt-badge--inline mr-2 btn-sm  py-10px" id="reject">
                            {{CountRejecteds}} Rejected</a>
                    </ng-container>

                    <ng-container *ngIf="Count_ToDoCompleted > 0">
                      <a href="javascript:void(0)" (click)="labelToDoCompleted();onButtonClick('todocomp')" [hidden]="HideStatusDropdown"
                          class="badge todo-completed-head kt-badge--inline mr-2 btn-sm  py-10px" id="todocomp">
                          {{Count_ToDoCompleted}} ToDoCompleted</a>
                  </ng-container>


                    <ng-container *ngIf="Count_ToDoAchieved > 0">
                        <a href="javascript:void(0)" (click)="labelToDoAchieved();onButtonClick('todoachi')" [hidden]="HideStatusDropdown"
                            class="badge todo-achieved kt-badge--inline mr-2 btn-sm py-10px " id="todoachi"
                            > {{Count_ToDoAchieved}} ToDo
                            Achieved</a>
                    </ng-container>
                    <ng-container *ngIf="Count_ToDoAchieved > 0">
                        <a href="javascript:void(0)" (click)="labelToDoCompleted()" [hidden]="HideStatusDropdown"
                            class="badge  todo-completed kt-badge--inline mr-2 btn-sm py-10px " > {{Count_ToDoCompleted}} ToDo
                            Completed</a>
                    </ng-container>

                    <ng-container>
                      <a href="javascript:void(0)" *ngIf="CountDeleted>0" (click)="labeldeletedproject();onButtonClick('delete')" [hidden]="HideStatusDropdown"
                        class="badge Delete-head kt-badge--inline mr-2 py-10px btn-sm" id="delete"><span>{{CountDeleted}}</span>
                        Deleted Projects </a>
                    </ng-container>





                    <!-- </div> -->
                    <!-- <div class="kt-portlet__head-toolbar"> -->
                    <!-- <div [hidden]="HideStatusDropdown" class="mr-3">
                            <ng-multiselect-dropdown [placeholder]="'All' " class="mutlidropdown-set"
                                [settings]="dropdownSettings_Status" [data]="_StatusCountDB"
                                [(ngModel)]="ngStatusDrpDwn" (onSelect)="StatusSelect($event)"
                                (onDeSelect)="StatusDeselect()">
                            </ng-multiselect-dropdown>
                        </div> -->
                    <!-- <div [hidden]="HideStatusDropdown" class="mr-2">
                        <a [hidden]="Z2A" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                            data-toggle="kt-tooltip" title="Click to sort Asc">
                            <i class="fa fa-sort-alpha-down-alt font-16 mr-0"></i>
                        </a>
                        <a [hidden]="A2Z" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                            data-toggle="kt-tooltip" title="Click to sort Desc">
                            <i class="fas fa-sort-alpha-up font-16 mr-0"></i>
                        </a>
                    </div> -->
                    <div class="kt-todo__details">
                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                            <li class="nav-item">
                                <a class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2" role="button"
                                    (click)="ProjectsGraphsClick()">
                                    {{Project_Graph}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- Portfolio Projects -->
            <div class="kt-portlet__body pt-3">
                <div class="tab-content">
                    <div class="tab-pane active" aria-expanded="true" [hidden]="HideProjects">

                        <div class="card projects-list no-border kt-portlet__body_scroll kt-portlet__body_scroll1">
                            <div class="card-body pt-0">
                                <!--begin: Datatable -->
                                <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">

                                        <div class="col-sm-12" *ngIf="_MessageIfNotOwner==''">
                                            <table class="brdr kt-pot-ttls table table-hover dataTable no-footer dtr-inline" style="border-collapse: collapse !important;">
                                                <thead>
                                                    <td class="icond"></td>
                                                    <td (click)="_SortProjectList()"> <p class="kt-widget__title mb-0">
                                                        <a [hidden]="Z2A" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fas fa-sort-alpha-up"></i>
                                                        </a>
                                                        <a [hidden]="A2Z" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fa fa-sort-alpha-down-alt"></i>
                                                        </a>ProjectName</p></td>
                                                    <td><span class="kt-widget__other"><i class="fas fa-sort"></i> ProjectType</span></td>
                                                    <td><span class="kt-widget__other"><i class="fas fa-sort"></i> Category</span></td>
                                                    <td><span class="kt-widget__other"><i class="fas fa-sort"></i> Responsible</span></td>
                                                    <td ><span class="kt-widget__other text-nowrap"><i class="fas fa-sort"></i> Deadline </span></td>
                                                    <td><span class="kt-widget__other"><i class="fas fa-sort"></i> Last Update </span> </td>
                                                    <td><span class="kt-widget__other"><i class="fas fa-sort"></i> Status</span> </td>
                                                    <td>
                                                      <div class="mx-2 p-1"> <span class="kt-widget__other " *ngIf="showDeletedPrjOnly"><i class="fas fa-sort"></i>  Deleted by</span></div>
                                                     <span class="kt-widget__other tb-w-45" *ngIf="!showDeletedPrjOnly"> Actions</span>
                                                    </td>

                                                </thead>




                                            <tbody>
                                              <ng-container
                                            *ngFor="let item1 of (showDeletedPrjOnly)?Deletedproject:_ProjectsListBy_Pid|filter:_SearchProjects;let i=index">


                                            <tr *ngIf="(item1.Status.includes(_PortProjStatus)||_PortProjStatus=='')"   class="table-card brdr success project-list_AC" [class.active]="item1.active"  [ngClass]="{'danger':item1.Status=='Delay' || item1.Status=='New Project Rejected' || item1.Status=='Project Complete Rejected',
                                                    'success':item1.Status=='Completed',
                                                    'warning':item1.Status=='InProcess',
                                                    'EnactiveUnderApp':item1.Status=='Enactive Under Approval',
                                                    'ForwardUnderApproval':item1.Status=='Forward Under Approval',
                                                    'newProject':item1.Status=='New Project',
                                                    'completeUnderApproval':item1.Status=='Completion Under Approval',
                                                    'UnderApprovals':item1.Status=='Under Approval',
                                                    'DeadlineExtended':item1.Status=='Deadline Extend Under Approval',
                                                    'HoldunderApp':item1.Status=='Project Hold Under Approval',
                                                    'projectholded':item1.Status=='Project Holded',
                                                    'projecthold':item1.Status=='Project Hold',
                                                    'TodoAchieved':item1.Status=='ToDo Achieved',
                                                    'ToDoCompleted':item1.Status=='ToDo Completed',
                                                    'NewTodo':item1.Status=='New Todo'}">

                                                    <td class="icond d-flex align-items-center">
                                                        <a tabindex="0" class="btn px-0 mb-0 info-btn" role="button"
                                                            placement="right" data-trigger="focus" (click)="openInfo2(item1.Project_Code);info_active_btn(item1)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22" fill="none">
                                                                <path d="M12.7177 1.25732H3.29932C2.76888 1.25732 2.26018 1.46804 1.8851 1.84311C1.51003 2.21818 1.29932 2.72689 1.29932 3.25732V19.2573C1.29932 19.7878 1.51003 20.2965 1.8851 20.6715C2.26018 21.0466 2.76888 21.2573 3.29932 21.2573H15.2993C15.8297 21.2573 16.3385 21.0466 16.7135 20.6715C17.0886 20.2965 17.2993 19.7878 17.2993 19.2573V5.92992L12.7177 1.25732Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <path d="M9.28955 7.4209H9.29955" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <path d="M9.29932 16.4229L9.29932 11.2573" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            </svg>
                                                        <!-- <img src="assets/images/Info1.png" width="25px"> InfoContent2 -->
                                                        </a>
                                                        <a tabindex="0" class="btn px-0 mb-0 info-btn mr-2" role="button" placement="right"
                                                            data-trigger="focus"  data-toggle="tooltip" title="More Info!" (click)="newDetails(item1.Project_Code)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22" fill="none">
                                                                <path d="M12.2812 0.814453H2.86279C2.33236 0.814453 1.82365 1.02517 1.44858 1.40024C1.07351 1.77531 0.862793 2.28402 0.862793 2.81445V18.8145C0.862793 19.3449 1.07351 19.8536 1.44858 20.2287C1.82365 20.6037 2.33236 20.8145 2.86279 20.8145H14.8628C15.3932 20.8145 15.9019 20.6037 16.277 20.2287C16.6521 19.8536 16.8628 19.3449 16.8628 18.8145V5.48705L12.2812 0.814453Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <rect x="3.06885" y="4.28076" width="6.5376" height="2.14" fill="currentColor"></rect>
                                                                <rect x="3.06885" y="7.14209" width="6.57373" height="2.14" fill="currentColor"></rect>
                                                                <rect x="11.6045" y="4.28076" width="1.50586" height="2.14" fill="currentColor"></rect>
                                                                <rect x="11.6045" y="7.14209" width="1.50586" height="2.14" fill="currentColor"></rect>
                                                                <path d="M11.5101 16.0201C11.2836 16.5558 10.9292 17.028 10.4781 17.3951C10.0269 17.7623 9.49264 18.0134 8.92202 18.1264C8.3514 18.2394 7.76178 18.211 7.20471 18.0435C6.64764 17.876 6.14008 17.5745 5.72641 17.1656C5.31274 16.7566 5.00556 16.2525 4.83171 15.6974C4.65786 15.1423 4.62264 14.553 4.72913 13.9811C4.83562 13.4093 5.08058 12.8722 5.4426 12.4169C5.80461 11.9615 6.27265 11.6018 6.8058 11.3691" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <path d="M11.5103 14.1641C11.5103 13.8164 11.4418 13.4721 11.3087 13.1509C11.1757 12.8297 10.9807 12.5379 10.7348 12.292C10.489 12.0462 10.1971 11.8512 9.87593 11.7181C9.55473 11.5851 9.21046 11.5166 8.86279 11.5166V14.1641H11.5103Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            </svg>
                                                        </a>
                                                        <span *ngIf="item1.Link_Status==1;else not_Linked">
                                                            <a class="curser-pointer mr-2"
                                                                (click)="_OpenMemosInfo(item1.Project_Code,item1.Project_Name)"><img
                                                                    width="19px"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Linked"></a>

                                                        </span>
                                                        <ng-template #not_Linked>
                                                            <a class="mr-2"><img width="19px" class="black-white"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Not Linked"></a>
                                                        </ng-template>
                                                    </td>
                                                    <td>
                                                        <p class="kt-widget__title mb-0" style="width: 250px;"> {{item1.Project_Name}}
                                                         <span class="count2">{{item1.Actioncount}}</span>
                                                        </p>

                                                    </td>

                                                    <td>
                                                        <span class="kt-widget__other">{{item1.Exec_BlockName}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item1.ReportType==null;else ReportType">
                                                            <span class="kt-widget__other">Developemt</span>
                                                        </div>
                                                        <ng-template #ReportType>
                                                            <span
                                                                class="kt-widget__other">{{item1.ReportType}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td>
                                                        <span class="kt-widget__other">{{item1.TM_DisplayName}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="kt-widget__other text-nowrap ng-star-inserted">
                                                            <div
                                                                *ngIf="item1.Exec_BlockName=='Standard Tasks' || item1.Exec_BlockName=='Routine Tasks';else Projecttype">
                                                                <span
                                                                    class="kt-widget__other text-nowrap">{{item1.SubmissionType}}</span>
                                                            </div>
                                                            <ng-template #Projecttype>
                                                                <span class="kt-widget__other text-nowrap">
                                                                    {{item1.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                            </ng-template>
                                                            <!-- <div *ngIf="item1.Project_Block =='003'">
                                                                <span class="kt-widget__other text-nowrap">
                                                                    {{item1.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                            </div>
                                                            <div *ngIf="item1.Project_Block !='003'">
                                                                <span class="kt-widget__other text-nowrap">
                                                                    {{item1.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                            </div> -->
                                                        </span>
                                                    </td>
                                                    <td data-toggle="tooltip" data-placement="top" title="{{item1.Created_DT|date:'medium'}}" style="flex: 0.5;">
                                                        <span class="kt-widget__other">
                                                            <!-- |dateAgo -->
                                                            {{item1.Project_StartDate|dateAgo}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item1.Status=='Delay'">
                                                            <span
                                                                class="Delay_color font-weight-400">{{item1.Status}}

                                                            <span *ngIf="item1.Delaydays>0"
                                                                class=" delayDays">
                                                                <strong>{{item1.Delaydays}}
                                                                    days</strong>
                                                                  </span>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='Completed'">
                                                            <span
                                                                class="Completed_color font-weight-400 curser-pointer" (click)="LoadDocument(item1.iscloud,item1.Filename,item1.FileUrl,item1.contentType,item1.Team_Res)"> {{item1.Status}} </span>   <br/>
                                                                <div class="d-flex align-items-center justify-content-start">
                                                                  <span *ngIf="item1.FileUrl" class="fa fa-paperclip text-info attach px-0 mr-1" (click)="LoadDocument(item1.iscloud,item1.Filename,item1.FileUrl,item1.contentType,item1.Team_Res)" ></span>

                                                                <span class="kt-widget__other d-block st-line" title="Approved by and completed date" (click)="LoadDocument(item1.iscloud,item1.Filename,item1.FileUrl,item1.contentType,item1.Team_Res)">{{item1.Approvedby}} | {{item1.completedate | date: 'dd-MM-yyyy'}}  </span>
                                                                </div>

                                                                <!-- <span  class="fa fa-paperclip text-primary curser-pointer" (click)="LoadDocument(item1.iscloud,item1.Filename,item1.FileUrl,item1.contentType)"> -->



                                                        </div>
                                                        <div *ngIf="item1.Status=='InProcess'">
                                                            <span
                                                                class="in-process font-weight-400">{{item1.Status=='InProcess'?'In-Process':item1.status}}</span>
                                                            <br>
                                                            <!-- <span *ngIf="item1.Delaydays<0"
                                                                class="text-info delayDays">
                                                                <strong>{{item1.Delaydays}} Days Left </strong>
                                                            </span> -->
                                                        </div>
                                                        <div *ngIf="item1.Status=='Project Complete Rejected'">
                                                            <span
                                                                class="Project_Complete_Rejected_color font-weight-400">{{item1.Status}}</span>
                                                        </div>

                                                        <div *ngIf="item1.Status=='Project Hold'">
                                                            <span
                                                                class="Hold font-weight-400">Hold</span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='Project Holded'">
                                                            <span class="Hold_color font-weight-400"
                                                              >Hold</span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='Under Approval'">
                                                            <span
                                                                class="new-project font-weight-400 ">{{ (item1.Status === 'Under Approval') ? 'New Project Under Approval' : item1.Status }}</span>
                                                            <br>
                                                        </div>

                                                        <div *ngIf="item1.Status=='Not Started'">
                                                          <span
                                                              class="Not-Started font-weight-400 ">{{ (item1.Status === 'Not Started') ? 'Draft' : item1.Status }}</span>
                                                          <br>
                                                      </div>




                                                        <div *ngIf="item1.Status=='New Todo'">
                                                            <span
                                                                class="New_Todo_color font-weight-400">{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='Completion Under Approval'">
                                                            <!-- <h2>Mubeen</h2> -->
                                                            <span
                                                                class="font-weight-400 completion-under-approval">{{item1.Status}}
                                                            </span>

                                                        </div>
                                                        <div *ngIf="item1.Status=='Cancellation Under Approval'">
                                                            <span
                                                                class="Cancellation_Under_Approval_color font-weight-400 text-cancel">{{item1.Status}}
                                                            </span>

                                                        </div>
                                                        <div *ngIf="item1.Status=='Cancelled'">
                                                            <span
                                                                class="Cancelled_color font-weight-400 text-cancel">{{item1.Status}}
                                                            </span>

                                                        </div>
                                                        <div *ngIf="item1.Status=='Forward Under Approval'">
                                                            <span
                                                                class="font-weight-400 Forward_Under_Approval_color">{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='New Project'">
                                                            <span class="New-project font-weight-400"
                                                                >{{item1.Status}}</span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='New Project Rejected'">
                                                            <span
                                                                class="New_Project_Rejected_color font-weight-400">{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div
                                                            *ngIf="item1.Status=='Deadline Extend Under Approval'">
                                                            <span class="font-weight-400 Deadline_Extend_Under_Approval_color"
                                                               >{{item1.Status}}

                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='Enactive Under Approval'">
                                                            <span class="font-weight-400 Enactive_Under_Approval_color"
                                                           >{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div
                                                            *ngIf="item1.Status=='Project Hold Under Approval'">
                                                            <span class="font-weight-400"
                                                                style="color: #a85098;">{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='ToDo Achieved'">
                                                            <span class="todoachieved font-weight-400
                                                            ">{{item1.Status}}
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item1.Status=='ToDo Completed'">
                                                            <span class="todos-completed font-weight-400"
                                                                >{{item1.Status}}
                                                            </span>
                                                        </div>
                                                    </td>

                                                    <ng-container *ngIf="!showDeletedPrjOnly;else deletedby">
                                                    <td *ngIf="viewpreference != 'View Only'">
                                                      <div class="tb-w-45">
                                                        <a class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2 px-2 py-1"
                                                        (click)="DeleteProject(item1.Project_ID,item1.Portfolio_ID,item1.Project_Code,item1.Project_Name,item1.Created_By)">
                                                        <i class="fas fa-trash-alt mr-0"
                                                            aria-hidden="true"></i>
                                                     </a>
                                                      </div>

                                                    </td>
                                                  </ng-container>

                                                    <ng-template #deletedby>
                                                      <td>

                                                          <span

                                                          class="Delay_color font-weight-400 curser-pointer" > Deleted </span>      <br/>
                                                          <div class="d-flex align-items-center justify-content-start">


                                                          <span class="kt-widget__other d-block st-line" title="Deleted by and Deleted date">{{item1.Deleted_by}} | {{item1.Deleted_DT | date: 'dd-MM-yyyy'}}  </span>
                                                          </div>

                                                          <!-- <span  class="fa fa-paperclip text-primary curser-pointer" (click)="LoadDocument(item1.iscloud,item1.Filename,item1.FileUrl,item1.contentType)"> -->

                                                      </td>
                                                    </ng-template>




                                                  <!-- <div class="mx-2 p-1" style="flex: 0;" *ngIf="showDeletedPrjOnly ==='DeleteProject' ">
                                                      <div class="tb-w-45">
                                                        <a class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2 px-2 py-1"
                                                        (click)="labeldeletedproject()"  >
                                                        action
                                                    </a>
                                                      </div>

                                                    </div> -->









                                            </tr>


                                           </ng-container>
                                            </tbody>










                                          </table>




                                            <div class="d-flex justify-content-between mt-1" *ngIf="_MessageIfNotOwner==''">
                                                <div>
                                                    <!-- [hidden]="Share_preferences" -->
                                                    <div class="" [hidden]="Share_preferences">
                                                        <button type="button" (click)="populateForm()"
                                                            class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2">Add Project</button>

                                                            <button type="button" (click)="share_Users()"
                                                            data-trigger="focus" class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2">
                                                            <i class="fas fa-share-alt"></i>Share</button>


                                                        <button type="button" data-toggle="modal"
                                                            data-target="#exampleModal2" [hidden]="_btnShareDetails"
                                                            class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2">
                                                            <i class="fas fa-file-alt"></i>Shared Details</button>
                                                    </div>
                                                </div>
                                                <!-- <div>
                                                    <div>
                                                        <p class="mt-3 mb-0">Created On :
                                                            <span>{{_Portfolio_CreatedDT | date:'dd-MM-yyyy'}}</span>
                                                        </p>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>

                                    </div>
                                    <div style="color: lightgrey; font-size: large; text-align: center;">
                                        <span>
                                            <b>{{_MessageIfNotOwner}}</b>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="pieBarCharts">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--begin::Portlet-->
                                <div class="kt-portlet">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <span class="kt-portlet__head-icon kt-hidden">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="kt-portlet__head-title">
                                                Projects
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div id="kt_flotcharts_8" style="height: 368px;">
                                            <!-- Charts Sunday -->
                                            <div id="chartdiv2" style="width: 100%; height: 385px"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Portlet-->
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-portlet">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <span class="kt-portlet__head-icon kt-hidden">
                                                <i class="la la-gear"></i>
                                            </span>
                                            <h3 class="kt-portlet__head-title">
                                                Projects Vs Team Member(s)
                                            </h3>
                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <ng-multiselect-dropdown [placeholder]="' All      '"
                                                class="mutlidropdown-set" [settings]="dropdownSettings_forEmpChart"
                                                [(ngModel)]="BarChartEmp" [data]="EmpDropdwn"
                                                (onSelect)="EmpChartOnSelect($event)"
                                                (onDeSelect)="EmpChartOnDeselect()">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div id="kt_flotcharts_7" style="height: 368px;">
                                            <!-- Sunday -->
                                            <div id="chartdiv1" style="width: 90%; height: 400px"></div>
                                            <!-- <app-bar-chart></app-bar-chart> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- Model-Opens On Share Button  DIV FOUR-->
    <!--Begin::Row   DIV Four-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Share Portfolio</h5>
                    <button type="button" class="close" data-dismiss="modal" #closebutton aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" yt>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Shared Details</strong></h5>
                        <h6 class="text-dark">Portfolio Owner: <strong class="text-primary">{{_PortfolioOwner}}</strong>
                        </h6>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body min-scroll">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Shared To</th>
                            <th>Shared By</th>
                            <th>Preference Type</th>
                            <th>Delete</th>
                        </tr>
                        <tr *ngFor="let item of _ShareDetailsList">
                            <td>
                                {{item.Shared_To}}
                            </td>
                            <td>
                                {{item.Shared_By}}
                                <!-- <div *ngIf="item.SharedbyEmpNo==Current_user_ID">
                                        {{item.Shared_To}}
                                    </div> -->
                            </td>
                            <!-- <div *ngIf="item.SharedbyEmpNo==Current_user_ID">
                                    <td><span><strong>To : </strong></span>{{item.Shared_To}}</td>
                                </div>
                                <div *ngIf="item.SharedbyEmpNo!=Current_user_ID">
                                    <td><span><strong>By : </strong></span>{{item.Shared_By}}</td>
                                </div> -->
                            <td>
                                <span
                                    [ngStyle]="{'color':item.Preferences=== 'Full Access' ? '#28a745' : '#dc3545'}">{{item.Preferences}}</span>
                            </td>
                            <td align="center">
                                <a class="btn btn-label-primary btn-upper btn-sm btn-bold mr-0 px-2 py-1"
                                    (click)="deleteSharedUsers(item.Portfolio_ID,item.EmployeeId,item.SharedbyEmpNo)"><i
                                        class="fas fa-trash-alt mr-0"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="Mdl_closebtn" data-dismiss="modal"
                        (click)="Close_ShareModel()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- begin::Quick Panel -->
    <div id="Project_info_slider_bar" class="project-info-side-bar animate-right">
        <router-outlet></router-outlet>
    </div>
    <!-- end::Quick Panel -->
    <!-- dms memos sidebar-->
    <div id="MemosSideBar" class="sideInfobar animate-right">
        <div class="kt-portlet__head p-3 bg-primary">
            <div class="kt-portlet__head-label">
                <a href="javascript:void(0)" class="closebtn pull-right text-white"
                    (click)="_CloseMemosidebar()">&times;</a>
                <div class="title-sidebar mb-0 text-white">
                    <h5 class="curser-pointer">
                        <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"> Linked
                        Memos
                    </h5>
                    <span class="text-small text-white">{{_displayProjName}}</span>

                </div>
                <!-- <p class="text-small text-white">{{_displayProjName}}</p> -->
            </div>
        </div>
        <div class="kt-portlet__body p-3">
            <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                <div class="card-body">
                    <div class="kt-widget1 kt-widget1--fit">
                        <div class="kt-widget1__item" *ngFor="let item of _MemosSubjectList; let i=index">
                            <div class="kt-widget1__info kt-align-left">
                                <h5 (click)="openUrl(item.Url)" class="curser-pointer">
                                    <div *ngIf="item.Attachment==true;else Onlysubject">
                                        <i class="fas fa-paperclip" style="color:#A9A9A9"> </i>
                                        {{item.Subject}}
                                    </div>
                                    <ng-template #Onlysubject>
                                        <i class="fas fa-circle"></i>
                                        {{item.Subject}}
                                    </ng-template>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Link memos Template -->
<!-- share sidebar-->
<div id="shareBar" class="sideInfobar offcanvas animate-right">
    <div class="px-4 pt-4 pb-1">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-2">
            <h4 class="font-weight-bold m-0"> Share Portfolio </h4>
            <a href="javascript:void(0)" (click)="_CloseshareBar()" class="closebtn btn btn-xs btn-icon btn-hover-primary mt-2">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="kt-portlet__body p-3">
        <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
            <div class="card-body multi">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Select Company</label>
                        <div>
                            <ng-multiselect-dropdown [placeholder]="' Company '" class="mutlidropdown-set"
                                name="CompanyDropdown" [(ngModel)]="ngCompanyDropdown"
                                [settings]="dropdownSettings_Cmp" [data]="Company_List"
                                (onSelect)="OnCompanySelect($event)" (onDeSelect)="OnCmpDeselect()">
                            </ng-multiselect-dropdown>
                        </div>
                        <p class="text-danger"><b>{{this._ErrorMessage_comp}}</b></p>
                    </div>
                    <div class="form-group">
                        <label>Select User</label>
                        <div>
                            <ng-multiselect-dropdown [placeholder]="' TM Name '" class="mutlidropdown-set"
                                name="EmployeeDropdown" [(ngModel)]="ngEmployeeDropdown"
                                [settings]="dropdownSettings_Emp" [data]="EmployeeList"
                                (onSelect)="OnEmpSelect($event)" (onDeSelect)="OnEmpDeselect()">
                            </ng-multiselect-dropdown>
                             <!-- <ng-select class="mutlidropdown-set" (add)="OnEmpSelect($event)" (remove)="OnEmpDeselect()" [(ngModel)]="ngEmployeeDropdown"
                             bindValue="EmployeeDropdown" bindLabel="EmployeeDropdown" placeholder="TM Name" [multiple]="true" [selectableGroup]="true" >

                                <ng-option [value]="Emp_No" *ngFor="let item of EmployeeList" >
                                    {{item.TM_DisplayName}}
                                </ng-option>

                            </ng-select> -->

                        </div>
                        <p class="text-danger"><b> {{this._ErrorMessage_User}}</b></p>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-3">Preferences</label>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" [(ngModel)]="preferences"
                                        (change)="Radio_View_fullaccess($event.target.value)" value="View Only"
                                        name="optradio">View Only
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" [(ngModel)]="preferences"
                                        (change)="Radio_View_fullaccess($event.target.value)" value="Full Access"
                                        name="optradio">Full Access
                                </label>
                            </div>
                        </div>
                    </div>
                    <p class="text-danger"><b> {{this._ErrorMessage_Pref}}</b></p>
                </form>
                <div class="pt-3 text-right">
                    <button type="button" class="btn btn-secondary btn-sm mr-3"
                        (click)="_CloseshareBar()">Close</button>
                    <button type="button" class="btn btn-primary btn-sm"
                        (click)="share()">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="rightbar-overlay"  (click)="closeInfo()"></div>


<!-- <div class="card my-1 shadow-sm brdr brlight">
    <div class="card-body d-flex align-items-center justify-content-around">
        <div class="icond">
            <a class="p-lg-2 p-0 mr-2"><i class="fa fa-info-circle info-icon-cir"></i></a>
        </div>
        <div class="mx-2 p-1" style="flex: 1;">
            <p class="kt-widget__title mb-0" style="width: 250px;">Project Name</p>
        </div>
        <div class="mx-2 p-1">
            <span class="kt-widget__other">Project Type</span>
        </div>
        <div class="mx-2 p-1">
            <span class="kt-widget__other">Category</span>
        </div>
        <div class="mx-2 p-1" style="flex: 1;">
            <span class="kt-widget__other">Employee Name</span>
        </div>
        <div class="mx-2 p-1">
            <span class="kt-widget__other">Deadline</span>
        </div>
        <div class="mx-2 p-1" style="flex: 0.5;">
            <span class="kt-widget__other">Start Date</span>
        </div>
        <div class="mx-2 p-1">
            <span class="kt-widget__other">Status</span>
        </div>
        <div class="mx-2 p-1 flex-0">
            <span class="kt-widget__other"></span>
        </div>

    </div>
</div> -->
