
header{
    padding: 14px;
    background: #3f51b5;
    /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}
.text{
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logout{
    padding-top: 0.8%;
}

/* mat tool bar */
.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 .kt-notification{
    border-top: 1px solid #d7e3fa;
}
.noti {
    background: #F3547D;
    background: #9886eb !important;
    border-radius: 500px !important;
    padding: 0.2em 0.5rem 0.35rem 0.5rem;
    min-width: 1.429rem;
    min-height: 1.429rem;
    line-height: 1;
    margin-left: 5px;
    position: absolute;
    top: 6px;
    right: -9px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}
.noti-cus {
    background: #9886eb !important;
    border-radius: 500px !important;
    padding: 0.2em 0.8rem 0.35rem 0.8rem;
    min-width: 1.429rem;
    min-height: 1.429rem;
    line-height: 1;
    margin-left: 10px;
    color: #fff !important;
    font-size: 13px;
    font-weight: 400;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}
.dropzone-item.br-0{
    border-radius: 0 !important;
}

.dropzone-item:not(:first-child){
    border-top: 0;
}
.btm-btn{    
    position: fixed;
    bottom: 32px;
    right: 72px;
    z-index: 110;
}
.create-btm {
    opacity: 1;
    animation: kt-scrolltop-show-animation .4s ease-out 1;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    background: #fff;
}
.kt-portlet__body_scroll{
    height: calc(100vh - 156px);
    overflow-y: auto;
}
.time-tabs.nav-pills .nav-item .nav-link.active, 
.time-tabs.nav-pills .nav-item .nav-link:active, .time-tabs.nav-pills .nav-item .nav-link.active:hover {
    background-color: transparent;
    color: #7b68ee;
    font-weight: 600;
    border-bottom: 2px solid #7b68ee;
    border-radius: 0px !important;
}
.time-tabs.nav-pills .nav-item .nav-link{
    cursor: pointer;
}
.time-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs-header .timeli-hrs {
    position: absolute;
    top: 16px;
    right: 143px;
    z-index: 1;
}
.left-filt {
    position: absolute;
    right: 10px;
    z-index: 99;
    top: 7px;
}
.tabs-header {
    position: relative;
}
button.btn-menu {
    background: #fff;
    padding: 0;
    line-height: 1;
    color: #0b0f1f;
    cursor: pointer;
    outline: none;
    box-shadow: none !important;
}
.loadmre {
    position: fixed;
    bottom: 5px;
    text-align: center;
    right: 20%;
}
.cls-float {
    transition: transform .2s cubic-bezier(.785,.135,.15,.86) 0s;
    position: absolute;
    top: 10px;
    left: -45px;
    width: 36px;
    height: 36px;
    padding: 11px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 1px 15px #00000012;
    stroke: #979797;
    cursor: pointer;
    z-index: 999999;
    right: 0;
    margin: 0;
    display: none;
}
.overflow-visible {
    overflow: visible !important;
}
.open_sidebar .cls-float {
    display: inline-flex;
}
.btm-btn .dropdown-menu{
    width: 126px !important;
    top: -5px !important;
}
.btn-fw{
    font-weight: 500;
}
.asc-ar{
    display: none;
}
.btn-sort{
    color: #0b0e1f;
    background-color: #fff;
    border: 1px solid #eef1f6;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.drop-cus a.dropdown-item{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    padding: 0.5rem 1.2rem;
    color: #222;
}
.drop-cus a.dropdown-item:hover{
background-color: #f1f3f4;
}
a.ordr-a {
    font-size: 14px;
    margin-left: 5px;
    color: #0b0e1f;
}
.sort-by{
    color: #999999;
    font-size: 12px;
    padding: 0px 8px;
    display: inline-block;

}
.sort-a{
    text-decoration: underline;
}
.sort-drop{
    padding: 0.8rem 0;
    min-width: 340px;
    margin-top: 5px;
}
.sort-drop .dropdown-item{
    padding: 0.4rem 1rem;
    cursor: pointer;
}
.sort-drop .active{
    background: #f1f6fd;
    color: #0b0e1f;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.sort-drop .active .ckc-icn{
    display: inline-block;
    color: #3b93fc;
}
/* .sort-drop .dropdown-item:hover {
    color: #2786fb!important;
} */
.sort-drop .dropdown-item.d-range:hover {
    text-decoration: underline !important;
}
.btn-sort:hover, .btn-sort:focus, .btn-sort:active  {
    color: #0b0e1f;
    background-color: #f5f7fa;
    border: 1px solid #e1e6ee;
}
.sort-drop .dropdown-item:active {
    background: none;
}
.act-drop{
    min-width: 250px;
}
.act-drop .dropdown-item{
    cursor: pointer;
}

.note-txt {
    color: #91a0b0!important;
    display: inline-block;
    padding: 6px 12px 0;
    font-size: 12px;
}
.sort-back{
    color: #2786fb!important;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sort-back :hover{
    text-decoration: underline !important;
}
.sort-back svg{
    width: 12px;
    height:12px;
}

.dropdown-item:active {
    background-color: #dedee0;
}
.timeline .timeline-item {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.timeline .timeline-line {
    display: block;
    content: " ";
    justify-content: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #d2d5e5;
}


.timeline-media{
    color: #2786fb!important;
}

.w-40px {
    width: 40px!important;
}

.timeline-header {
    position: relative;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    border-bottom: none;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
    z-index: 14;
}
.sticky-header{
    margin-top: 0px;
    z-index: 14;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-size: 18px;
}
.pro-name {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 80%;
}
.pro-name.pro-link{
    color: #5867dd;
}
.header-date{
    color: #333;
}
.header-text {
    line-height: 1.42857;
    margin-right: 5px;
    -ms-word-break: break-word;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timeline .timeline-icon {
    z-index: 1;
    flex-shrink: 0;
    margin-right: 1rem;
}


.timeline .timeline-content {
    width: 100%;
    overflow: auto;
    /* margin-bottom: 1.5rem; */
}
.timeline-text{
    color: #333;
    color: #29282d;
    margin-bottom: 0.5rem;
}
.achv-txt{
    color: #54585d;
}
.desp-txt{
    margin-right: 5px;
    color: #64697d;
    color: #848c93;
}
::ng-deep .timeline-content ol {
    padding-left: 20px;
}
.sideInfobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #ffffff;
    border-left: 1px solid #EDEAE9;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 .1rem 1rem .25rem rgb(0 0 0/5%) !important;
    /* padding-top: 60px; */
}
.open_sidebar .cls-float {
    display: inline-flex;
}
.open_sidebar {
    width: 55%;
}

@media Screen and (max-width: 1400px) {

.table-time {
    max-height: 350px;
    overflow: auto;
}
.open_sidebar {
    width: 60%;
}
}

@media Screen and (max-width: 1220px) {

.wp-100 {
    width: 64px;
    margin: 10px 5px;
}
.time-slt-card{
    padding: 7px 9px 7px 10px;
}
}
@media Screen and (max-width: 1024px) {

    .open_sidebar {
        width: 75%;
    }
}
@media Screen and (max-width: 768px) {

    .open_sidebar {
        width: 100%;
    }
}

/*------Main user icon css-----------*/
.Kt-User-IC {
    background-color: transparent !important;
}
.Kt-User-IC img {
    border-radius: 50% !important;
    height: 25px;
    width: 25px;
}



/*------timeline start-----------*/

  .timeline-label .timeline-content {
    flex-grow: 1;
  }
  .time-line-cnt {
    padding: 10px;
    background-color: #f5f6fc;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 0px;
  }

  
.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle > img{
    border-radius: 50%;
  }

  .symbol.symbol-22px > img{
    width: 22px;
    height: 22px;
  }
  .user-kt-n{
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #4f4f4f;
  }

  .kt-task-head {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #797979;
  }

  span.svg-time-icon svg path {
    color: #939393;
  }
  span.svg-time-icon {
    margin-right: 6px;
  }
  span.tmv-tm {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #a3a3a3;
  }
  span.mdl-line-h {
    display: inline-block;
    width: 10px;
    background-color: #ccc;
    height: 2px;
    position: relative;
    margin-right: 6px;
    top: -3px;
  }
  span.total-time-kt {
    margin-left: 10px;
  }

  .time-line-date{
    background-color: #e0f1ff;
    padding: 2px 10px;
    border-radius: 5px;
    display: flex;
    width: -moz-fit-content;
    /* width: fit-content; */
    /* margin-bottom: 10px; */
    margin-left: 27px;
  }
  .time-line-date h4 {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .kt-task-cnt {
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    margin-top: 8px;
  }
  .action-name {
    color: #51667d;
    font-size: 16px;
    font-weight: 600;
  }

  .action-info-achivement {
    margin-top: 5px;
  }
  .action-info-achivement * {
    font-size: 13px;
    color: #818181;
    margin-bottom: 4px;
  }

  .kt-bg-light-primary {
    background-color: #5867dd1a!important;
  }

  .svg-icon{
    line-height: 1;
  }
  .svg-icon.svg-icon-2 svg{
    height: 1.5rem!important;
    width: 1.5rem!important;
  }
  .svg-icon.svg-icon-info svg {
    fill: #2786fb!important;
  }
  .svg-icon.svg-icon-info svg :not(.permanent):not(g) {
    fill: #2786fb!important;
  }

  .symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #252f4a;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.475rem;
  }
  .symbol .symbol-label {
    width: 50px;
    height: 50px;
  }

  
.symbol-group .symbol-label {
    position: relative;
  }


  .symbol.symbol-35px .symbol-label {
    width: 35px;
    height: 35px;
  }


  .symbol .symbol-label:after {
    border-radius: 0.475rem;
  }





  .symbol-group .symbol-label:after {
    display: block;
    content: " ";
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }


  .symbol.symbol-40px .symbol-label {
    width: 40px;
    height: 40px;
  }
  
  .symbol .symbol-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #3f4254;
    background-color: #f5f8fa;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.475rem;
  }







  /*------timeline End-----------*/

  /*--new features--*/
  .feature-icon{
    width: 1.5em; 
    height: 1.5em;
    vertical-align: middle;
    color: #64748b;
    overflow: hidden;
 

  }
  .kt-header__topbar-icon:hover .feature-icon{
    transition: all 0.3s;
    color: #001eff;
  }

  .feature-content-hero{
    height: 100%;
    padding: 96px 0;
    position: relative;
    width: 100%;
    z-index: 0;
    border-radius: 4px;
}
.feature-bg-img{
    background-image: url('../../../assets/features/f-bg-4.png');
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -51%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}
.feature-headline-parent{
    padding: 0 72px;
    margin: auto;
    max-width: 1440px;
    z-index: 2;
    position: relative;
    text-align: center;
}
.feature-headline{
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 24px;
    z-index: 2;
    color: #062e6f;
    margin: 0 auto;
    max-width: 840px;
}
.feature-headline-p{
    font-weight: 400;
    padding: 0 20px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #1f1f1f;
}
.feature-hero-card{
    top: 0%;
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.feature-hero-card .heading{
    background-color: #f8fafd;
    align-items: center;
    border-radius: 0 0 12px 12px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 12px;
    box-shadow: 0px 0px 2px 0px #c2daff;
}
.feature-hero-card p{
    font-size: .875rem;
    line-height: 1.75rem;
    color: #1f1f1f;
    margin-bottom: 0px;
}
.feature-hero-icon-img{
    width: 40px;
    z-index: 1;
}
.feature-hero-icon{
    bottom: -10%;
    display: flex;
    height: 64px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.feature-hero-icon-circle{
    border-radius: 50%;
    height: 64px;
    position: absolute;
    width: 64px;
    background-color: #f8fafd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px #c2daff;
    border: 1px solid #dfecff;
}
.feature-content{
    padding: 64px 72px;
}
.feature-content .feature-grid {
    padding: 64px 0px;
}
.feature-heading{
    font-weight: 500;
    margin: 8px 0 16px;
    font-size: 2rem;
    line-height: 2.75rem;
    color: #1f1f1f;
}
.feature-lead{
    font-size: 1rem;
    line-height: 1.75rem;
    color: #474747;
    margin-bottom: 0px;
}
.feature-image img{
    height: auto;
    width: 100%;
    border-radius: 24px;
}
.feature-ol{
    margin: 5px 0 0;
    -webkit-padding-start: 17px;
    padding-inline-start: 17px;
}
.feature-li{
    font-size: 1rem;
    line-height: 1.75rem;
    color: #474747;
    list-style-type: decimal;
}
.feature-close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    opacity: 1;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}
.feature-grid {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}
.feature-grid:nth-of-type(2n) .feature-info {
    grid-column: 7 / -1;
    padding-left: 14px;
    padding-right: 0px;
}
.feature-info {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    padding-right: 14px;
}
.feature-image {
    grid-area: 1 / 7 / -1 / -1;
    position: relative;
    z-index: 1;
}
.feature-grid:nth-of-type(2n) .feature-image {
    grid-column: 1 / 7;
}
.feature-modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.feature-modal-backdrop.fade {
    transition: opacity 0.15s linear;
    opacity: 0;
    display: none;
}
.feature-modal-backdrop.show {
    opacity: 0.5;
    display: block;
}

.new-ann {
    stroke: #000000;
    stroke-width: 20px;
}

.kt-header__topbar-item:hover svg .new-ann{
    transition: all 0.3s;
    stroke: #001eff;
}


/*test*/
  
  
  
.whatsnewanim{
    animation-name:anim1;
    animation-duration: 0.4s;
    animation-iteration-count: 1;   
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.9, 0.2, 1);
    transform:  scaleX(0) skewY(0) skewX(0) scaleY(0) translateX(419%) translateY(-444%);
}



@keyframes anim1{
    0%{
        transform:  scaleX(0.1) skewY(0) skewX(0) scaleY(0.1) translateX(419%) translateY(-444%);
    }
    50%{
        transform: scaleX(0.1) skewY(0) skewX(0) scaleY(0.1) translateX(10%) translateY(-235%);
    }
    100%{
        transform: scaleX(1) skewY(0) skewX(0) scaleY(1) translateX(0%) translateY(0%);
    }
}

@keyframes anim2{
    0%{
        transform: scaleX(1) skewY(0) skewX(0) scaleY(1) translateX(0%) translateY(0%);
    }
    50%{
        transform: scaleX(0.1) skewY(0) skewX(0) scaleY(0.1) translateX(10%) translateY(-235%);
    }
    100%{
        transform:  scaleX(0.1) skewY(0) skewX(0) scaleY(0.1) translateX(419%) translateY(-444%);
    }
}



/*test*/