/* New design CSS  from Here... */
.name-box{
    display: inline-block;
    font-size: 9px;
    width: 30px;
    height: 30px;
    background-color: #5867dd;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 5px;
  }
  
  .names-response{
    display :inline-block;
    text-align: left;
  }
  
  .names-response span:first-child{
    display: block;
    font-size: 10px;
    font-weight: 600;
  }
  .names-response span:last-child{
    font-weight: 600;
  }
  
  .head-btn{
    background-color: rgba(88, 103, 221, 0.1);
      padding: 3px 10px 3px 5px;
      border-radius: 2rem;
      border: 1px solid #b3bcff;
      font-weight: 500;
      font-size: 12px;
  }
  .head-btn i{
      width: 25px;
      height: 25px;
      background: #5867dd;
      color: #fff;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      margin-right: 3px;
  }
  
  .devider{
    height: 1px;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .pricevalues {
    padding-top: 30px;
    padding-bottom: 10px;
    /* border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1; */
  }
  
  .top-border .pricevalues:nth-child(1), .top-border .pricevalues:nth-child(2)  {
    border-top: 1px solid #f1f1f1;
  }
  .top-border .pricevalues:nth-child(3), .top-border .pricevalues:nth-child(4)  {
    border-bottom: none
  }
  
  /* .pricevalues:nth-child(2),  */
  /* .pricevalues:nth-child(4) {
    border-right: none;
  } */
  
  .w-60{
    width: 60px;
  }
  
  .dms-links{
    list-style-type: disc;
  }
  
  .dms-links li a{
    display: block;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .py-10px{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .dropdown-item:active{
    background-color: #dedee0;
  }

  /* ========= Progress Bar ========= */

.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height: 4px;
    margin-bottom: 12px;
    margin-top: 30px;
    position: relative;
    text-align: left;
  }
  
  .progress_bar .progress_bar_title {
    color: hsl(218, 4%, 50%);
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: -28px;
    z-index: 1;
  }
  
  .progress_bar .progress_number {
    float: right;
  }
  
  .progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
  }
  
  .progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
  }
  
  .progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
  }
  
  .bg-today {
    background-color: #342bf0 !important;
  }
  .M_fsize{
    font-size: smaller;
  }
  .badge {
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
  }
  .port_list{
    /* background-color: #f4f6fa; */
    padding: 0.75rem 1rem;

  }
  /* .port_list.border-bottom:first-child {
    border-top: 1px solid #dee2e6!important;
} */
  .border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.show1 {
    display: none;
}

.show:hover {
    cursor: pointer;
}

.item-b div:nth-child(n+4) {
    display: none;
}
.tr-9{
  width: 90%;
}
.no-after::after{
  content: none !important;
}
.hold-drop{
  width: 500px;
}
.br-cus {
  border-left: 1px solid #eee;
}
.card-itm1{
  background: #fff;
    border: 1px solid #ebedf2;
    border-radius: 4px;
    box-shadow: 0 2px 1px #00000026;
}
/* .date-edt{
  width: 500px;
} */
.black_overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.32);
  z-index: 90;
  -moz-opacity: .8;
  opacity: .8;
  filter: alpha(opacity=80);
}
.comment-list{
  padding-bottom: 1.25rem;
}
.comt-text{
  /* color: #14171a; */
  margin-left: 5px;
  /* margin-top: 2px; */
  font-size: 14px;
}
.blw .dt {
  margin: 0 10px;
}
.comt-info {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #494f54;

}
.prv-cmts{
 max-height: 200px;
 overflow: auto; 
}
.s1{
  display: none;
}
.collapsed .c1{
  display: none;
}
.collapsed .s1{
  display: inline;
}
.collapsed .fa-chevron-up:before, .dwn-arw .fa-chevron-up:before {
  content: "\f078";
}
.action-content h6{
  margin-bottom: 0;
}
.date-drop1, .date-drop2, .date-drop3 {
  width: 350px;
}
::ng-deep .input-group-append .mat-icon-button {
  height: 35px !important;
}
.date-drop1{
  position: absolute;
    left: -329px;
}
.date-drop2{
  position: absolute;
    left: -332px
}
.date-drop3{
  position: absolute;
    left: -169px
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}
::ng-deep .no-ellip span.ng-option-label {
    text-overflow: unset;
    white-space: break-spaces;

}
.fixed-btn {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
}
/* input[type="checkbox"]#inhide{
opacity: 0;
width: 100%;
position: absolute;
left: 0;
} */
.spacer-tab {
  display: block;
  position: fixed;
  z-index: 999;
  border: 1px solid rgb(232 234 237);
  overflow: auto;
  max-height: 450px;
  opacity: 1;
  width: 400px;
  bottom: 20px;
  right: 10px;
  box-shadow: -1px 2px 20px #00478a21;
  border-radius: 8px;
  padding: 5px 0;
  background-color: rgb(255 255 255);
}
/* input[type="checkbox"]:checked ~ .spacer-tab{
display: block;    
} */
.spacer--body {
  margin-left: 0;
  padding-left: 10px;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
}
::ng-deep .input-group-append .mat-icon-button {
  height: 35px !important;
}
#sidebar-overlay {
  background-color: rgba(50, 58, 70, .2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 998;
  transition: all .2s ease-out;
  cursor: pointer;
}
.left-w{
  min-width: 105px;
}