<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view" id="sumdet">
    <!--Begin::Row    DIV ONE -->
    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title mr-4">
                            <strong> Projects Summary</strong>
                        </h3>
                    </div>
                    <div class="kt-portlet__head-label mr-2">
                        <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                            <div class="kt-header__topbar-wrapper">
                                <div class="kt-quick-search kt-quick-search--inline">
                                    <div class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control project-search kt-quick-search__input pl-3"
                                                placeholder="Search Projects" [(ngModel)]="searchText" autofocus
                                                style="width: 300px" (keydown.enter)="search($event.target.value)">
                                            <div class="input-group-prepend">
                                                <button class="input-group-text" (click)="SearchbyText()" type="submit">
                                                    <i class="flaticon2-search-1"></i>
                                                    
                                                </button>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mr-3">
                            <ng-container *ngIf="CurrentPageNo==1">
                                {{CurrentPageNo}} - {{_CurrentpageRecords}}
                            </ng-container>
                            <ng-container *ngIf="CurrentPageNo!=1 && CurrentPageNo!=LastPage">
                                {{_CurrentpageRecords * (CurrentPageNo-1) + 1}} - {{_CurrentpageRecords *
                                CurrentPageNo}}
                            </ng-container>
                            <ng-container *ngIf="CurrentPageNo==LastPage  && CurrentPageNo!=1">
                                {{lastPagerecords * (CurrentPageNo-1) + 1}} - {{lastPagerecords * (CurrentPageNo-1) + _CurrentpageRecords}}
                            </ng-container>
                            of
                            <span> {{_totalProjectsCount}}</span>
                        </div>

                        <!-- <div class="mr-3">
                            Page <span class="badge badge-pill badge-primary">
                                {{CurrentPageNo}}</span>
                        </div> -->

                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"
                            (click)="CurrentPageNo = CurrentPageNo - 1;applyFilters()" [disabled]="CurrentPageNo==1">
                            <i class="fas fa-angle-left mr-0"></i>
                        </button>
                        <!-- [ngClass]="_CurrentpageRecords<30 ? 'btn btn-label-primary btn-upper btn-sm btn-bold mr-1 not-allowed' : 'btn btn-label-primary btn-upper btn-sm btn-bold mr-1'" -->
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1"                             
                            (click)="CurrentPageNo = CurrentPageNo + 1; applyFilters()"
                            [disabled]="_CurrentpageRecords<30">
                            <i class="fas fa-angle-right mr-0"></i></button>
                        <div class="mr-2">
                            <a [hidden]="Z2A" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                                data-toggle="kt-tooltip" title="Click to sort Asc">
                                <i class="fa fa-sort-alpha-down-alt font-16 mr-0"></i>
                            </a>
                            <a [hidden]="A2Z" (click)="_SortProjectList()" class="btn btn-label-primary btn-sm"
                                data-toggle="kt-tooltip" title="Click to sort Desc">
                                <i class="fas fa-sort-alpha-up font-16 mr-0"></i>
                            </a>
                        </div>
                        <!-- Filters -->
                        <div class="stores-sec mr-1">
                            <ul class="nav navbar-nav filters">
                                <li class="dropdown mega-dropdown" id="filtermenu">
                                    <a [ngClass]="edited ? 'btn btn-label-primary btn-upper btn-sm btn-bold filter-dot' : 'btn btn-label-primary btn-upper btn-sm btn-bold'" data-toggle="dropdown"><i
                                            class="fas fa-ellipsis-v mr-0 "></i>
                                    </a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div (click)="$event.stopPropagation();">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h5><strong>Total Projects - </strong>
                                                        <h5 class="d-inline-block">
                                                            <strong>{{_totalProjectsCount}}</strong>
                                                        </h5>
                                                    </h5>
                                                </div>
                                                <div class="col-md-2">
                                                    <!-- Empty Column -->
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control kt-quick-search__input pl-3"
                                                        placeholder="Search Filters" [(ngModel)]="txtSearch"
                                                        style="width: 100%;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Project Type</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of TypeContInFilter |filter:txtSearch;let i=index">
                                                            <label class="kt-checkbox"  >
                                                                <input type="checkbox" (change)="isTypeChecked(item)"
                                                                    [(ngModel)]="item.checked">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Status</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of StatusCountFilter|filter:txtSearch">
                                                            <label class="kt-checkbox mb-3">
                                                                <input type="checkbox" (change)="isStatusChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="count-height">
                                                        <p><strong>Employees</strong></p>
                                                        <div class="d-flex justify-content-between"
                                                            *ngFor="let item of EmpCountInFilter|filter:txtSearch" >
                                                            <label class="kt-checkbox mb-3">
                                                                <input type="checkbox" (change)="isEmpChecked(item)"
                                                                    [(ngModel)]="item.checked" [checked]="item">
                                                                {{item.Name}}
                                                                <span></span>
                                                            </label>
                                                            <span class="count-btn">{{item.Count}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <button
                                                    class="btn btn-label-success btn-outline-success btn-upper btn-sm btn-bold mr-2"
                                                    data-toggle="dropdown">Submit</button>
                                                <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-2"
                                                    (click)="resetAll()">Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-label-primary btn-upper btn-sm btn-bold mr-1" (click)="resetAll()">
                            <i class="fas fa-sync-alt mr-0"></i>
                        </button>

                    </div>
                </div>
            </div>
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <!-- <div class="kt-portlet__head">
                    <div class="col-md-6 py-3">
                        <input type="text" class="form-control" [(ngModel)]="portfolioName"
                            placeholder="Enter Portfolio Name..." (keypress)="_ontextChange($event.target.value)">
                        <div>
                            <strong>
                                <p class="text-danger mb-0 py-1" [hidden]="portfolioName!=''"> * Please Enter Portfolio
                                    Name To Enable Checkboxes</p>
                            </strong>
                        </div>
                    </div>
                </div> -->
                <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                    <div class="card projects-list no-border">
                        <div class="card-body">
                            <!--begin: Datatable -->
                            <!-- U hve to Work here Below div This is the DIV Bro -->
                            <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        <span *ngIf="searchResult == true">About ({{_CurrentpageRecords}}) results found</span>
                                        
                                        <table class="table table-hover dataTable no-footer dtr-inline" role="grid"
                                            style="width: 0px;">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label=": activate to sort column descending">
                                                    </th>
                                                    <th></th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Project_Name" tabindex="0" aria-controls="project-4"
                                                        class="curser-pointer" rowspan="1" colspan="1"
                                                        style="width: 0px;" (click)="_SortPortfoliolist()"
                                                        aria-label="Project Title &amp;amp; Description: activate to sort column ascending">
                                                        <a [hidden]="Z2A1" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fas fa-sort-alpha-up"></i>
                                                        </a>
                                                        <a [hidden]="A2Z1" class="mr-2" data-toggle="kt-tooltip"
                                                            title="Click to sort">
                                                            <i class="fa fa-sort-alpha-down-alt"></i>
                                                        </a>
                                                        ProjectName
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Exec_BlockName" tabindex="0" class="curser-pointer"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-label="Project Type: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> ProjectType
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="ReportType" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" class="curser-pointer"
                                                        aria-label="Category: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> Category
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="TM_DisplayName" tabindex="0" class="curser-pointer"
                                                        aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-label="User Name: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> Responsible
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="DeadLine" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" class="curser-pointer"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> Deadline
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="DeadLine" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" class="curser-pointer"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> LastUpdate
                                                    </th>
                                                    <th [appSort]="_ProjectDataList" data-order="desc"
                                                        data-name="Status" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" class="curser-pointer"
                                                        aria-label="Status: activate to sort column ascending">
                                                        <i class="fas fa-sort"></i> Status
                                                    </th>
                                                    <!-- <th tabindex="0" aria-controls="project-4" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending">
                                                        Link
                                                    </th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- filter:Emp_value|filter:ProjectTyp_value|filter:Status_value  | grdFilterPipe: {Project_Name: searchText}-->
                                                <tr role="row" class="odd"
                                                    *ngFor="let item of _ProjectDataList;let i=index;">
                                                    <!-- Information Icon -->
                                                    <!-- <td></td> -->
                                                    <td align="center">
                                                        <a tabindex="0" class="btn px-0 mr-2" role="button" placement="right"
                                                            data-trigger="focus" data-toggle="tooltip" title="Project Info!">
                                                            <i class="fa fa-info-circle info-icon-cir"
                                                                (click)="openInfo(item.Project_Code,item.Project_Name)"></i>
                                                        </a>
                                                        <a tabindex="0" class="btn px-0 mr-2" role="button" placement="right"
                                                            data-trigger="focus"  data-toggle="tooltip" title="More Info!">
                                                            <i class="fa fa-chart-bar info-icon-cir" (click)="moreDetails(item.Project_Code)"></i>
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.Link_Status==1;else not_Linked">
                                                            <a class="curser-pointer"
                                                                (click)="_OpenMemosInfo(item.Project_Code,item.Project_Name)"><img
                                                                    width="19px"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Linked"></a>

                                                        </div>
                                                        <ng-template #not_Linked>
                                                            <a><img width="19px" class="black-white"
                                                                    src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"
                                                                    title="Not Linked"></a>
                                                        </ng-template>
                                                    </td>
                                                    <td>
                                                        <p class="kt-widget__title mb-0">
                                                            {{item.Project_Name}}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <span class="kt-widget__other">{{item.Exec_BlockName}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.ReportType==null;else ReportType">
                                                            <span class="kt-widget__other">Developemt</span>
                                                        </div>
                                                        <ng-template #ReportType>
                                                            <span class="kt-widget__other">{{item.ReportType}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.Team_Res}}</span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            *ngIf="item.Exec_BlockName=='Standard Tasks';else Projecttype">
                                                            <span
                                                                class="kt-widget__other text-nowrap">{{item.SubmissionType1}}</span>
                                                        </div>
                                                        <ng-template #Projecttype>
                                                            <span class="kt-widget__other text-nowrap">
                                                                {{item.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td data-toggle="tooltip" data-placement="top"
                                                        title="{{item.LastUpdate|date:'medium'}}">
                                                        <span href="javascript:void(0)"
                                                            class="kt-widget__other text-info curser-pointer"
                                                            (click)="OpenDARinfo(item.Project_Code)">
                                                            {{item.LastUpdate|dateAgo}}</span>
                                                    </td>
                                                    <td class="stat-td">
                                                        <!-- <div *ngIf="_MainProjectStatus=='Delay'">
                                                            <span class="text-danger font-weight-400">Delay</span>
                                                        </div> -->
                                                        <div *ngIf="item.Status=='Under Approval'">
                                                            <span class="text-info font-weight-400">Under
                                                                Approval</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Delay'">
                                                            <span class="text-danger font-weight-400">Delay</span>
                                                        </div>
                                                        <!-- Other Status -->
                                                        <div *ngIf="item.Status=='InProcess'">
                                                            <span class="text-warning font-weight-400">InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo InProcess'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project'">
                                                            <span class="text-primary font-weight-400">New
                                                                Project</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project Rejected'">
                                                            <span class="text-danger font-weight-400">New
                                                                Project
                                                                Rejected</span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Project Hold'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Hold</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Completed'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Todo'">
                                                            <span class="text-primary font-weight-400">New Todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completion Under Approval'">
                                                            <span class="text-primary font-weight-400">Completion
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completed'">
                                                            <span class="text-success font-weight-400">Completed
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Forward Under Approval'">
                                                            <span class="text-warning font-weight-400">Forward
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Complete Rejected'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Complete
                                                                Rejected
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Enactive Under Approval'">
                                                            <span class="text-danger font-weight-400">Enactive
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Version'">
                                                            <span class="text-danger font-weight-400">Version
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Deadline Extend Under Approval'">
                                                            <span class="text-info font-weight-400">Deadline Extend
                                                                Under Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Holded'">
                                                            <span class="font-weight-400"
                                                                style="color: #c0b5dc;">Project Holded
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Hold Under Approval'">
                                                            <span class="font-weight-400"
                                                                style="color: #c0b5dc;">Project Hold Under Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Achieved'">
                                                            <span class="text-info font-weight-400">ToDo Achieved
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Standardtask Enactive Hold'">
                                                            <span class="text-danger font-weight-400">Standardtask Enactive Hold
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <!-- <td (click)="_onRowClick(item.Project_Code,item.Project_Name)"
                                                        class="curser-pointer">
                                                        <a><i class="fa fa-link text-primary"></i></a>
                                                    </td> -->
                                                    <!-- <td>
                                                        
                                                        <a tabindex="0" role="button" placement="right" data-trigger="focus" class="btn px-0 mr-2"
                                                            *ngIf="item.ApprovalEmpID!=0" (click)="sideviw();getapprovalStats(item.Project_Code,item.Status)"
                                                            data-toggle="tooltip" title="Project Actions!">
                                                            <i class="fa fa-cogs info-icon-cir"></i></a>
                                                        <div class="dropdown" *ngIf="item.ApprovalEmpID!=0">
                                                            <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle arrow-none card-drop">
                                                              <i class="fas fa-ellipsis-v mr-0" style="color: red"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                              <a href="javascript:void(0);" class="dropdown-item suc-hvr" 
                                                                    (click)="sideviw();getapprovalStats(item.Project_Code,item.Status)">Accept</a>
                                                              <a href="javascript:void(0);" class="dropdown-item dan-hvr">Reject</a>
                                                            </div>
                                                        </div>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="text-center py-4" style="color: lightgrey">
                                            <h4>{{_filtersMessage}}</h4>
                                            <p> {{_filtersMessage2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project actions info bar start -->
<div class="sideInfobar animate-right" id="proactbar">
    <div class="card">
        <div class="card-body">
            <div class="">
                <button class="float-right  btn-hover-danger btn btn-sm" (click)="closeApproval()"><i
                        class="fas fa-times mr-0"></i>
                </button>
                <h5 class="det-text pro-nm text-dark mb-1">Project Actions</h5>
                <h5 class="mb-1 kt-portlet__head-title text-blue">{{requestComments}}</h5>
            </div>
        </div>
    </div>
    <div class="py-3 px-4">
        <div class="proctdetls d-flex gap-5 w-100 align-items-center" [ngClass]="{ ' ' : Status!='Deadline Extend Under Approval',
                'justify-content-between' : Status=='Deadline Extend Under Approval'}" id="ProjectDetails_Main">
            <div class="d-flex align-items-center">
                <div class=""><span class="svg-icon svg-icon-2x text-primary mr-2"><svg width="24" height="24"
                            viewBox="0 0 40 40" aria-hidden="true" focusable="false" fill="currentColor">
                            <path
                                d="M24,2V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v1H10V1c0-0.6-0.4-1-1-1S8,0.4,8,1v1C4.7,2,2,4.7,2,8v16c0,3.3,2.7,6,6,6h16c3.3,0,6-2.7,6-6V8C30,4.7,27.3,2,24,2z M8,4v1c0,0.6,0.4,1,1,1s1-0.4,1-1V4h12v1c0,0.6,0.4,1,1,1s1-0.4,1-1V4c2.2,0,4,1.8,4,4v2H4V8C4,5.8,5.8,4,8,4z M24,28H8c-2.2,0-4-1.8-4-4V12h24v12C28,26.2,26.2,28,24,28z">
                            </path>
                        </svg></span></div>
                <div class="action-content">
                    <h6 class="txtm-cus mb-1 pt-1">Request Date</h6>
                    <h5 class="mt-1 text-blue">{{requestDate|date:'dd-MM-yyyy'}}</h5>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class=""><span class="svg-icon svg-icon-2x text-info mr-2"><svg _ngcontent-jrv-c350="" width="24"
                            height="24" viewBox="0 0 40 40" aria-hidden="true" focusable="false" fill="currentColor">
                            <path _ngcontent-jrv-c350="" d="M30.5,9h-7.8l-3.6-3.6C18.2,4.5,16.9,4,15.6,4h-5.1C6.9,4,4,6.9,4,10.5v19c0,3.6,2.9,6.5,6.5,6.5h19c3.6,0,6.5-2.9,6.5-6.5v-15C36,11.5,33.5,9,
                    30.5,9z M33,29.5c0,1.9-1.6,3.5-3.5,3.5h-19C8.6,33,7,31.4,7,29.5v-19C7,8.6,8.6,7,10.5,7h5.1c0.5,0,1,0.2,1.4,0.6l4.1,4c0.3,0.3,0.7,0.4,1.1,0.4h8.4c1.4,
                    0,2.5,1.1,2.5,2.5L33,29.5L33,29.5z M13.5,13L13.5,13c0.8,0,1.5,0.7,1.5,1.5v13c0,0.8-0.7,1.5-1.5,1.5l0,0c-0.8,0-1.5-0.7-1.5-1.5v-13C12,13.7,12.7,13,13.5,13z
                     M25.5,18L25.5,18c0.8,0,1.5,0.7,1.5,1.5v8c0,0.8-0.7,1.5-1.5,1.5l0,0c-0.8,0-1.5-0.7-1.5-1.5v-8C24,18.7,24.7,18,25.5,18z M19.5,22L19.5,22c0.8,0,1.5,0.7,1.5,1
                     .5v4c0,0.8-0.7,1.5-1.5,1.5l0,0c-0.8,0-1.5-0.7-1.5-1.5v-4C18,22.7,18.7,22,19.5,22z"></path>
                        </svg></span></div>
                <div class="action-content">
                    <h6 class="txtm-cus mb-1 pt-1">Request Type</h6>
                    <h5 class="mt-1 text-blue">{{requestType}}</h5>
                </div>
            </div>
            <div class="d-flex align-items-center" *ngIf="Status=='Deadline Extend Under Approval'">
                <div class=""><span class="svg-icon svg-icon-2x text-dangr mr-2"><svg width="24" height="24"
                            viewBox="0 0 40 40" aria-hidden="true" focusable="false" fill="currentColor">
                            <path
                                d="M24,2V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v1H10V1c0-0.6-0.4-1-1-1S8,0.4,8,1v1C4.7,2,2,4.7,2,8v16c0,3.3,2.7,6,6,6h16c3.3,0,6-2.7,6-6V8C30,4.7,27.3,2,24,2z M8,4v1c0,0.6,0.4,1,1,1s1-0.4,1-1V4h12v1c0,0.6,0.4,1,1,1s1-0.4,1-1V4c2.2,0,4,1.8,4,4v2H4V8C4,5.8,5.8,4,8,4z M24,28H8c-2.2,0-4-1.8-4-4V12h24v12C28,26.2,26.2,28,24,28z">
                            </path>
                        </svg></span></div>
                <div class="action-content">
                    <h6 class="txtm-cus mb-1 pt-1">Request Deadline</h6>
                    <h5 class="mt-1 text-blue">{{requestDeadline|date:'dd-MM-yyyy'}}</h5>
                    <!-- <h5 class="mt-1 text-blue" *ngIf="requestDeadline==null">{{requestDate|date:'dd-MM-yyyy'}}</h5> -->

                </div>
            </div>
        </div>
    </div>

    <!-- accordian_section-->

    <div class="px-4 m-auto">


        <div class="mt-3">
            <div class="card-title mb-0">
                <!-- <div class="card-title mb-0" data-toggle="collapse" data-target="#proj_act_acc" aria-expanded="true" aria-controls="proj_act_acc"> -->
                <div class="d-flex justify-content-between align-items-center">
                    <span class="det-text pro-nm pl-1 text-blue">Project Actions<span style="color:red">*</span></span>
                    <i class="fas fa-chevron-up text-info1 mr-2 d-none"></i>
                </div>
            </div>

            <div id="proj_act_acc" class="collapse show px-1">

                <div class="pro_act_div card-body px-0">
                    <div class="form-group mb-2">
                        <div>
                            <div class="form-check-inline" (click)="typeChange()">
                                <label class="form-check-label lbl-suc btn-app">
                                    <input id="rdbButtons_0" type="radio" class="form-check-input" name="rdbButtons"
                                        value="1" checked="checked" [(ngModel)]="selectedType">Accept
                                </label>
                            </div>
                            <div class="form-check-inline" (click)="typeChange()">
                                <label class="form-check-label lbl-war btn-app">
                                    <input id="rdbButtons_1" type="radio" class="form-check-input" name="rdbButtons"
                                        value="2" [(ngModel)]="selectedType">Hold
                                </label>
                            </div>
                            <div class="form-check-inline" (click)="typeChange()">
                                <label class="form-check-label lbl-dan btn-app">
                                    <input id="rdbButtons_2" type="radio" class="form-check-input" name="rdbButtons"
                                        value="3" [(ngModel)]="selectedType">Reject
                                </label>
                            </div>
                            <div class="form-check-inline" (click)="typeChange()">
                                <label class="form-check-label lbl-new1 btn-app">
                                    <input id="rdbButtons_0" type="radio" class="form-check-input" name="rdbButtons"
                                        value="4" checked="checked" [(ngModel)]="selectedType">Transfer
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-grow-1r">
                        <div class="col-md-12 checked-rad pl-1 pt-3">
                            <div class="appr-comts">

                                <div class="form-group" *ngIf="selectedType=='1'" (click)="clickonselect()">
                                    <label class="mb-2">Select Comment</label><span style="color:red">*</span>
                                    <select class="form-control" [(ngModel)]="commentSelected">
                                        <option value=""> -- select an option -- </option>
                                        <option>Accepted</option>
                                        <option *ngIf="Status == 'Under Approval'">New project Accepted</option>
                                        <option *ngIf="Status == 'Completion Under Approval'">Project Complete Accepted
                                        </option>
                                        <option *ngIf="Status == 'Deadline Extend Under Approval'">Deadline Extend
                                            Accepted
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="selectedType=='3'" (click)="clickonselect()">
                                    <label class="mb-2">Select Comment</label><span style="color:red">*</span>
                                    <select class="form-control" [(ngModel)]="commentSelected">
                                        <option value=""> -- select an option -- </option>
                                        <!-- <option>Accepted</option> -->
                                        <option *ngIf="Status == 'Under Approval'">New project Rejected</option>
                                        <option *ngIf="Status == 'Completion Under Approval'">Project Complete Rejected
                                        </option>
                                        <option *ngIf="Status == 'Deadline Extend Under Approval'">Deadline Extend
                                            Rejected
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="mb-2">Enter your Comment(optional)</label>
                                    <textarea class="form-control" [(ngModel)]="comments">{{commentSelected}}</textarea>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-sm btn-info mr-2" (click)="submitApproval()"
                                    [disabled]="!commentSelected || !selectedType">Submit</button>
                                <button class="btn btn-sm btn-secondary" (click)="closeApproval()">Cancel</button>
                            </div>
                        </div>
                        <!-- <div class="none-checked margin-auto">
                            <img src="assets/images/bg-no.jpg" height="300px" alt="select project actions">
                            <div class="text-black h5 mt-3">To Manage Project , select Project Actions</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- Project actions info bar end -->

<!-- dms memos sidebar-->
<div id="MemosSideBar" class="sideInfobar animate-right">
    <div class="kt-portlet__head p-3 bg-primary">
        <div class="kt-portlet__head-label">
            <a href="javascript:void(0)" class="closebtn pull-right text-white"
                (click)="_CloseMemosidebar()">&times;</a>
            <div class="title-sidebar mb-0 text-white">
                <h5 class="curser-pointer">
                    <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"> Linked Memos
                </h5>
                <span class="text-small text-white">{{_displayProjName}}</span>

            </div>
            <!-- <p class="text-small text-white">{{_displayProjName}}</p> -->
        </div>
    </div>
    <div class="kt-portlet__body p-3">
        <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
            <div class="card-body">
                <div class="kt-widget1 kt-widget1--fit">
                    <div class="kt-widget1__item" *ngFor="let item of _MemosSubjectList; let i=index">
                        <div class="kt-widget1__info kt-align-left">
                            <h5 (click)="openUrl(item.Url)" class="curser-pointer">
                                <!-- -->
                                <div *ngIf="item.Attachment==true;else Onlysubject">
                                    <!-- <span style="color:#808080">{{item.MailId}}</span> -->
                                    <i class="fas fa-paperclip" style="color:#A9A9A9"></i> {{item.Subject}}
                                </div>
                                <ng-template #Onlysubject>
                                    <i class="fas fa-circle"></i> {{item.Subject}}
                                </ng-template>

                                <!-- <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png"> -->
                            </h5>
                        </div>
                    </div>
                    <!-- <div class="kt-widget1__item">
                        <div class="kt-widget1__info kt-align-left">
                            <h5>
                                <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png">
                                Memo 2
                            </h5>
                        </div>
                    </div>

                    <div class="kt-widget1__item">
                        <div class="kt-widget1__info kt-align-left">
                            <h5>
                                <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png">
                                Memo 3
                            </h5>
                        </div>
                    </div>
                    <div class="kt-widget1__item">
                        <div class="kt-widget1__info kt-align-left">
                            <h5>
                                <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png">
                                Memo 4
                            </h5>
                        </div>
                    </div>
                    <div class="kt-widget1__item">
                        <div class="kt-widget1__info kt-align-left">
                            <h5>
                                <img width="25px" src="https://cswebapps.com/dmsweb/assets/media/logos/dms-logo.png">
                                Memo 5
                            </h5>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Link memos Template -->
<!-- <div id="LinkSideBar" class="sideInfobar animate-right">
    <div class="kt-portlet__head p-3 bg-primary">
        <div class="kt-portlet__head-label">
            <a href="javascript:void(0)" class="closebtn pull-right text-white" (click)="closeLinkSideBar()">&times;</a>
            <h5 class="title-sidebar mb-0 text-white">
                <i class="fa fa-link"></i>
                Link Project
            </h5>
        </div>
    </div>
    <ul class="kt-nav">
        <li class="kt-nav__head d-block">
            <p class="text-primary">
                {{_displayProjName}}</p>
            <div class="M_fsize">
                Total <div class="badge badge-pill badge-outline-info">
                    {{_totalMemos}}</div>
                Linked <div class="badge badge-pill badge-outline-success">
                    {{_mappedMemos}}</div>
            </div>
            <div class="kt-nav__separator"></div>
        </li>
        <li class="kt-nav__item px-4">
            <div class="d-flex">

                <ng-multiselect-dropdown [placeholder]="'Select Memo' "
                    class="mutlidropdown-set mutlidropdown-full mr-1" [settings]="dropdownSettings_Memo"
                    [data]="Memos_List" [(ngModel)]="ngDropdwonMemo" (onSelect)="Memo_Select(ngDropdwonMemo)"
                    (onDeSelect)="Memo_Deselect()" style="flex: 3;">
                </ng-multiselect-dropdown>
                <button class="btn btn-label-primary btn-upper btn-sm btn-bold" (click)="_AddLink()">Link</button>
            </div>
        </li>
        <li class="kt-nav__foot"></li>
    </ul>
</div> -->

<!-- DAR Achievements Side Bar -->
<div id="DARSideBar" class="sideInfobar animate-right">
    <div class="kt-portlet__head p-3 bg-primary">
        <div class="kt-portlet__head-label">
            <a href="javascript:void(0)" class="closebtn pull-right text-white" (click)="_CloseDARSideBar()">&times;</a>
            <div class="title-sidebar mb-0 text-white">
                <h5 class="curser-pointer">
                    DAR Achievements
                </h5>
                <!-- <p>{{_DARProjectName}}</p> -->
            </div>
        </div>
    </div>
    <div class="kt-portlet__body p-3">
        <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
            <div class="card-body">
                <div class="kt-widget1 kt-widget1--fit">
                    <div class="kt-widget1__item">
                        <div class="kt-widget1__info kt-align-left">
                            <!-- <label>Last Updated DAR</label> -->
                            <h5 class="curser-pointer">
                                {{_DarAchievement}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mysideInfobar" class="sideInfobar animate-right">
    <router-outlet></router-outlet>
</div>


<div id="rightbar-overlay" (click)="closeInfo()"></div>
