/* #loading{ 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  z-index: 1; 
  width: 150px; 
  height: 150px; 
  margin: -75px 0 0 -75px; 
  border: 16px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 16px solid #3498db; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  } 
    
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  } */

  .list-icon-color{
    color: #969696
   }
  .loader,
  .loader:before,
  .loader:after {
    background: #0dc5c1;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #0dc5c1;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }

  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .modal .modal-content {
    border-radius: 2px;
}
/* 
  table, th, td {
    padding: 5px;
  }
  table {
    border-spacing: 15px;
  } */

.shareddetails.dropdown-menu{
  width: 400px;
  height: auto;
  max-height: 400px;
  padding: 10px;
  top: 38px !important;
  left: auto !important;
  right: 0px !important;
  overflow-y: auto;
}
/* width */
.shareddetails.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.shareddetails.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ngx-pagination {
  padding-left: 0;
}
#backBtn:hover{
 background-color:#5867dd ;
 color: white; 
}
#Mdl_closebtn:hover{
  background-color: #dc3545;
  color:white
}

.text-warning-1{
  background-color: #ffe0a7;
  color:#FFA800;
  width: auto;
  padding: 4px 8px;
  border-radius: 5px;
}

.text-danger-1{
  color: #F64E60;
  background-color: #FFE2E5;
  width: auto;
  padding: 4px 8px;
  border-radius: 5px;
}

.multiselect-dropdown .dropdown-btn .dropdown-down,
.multiselect-dropdown .dropdown-btn .dropdown-up{
  border-top: 7px solid #adadad !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important
}

.multiselect-dropdown{
  width: 80px !important;

}
.kt-todo__details{
  display: flex;
}
.kt-todo__details .kt-todo__icon{
    border: 0;
    background: none;
    font-size: 16px;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #f5f6fc;
    border: 1px solid #b3bcff;
    color: #5867dd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 8px 0 0;
    border-radius: 0;
    border-radius: 4px;
  }

.kt-todo__details .kt-todo__icon svg.kt-svg-icon {
    height: 18px;
    width: 18px;
  }

.kt-todo__details .kt-todo__icon svg.kt-svg-icon.add-icon{
  height: 25px;
  width: 25px;
}

  .kt-todo__details .kt-todo__icon .kt-svg-icon g [fill]{
    fill: #5867dd;
  }
  .kt-todo__details .kt-todo__icon svg.kt-svg-icon.add-icon path{
    fill: #5867dd;
  }
  .kt-todo__details .kt-todo__icon:hover svg.kt-svg-icon.add-icon path,
  .kt-todo__details .kt-todo__icon.active svg.kt-svg-icon.add-icon path{
    fill: #fff;
  }

  .kt-todo__details .kt-todo__icon:hover .kt-svg-icon g [fill],
  .kt-todo__details .kt-todo__icon.active .kt-svg-icon g [fill]{
  fill: #fff;
}

  .kt-todo__details .kt-todo__icon:hover,
  .kt-todo__details .kt-todo__icon.active{
    background-color: #5867dd;
    color: #fff;
  }
  .card-title .favourite i{
    font-size: 18px;
    color: #ccc;
  }
  .card-title .favourite.active i,
  .card-title .favourite:hover i{
    color: #ffc107;
  }

  .dataTables_wrapper .dataTable .plist-details tr td{
    border-color: #d6d6d6;
  }

  .dataTables_wrapper .dataTable .plist-details tr td:first-child.success {
    border-left: 5px solid #1dc9b7;
    /* border-radius: 4px; */
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.warning {
    border-left: 5px solid #ffb822; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.info {
    border-left: 5px solid #2786fb; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.danger {
    border-left: 5px solid #F58A8B; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.UnderApprovals {
  border-left: 5px solid #BD838C; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.ForwardUnderApproval {
  border-left: 5px solid #E0B1D7; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.completeUnderApproval {
  border-left: 5px solid #98c7bf; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.projectHold {
  border-left: 5px solid #C0B5DC; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.HoldunderApp {
  border-left: 5px solid #a85098; 
}
.dataTables_wrapper .dataTable .plist-details tr td:first-child.DeadlineExtended{
  border-left: 5px solid #E0B1D7; 
}
.delayDays{
  font-size: 11px;
}

.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s cubic-bezier(0.93, 0.35, 1, 1);
  fill: #5E5F63;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link {
  padding: 0.2rem 20px;
  border-radius: 4px;
}
.mail-dropdown {
  width: 800px;
  max-width: 100%;
}
.mail-dropdown table td {
  vertical-align: top;
  padding-bottom: 5px;
}
.kt-quick-panel .kt-portlet.kt-portlet--head-lg .kt-portlet__head {
  min-height: 60px;
}
.kt-inbox__icon .dropdown-menu.dropdown-menu-sm {
  width: 150px;
}
.dropdown-reply ul li a .kt-nav__link-icon {
  width: 20px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__label {
  width: 60px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__input input {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}
.kt-nav__link-nohover:hover {
  background-color: transparent !important;
  color: #74788D !important;
  cursor: auto;
}
.kt-nav__link-text:hover {
  color: #74788D !important;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link,
.kt-nav .kt-nav__item.active>.kt-nav__link,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: rgba(154, 100, 142, 0.2);
  color: #333 !important;
  transition: all 0.3s;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-arrow {
  color: #333;
}
.kt-badge.kt-badge--unified-brand {
  color: #FFFFFF;
  background: rgb(195, 195, 195);
}
/* .inbox-text {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.kt-inbox .kt-inbox__icon {
  background-color: #FFFFFF !important;
}

.chatcount {
  padding: 10px;
  margin-left: -15px;
  margin-top: -10px;
}
.kt-badge.kt-badge--dark {
  color: #FFFFFF;
  background: #8C8D92;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s cubic-bezier(0.93, 0.35, 1, 1);
  fill: #5E5F63;
}
.kt-inbox .kt-inbox__aside .kt-inbox__nav .kt-nav .kt-nav__item .kt-nav__link {
  padding: 0.2rem 20px;
  border-radius: 4px;
}
.kt-font-ReplyRequired {
  color: #a6c !important;
}
.mail-dropdown {
  width: 800px;
  max-width: 100%;
}
.mail-dropdown table td {
  vertical-align: top;
  padding-bottom: 5px;
}
.kt-quick-panel .kt-portlet.kt-portlet--head-lg .kt-portlet__head {
  min-height: 60px;
}
.kt-inbox__icon .dropdown-menu.dropdown-menu-sm {
  width: 150px;
}
.dropdown-reply ul li a .kt-nav__link-icon {
  width: 20px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__label {
  width: 60px;
}
.kt-inbox .kt-inbox__form .kt-inbox__body .kt-inbox__to .kt-inbox__field .kt-inbox__input input {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}
.kt-nav__link-nohover:hover {
  background-color: transparent !important;
  color: #74788D !important;
  cursor: auto;
}
.kt-nav__link-text:hover {
  color: #74788D !important;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link,
.kt-nav .kt-nav__item.active>.kt-nav__link,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: rgba(154, 100, 142, 0.2);
  color: #333 !important;
  transition: all 0.3s;
}
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.kt-nav__item--active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.active>.kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link .kt-nav__link-arrow {
  color: #333;
}
.kt-badge.kt-badge--unified-brand {
  color: #FFFFFF;
  background: rgb(195, 195, 195);
}
/* .inbox-text {
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.kt-quick-panel2 {
  width: 650px !important;
}
.kt-quick-panel--right .kt-quick-panel {
  right: -660px;
  left: auto;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .someclass {
  background-color: red;
  display: none;
} */
/* :host(.someClass) {
  background-color: red;
} */
.kt-inbox .kt-inbox__icon {
  border: 0;
  background: none;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
  border-radius: 4px;
}
.kt-badge.kt-badge--inline {
  height: auto;
  width: auto;
  padding: 0.15rem 0.75rem;
  border-radius: 2px;
  margin-left: 4px;
}
.kt-inbox .kt-inbox__aside {
  padding: 17px;
  width: 243px;
}
/* Status Colors */
.Replied_border_left_true_warning{
  border-left: 5px solid #ffb822;
}
.Replied_border_left_true_primary{
  border-left: 5px solid #95bed9;
}
.Replied_border_left_true_success{
  border-left: 5px solid #95bed9;
}
.Replied_border_left_true_Danger{
  border-left: 5px solid #F58A8B;
}
.Replied_border_left_true_hold{
  border-left: 5px solid #c0b5dc
}
.Replied_border_left_true_rejected{
  border-left: 5px solid #f5c293;
}
.Replied_border_left_true_underApprovals{
  border-left: 5px solid #BD838C;
}
.Replied_border_left_true_forwardUnderApproval{
  border-left: 5px solid #E0B1D7;
}
.Replied_border_left_true_completeUnderApproval{
  border-left: 5px solid #98c7bf;
}
.Replied_border_left_true_projectHold{
  border-left: 5px solid #C0B5DC;
}
.Replied_border_left_true_NewProject{
  border-left: 5px solid #007bff;
}
.Replied_border_left_true_DeadlineExtended{
  border-left: 5px solid #E0B1D7;
}
.Replied_border_left_true_HoldunderApp{
  border-left: 5px solid #a85098;
}
.kt-inbox .kt-inbox__list {
    margin-left: -17px;
}
.icons-filter .kt-todo__icon{
  position: relative;
  margin-right: 15px !important;
  z-index: 2;
}
.icons-filter .kt-todo__icon span{
  width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
  color: #fff;
  background: #5867dd;
  border: 1px solid #5867dd;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  right: -11px;
  z-index: 3;
}
/* .icons-filter .kt-todo__icon:hover{
  background-color: #73a1f7 !important;
  color: #fff !important
} */
/* .icons-filter .kt-todo__icon:hover span{
  background-color: rgba(39, 134, 251, 1) !important;
  color: #fff !important
} */

.dataTables_wrapper .dataTable{
  margin-top: 0px !important;
}

.multiselect-dropdown[_ngcontent-unj-c40] .dropdown-btn[_ngcontent-unj-c40]{
  width: 150px !important;
}
/* virtual Scroller */
virtual-scroller {
  /* width: 350px; */
  height: 200px;
}
 
.vsdiv {
  display: block;
  width: 100%;
  height: 30px;
}

/* === Sidebar === */
.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}
.sideInfobar .kt-portlet__head{
  background-color: #f5f6fc;
}

.sideInfobar .closebtn {
	text-decoration: none;
	color: #333;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.info-icon-cir{
  font-size: 20px;
  color: #5867dd;
}

.sideInfobar .kt-widget1 .kt-widget1__item{
  border-bottom: 0.07rem dashed #dedede;
  padding: 6px;
}
.sideInfobar .kt-widget1 .kt-widget1__item.dark{
  border-bottom: 0.07rem dashed rgba(0,0,0,0.3);
}

/* .kt-inbox__datetime{
  width: 100px !important;
} */

.sideInfobar .kt-widget1 .kt-widget1__item .kt-widget1__info .kt-widget1__title{
  font-weight: 600;
}
.sideInfobar .title-sidebar{
    width: 270px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.count-height{
  max-height: 200px;
  overflow-y: auto;
}

/* .count-height .justify-content-between{
  border-bottom: 1px solid #f1f1f1;
} */
.count-height .justify-content-between .kt-checkbox{
  margin-top: 5px;
  margin-bottom: 5px;
}


/* width */
.count-height::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.count-height::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.count-height::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
.count-height::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.dropdown .kt-checkbox > input:checked ~ span{
  border-color: #5867dd;
}
.kt-checkbox > span:after {
  border: solid #5867dd;
}

.stores-sec .mega-dropdown {
  position: static !important;
}
.stores-sec .mega-dropdown-menu {
    padding: 20px;
    width: 60%;
    /* border: 1px solid #ccc !important;
    box-shadow: none;
    -webkit-box-shadow: none; */
    top: 20px !important;
    left: -22px !important;
}
.stores-sec .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 32px;
  z-index: 10;
}
.stores-sec .mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 30px;
  z-index: 8;
}

.stores-sec .mega-dropdown-menu1 .filter-box{
  width: 33.3333%;
  display: inline-block;
}

#project-4 thead tr th:nth-child(1), #project-4 tbody tr td:nth-child(1){
  width: 3%;
}
#project-4 thead tr th:nth-child(2), #project-4 tbody tr td:nth-child(2){
  width: 33%;
}
#project-4 thead tr th:nth-child(3), #project-4 tbody tr td:nth-child(3){
  width: 10%;
}
#project-4 thead tr th:nth-child(4), #project-4 tbody tr td:nth-child(4){
  width: 10%;
}
#project-4 thead tr th:nth-child(5), #project-4 tbody tr td:nth-child(5){
  width: 15%;
}
#project-4 thead tr th:nth-child(6), #project-4 tbody tr td:nth-child(6){
  width: 10%;
}
#project-4 thead tr th:nth-child(7), #project-4 tbody tr td:nth-child(7){
  width: 10%;
}
#project-4 thead tr th:nth-child(8), #project-4 tbody tr td:nth-child(8){
  width: 10%;
}

.kt-quick-search .kt-quick-search__form .input-group-prepend .input-group-text, .kt-quick-search .kt-quick-search__form .input-group-append .input-group-text{
  /* background-color: #e4e7ff; */
  cursor: pointer;
}
.kt-quick-search .kt-quick-search__form .input-group{
  border: 1px solid #d6dbff;
  border-radius: 5px;
}

.show_entries span{
  position: absolute;
  top: 3px;
  background-color: #fff;
 
}
.show_entries select{
  /* width: 100px; */
  border: 2px solid rgba(88, 103, 221, 0.3);
  color: #5867dd;
  font-weight: bold;
}

.count-btn{
  /* height: 25px; */
  /* background-color: #5867dd; */
  padding: 0px 10px;
  font-weight: 700;
  color: rgb(88, 88, 88);
  font-size: 14px;
  line-height: 25px;
}
/* Search Projects */
.kt-inbox .kt-inbox__toolbar .kt-inbox__search .input-group .form-control {
  height: 44px;
  border: none;
  background-color: #f2f3f7;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100% !important;
}

.dropdown-menu-md.bg-ground, .dropdown-menu-md.bg-ground-short{
  /* background-color: #e2e9ff; */
  background-color: #fff;
  width: 25vw;
  box-shadow: none;
  border: 1px solid #d6dbff !important;
  margin-top: 5px;
}
.dropdown-menu-md.bg-ground .form-control, .dropdown-menu-md.bg-ground-short .form-control{
  background-color: #f5f6fc;
}

/* .kt-todo__details .kt-todo__icon.active  */

/* .valinoor{
  position: relative;
}
.valinoor::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: red;
} */

.kt-inbox .kt-inbox__list .kt-inbox__items .kt-inbox__item{
  position: relative;
}
.delete-btn{
  display: none;
  position: absolute;
   right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f3f7;
    color: grey;
    line-height: 63px;
    padding: 0 20px;
    transition: all 2s ease !important;
}
.delete-btn i{
  background: none;
  font-size: 16px;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  width: 30px;
  background-color: #f5f6fc;
  border: 1px solid #b3bcff;
  color: #5867dd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 8px 0 0;
  border-radius: 0;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* .delete-btn i{
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #f2f3f7;
  transition: all .3s ease !important;
}*/
.btn-secondary.theme-btn{
  background-color: #5867dd;
  color: #fff;
}
.btn.btn-label-primary{
  border: 1px solid #b3bcff;
}

.delete-btn i:hover{
    background-color: #5867dd;
    color: #fff;
}
.kt-inbox__item:hover .delete-btn{
  display: block;
}

.sidebar-more{
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}
.ng-autocomplete {
  width: 300px;
}

/* Boxes  */
.memoscount {
  float: left;
  width: 70px;
  height: 34px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: justify;

}

.blue {
  background: #fff;
}

.purple {
  background: #00B74A;
}

.wine {
  background: #F93154;
}
/* memosCount_Fontsize */
.M_fsize{
  font-size: smaller;
}

.badge {
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal;
}

.badge-outline-primary {
  color: #405189;
  border: 1.5px solid #405189
}

.badge.badge-pill {
  border-radius: 10rem
}

.badge-outline-info {
  color: #3da5f4;
  border: 1.5px solid #3da5f4
}

.badge-outline-danger {
  color: #f1536e;
  border: 1.5px solid #f1536e
}

.badge-outline-success {
  color: #00c689;
  border: 1.5px solid #00c689
}

.badge-outline-warning {
  color: #fda006;
  border: 1px solid #fda006
}
/* New design CSS  from Here... */
.name-box{
  display: inline-block;
  font-size: 9px;
  width: 30px;
  height: 30px;
  background-color: #5867dd;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;
}

.names-response{
  display :inline-block;
  text-align: left;
}

.names-response span:first-child{
  display: block;
  font-size: 10px;
  font-weight: 600;
}
.names-response span:last-child{
  font-weight: 600;
}

.head-btn{
  background-color: rgba(88, 103, 221, 0.1);
    padding: 3px 10px 3px 5px;
    border-radius: 2rem;
    border: 1px solid #b3bcff;
    font-weight: 500;
    font-size: 12px;
}
.head-btn i{
    width: 25px;
    height: 25px;
    background: #5867dd;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-right: 3px;
}

.devider{
  height: 1px;
  width: 100%;
  background-color: #f1f1f1;
}

.pricevalues {
  padding-top: 30px;
  padding-bottom: 10px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.top-border .pricevalues:nth-child(1), .top-border .pricevalues:nth-child(2)  {
  border-top: 1px solid #f1f1f1;
}
.top-border .pricevalues:nth-child(3), .top-border .pricevalues:nth-child(4)  {
  border-bottom: none
}

.pricevalues:nth-child(2), .pricevalues:nth-child(4) {
  border-right: none;
}

.dms-links{
  list-style-type: disc;
}

.dms-links li a{
  display: block;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 5px;
}

/* ========= Mat Select Styles ========= */

mat-select{
  padding: 10px 5px;
  background-color: #fff;
  margin-right: 5px;
}
div#mat-select-0-panel{
  min-width: auto;
}

.mat-select-panel-wrap.ng-tns-c275-0.ng-trigger.ng-trigger-transformPanelWrap.ng-star-inserted{
  transform: none;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #303F9F;
}

/* ========= Progress Bar ========= */

.progress_bar .pro-bar {
  background: hsl(0, 0%, 97%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
  height: 4px;
  margin-bottom: 12px;
  margin-top: 30px;
  position: relative;
  text-align: left;
}

.progress_bar .progress_bar_title {
  color: hsl(218, 4%, 50%);
  font-size: 12px;
  font-weight: 600;
  position: relative;
  top: -28px;
  z-index: 1;
}

.progress_bar .progress_number {
  float: right;
}

.progress_bar .progress-bar-inner {
  background-color: hsl(0, 0%, 88%);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s linear 0s;
}

.progress_bar .progress-bar-inner:before {
  content: "";
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 1;
}

.progress_bar .progress-bar-inner:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -5px;
}
.kt-widget__details {
  min-width: 90px;
}
.kt-media-group .kt-media.kt-media--sm img {
  max-width: 25px;
  height: 25px;
  cursor: pointer;
}
.kt-media-group .kt-media.kt-media--sm span {
  width: 25px;
  height: 25px;
  background: #deecf8;
  color: #2786fb;
}
.bg-today {
  background-color: #342bf0 !important;
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}
@media only screen and (max-width: 768px) {
  .dropdown-menu-md.bg-ground{
    width: 80vw;
  }
}

.suc-hvr {
  color: #1dc9b7;
}
.suc-hvr:hover {
  background: #1dc9b7;
  color: #fff;
}
.dan-hvr {
  color: #dc3545;
}
.dan-hvr:hover {
  background: #dc3545;
  color: #fff;
}
.kt-widget__title{
  width: 250px;
}
.btn-fw{
  font-weight: 500;
}
.asc-ar{
  display: none;
}
.btn-sort{
  color: #0b0e1f;
  background-color: #fff;
  border: 1px solid #eef1f6;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
a.ordr-a {
  font-size: 14px;
  margin-left: 5px;
  color: #0b0e1f;
}
.sort-by{
  color: #999999;
  font-size: 12px;
  padding: 8px;

}
.sort-a{
  text-decoration: underline;
}
.sort-drop{
  padding: 0.8rem 0;
  min-width: 12rem;
  margin-top: 5px;
}
.sort-drop .dropdown-item{
  padding: 0.4rem 1rem;
}
.sort-drop .active{
  background: #f1f6fd;
  color: #0b0e1f;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.sort-drop .active .ckc-icn{
  display: inline-block;
  color: #3b93fc;
}
.btn-sort:hover, .btn-sort:focus, .btn-sort:active  {
  color: #0b0e1f;
  background-color: #f5f7fa;
  border: 1px solid #e1e6ee;
}
.select-box{
  cursor: pointer;
}
a.dropdown-item{
  cursor: pointer;
}
@media (max-width: 1440px){
  .kt-widget__title{
    width: 240px;
  }
  .stat-td div{
    width: 135px;
  }
  .stat-td{
    width: 135px;
  }
}


@media (max-width: 1300px){
.kt-widget__title{
    width: 180px;
}
}

span.count {
  background: #9886eb;
  padding: 0 4px;
  color: #fff;
  cursor: auto;
  border-radius: 3px;
}

.ticks-grad {
  background-image: linear-gradient(to left, #f9a8d4, #d8b4fe, #818cf8);
  color: #fff;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example_icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

span.example_icon svg {
  width: 25px;
  height: 25px;
}

span.example_icon i {
  font-size: 22px;
}
span.count1 {
  background: #fff;
  border: 1px solid #9886eb;
  padding: 0;
  color: #9886eb;
  cursor: auto;
  border-radius: 500px;
  width: 20px;
  height: 20px;
}
span.count2 {
  margin-left: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #deecf8;
  color: #2786fb !important;
  border-radius: 50%;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.scrollbar1 {
  max-height: calc(100vh - 178px); 
  overflow: hidden;
  overflow-y: auto;
}
.scrollbar1 {
  max-height: calc(100vh - 138px); 
  overflow-y: auto;
}
.scrollbar1::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.scrollbar1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.scrollbar1::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */

.scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
.form-check-input {
  /* vertical-align: text-top; */
  cursor: pointer;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
}
.ps-1{
  position: relative;
  float: unset;
  margin: 4px !important;
}

/*-----new project add side bar css------*/

.add_new_project_slide {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #eef2f8;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}

.open_sidebar{
  width: 100% !important;
}

.step-line {
     /* background: #e0e0e0; */
     height: 2px;
     width: 34vw;
     position: absolute;
     top: 45px;
     z-index: 1;
     border-top: 1px dashed #dfdfdf;
}
.nav-pills.custom li {
  background: transparent;
  margin: 0 20px;
  z-index: 2;
}
.nav-link.active.custom {
  background-color: transparent;
  color: #007bff;
}
.nav-link.custom {
  color: inherit;
  display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 8vw;
}
.nav-link.custom span.icon {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  margin: 0 auto;border: 1px solid #e0e0e0;
}
.nav-link.custom.active span.icon {
  background-color: #007bff;
  color: #fff;
}
.nav-link.custom i {
  font-size: 28px;
}
.tab-content.custom {
  display: flex;
  justify-content: center;
}
.tab-content.custom .tab-pane {
  width: 60vw;
}
@media screen and (min-width: 840px) {
  .tab-content.custom .tab-pane {
    width: 60vw;
  }
}
.nav-link.active.custom:hover {
  background-color: unset !important;
  color: #007bff !important;
}
.kt-portlet .kt-portlet__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
}
.kt-portlet__body_scroll{
  height: calc(100vh - 130px);
  min-height:50vh;;
  overflow-y: auto;
}

.section-bottom {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 3rem;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 10px 15px #5867dd40;
}
.section-bottom .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
}
.section-bottom .section-header h3 {
  letter-spacing: 1px;
}
.section-bottom .section-header button {
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  background-color: #F2F0F0;
}
.section-bottom .section-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  color: #fff;
}
/* .section-bottom .section-cards .card:nth-of-type(1) {
  background-color: #F4B73F;
  box-shadow: 0 5px 8px #F4B73F;
}
.section-bottom .section-cards .card:nth-of-type(2) {
  background-color: #F97751;
  box-shadow: 0 5px 8px #F97751;
}
.section-bottom .section-cards .card:nth-of-type(3) {
  background-color: #F99651;
  box-shadow: 0 5px 8px #F99651;
} */
.section-bottom .section-cards .card {
  text-align: center;
  padding: 2rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* opacity: -0.5; */
  align-items: center;
  border-radius: 1rem;
}
.section-bottom .section-cards .card div {
  display: flex;
  align-items: center;
}
.section-bottom .section-cards .card div h1 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.section-bottom .section-cards .card div i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.section-bottom .section-cards .card p {
  margin-top: -0.8rem;
  text-align: left;
  opacity: 0.9;
}
.kt-cd-tlv {
  margin-top: 13px;
  text-align: center;
}
.kt-cd-tlv p {
  color: #676f9c;
  font-weight: 500;
  font-size: 14px;
}
.card {
  cursor: pointer;    transition: 0.6s;
  position: relative;
}
.card:hover {
  box-shadow: 0 20px 50px rgb(0 0 0 / 22%);
}

.kt-ctv-btn {
  margin-top: 3rem;
  text-align: end;
}
.my-ct-v-btn {
  width: 120px;
  margin-right: 1px;
}

.kt-desc-textarea {
  min-height: 104px;
}

.kt-ctv-btn-two {
  margin-top: 3rem;
  text-align: end;
}
.my-ct-v-btn-back {
  margin-right: 10px;
  min-width: 120px;
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #6b6b6b !important;
}

.ng-select-container {
  border: 0 !important;
}

.nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
  background-color:unset; 
  color: unset; 
}


/*-------------file uploade -----------*/
.formbold-mb-5 {
  margin-bottom: 10px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}

.formbold-file-input input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.formbold-file-input label {
  position: relative;
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}
.formbold-drop-file {
  display: block;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 17px;
  margin-bottom: 8px;
}

.formbold-or {
  font-weight: 400;
    font-size: 14px;
    color: #b1b1b1;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.formbold-browse {
  font-weight: 400;
    font-size: 14px;
    color: #959595;
    display: inline-block;
    padding: 8px 28px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
}

.formbold-file-list {
  border-radius: 6px;
  background: #f5f7fb;
  padding: 16px 16px;
}
.formbold-mb-5.formbold-file-input {
  overflow: hidden;
  position: relative;
}
.formbold-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formbold-file-item button {
  color: #07074d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.formbold-file-name {
  font-weight: 400;
  font-size: 14px;
  color: #5867dd;
  padding-right: 12px;
}
.formbold-progress-bar {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: #e2e5ef;
}

.formbold-progress {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  background: #6a64f1;
  border-radius: 8px;
}

@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
.btn.btn-icon svg:hover {
  fill: #737373;
}

/*---project shart data view ---------*/
.card{
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
}
.card.card-body{
  padding: 2rem 2.25rem;
  color: var(--bs-card-color);
}.d-flex{
  display: flex!important;
}.flex-wrap{
  flex-wrap: wrap!important;
}.rounded{
  border-radius: 0.475rem!important;
}.w-lg-150px{
  width: 50px!important;
}.h-lg-150px{
  height: 63px!important;
}.bg-light{
  --bs-bg-rgb-color: 249,249,249;
  background-color: #f5f5f5!important;
}.flex-center{
  justify-content: center;
  align-items: center;
}.flex-grow-1{
  flex-grow: 1!important;
}.flex-wrap{
  flex-wrap: wrap!important;
}.justify-content-between{
  justify-content: space-between!important;
}.align-items-start{
  align-items: flex-start!important;
}.flex-column{
  flex-direction: column!important;
}
.border-gray-300 {
  border-color: #dbdfe9!important;
}.border-dashed {
  border-style: dashed!important;
  border-color: #dbdfe9;
}.border-dashed {
  border-style: dashed!important;
  border-color: #dbdfe9;
}.px-4 {
  padding-right: 0.5rem!important;
  padding-left: 0.5rem!important;
}.py-3 {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}.min-w-125px {
  min-width: 125px!important;
}.fw-stl {
  color: #4d5aa1;
  font-weight: 600;
}.fs-7 {
  font-size: .95rem!important;
}.fw-semi-lt {
  color: #8f8f8f;
  margin-top: 3px;
}.fs-8 {
  font-size: .85rem!important;
}
.mw-lg-75px{
  max-width: 35px!important;
}
.me-2 {
  margin-right: 10px;
}
.my-crd {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 5px 20px #5867dd38;
}
.kt-sub-box-vew .mb-1 .form-group {
  margin-bottom: 3px;
}
.my-sub-task-tittle h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #686c8b;
  padding: 4px 0px;
  letter-spacing: 0.5px;
}
button.btn.btn-sm.btn-bg-light.Clr-act {
  background-color: #f1f1f2;
  margin-right: 10px;
}
.Kt-act-btnb {
  text-align: end;
  padding-right: 3px !important;
}
.kt-act-no {
  text-align: center;
  margin-right: 8px;
  background-color: #e9f3ff;
  padding: 6px;
  border-radius: 5px;
  color: #2786fb;
}
.kt-act-no span {
  color: #818080;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.kt-act-no p {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
}
.kt-act-ttl-v h6 {
  color: #6c79e1;
  margin-bottom: 3px;
  font-size: 16px;
}
.kt-act-ttl-v p {
  margin-bottom: 0px;
  color: #a3a3a3;
}

.kt-act-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.kt-act-btns {
  border-left: 1px solid #ccc;
  padding: 8px;
}
.kt-dl-icon.db-v {
  margin-right: 10px;
}

.kt-dl-icon {
  cursor: pointer;
  opacity: 0.7;
}
.kt-dl-icon:hover {
  opacity: 1;
}
.kt-act-card {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 1px 20px #cccccc78;
  margin-bottom: 8px;
}
span.kt-act-svg-ic {
  border-right: 1px solid #ccc;
  margin: 0pc 4px;
  padding-right: 4px;
}
span.kt-act-svg-ic svg {
  position: relative;
  top: -2.3px;
}
.kt-vi-act-dtl {
  margin-right: 10px;
}
.kt-sub-box-vew {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 5px 20px #5867dd38;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.kt-portlet__foot {
  padding: 0rem 2rem;
}
.kt-portlet__foot {
  box-shadow: 0px -5px 6px #cccccca1;
}
.add_new_project_slide .kt-portlet__body_scroll{
  height: calc(100vh - 70px);
  min-height:50vh;;
  overflow-y: auto;
}
.add-vhd-h{
  height: calc(100vh - 117px) !important;
}
/*------to show team members ----------*/
.symbol-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}
.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}
.flex-nowrap {
  flex-wrap: nowrap!important;
}.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}.symbol-group .symbol {
  position: relative;
  z-index: 0;
  margin-left: -10px;
  transition: all .3s ease;
}.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
  border-radius: 50%;
}
.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #252f4a;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}.text-inverse-warning {
  color: #ffffff!important;
}.bg-warning {
  --bs-bg-rgb-color: rgba(255,199,0);
  background-color: #ffc700!important;
}
.fw-bold {
  font-weight: 600!important;
}
.symbol .symbol-label {
    width: 50px;
    height: 50px;
}.symbol-group .symbol-label {
  position: relative;
}.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}.symbol .symbol-label:after {
  border-radius: 0.475rem;
}.symbol-group .symbol-label:after {
  display: block;
  content: " ";
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-primary {
  --bs-bg-rgb-color: rgba(62,151,255);
  background-color: #3e97ff!important;
}.text-inverse-primary {
  color: #ffffff!important;
}
.symbol.symbol-35px>img {
  width: 35px;
  height: 35px;
}

.text-inverse-danger {
  color: #ffffff!important;
}
.text-gray-300 {
  color: #dbdfe9!important;
}
label.my-chosse-flv {
  min-height: 55px !important;
  background-color: #e1e1e1;
  cursor: pointer;
}

.my-chosse-flv .formbold-drop-file {
  display: block;
  font-weight: 400;
  color: #717171;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 12px;
  font-size: 16px;
  margin-bottom: 0;
}
.right-side-act {
  padding: 15px;
  border-left: 3px solid #d9d9d9;
  height: calc(100vh - 117px);
  overflow: auto;
}
.kt-action-list {
  margin-top: 1rem;
}
.Act-tittle-Right h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}.Act-tittle-Right {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 9px;
}
.kt-right-style {
  padding-left: 15px;
  border-left: 3px solid #d9d9d9;
}
.sm-btn-submit {
  width: 70px !important;
  padding: 5px;
  background-color: #2196F3 !important;
  border: 1px solid #2196f3 !important;
}
.sm-btn-close{
  min-width: 60px !important;
  padding: 5px;
}
.VW_60{
  width: 60vw;;
}
.act-bd-box {
  margin-top: 1rem;
}label.checkbox.kt-fnt-vd input {
  font-size: 35px;
  position: relative;
  top: 1px;
  /* height: 12px; */
  margin-right: 5px;
}
label.checkbox.kt-fnt-vd {
  margin-bottom: 0px !important;
  font-size: 15px;
  color: #6e7497;
}
@media (max-width: 2500px){
  .tab-content.custom .tab-pane {
    width: 50vw;
}
  }

  @media (max-width: 1280px){
    .tab-content.custom .tab-pane {
      width: 60vw;
  }
    }
    
.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}
.l-radio:hover, .l-radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}
.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.l-radio input:focus {
  outline: none;
}
.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}
.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}

.st-line {
  font-size: 12px;
  font-weight: 400;
  color: #979797;
}

    /*========= project info side bar css ==========*/
    .project-info-side-bar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      background-color: #ffffff;
      border-left: 1px solid #EDEAE9;
      overflow-x: hidden;
      transition: 0.5s;
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
  }
  .open_sidebar_info {
    width: 55% !important;
}
.kt-info-body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  height: calc(100vh - 4vh);
}
.kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}
.kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #6388e3;
  font-weight: 400;
  margin-bottom: 10px;    letter-spacing: 0.5px;
}
.kt-project-type {
  text-align: center;
}
.Kt-Pd-Status {
  background-color: #000;
  color: #fff;
  margin: 0px 10px;
  margin-left: 1rem;
  font-weight: 600;
  padding: 6px 13px; 
     max-width: 140px;
  min-width: 130px;
}
.Core_task {
  background-color: #ffc43a;
}
.kt-project-name h4 {
  color: #181818;
  font-weight: 700;
}
.kt-project-desc p {
  margin: 0;
  color: #999999;
  font-weight: 400;
}
.kt-project-desc {
  margin-top: 5px;
}
.kt-info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}
.More_info {
  background-color: #4574fe !important;
}
.kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
}
.kt-info-data-v {
  background-color: #f0f0f0;
  border-radius: 35px;
  padding: 5px 4px;
  font-weight: 500;
  color: #4f4f4f;
  margin-top: 10px;
}
.kt-client-icon img {
  width: 30px;
  border-radius: 50px;
}
.kt-client-icon {
  margin-top: 10px;
}
.bg-light-shade {
  background-color: #eaf2fd !important;
}
.Delay{
  background-color: #Ed6207 !important;
}
.kt-project-sts-data {
  margin-top: 17px;
  color: #3b3b3b;
  font-weight: 500;
  font-size: 14px;
}
.progress.kt-projcect-progress.bar {
  border-radius: 50px;
  height: 10px;
}
.bg-inprogress {
  background-color: #505050;
}
.bg-delay {
  background-color: #Ed6207;
}
.bg-done {
  background-color: #6aad3a;
}
.kt-prg-bar-info {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
}
.kt-prg-bar-info b {
  font-size: 20px;
  margin-right: 5px;
}
.kt-total-prg-vl b {
  font-size: 21px !important;
}
.Deadline_Extend{
  background-color: #f48383;
}
button.Kt-Approval-btns {
  width: 100%;
  padding: 3px 5px;
  border-radius: 50px;
  background-color: #fff;
  color: #4f4f4f;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 14px;
}.Btn_Accpet {
  border-color: #8ab991 !important;
}
.Btn_Edit_Accept {
  border-color: #7caccd !important;
}
.Btn_Conditional_Accept {
  border-color: #407f4c !important;
}
.Btn_Reject {
  border-color: #cf8e66 !important;
}
.kt-approval-msg {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  min-height: 85px;
}
.text-end {
  text-align: end;
}
.btn-project-stv {
  width: 100px;
  background-color: #f0f0f0;
}
.Bt-Submit {
  background-color: #878787;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.kt-info-pg-footer {
  margin: 5px 10px;
}


 @media only screen and (min-width: 1800px) and (max-width: 2500px)  {
  .open_sidebar_info {
    width: 40% !important;
}
}

@media only screen and (min-width: 1385px) and (max-width: 1800px)  {
  .open_sidebar_info {
    width: 50% !important;
}
}

@media only screen and (min-width: 1280px) and (max-width: 1385px)  {
  .open_sidebar_info {
    width: 55% !important;
}
}
  @media (max-width: 1280px){
    .open_sidebar_info {
      width: 58% !important;
  }
    }
  /*========= project info side bar css end=========*/

  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none !important;
}



/*------------======== model popup ========------------*/
::ng-deep #staticBackdrop {
  z-index: 99999999999999999999 !important;
}
::ng-deep .modal-backdrop.fade.show {
  display: none !important;
}

div#Guideline_view {
  background-color: #0000004a;
}

button.close.close-btn-gd svg {
  fill: #656565;
}

.d-flex.men-tlv {
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  border-radius: 5px;
}
h2.prj-ttl {
  font-size: 16px;
  margin-bottom: 0px;
}

.dvx-cd {
  box-shadow: unset !important;
}
.dvx-cd {
  border: 0px !important;
}
.dvx-cd {
  padding: 5px;
  background-color: #f7f7f7;
  margin-bottom: 6px !important;
  border-radius: 4px !important;
}
.Guidelines_info-view {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 5px;
}

.Guidelines_info_text p {
  font-size: 13px;
  color: #656262;
}

.Guidelines_info-view h4 {
  font-size: 17px;
  margin-bottom: 4px;
}
.Guidelines_info_text h4 {
  font-size: 13px;
  color: #535353;
  border-left: 3px solid #2196F3;
  padding-left: 5px;
}
.Guidelines_info-view p {
  font-size: 13px;    margin-bottom: 3px;
}
.Guidelines_info_text {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

.team_Ltr {
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  background-color: #3398f0;
  margin-right: 10px;
  min-width: 42px;
    text-align: center;
}

.teams_s_tab {
  display: flex;
    background: #ebf6ff;
    margin-bottom: 4px;
}
.team_lt_info p {
  font-size: 13px !important;
  padding-right: 5px;
  color: #797979;
  font-weight: 400;
}

tr.odd.project-list_AC.active{
  background-color: #e0f1ff;
}
.Add_new_project_btn {
  font-size: 14px;
}

.InProcess_color{
  color:#1B272D !important;
}

.Delay_color{
  color: #EE4137 !important;  
}

.ToDo_Completed_color{
  color:#000 !important;  
}
.Forward_Under_Approval_color{
  color: #B2D732 !important;
}

.ToDo_Achieved_color{
  color: #000 !important;
}

.Deadline_Extend_Under_Approval_color{
  color: #F88282 !important;
}

.Cancellation_Under_Approval_color{
  color: #000 !important;
}

.Completion_Under_Approval_color{
  color: #B2D732 !important;  
}

.Hold_color{
  color:#E2D9BC  !important;
}

.Completed_color{
  color: #62B134 !important;  
}

.Under_Approval_color{
  color: #888888 !important;
}

.New_Project_Rejected_color{
  color: #DFDFDF !important;
}

.Not_Started_color{
  color: #000000 !important;
}

.Cancelled_color{
  color: #DFDFDF !important;
}
.Enactive_Under_Approval_color{
  color: #C9C1E6 !important;
}
.New_Todo_color{
  color: #6E9BC4 !important;
}

.Project_Complete_Rejected_color{
  color: #FAF065 !important;
}