#department_add {
    display: none;
}

.form-cus {
    width: 100%;
}

.material-icons {
    vertical-align: middle;
}

.paginationdisable {
    cursor: not-allowed;
}

.paginationpointerdisable {
    pointer-events: none;
}

.search-bar {
    height: 33px;
    display: flex;
    width: 100%;
    max-width: 300px;
    padding-left: 10px;
    border-radius: 4px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    color: #3c3a3a;
    font-size: 15px;
    padding: 0 20px 0 40px;
    /* background-color: rgb(255 255 255 / 31%);
    font-weight: 500;
    border-radius: 4px;
    border: none;    
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02); */
    background-image: url("../../../assets/media/icons/search.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 12px 48%;
}

.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: #20B2AA;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #20B2AA;
}