<div>
    <div class="kt-cus-head">
        <div class="d-flex-cen flex-1">
            <div class="kt-inbox__info d-flex w-100">
                <div class="kt-inbox__sender">
                    <span class="kt-media--sm kt-media--dark">
                        <img src="assets/icons/Group 20.png" style="height:50px" class="w-auto" alt="">
                    </span>
                </div>
                <ng-container>
                    <div class="kt-memo-dt-fl">
                       
                        <div class="kt-inbox__labels">
                            <ng-container *ngIf="!Schedule_ID">
                                <ng-container *ngIf="url_master_code&&(url_project_code!=url_master_code);else plabel">
                                    <span class="Running" >Action</span>
                                    <span [matTooltip]="!noRedirectionToSource?'Click to see the action.':''" (click)="!noRedirectionToSource?newDetailsaction(url_master_code,url_project_code):0" [ngClass]="{'kt-fils-v-uname':!noRedirectionToSource}">{{filename}}</span>
                                </ng-container>
                                <ng-template #plabel>
                                    <span class="Running">Project</span>
                                    <span [matTooltip]="!noRedirectionToSource?'Click to see the project.':''" (click)="!noRedirectionToSource?newDetailsaction(url_project_code):0" [ngClass]="{'kt-fils-v-uname':!noRedirectionToSource}">{{filename}}</span>
                                </ng-template>  
                        </ng-container>
                            <ng-container *ngIf="Schedule_ID">
                                <span class="Running" >Meeting</span>
                                <span matTooltip="Click to see the meeting." (click)="viewMeeting(Schedule_ID)" class="kt-fils-v-uname">{{filename}}</span>
                            </ng-container>
                        </div>
                        <a  class="kt-inbox__message mt-2">
                            <!-- <span class="kt-inbox__subject"> {{item.Subject}}</span> <span class="kt-flv-def"> </span> -->
                            <span class="kt-inbox__flv-user"> <span>Submitted by : </span> <b>{{submitby}}</b> </span>
                        </a>
                    </div>
                </ng-container>

            </div>
            <div class="kt-inbox__details d-flex-center justify-content-between">


                <div class="ht-min-wd" *ngIf="IsStreamDownload=='true'"> <a (click)="DownloadHistory(filename)" *ngIf="invalid==false" class="btn btn-dull float-left mx-1" href="javascript:void(0)"
                    data-target="#open_modal" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
                    <!-- <span class="svg-icns">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
                            viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        History
                    </span> -->
                    <span class="svg-icns1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 24 24" fill="none"><path d="M19.6873 14.2222C19.8909 13.5167 20 12.7711 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C14.3413 20 16.4476 18.9943 17.9106 17.3912M19.6873 14.2222L19 13M19.6873 14.2222L20.75 13.25M9 12L11 14L15 10" stroke="#464455" stroke-linecap="round" stroke-linejoin="round"/></svg>
                         History
                    </span>
                </a></div>

                <div  class=""  *ngIf="viewer!='' && IsStreamDownload=='true'">
                        <a class="btn btn-info float-left mx-1" (click)="download(src,filename)">
                        <span class="svg-icns">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-download" viewBox="0 0 16 16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                            Download
                        </span>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <!-- \&& IsCommunicarionMemoDownload=='true' -->


    <ng-container *ngIf="viewer=='pdf'">
        <div class="col-md-12 progress_container mt-mc-20" *ngIf="ShowProgress">
            <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                    {{progress}}%
                </div>
            </div>
        </div>
        <div class="pt-3 px-3">
            <div class="">
                <div class="">
                    <div class="d-flex justify-content-end">
                        <div class="mb">
                            <button (click)="incrementZoom(-0.1)" mat-button type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    <line x1="8" y1="11" x2="14" y2="11"></line>
                                </svg>
                            </button>

                            <mat-form-field class="page-number">
                                <input matInput type="number" placeholder="Zoom" [(ngModel)]="zoom"
                                    pattern="-?[0-9]*(\.[0-9]+)?">
                                <mat-error>Input is not a number!</mat-error>
                            </mat-form-field>

                            <button (click)="incrementZoom(0.1)" mat-button type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    <line x1="11" y1="8" x2="11" y2="14"></line>
                                    <line x1="8" y1="11" x2="14" y2="11"></line>
                                </svg>
                            </button>
                        </div>
                        <!-- <div *ngIf="showAll" class="mb"><mat-slide-toggle [(ngModel)]="stickToPage">Stick to page</mat-slide-toggle></div> -->
                        <!-- *ngIf="stickToPage && showAll || !showAll" -->
                        <div class="mb">
                            <button (click)="incrementPage(-1)" mat-button type="button">Previous</button>

                            <mat-form-field class="page-number">
                                <input matInput type="number" placeholder="Page" [(ngModel)]="page"
                                    pattern="-?[0-9]*(\.[0-9]+)?">
                                <mat-error>Input is not a number!</mat-error>
                            </mat-form-field>

                            <span *ngIf="pdf">of {{ pdf.numPages }}</span>
                            <button (click)="incrementPage(1)" mat-button type="button">Next</button>
                        </div>
                        <!-- <pdf-viewer [show-all]="showAll"
                    [stick-to-page]="stickToPage"
                    (after-load-complete)="afterLoadComplete($event)"
                    [zoom]="zoom" [src]="src" [rotation]="0" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='false' style="width:100%;height:100vh;"></pdf-viewer>
                    -->
                    </div>
                </div>
                <pdf-viewer style="width:100%;height:calc(100vh - 90px);" [src]="src" [(page)]="page"
                    [rotation]="rotation" [original-size]="originalSize" [show-all]="showAll" [fit-to-page]="fitToPage"
                    (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom" [zoom-scale]="zoomScale"
                    [stick-to-page]="stickToPage" [render-text]="renderText" [external-link-target]="'blank'"
                    [autoresize]="autoresize" (on-progress)="onProgress($event)" (page-rendered)="pageRendered($event)"
                    (pages-initialized)="pageInitialized($event)" [show-borders]="false"></pdf-viewer>
            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="viewer=='office' || viewer=='google'">
        <div class="pt-3 px-3">
            <div class="">
                <ngx-doc-viewer [url]="src" [viewer]="viewer"
                    style="width:100%;height:calc(100vh - 55px)"></ngx-doc-viewer>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="viewer=='image'">
        <div class="pt-3 px-3">
            <div class="">
                <div class="ion-img-viewer">
                    <img [src]="src" />
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="viewer==''">
        <div class="pt-3 px-3 no-prevw d-flex">
            <div class="d-flex align-items-center flex-column m-auto">
                <div class="shake2">
                    <img src="assets/images/doc-brek.png" />
                </div>
                <div class="text-center" *ngIf="invalid==false">
                    <h2>Preview not available</h2>
                    <h5>
                        The file is not available for preview currently. Please download the file to view.
                    </h5>
                    <span
                        class="btn btn-info mt-3" *ngIf="viewer!='' && IsCommunicarionMemoDownload==true" (click)="download(src,filename)">
                        <i class="material-icons p-0 mr-1 fs-4">download</i>Download file
                    </span>
                </div>
                <div class="text-center" *ngIf="invalid==true">
                    <h2>Access denied</h2>
                    <h5>
                        You do not have access to view the file.
                    </h5>
                    <span
                        class="btn btn-info mt-3" *ngIf="viewer!='' && IsCommunicarionMemoDownload==true" (click)="download(src,filename)">
                        <i class="material-icons p-0 mr-1 fs-4">download</i>Download file
                    </span>
                </div>
            </div>
        </div>
    </ng-container>

</div>

<div class="modal fade" id="open_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attachment name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="kt-inbox__search mb-3">
                        <div id="search-grp" class="input-group group-active">
                            <div class="input-group-prepend">
                                <span class="input-group-text px-2 py-0">
                                    <button type="button" role="button" id="srch-btn" data-tooltip="Search"
                                        aria-label="Search" class="srch-btns p-0">
                                        <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z">
                                            </path>
                                            <path d="M0,0h24v24H0V0z" fill="none"></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                            <input type="text" placeholder="Search" [(ngModel)]="HistorySearch" autocomplete="off"
                                class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text p-0 py-0">
                                    <button (click)="searchhistory()" type="button" role="button" id="clrr-btn"
                                        data-tooltip="Clear Search" aria-label="Clear Search" class="srch-btns ml-1">
                                        <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                            </path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header d-none bg-white d-flex-center">
                            <h5 class="crd-txt text-info flex-1">Read by</h5>
                            <div class="">
                                <span class="svg-icns">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 0 22 22" width="16" height="16"
                                        fill="currentColor">
                                        <path
                                            d="M2.328 6.868l7.017 6.253a1 1 0 0 0 1.33 0l7.009-6.246-7.137-4.665a1 1 0 0 0-1.094 0L2.328 6.868zM18 7.082v2.19l-5.994 5.342a3 3 0 0 1-3.992 0L2 9.254V7.083 18h16V7.082zM.906 5.408L8.359.536a3 3 0 0 1 3.282 0l7.453 4.872A2 2 0 0 1 20 7.082V18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V7.082a2 2 0 0 1 .906-1.674z">
                                        </path>
                                    </svg>
                                    10
                                </span>
                            </div>
                        </div>
                        <div class="card-body crd-list scroll-y p-0">
                            <div class="">
                                <ng-container *ngFor="let data of history_list | filter:HistorySearch; let R= index">
                                    <div class="users-list">
                                        <div class="usr-item" data-toggle="collapse"
                                            [attr.data-target]="'#collapseExample'+R" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            <!-- <div class="img-container">
                                                <img *ngIf="data.DownloadUserInboxThumbnail==''"
                                                    src="assets/media/icons/user2.png" alt="user Image" class="usr-img">
                                                <img *ngIf="data.DownloadUserInboxThumbnail!=''" alt="img"
                                                    src="https://yrglobaldocuments.blob.core.windows.net/documents/{{data.DownloadUserInboxThumbnail}}"
                                                    class="">
                                            </div> -->
                                            <div class="initial-box color-7 b-50 mr-2">
                                                {{data.Initial}}
                                            </div>
                                            <div class="flex-1">
                                                <div class="">
                                                    <span class="user-name">{{data.empname}}</span>
                                                </div>
                                                <div class="">
                                                    <span class="read-time">{{data.DownloadDate|date: 'MMM d y'}}</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <a class="dwn-cnt btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="cate-icns" viewBox="0 0 16 16">
                                                        <path
                                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                        <path
                                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                                    </svg>
                                                    {{data.count}}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="collapseExample{{R}}">
                                            <div class="card mx-4">
                                                <ng-container *ngFor="let src of data.dates">
                                                    <div class="usr-item">
                                                        <span class="clp-dwn">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class=""
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                                <path
                                                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                                            </svg>
                                                        </span>
                                                        <div class="flex-1">

                                                            <div class="">
                                                                <span class="read-time">Downloaded on
                                                                    {{src.download_date|date: 'MMM d y'}}</span>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="dropdown-actions">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
