.timeline-header {
  position: relative;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  border-bottom: none;
  background-color: #fff;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  z-index: 14;
}

.sticky-header {
  margin-top: 0px;
  z-index: 14;
  position: sticky;
  top: 0px;
  font-size: 18px;
  padding: 10px 0px;
  margin-bottom: 0px;
  gap: 8px;
}

.pro-name {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  min-width: 0;
  max-width: 80%;
}

.pro-name.pro-link {
  color: #5867dd !important;
}

.header-date {
  color: #333;
  margin-bottom: 1rem;
}

.header-text {
  line-height: 1.42857;
  margin-right: 5px;
  -ms-word-break: break-word;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portlet-height {
  min-height: calc(100vh - 110px);
  margin-bottom: 0px;
}

.timeline .timeline-item {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.timeline .timeline-item {
  background: #ffff;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
  margin-bottom: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgb(111 107 107 / 8%) 0px 0px 0px 1px;
}

.timeline .timeline-line {
  display: block;
  content: " ";
  justify-content: center;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(50%);
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #d2d5e5;
}

.timeline .timeline-item:last-child .timeline-line {
  bottom: 100%;
}

.timeline-media {
  color: #2786fb !important;
}

.w-40px {
  width: 40px !important;
}

.timeline .timeline-icon {
  z-index: 1;
  flex-shrink: 0;
  margin-right: 1rem;
}

.timeline .timeline-icon {
  z-index: 1;
  flex-shrink: 0;
  margin-right: 1rem;
}

.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol.symbol-40px .symbol-label {
  width: 40px;
  height: 40px;
}

.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol.symbol-22px>img {
  width: 22px;
  height: 22px;
}

.symbol img {
  border: 1px solid #cdcdd8;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #3f4254;
  background-color: #f5f8fa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}

.svg-icon {
  line-height: 1;
}

.svg-icon.svg-icon-2 svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.svg-icon svg {
  height: 1.15rem;
  width: 1.15rem;
}




.timeline .timeline-content {
  width: 100%;
  overflow: auto;
  /* margin-bottom: 1.5rem; */
}

.timeline-text {
  color: #333;
  color: #29282d;
  margin-bottom: 0.5rem;
}

.timeline .timeline-item:last-child {
  margin-bottom: 0px !important;
}

.achv-txt {
  color: #54585d;
}

.desp-txt {
  margin-right: 5px;
  color: #64697d;
  color: #848c93;
}

/* timelinetable */
.time-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 7px;
  font-size: 13px;
  border: solid #e1e1e1 1px;
  border-radius: 4px;
}

.time-table th {
  background-color: rgb(21, 21, 42) !important;
  background-color: #6e6d76 !important;
}

.time-table th {
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
}

.time-table tbody tr:nth-child(even) {
  background: #f7f9fb;
}

.time-table td:first-child {
  border-left: none;
}

.time-table td {
  border-left: 1px solid #e1e6ee;
  border-top: 1px solid #e1e6ee;
  padding: 10px;
  color: #0b0e1f;
  vertical-align: middle;
}

.time-table:not(.work-archv-report) tbody tr:hover {
  background: #f2f5f9;
  transition: all 0.1s ease-in-out;
}

.user--name {
  display: flex;
  align-items: center;
}

.tags-wrap {
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags_tag {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
  padding: 0 8px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 3px;
  margin-right: 4px;
  cursor: pointer;
}

.tags-name {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags-remove {
  font-size: 10px;
  color: #fff;
  margin-left: 5px;
  display: none;
}

.tags-tag:hover .tags-remove {
  display: block;
}

.u-common-icon {
  pointer-events: none;
  color: #aaa;
  transition: transform 210ms ease-in-out;
}

.color--inherit {
  color: inherit !important;
}

.chckbx {
  width: 20px;
  height: 20px;
}

.b-50 {
  border-radius: 50%;
}

.list-header {
  margin: 10px 0 0 9px;
  display: flex;
}

.header-date {
  align-self: flex-start;
  color: #0b0e1f !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: none;
  padding: 10px 0 5px;
}

.time-totals {
  font-weight: 400;
  color: #0b0e1f;
  display: flex;
  align-items: center;
  justify-content: end;
}

.time-totals-list {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.totals-list--item {
  margin-left: 12px;
  font-weight: 400;
}

.initial-box {
  background-color: #f9ce6f;
  color: #fff;
  padding: 0;
  border-radius: 5px;
  font-weight: 600;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.b-50 {
  border-radius: 50%;
}

.color-7 {
  background-color: #9b59b6;
}

.noti {
  background: #153b5669;
  border-radius: 50%;
  padding: 0.2em 0.5rem 0.35rem 0.5rem;
  min-width: 1.429rem;
  min-height: 1.429rem;
  line-height: 1;
  margin-left: 5px;
  position: absolute;
  top: -7px;
  right: -6px;
}

/* === Sidebar === */

.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 .1rem 1rem .25rem rgb(0 0 0/5%) !important;
  /* padding-top: 60px; */
}

.btn-fw {
  font-weight: 500;
}

.asc-ar {
  display: none;
}

.btn-sort {
  color: #0b0e1f;
  background-color: #fff;
  border: 1px solid #eef1f6;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

a.ordr-a {
  font-size: 14px;
  margin-left: 5px;
  color: #0b0e1f;
}

.sort-by {
  color: #999999;
  font-size: 12px;
  padding: 8px;

}

.sort-a {
  text-decoration: underline;
}

.sort-drop {
  padding: 0.8rem 0;
  min-width: 12rem;
  margin-top: 5px;
}

.sort-drop .dropdown-item {
  padding: 0.4rem 1rem;
}

.sort-drop .active {
  background: #f1f6fd;
  color: #0b0e1f;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.sort-drop .active .ckc-icn {
  display: inline-block;
  color: #3b93fc;
}

.btn-sort:hover,
.btn-sort:focus,
.btn-sort:active {
  color: #0b0e1f;
  background-color: #f5f7fa;
  border: 1px solid #e1e6ee;
}

.select-box {
  cursor: pointer;
}

a.dropdown-item {
  cursor: pointer;
}

@media Screen and (min-width: 1025px) {

  .kt-quick-panel--on {
    width: 50% !important;

  }
}

@media Screen and (max-width: 1024px) {

  .kt-quick-panel--on {
    width: 75%;
  }
}

@media Screen and (max-width: 768px) {

  .kt-quick-panel--on {
    width: 100%;
  }
}

.scrollbar1 {
  max-height: calc(100vh - 130px);
  overflow: hidden;
  overflow-y: auto;
}

.scrollbar1 {
  max-height: calc(100vh - 138px);
  overflow-y: auto;
}

/* width */

.scrollbar1::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.scrollbar1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.scrollbar1::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */

.scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.time-table td:nth-child(4) {
  /* white-space: nowrap; */
  /* text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0; */
}

.error-border,
.error-date .input-group-text,
.error-date .form-control,
::ng-deep .error-vd .ng-select-container {
  border: 0px !important;
  border-bottom: 1px solid #F44336 !important;
}

::ng-deep .mat-icon-button {
  width: 38px;
  height: 36px;
  line-height: 30px;
}

.timeline-date .input-group-text {
  border-radius: 0px 4px 4px 0px;
  height: calc(1.5em + 1.3rem + 3px);
  margin-left: -1px;
  margin-top: -1px;
}



.blur {

  color: #5867dd !important;
  cursor: pointer;
}

/*new details page loading circle start*/

.smart-glass {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 288px;
  height: 388px;
}

.logo {
  width: 288px;
  height: 288px;
  position: relative;
}

.circle {
  padding: 20px;
  border: 6px solid transparent;
  border-top-color: #6388e3;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: connect 2.5s linear infinite;
}

.loader-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.darloading_spinner .logo{
  width: 200px;
  height: 200px;
}

.darloading_spinner .circle{
  padding: 11px;
  border-width:4px;
  animation-duration: 2.2s;
}

.darloading_spinner .loader-img {
  width: 65px;
  height: 50px;
}

@keyframes connect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*new details page loading circle end*/
.chck-icn {
  display: none;
}

.active .chck-icn {
  display: block;
}

.fil-lbl {
  flex: 1;
  text-align: left;
}

.divider {
  border-bottom: 1px solid #dee2e6 !important;
}

.dropdown-header {
  /* Example styling for the dropdown header */
  font-weight: bold;
  padding: 10px;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: .875rem;
  color: #74788d;
  white-space: nowrap;
}

.btn-filtr.active .count {
  background: #5766d7;
  color: #fff;
}

.btn-filtr .count {
  background: #717171;
  color: #fff;
  border-radius: 3px;
  margin-right: 4px;
  padding: 0px 2px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 2;
}

.btn-filtr.active svg {
  fill: #2786fb !important;
}

.btn-filtr.active svg {
  fill: #2786fb !important;
}

.btn-filtr:hover {
  background-color: #f2f4f7;
  transition-duration: 0.27s;
}

.btn-filtr.active {
  background-color: #f2f4f7;
  transition-duration: 0.27s;
}

.btn-filtr svg {
  fill: #5c5b5a;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.btn-filtr {
  cursor: pointer;
  width: 100%;
}

.btn-filtr.active {
  color: #2786fb;
  background: rgba(39, 134, 251, .1) !important;
}

span.count {
  background: #9886eb;
  padding: 0px 4px;
  color: #ffffff;
  cursor: auto;
  border-radius: 3px;
  font-size: 10px;
}

.btn-filtr.active .count {
  background: #5766d7;
  color: #fff;
}

.tot {
  background-color: #64B5F6 !important
}

span.svg-icon {
  color: #757575;
}

/*
span.previous-dot {
  width: 8px;
  height: 8px;
  background-color: #0367e1;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -2px;
  display: none;
}


/* .kt-flter-ic-b {
  padding: 4px;
  border: 1px solid #e2e5ec;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  align-items: center;
  height: calc(1.5em + 1.3rem + 2px);
  margin-left: 5px;
  cursor: pointer;
} */
.kt-flter-ic-b .dropdown.filter-dot::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -1px;
  background-color: #9e6df5;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 9;
  border-radius: 50px;
}


.dropdown-previous-filter.show {
  display: block;
}

.drop-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.dropdown-previous-filter {
  position: absolute;
  will-change: transform;
  top: 0px;
  right: 0px;
  transform: translate3d(5px, 33px, 0px);
  min-width: 18rem;
  margin: 2px 0 0;
  z-index: 1002;
  animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  padding: 1rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  display: none;
}

.dropdown-previous-filter.show {
  display: block;
}

.kt-flter-ic-b {
  padding: 0.45rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #d5d5d5;
  margin-right: 6px;
}

.side-icns {
  line-height: 1;
}

span.previous-dot.active {
  display: block;
}

span.previous-dot {
  width: 8px;
  height: 8px;
  background-color: #0367e1;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -2px;
  display: none;
}

.actns-filtr-scroll {
  display: list-item;
  max-height: 200px;
  overflow-y: auto;
}

.actns-filtr-scroll::-webkit-scrollbar {
  width: 5px;
}

.actns-filtr-scroll::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 5px;
}


/*timeline submit start css*/

.tl-status {
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.tl-status.tl-submitted {
  background-color: #388e3c30 !important;
  color: #388e3c !important;
  display: flex;
  align-items: center;
  gap: 2px;
}

.tl-status.tl-notsubmitted {
  background-color: #88888836 !important;
  color: #888888 !important;
}

.tl-status.tl-underaprvl {
  background-color: #9C27B0 !important;
  color: white !important;
}

.tl-status.tl-suspend {
  background-color: #795548 !important;
  color: white !important;
}




.tl-status.tl-submitted {
  background-color: #388e3c30 !important;
  color: #388e3c !important;
  display: flex;
  align-items: center;
  gap: 2px;
}

.tl-status.tl-notsubmitted {
  background-color: #88888836 !important;
  color: #888888 !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.tl-status.tl-notsubmitted {}





/*timeline submit end css*/

.timeline-radios {
  padding: 1rem 1rem;
  color: #686868;
  margin: 0rem 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #f1f2fc;
  border-radius: 6px;
}

.timeline-radios .form-check {
  padding-left: 1.5rem;
}

.timeline-radios .form-check .form-check-input {
  width: 18px;
  height: 18px;
}

.timeline-radios .form-check-label {
  margin-bottom: 0;
  font-size: 14px;
}

.timeline-radios .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%235867dd'/%3e%3c/svg%3e");
}

.timeline-radios .form-check-input:checked {
  background-color: #dde1ff;
  border-color: #5867dd;
}

.timeline-item-div {
  padding: 1rem 1rem;
}

.timeline-item-heading {
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  color: #747070;
  /* background-color: #2786fb;
  border: 1px solid #2786fb;
  color: white; */
  font-weight: 500;
  padding: 2px 4px;
  top: -12px;
  left: 10px;
  font-size: 11px;
  border-radius: 2px;
}

#darsidebar.kt-quick-panel--on {
  width: 64% !important;
}

.timeline-item-div .timeline-header.sticky-header {
  background-color: transparent;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.timeline-note {
  display: flex;
  align-items: center;
  gap: 6px;
}

.timeline-note p {
  margin-bottom: 0px;
  flex: 1;
  background-color: #ff000012;
  border-left: 4px solid #ff0000;
  color: #d40e0e;
  padding: 6.3px;
  border-radius: 4px;
}

.timeline-note.success p {
  background-color: #04880912;
  border-left: 4px solid #0d7c12;
  color: #09850e;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 400;
}

.timeline-note.pending p {
  background-color: #f5ff001f;
  border-left: 4px solid #fcc52f;
  color: #fcc52f;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 400;
}



.timeline-add {
  display: flex;
  align-items: center;
  justify-content: end;
}



.notimeline-present {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.notimeline-present img {
  width: 18%;
}

.tm-subm-sb {
  background-color: #d3d3d31a;
}

.tm-report-spner {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-table {
  border: solid #e1e1e1 0px;
}

.time-table th {
  background-color: #6e6d7614 !important;
  color: #090808;
  font-size: 14px;
}

.time-table td {
  border-left: 0px solid #e1e6ee;
}

.color-7 {
  background-color: #4377ff;
}

.header-date {
  color: #000000 !important;
  font-size: 18px !important;
}

.scrollbar1 {
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.portlet-height {
  min-height: calc(100vh - 152px);
}

.timeline-scroll {
  overflow-y: auto;
  height: calc(100vh - 170px);
  height: calc(100vh - 170px);
  overflow: scroll;
  overflow-x: hidden;
}

.timeline-scroll::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 18px;
}

.timeline-scroll::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  background: #dddddd87;
  border-radius: 16px;
  min-height: 40px;
}

.timeline-px-4 {
  padding-right: 0px !important;
}

.add-timeline-list {
  /* padding-top: 0rem; */
  padding-top: 1rem;
}

.add-timeline-item {
  display: flex;
  position: relative;
  padding-bottom: 2rem;
  transition: all 0.15s ease-in-out;
}

.add-timeline-item-icon {
  position: relative;
  margin: 6px 12px 0 12px;
  width: 28px;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  line-height: 1.8;
  overflow: hidden;
  flex: 0 0 auto;
}

.add-timeline-item-icon svg {
  width: 25px;
  height: 24px;
  color: #5f6368;
}

.add-timeline-item-group {
  flex: 1;
  margin-right: 16px;
}

.add-timeline-item-group .form-control {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #ededed;
}

::ng-deep .add-timeline-item-group .ng-select .ng-select-container {
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #ededed;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

::ng-deep .add-timeline-item-group .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: #09a5ec;
  box-shadow: none;
  border-width:2px;
  transition-delay:0.2s;
  transition-duration:0.2s;
  transition-property:border-color;
  transition-timing-function: ease-in;

}

.add-timeline-date-time-div {
  color: #3c4043;
}

.add-timeline-date-time {
  background: #f1f3f4;
  border-radius: 4px;
  padding: 0.65rem 1rem;
  position: relative;
}

.add-timeline-dt-tm {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.add-timeline-dt-tm .total-hours-label{
  padding: 0.15rem 0.8rem;
  border-radius: 5px;
  border-color: #c2c2c2;
}

.add-timeline-dt-tm .total-hours-label .total-time-count{
   font-weight: 500;
} 

.add-timeline-picktime-box {
  border: 2px solid #d3d3d3e0;
  border-radius: 7px;
  display: inline-block;
  min-width: 65px;
  padding: 0.07em 0.5em;
}

.add-timeline-picktime-box.time-duration{
  background-color: #d3d3d3e0;
}

.add-timeline-dt-muted {
  color: #cccccc;
  font-weight: 700;
}

.add-timeline-dt-text {
  display: flex;
  align-items: baseline;
  margin-top: 0.25rem;
  color: #8a8a8a;
  font-size: 12px;
  gap: 2px;
}

.dropdown-timeline-menu {
  width: 30rem;
  padding: 1rem;
  box-shadow: 1px -3px 5px -1px #00000033, 0 6px 10px 0 #00000024, 0 1px 18px 0 #0000001f;
  margin-top: 4px;
}

::ng-deep .add-timeline-item-group .datetime-ngselect .ng-select .ng-select-container {
  /* border-radius: 8px; */
  border: 0px;
  border-bottom: 1px solid #f1f2fc;
  /* background-color: #f1f2fc; */
}

#d-date{
  border-color: #f1f2fc;
  border-width:2px;
  transition-duration:0.5s;
  transition-property:border-color;
  transition-timing-function: ease-in;
}

#d-date:focus-within{
  border-color: #09a5ec;
  border-width:2px;
  transition-delay:0.2s;
  transition-duration:0.2s;
  transition-property:border-color;
  transition-timing-function: ease-in;
}

.add-timeline-item-input-group .input-group-text {
  border-bottom-right-radius: 0px;
}

.btn-timeline-table-accordion {
  background-color: #2786fb36;
  color: #0061d9;
  display: flex;
  align-items: center;
}

.btn-timeline-table-accordion svg {
  width: 22px;
  height: 22px;
  transition: all 0.15s ease-in-out;
}

.btn-timeline-table-accordion.rotate svg {
  transform: rotate(180deg);
}

#darsidebar .sidehf_scroll {
  height: calc(100vh - 114px);
  position: relative;
}

.timeline-table-accordion {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}

.timeline-table-accordion .card {
  border: 0px;
}

.timeline-table-accordion .card-body {
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 1px -3px 5px -1px #00000033, 0 6px 10px 0 #00000024, 0 1px 18px 0 #0000001f;
  padding: 0.5rem 1rem;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c72d3c;
  border-color: #c72d3c;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c72d3c;
  border-color: #c72d3c;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c72d3c;
  border-color: #c72d3c;
  box-shadow: none;
}

.modal.show .modal-dialog {
  animation: fadeshowEffect 0.3s ease-out;
}

@keyframes fadeshowEffect {
  from {
    transform: translate(0, -50px);
  }

  to {
    transform: none;
  }
}

.modal .modal-content {
  border-radius: 4px;
  border: 0px solid #ebedf2;
}

.end-timeline-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  /* padding-bottom: 0.5rem; */
  background-color: #dfedff;
  background-color: #f4f4f4;
  border-radius: 4px 4px 0px 0px;
}

.end-timeline-modal-title {
  color: #3c4043;
  margin-bottom: 0px;
}

.end-timeline-modal-body {
  /* padding: .75rem 1.25rem; */
  /* padding-right: 0rem; */
  /* max-height: 64vh;
  overflow-y: scroll; */
  padding:1rem;
  overflow-x: hidden;
}

.end-timeline-modal-footer {
  display: flex;
  /* align-items: center;
  justify-content: end; */
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  gap: 10px;
  padding: .75rem 1.25rem;
  color: #3c4043;
  border-top: 1px solid #ebedf2;
}

.total-time-div {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 0.65rem 1rem;
  /* width: 100%; */
  -webkit-user-select: none;
  user-select: none;
}

.total-time-count {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  gap: 6px;
}

.total-time-title {
  color: #a4a0a0;
  font-size: 14px;
  font-weight: 400;
  width: max-content;
}

.time-value {
  color: #5b5b5b;
  font-size: 12px;
}

.time-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.end-timeline-ul {
  margin-top: 1rem;
  user-select: none;
  max-height: 40vh;
  overflow-y: auto;

  min-height: 40vh;
}

.end-timeline-ul::-webkit-scrollbar{
    width:0.6rem;
}

.end-timeline-ul::-webkit-scrollbar-thumb{
    background-color: #e8e8e8;
    border-radius: 15px;
}

.timeline-report-line {
  width: 2px;
  background-color: #e2e0e0;
  flex-grow: 1;
  align-self: center;
  position: relative;
  left: -3px;
  top: 9px;
}




.end-timeline-li-heading {
  display: flex;
  position: relative;
  padding-bottom: 0.2rem;
  transition: all 0.15s ease-in-out;
}

.end-timeline-li-heading-icon {
  position: relative;
  margin: 0px 4px 0 0px;
  width: 28px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 0 0 auto;
  background-color: #dfedff;
  /* background-color: #ebebeb; */
}

.end-timeline-li-heading-icon svg {
  width: 20px;
  height: 20px;
  color: #0055bd;
  /* color: #3c4043; */
}

.end-timeline-li-heading-control {
  flex: 1;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #171616;
  border-bottom: 0px solid #f3f3f3;
}

.end-timeline-li {
  display: flex;
  position: relative;
  padding-bottom: 0.2rem;
  transition: all 0.15s ease-in-out;
}

.end-timeline-li-icon {
  position: relative;
  margin: 0px 2px 0 2px;
  width: 28px;
  border-radius: 50%;
  height: 26px;
  text-align: center;
  line-height: 1.8;
  overflow: hidden;
  flex: 0 0 auto;
}

.end-timeline-li-icon svg {
  width: 18px;
  height: 18px;
  color: #5f6368;
}

.end-timeline-li-control {
  flex: 1;
  margin-right: 16px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6d6a6a;
}

.end-timeline-li-form-group {
  padding-left: 2rem;
}






.end-timeline-modal-body::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 16px;
}

.end-timeline-modal-body::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  background: #dadce0;
  border-radius: 8px;
  min-height: 40px;
}

span.timeline-time {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #736a6a;
  font-weight: 400;
}

.timeline-task-duration{
  font-size: 12px;
  font-weight: 500;
}

span.timeline-time svg {
  width: 18px;
  height: 18px;
}
.complete-action-div {
  background-color: #edf3ff;
  border: 1px solid #d2e1ff;
  background-color: #158a150f;
  border: 1px solid #0080002e;
  border-radius: 4px;
  padding: 13px 0px 0px 13px;
  margin-bottom: 13px;
}
.complete-action-div h6 {
  color: #000;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 4px;
}
/* Notification pin css */
.pin-note-div {
  margin: 1rem 1rem 0rem 1rem;
}

.kt-Note-msg {
  width: 100%;
  background-color: #fff;
}

.kt-note-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(6deg, #6388e3 0%, #6388e3 0%, #6388e3 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

.kt-note-icon svg {
  fill: #fff;
  animation: iconScale 1s ease-in-out infinite;
}

@keyframes iconScale {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.notifications-list {
  width: 100%;
}

.pin-message {
  margin: 0 0 10px 10px;
}

.pin-message .pin-msg-btn {
  width: 100%;
  padding: 6px 18px;
  background-color: #edf3ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #efefef;
}

.pin-msg-btn-text {
  font-size: 14px;
  color: #3e3c3c;
  padding-left: 6px;
}

.pin-msg-btn.collapsed .pin-msg-btn-caret svg {
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.pin-msg-btn .pin-msg-btn-caret svg {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.notification {
  display: flex;
  width:fit-content;
  align-items: center;
  column-gap: 13px;
  padding: 12px 15px 12px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 12px 0px #e9e9e93b;
  margin: 0 0 10px 10px;
  transform: scaleY(0);
  opacity: 0;
  animation: notfi-anim 0.3s 1 forwards ease-in;
}

@keyframes notfi-anim {
  from {
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.pin-message .notification {
  margin: 0;
  margin-top: 10px;
}

.notification .notif-img {
  align-self: center;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.notification .notif-msg {
  flex-grow: 1;
  font-weight: 500;
  font-size: 14px;
}

.delay-notification{
  background-color: #ffc3c138;
  color: #fe2b2b;
  fill: #fe2b2b;
  border: 1px solid #ffeae9;
}




/* Notification pin css */



/* project, action details chip css*/

.info-chip{
  border: 1px solid #e1e1e1; 
  border-radius: 4px; 
  padding: 0.1rem 1rem; 
  user-select: none;  
  display: flex; 
  column-gap: 10px;
}

.info-chip-label{
  line-height: 2; 
  font-weight: 500;
  font-size: 11px;
}

.info-chip-value{
  line-height: 1.8;
  color: #242424;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: lowercase;
}

.hrs-by{
    font-size: 12px;
    font-weight: 700;
    color: #969696;
}

.text-red{
  color:#ff3b3b
}

.info-chip-redirect-btn{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-width: 0;
  color: #8a8aff;
  fill: #8a8aff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
}


.info-chip-redirect-btn:hover{
  background-color: #c3c3c321;
  transition-property: background-color;
  transition-duration: 0.2s;
}






/* project, action details chip css*/



.timeline-descr{
  color: #999898;
  font-weight: 400;
  cursor: default;
}

.timeline-descr.collapse{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
}

/* .ellipsis-dots{
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 8px;
  font-weight: bold;
} */


.report-item .timeline-time .tm-start-end{
  font-size: 10px;
  color: #a9a9a9 !important;
}

.notimeline-present-label{
  color: #b2b3b3;
  font-weight: 400;
}

.end-timeline-ul .action-label{
  background-color: #76a5e0;
  color: #ffffff !important;
  font-weight: 400;
  padding: 1px 3px 1px 3px;
  margin-right: 3px;
  border-radius: 3px;
  
}

    


/* test */





.collapseTimeline-table{
  display: block;
  max-height: 35vh;
  overflow-y: auto;
}

.collapseTimeline-table thead{
    position: sticky;
    top: 0;
    background-color: white;
}

.collapseTimeline-table::-webkit-scrollbar{
  width:0.6rem;
}

.collapseTimeline-table::-webkit-scrollbar-thumb{
  background-color: #e8e8e8;
  border-radius: 15px;
}

.collapseTimeline-table .work-desc.collapse{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-height: 5.4em;
  line-height: 1.4em;
}



.collapseTimeline-table .action-label{
  background-color: #76a5e0;
  color: #ffffff !important;
  font-weight: 400;
  padding: 1px 3px 1px 3px;
  margin-right: 3px;
  border-radius: 3px;
}


#collapseTimeline .collapseTimeline-closeBtn
{
  position: relative;
  top: -12px;
  right: -4px;
}


#collapseTimeline .prj-name,#collapseTimeline .actn-name{
  color: #5867dd;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

#collapseTimeline .prj-name:hover,#collapseTimeline .actn-name:hover{
  color: #2739c1;
}

.completion-ending-statement{
  background-color: #fff0d7;
  color: #c27d0a;
  padding: 6px;
  border-left: 2px solid #c27d0a;
  margin-top: 8px;
  font-weight: 500;
}


.completion-ending-statement.success{
  background-color: #3ef9465c;
  color: #388e3c;
  border-left-color:#388e3c;
}

.completion-ending-statement.danger{
  background-color: #d32f2f36;
  color: #d32f2f;
  border-left-color:#d32f2f;
}



.done-svg, .due-svg, .overalldelay-svg{
   width:16px;
   height:16px;
   stroke-width: 0.25px !important;
}

.done-svg{ fill:#388E3C;   }
.due-svg{ stroke:#c27d0a; }
.overalldelay-svg{    stroke-width: 0 !important; fill: #d32f2f;  }

.done-label{ color:#388E3C;   }
.due-label{  color:#c27d0a;  }
.overalldelay-label{ color:#d32f2f; }


.summary-report-content{
  max-height: 60vh;
  overflow-y: auto;
}


.summary-report-content::-webkit-scrollbar{
  width:0.6rem;
}

.summary-report-content::-webkit-scrollbar-thumb{
  background-color: #e1e1e1;
  border-radius: 15px;
}



.summary-report-table{
  width:100%;
}









/*test*/

.actnTl-submitbt{
  max-width: 120px;
  line-height: 13px;
}




.compl-remarks-span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
  cursor: default;

}


.txt-expnd-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 3px;
  border: 0;
  background-color:#edededc2; 
}

.txt-expnd-btn svg{
  stroke: #898989;
  stroke-width: 2px; 
}

.txt-expnd-btn:hover{
  background-color: #eaeaea;
}

.txt-expnd-btn:hover svg{
  stroke-width: 2.6px;
}


.text-gray-glow {
  color: #bbbbbb;
  font-size: 8px;
}

.blink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.not-allowed-error-box{
  background-color: #f5e9e8;
  display: none;
  column-gap: 8px;
  padding: 8px;
  border: 1px solid #f5b9b9;
  border-radius: 3px;
 
}

.not-allowed-error-box .notif-img{
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  fill: transparent;
  stroke: #F44336;
}

.not-allowed-error-box .notif-text{
  font-family: var(--font-family-sans-serif);
  font-weight: 500;
  font-size: 12px;
  color: #F44336;
}

.not-allowed-error-box.anim-start{
  display:flex;
  animation-name: popup-error-anim;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  visibility: hidden;
}

@keyframes popup-error-anim{
  0% {
    visibility: visible;
    transform: scale(0.95);
  }
  
  100% {
    visibility: visible;
    transform: scale(1);
  }
}

.modal-backdrop.fade.show {
  display: block !important;
}


.TLdate-not-selected{
  border: 2px solid #d3d3d3e0;
  border-radius: 7px;
  display: inline-block;
  min-width: 150px;
  padding: 0.07em 0.5em;
  color: #a3a3a3;
  font-weight: 400;
}


.tmdiff-chip{
    background-color: #e4e4dc4a;
    padding: 0em 0.2em 0em 0.2em;
    border-radius: 5px;
    border: 1px solid #dfdddd;
    font-size: 1rem;
    color: #666667;
    z-index: 1;
}


/*timeline record edit / delete start*/
tr.dar-record-item {
  position: relative;
}

.dar-record-delete-btn {
  display: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: grey;
  line-height: 59px;
  padding: 0;
  width: 5%;
  transition: all 2s ease !important;
  height: 100%;
  border: 1px solid #e8e8e8;
}


.dar-record-delete-btn i {
  background: none;
  font-size: 16px;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  width: 30px;
  background-color: #f5f6fc;
  border: 1px solid #b3bcff;
  color: #5867dd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 8px 0 0;
  border-radius: 0;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  transition: all 0.3s ease;
}



.dar-record-item:hover .dar-record-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation-name: tm-del-Open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  */
}
  

.dar-record-delete-btn i:hover {
  background-color: #5867dd;
  color: #fff;
}


.dar-record-item .dar-record-delete-btn .dar-rm-btn{
  display: flex;
  border: 0;
  background-color: transparent;
  padding: 5px;
}

.dar-record-item .dar-record-delete-btn .dar-rm-btn svg{
  fill: none;
  stroke: #e53f3f;
  stroke-width: 1.5;
}

.dar-record-item .dar-record-delete-btn .dar-rm-btn:hover{
  background-color: #ff000008;
  border-radius: 5px;
}

.dar-record-item .dar-record-delete-btn .dar-rm-btn:hover svg{
  stroke: #e13737;
  stroke-width: 1.7;
}




.dar-record-item .dar-wrk-edit{
  display: inline-flex;
  border: 0;
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.dar-record-item .dar-wrk-edit svg{
  stroke: #4377ff;
  stroke-width: 1.6;
}

/* wrk-editbtn */
.dar-record-item .dar-wrk-edit .wrk-editbtn{
  border: 0;
  background: transparent;
  padding: 1px;
  line-height: 0;
}

.dar-record-item .dar-wrk-edit:hover{
  background-color: #4377ff17;
}



.wrk-des-editbx textarea{
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
}

.wrk-des-editbx textarea::-webkit-scrollbar{
   width:10px;
}

.wrk-des-editbx textarea::-webkit-scrollbar-track{
   background-color: #4377ff0d;
}

.wrk-des-editbx textarea::-webkit-scrollbar-thumb{
  background-color: #aaa7a7cc;
  border-radius: 25px;
  cursor: default;
}

.wrk-des-editbx textarea:focus-visible{
   outline:0;
}

@keyframes tm-del-Open{
    0%{
       right:-5%;
    }
    100%{
       right:0%
    }
}

.wrk-des-bx{
  white-space: break-spaces;
}


#collapseTimeline .collapseTimeline-table .wrk-des-bx
{
   display:flex;
   column-gap:5px;
}


/*timeline record edit / delete end*/



/*dar info css start.*/

#darReqRes-list table thead th{
  background-color: #e9e9e9 !important;
}



.form-check-input {
  vertical-align: text-top;
  cursor: pointer;
  border-radius: 1px;
  border-color: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
}

.ps-1{
  position: relative;
  float: unset;
  margin: 0 !important;
}



a.info-btn {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in;
  color: #8c8c8c;
}
a.info-btn:hover {
  background: #e6e6ff;
  color: #7D7EBB;
}
a.info-btn svg {
  width: 26px;
  height: 26px;
}

.kt-widget__title1{
  width: 200px;
  font-weight: 500;
}
@media (max-width: 1440px){
  .kt-widget__title1{
    width: 160px;
    font-weight: 500;
  }
}


@media (max-width: 1300px){
.kt-widget__title1{
    width: 160px;
    font-weight: 500;
}
}






/*dar sidebar css start*/


.cnt-ovrl1 {
  text-decoration: none;
  font-size: 0.85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kt-info-lable-v1 {
  font-size: 12px;
  color: black;
  letter-spacing: 0.3px;
}


.kt-info-data-v1 {
  background-color: #f0f0f0;
  border-radius: 35px;
  padding: 7px 4px;
  font-weight: 500;
  color: #4f4f4f;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.kt-detail-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.kt-detail-link {
  color: #009688;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 10px;
  margin-right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aac3ff;
}
.kt-detail-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.kt-detail-iconname {
  font-size: 13px;
  color: #7e818f;
  margin-left: 8px;
  font-weight: 400;
  text-wrap: nowrap;
}
.kt-detail-link:hover {
  background-color:#d8e0ff;
  transition: all .3s ease;
}
.kt-detail-link.active {
  background-color:#d8e0ff;
  transition: all .3s ease;
}



.dar-reqs-slider-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #EDEAE9;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0/5%) !important;
}
.dar-reqs-slider-bar.open_sidebar {
  width: 55% !important;
}


.btn-filtr .count.dr-reqs{
 background-color: #527ce2;
}

.btn-filtr .count.dr-resps{
 background-color: #ffc432;
}


.cancellation{
  background-color: #F44336 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;
}
.completion{
  background-color: #81C784 !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;

}
.Done{
  background-color: #388E3C !important;
  color: white !important;
  padding: 2px 10px;
  border-radius:3px ;
  width: max-content;
  display: inline-block;
}

.Forward{
  background-color: #9C27BD !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}




.dar-reqs-slider-bar.open_sidebar .kt-portlet__head {
  padding: 1rem;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.dar-reqs-slider-bar.open_sidebar .kt-portlet--body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  min-height: calc(100vh - 4vh);
  height: auto;
}
.dar-reqs-slider-bar.open_sidebar .leave-title {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.dar-reqs-slider-bar.open_sidebar .grid{
  align-items: flex-start;
  animation: fade-in .5s forwards;
  display: block;
  gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  margin: 0;
  padding: 0px 12px;
  padding-bottom: 12px;
}
.dar-reqs-slider-bar.open_sidebar .kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
  width: 24%;
  font-weight: 500;
}
.dar-reqs-slider-bar.open_sidebar .kt-info-data-v {
   /* background-color: #f0f0f0; */
  border-radius: 35px;
  padding: 2px 14px;
  /* font-weight: 500; */
  color: #4f4f4f;
  /* margin-top: 10px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.dar-reqs-slider-bar.open_sidebar .cnt-ovrl {
  text-decoration: none;
  font-size: 0.85em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* -webkit-box-orient: vertical; */
  text-align: left !important;
}



.dar-reqs-slider-bar.open_sidebar .kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.dar-reqs-slider-bar.open_sidebar .kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}


.dar-reqs-slider-bar .dar-underaprvl{
  background-color: #9C27BD !important;
  color: white !important;
  padding: 2px 10px;
  border-radius: 3px;
  width: max-content;
  display: inline-block;
}

#dar-req_slider_bar .dar-achievement-sec {
  margin: 0px 0px;
  padding: 14px !important;
  background: #f2f5ff;
  border-radius: 4px;
  overflow-x: auto;
}

#dar-req_slider_bar .dar-achievement-sec .time-table
{
  display: block; 
  max-height: 35vh;
  overflow-y: auto;
  background-color: #fff;
}

#dar-req_slider_bar .dar-achievement-sec table.time-table thead th{
  font-size: 12px;
  background-color: #6e6d7614 !important;
  color: #090808;
  padding: 10px;
  font-weight: 600;
}



#dar-req_slider_bar .dar-achievement-sec table.time-table tbody tr td{
  border-top: 1px solid #e1e6ee;
  padding: 10px;
  color: #0b0e1f;
  vertical-align: middle;
}


.kt-reject-form-view {
  margin-top: 13px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 1px #ccc;
}

.kt-info-pg-footer {
  margin: 5px 10px;
}

.btn-project-stv {
  width: 100px;
  background-color: #f0f0f0;
}

.Bt-Submit {
  background-color: transparent;
  color: #2786fb; 
  font-size: 14px;
  border: 1px solid #2786fb;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Bt-Submit:hover {
  background-color: #2786fb;
  color: #fff;
}

.Bt-close {
  /* padding: 4px 1px; */
  background-color: transparent;
  color: #a7a7a7;
  font-size: 14px;
  border: 1px solid #a7a7a7;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Bt-close:hover{
  background-color: #a7a7a7;
  color: #fff;
}


/*dar sidebar css end*/


.no-c {
  background-color: #fff;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-c h1 {
  font-size: 18px;
  color: #7c8688;
}




.darReqRes-Tabbtn .nav-tabs .nav-item .nav-link{
  border-bottom-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  user-select: none;
  cursor: pointer;
}

.darReqRes-Tabbtn .nav-tabs.nav-tabs-line{
  border-bottom: 0;
}


#darReqRes-list .dataTable .project-list_AC.selected{
    background-color: #2786fb1f;
    color:unset;
}




.darReqRes-Tabbtn .nav-tabs .nav-item .nav-link.active{
  border-bottom-color:#5c90d5;
}
.darReqRes-Tabbtn .nav-tabs .nav-item .nav-link:not(.active):hover {   border-bottom-color:#eeeeee;  }

.darReqRes-Tabbtn .nav-tabs .nav-item .nav-link .total-count
{
  color: #1956b3b5;
  font-weight: bold;
  font-family: Lucida Sans Unicode;
  font-size: 0.87rem;
  padding: 0.1em 0.3em 0em 0.3em;
  border-left: 1px dashed #ccc;
}


#darReqRes-list .spinner-border.darReqRes-loader
{
  width: 33px;
  height: 33px;
  font-size: 12px;
  color: #5c87cc;
}


.darreqs-pagination
{
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* .darreqs-pagination .pg-btn
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  color: #8c8c8c;
  transition: all 0.15s ease-in-out;
} */

/* .darreqs-pagination .pg-btn:hover{
  background-color: #cccccc5c;
} */

.darreqs-pagination .pg-btn:not(:disabled):active{
  transform: scale(0.94);
}
.darreqs-pagination .pg-label
{
  margin-bottom: 0px;
  font-size: 15px;
  color: #5f6368;
  margin-right: 8px !important;
}


.stores-sec .mega-dropdown-menu {
  padding: 20px;
  width: 60%;
  top: 20px !important;
  left: -22px !important;
}

.stores-sec .mega-dropdown {
  position: static !important;
}


.dreqres-fltrbox .fltr-btn, .darreqs-pagination .pg-btn{
  font-size: 16px;
    box-shadow: none;
    outline: none !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #e9e9e952;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 8px 0 0;
    border-radius: 4px;
}

.dreqres-fltrbox .fltr-btn:hover,.darreqs-pagination .pg-btn:hover:not(:disabled),.dreqres-fltrbox .fltr-btn.active{
  background-color: #3699FF;
  color: #fff;
  border-color: #3699FF;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
}

.darreqs-pagination .pg-btn:disabled{
  cursor:not-allowed;
}

.count-height .justify-content-between .kt-checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.count-btn {
  padding: 0px 10px;
  font-weight: 700;
  color: rgb(88, 88, 88);
  font-size: 14px;
  line-height: 25px;
}

.kt-checkbox > span:after {
  border: solid #0073e6;
}

.count-height {
  max-height: 200px;
  overflow-y: auto;
}

  /* width */
  .count-height::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .count-height::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .count-height::-webkit-scrollbar-thumb {
    background: #b5b4b4;
    border-radius: 8px;
  }

  /* Handle on hover */
  .count-height::-webkit-scrollbar-thumb:hover {
    background: #a6a5a5;
  }




  
  .selected-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 1rem;
  }

  .selected-options-item {
    background-color: #e6e1e1;
    display: flex;
    gap: 4px;
    padding-left: 6px;
    align-items: center;
    border-radius: 3px;
    font-size: 12px;
    color: #424242;
  }

  .selected-options-item-remove {
    cursor: pointer;
    background-color: #b9b9b9;
    height: 18px;
    width: 18px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
  }

  .selected-options-item-remove:hover svg {
    color: #ee0a0a;
  }

/*dar info css start.*/

