

.timeline-header {
    position: relative;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    border-bottom: none;
    background-color: #fff;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    z-index: 14;
}
.sticky-header{
  margin-top: 0px;
  z-index: 14;
  position: sticky;
  top: 0px;
  font-size: 18px;
  padding: 10px 0px;
  margin-bottom: 0px;
  gap: 8px;
}
.pro-name {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 80%;
}
.pro-name.pro-link{
    color: #5867dd !important;
}
.header-date{
    color: #333;
    margin-bottom: 1rem;
}
.header-text {
    line-height: 1.42857;
    margin-right: 5px;
    -ms-word-break: break-word;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.portlet-height{
    min-height: calc(100vh - 110px);
    margin-bottom: 0px;
}
.timeline .timeline-item {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}
.timeline .timeline-item {
    background: #ffff;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
    margin-bottom: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgb(111 107 107 / 8%) 0px 0px 0px 1px;
}
.timeline .timeline-line {
    display: block;
    content: " ";
    justify-content: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #d2d5e5;
}

.timeline .timeline-item:last-child .timeline-line {
    bottom: 100%;
}
.timeline-media{
    color: #2786fb!important;
}

.w-40px {
    width: 40px!important;
}

.timeline .timeline-icon {
    z-index: 1;
    flex-shrink: 0;
    margin-right: 1rem;
}

.timeline .timeline-icon {
    z-index: 1;
    flex-shrink: 0;
    margin-right: 1rem;
}

.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
    border-radius: 50%;
}

.symbol .symbol-label {
    width: 50px;
    height: 50px;
}

.symbol.symbol-40px .symbol-label {
    width: 40px;
    height: 40px;
}
.symbol.symbol-35px .symbol-label {
    width: 35px;
    height: 35px;
}
.symbol.symbol-22px>img {
    width: 22px;
    height: 22px;
}
.symbol img {
    border: 1px solid #cdcdd8;
}

.symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #3f4254;
    background-color: #f5f8fa;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.475rem;
}

.svg-icon {
    line-height: 1;
}

.svg-icon.svg-icon-2 svg {
    height: 1.5rem!important;
    width: 1.5rem!important;
}

.svg-icon svg {
    height: 1.15rem;
    width: 1.15rem;
}

.timeline .timeline-content {
    width: 100%;
    overflow: auto;
    /* margin-bottom: 1.5rem; */
}
.timeline-text{
    color: #333;
    color: #29282d;
    margin-bottom: 0.5rem;
}
.timeline .timeline-item:last-child {
    margin-bottom: 0px !important;
}

.achv-txt{
    color: #54585d;
}
.desp-txt{
    margin-right: 5px;
    color: #64697d;
    color: #848c93;
}

/* timelinetable */
.time-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 7px;
    font-size: 13px;
    border: solid #e1e1e1 1px;
    border-radius: 4px;
  }
  .time-table th {
    background-color: rgb(21, 21, 42) !important;
    background-color: #6e6d76 !important;
  }

  .time-table th {
    color: #ffffff;
    padding: 10px;
    font-weight: 600;
  }
  .time-table tbody tr:nth-child(even) {
    background: #f7f9fb;
  }
  .time-table td:first-child {
    border-left: none;
  }
  .time-table td {
    border-left: 1px solid #e1e6ee;
    border-top: 1px solid #e1e6ee;
    padding: 10px;
    color: #0b0e1f;
    vertical-align: middle;
  }
  .time-table tbody tr:hover {
    background: #f2f5f9;
    transition: all 0.1s ease-in-out;
  }
  .user--name {
    display: flex;
    align-items: center;
  }
  .tags-wrap {
    margin-right: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .tags_tag {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 3px;
    margin-right: 4px;
    cursor: pointer;
  }
  .tags-name {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tags-remove {
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
    display: none;
  }
  .tags-tag:hover .tags-remove {
    display: block;
  }

  .u-common-icon {
    pointer-events: none;
    color: #aaa;
    transition: transform 210ms ease-in-out;
  }
  .color--inherit {
    color: inherit !important;
  }
  .chckbx {
    width: 20px;
    height: 20px;
  }
  .b-50 {
    border-radius: 50%;
  }
  .list-header {
    margin: 10px 0 0 9px;
    display: flex;
  }
  .header-date {
    align-self: flex-start;
    color: #0b0e1f !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border: none;
    padding: 10px 0 5px;
  }
  .time-totals {
    font-weight: 400;
    color: #0b0e1f;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .time-totals-list {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  .totals-list--item {
    margin-left: 12px;
    font-weight: 400;
  }
  .initial-box {
    background-color: #f9ce6f;
    color: #fff;
    padding: 0;
    border-radius: 5px;
    font-weight: 600;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .b-50 {
    border-radius: 50%;
  }
  .color-7 {
    background-color: #9b59b6;
  }
  .noti {
    background: #153b5669;
    border-radius: 50%;
    padding: 0.2em 0.5rem 0.35rem 0.5rem;
    min-width: 1.429rem;
    min-height: 1.429rem;
    line-height: 1;
    margin-left: 5px;
    position: absolute;
    top: -7px;
    right: -6px;
  }
/* === Sidebar === */

.sideInfobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #ffffff;
    border-left: 1px solid #EDEAE9;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 .1rem 1rem .25rem rgb(0 0 0/5%) !important;
    /* padding-top: 60px; */
}
.btn-fw{
    font-weight: 500;
}
.asc-ar{
    display: none;
}
.btn-sort{
    color: #0b0e1f;
    background-color: #fff;
    border: 1px solid #eef1f6;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
a.ordr-a {
    font-size: 14px;
    margin-left: 5px;
    color: #0b0e1f;
}
.sort-by{
    color: #999999;
    font-size: 12px;
    padding: 8px;

}
.sort-a{
    text-decoration: underline;
}
.sort-drop{
    padding: 0.8rem 0;
    min-width: 12rem;
    margin-top: 5px;
}
.sort-drop .dropdown-item{
    padding: 0.4rem 1rem;
}
.sort-drop .active{
    background: #f1f6fd;
    color: #0b0e1f;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.sort-drop .active .ckc-icn{
    display: inline-block;
    color: #3b93fc;
}
.btn-sort:hover, .btn-sort:focus, .btn-sort:active  {
    color: #0b0e1f;
    background-color: #f5f7fa;
    border: 1px solid #e1e6ee;
}
.select-box{
  cursor: pointer;
}
a.dropdown-item{
  cursor: pointer;
}
@media Screen and (min-width: 1025px) {

.kt-quick-panel--on{
    width: 50% !important;

}
}
@media Screen and (max-width: 1024px) {

    .kt-quick-panel--on {
        width: 75%;
    }
}
@media Screen and (max-width: 768px) {

    .kt-quick-panel--on {
        width: 100%;
    }
}

.scrollbar1 {
  max-height: calc(100vh - 130px);
  overflow: hidden;
  overflow-y: auto;
}
.scrollbar1 {
  max-height: calc(100vh - 138px);
  overflow-y: auto;
}

/* width */

.scrollbar1::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.scrollbar1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.scrollbar1::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */

.scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.time-table td:nth-child(4) {
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
}

.error-border,
.error-date .input-group-text,
.error-date .form-control,
::ng-deep .error-vd .ng-select-container {
    border: 1px solid #F44336 !important;
}
::ng-deep .mat-icon-button {
  width: 38px;
  height: 36px;
  line-height: 30px;
}
.timeline-date .input-group-text {
  border-radius: 0px 4px 4px 0px;
  height: calc(1.5em + 1.3rem + 3px);
  margin-left: -1px;
  margin-top: -1px;
}



.blur{

  color: #5867dd !important;
  cursor: pointer;
}
/*new details page loading circle start*/

.smart-glass {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 288px;
  height: 388px;
}

.logo {
  width: 288px;
  height: 288px;
  position: relative;
}

.circle {
  padding: 20px;
  border: 6px solid transparent;
  border-top-color: #6388e3;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: connect 2.5s linear infinite;
}

.loader-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes connect {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/*new details page loading circle end*/
.chck-icn {
  display: none;
}

.active .chck-icn {
  display: block;
}
.fil-lbl {
  flex: 1;
  text-align: left;
}
.divider {
  border-bottom: 1px solid #dee2e6 !important;
}
.dropdown-header {
  /* Example styling for the dropdown header */
  font-weight: bold;
  padding: 10px;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: .875rem;
  color: #74788d;
  white-space: nowrap;
}
.btn-filtr.active .count {
  background: #5766d7;
  color: #fff;
}

.btn-filtr .count{
  background: #717171;
  color: #fff;
  border-radius: 3px;
  margin-right: 4px;
  padding: 0px 2px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 2;
}
.btn-filtr.active svg {
  fill: #2786fb !important;
}

.btn-filtr.active svg {
  fill: #2786fb !important;
}

.btn-filtr:hover {
  background-color: #f2f4f7;
  transition-duration: 0.27s;
}

.btn-filtr.active {
  background-color: #f2f4f7;
  transition-duration: 0.27s;
}
.btn-filtr svg {
  fill: #5c5b5a;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.btn-filtr {
  cursor: pointer;
  width: 100%;
}

.btn-filtr.active {
  color: #2786fb;
  background: rgba(39, 134, 251, .1) !important;
}
span.count {
  background: #9886eb;
  padding: 0px 4px;
  color: #ffffff;
  cursor: auto;
  border-radius: 3px;
  font-size: 10px;
}
.btn-filtr.active .count {
  background: #5766d7;
  color: #fff;
}

.tot{
  background-color:#64B5F6  !important
}
span.svg-icon {
  color: #757575;
}
/*
span.previous-dot {
  width: 8px;
  height: 8px;
  background-color: #0367e1;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -2px;
  display: none;
}


/* .kt-flter-ic-b {
  padding: 4px;
  border: 1px solid #e2e5ec;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  align-items: center;
  height: calc(1.5em + 1.3rem + 2px);
  margin-left: 5px;
  cursor: pointer;
} */
.kt-flter-ic-b .dropdown.filter-dot::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -1px;
  background-color: #9e6df5;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 9;
  border-radius: 50px;
}


.dropdown-previous-filter.show {
  display: block;
}
.drop-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.dropdown-previous-filter {
  position: absolute;
  will-change: transform;
  top: 0px;
  right: 0px;
  transform: translate3d(5px, 33px, 0px);
  min-width: 18rem;
  margin: 2px 0 0;
  z-index: 1002;
  animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  padding: 1rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  display: none;
}
.dropdown-previous-filter.show {
  display: block;
}
.kt-flter-ic-b {
  padding: 0.45rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 1px solid #d5d5d5;
  margin-right: 6px;
}
.side-icns {
  line-height: 1;
}
span.previous-dot.active {
  display: block;
}
span.previous-dot {
  width: 8px;
  height: 8px;
  background-color: #0367e1;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -2px;
  display: none;
}
.actns-filtr-scroll{
  display:list-item;
  max-height: 200px;
  overflow-y: auto;
}

.actns-filtr-scroll::-webkit-scrollbar{
 width:5px;
}

.actns-filtr-scroll::-webkit-scrollbar-thumb{
background-color: #c5c5c5;
border-radius:5px;
}


/*timeline submit start css*/

.tl-status{
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.tl-status.tl-submitted{
  background-color: #388e3c30 !important;
  color: #388e3c !important;
  display: flex;
  align-items: center;
  gap: 2px;
}

.tl-status.tl-notsubmitted{
  background-color: #88888836 !important;
  color: #888888 !important;
}

.tl-status.tl-underaprvl{
  background-color: #9C27B0 !important;
  color: white !important;
}

.tl-status.tl-suspend{
  background-color: #795548 !important;
  color: white !important;
}




.tl-status.tl-submitted{
  background-color: #388e3c30 !important;
  color: #388e3c !important;
  display: flex;
  align-items: center;
  gap: 2px;
}

.tl-status.tl-notsubmitted{
  background-color: #88888836 !important;
  color: #888888 !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.tl-status.tl-notsubmitted{

}





/*timeline submit end css*/

.timeline-radios{
  padding: 1rem 0.95rem;
  color: #686868;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.timeline-radios .form-check {
  padding-left: 1.5rem;
}
.timeline-radios .form-check .form-check-input {
  width: 18px;
  height: 18px;
}
.timeline-radios .form-check-label {
  margin-bottom: 0;
  font-size: 14px;
}
.timeline-radios .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%235867dd'/%3e%3c/svg%3e");
}
.timeline-radios .form-check-input:checked {
  background-color: #dde1ff;
  border-color: #5867dd;
}
.timeline-item-div {
  padding: 0.65rem 1rem;
  color: #686868;
  /* border: 1px solid #dcdcdc; */
  border-radius: 4px;
  margin-bottom: 1.5rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 3px #dcdcdc;
}
.timeline-item-heading{
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  color: #747070;
  /* background-color: #2786fb;
  border: 1px solid #2786fb;
  color: white; */
  font-weight: 500;
  padding: 2px 4px;
  top: -12px;
  left: 10px;
  font-size: 11px;
  border-radius: 2px;
}
#darsidebar.kt-quick-panel--on {
  width: 64% !important;
}
.timeline-item-div .timeline-header.sticky-header {
  background-color: transparent;
}
.mb-2rem{
  margin-bottom: 2rem !important;
}
.timeline-note {
  display: flex;
  align-items: center;
  gap: 6px;
}
.timeline-note p {
  margin-bottom: 0px;
  flex: 1;
  background-color: #ff000012;
  border-left: 4px solid #ff0000;
  color: #d40e0e;
  padding: 6.3px;
  border-radius: 4px;
}
.timeline-note.success p {
  background-color: #04880912;
  border-left: 4px solid #0d7c12;
  color: #09850e;
  display:flex;
  align-items: center;
  column-gap:5px;
  font-weight: 400;
}

.timeline-note.pending p {
  background-color: #f5ff001f;
  border-left: 4px solid #fcc52f;
  color: #fcc52f;
  display:flex;
  align-items: center;
  column-gap:5px;
  font-weight: 400;
}



.timeline-add{
  display: flex;
  align-items: center;
  justify-content: end;
}





.tm-subm-sb{
  background-color: #d3d3d31a;
}

.notimeline-present{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notimeline-present img{
  width:13%;
}


.tm-report-spner{
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}