<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height side_view">

    <div class="row">
        <div class="col-lg-12">
            <!--begin:: Widgets/Authors Profit-->
            <div class="kt-portlet kt-portlet--bordered-semi">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title cursor-pointer">
                            Timeline Logs
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Portlet-->
            <div class="kt-portlet portlet-height">
                <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                    <div class="mt-3">
            
                        <div class="timeline">
                            <div class="timeline-header sticky-header">
                                <span class="header-text header-date d-none">
                                    14, March 2023
                                </span>
                                <a class="pro-name" href="javascript:void(0)">
                                    <span class="header-text">Stream Application(creative Planner) Development</span>
                                </a>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon symbol symbol-circle symbol-40px">
                                    <div class="symbol-label kt-bg-light-primary">
                                        <span class="timeline-media">
                                            VM
                                        </span>
                                    </div>
                                </div>
                                <!--end::Timeline icon-->
                                <div class="timeline-content mb-10 mt-n2">
                                    <div class="overflow-auto pt-2 pr-3">
                                        
                                        <div class="timeline-text fs-6">
                                            Venkata Maharshi
                                            <span class="desp-txt fs-7">Logged</span> '3 Hrs 30mins' 
                                            <span class="ml-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="16px" height="16px" viewBox="0 0 24 24" 
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="vertical-align: sub;color: #848c93;">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>  
                                                10:30 AM - 02:00 PM                                
                                            </span> in
                                        </div>
                                        <div class="timeline-text fs-6">
                                            <span class="desp-txt fs-7">Project</span> <a class="pro-link" href="javascript:void(0)">Stream Application(creative Planner) Development</a>
                                        </div>
                                        <div class="timeline-text fs-6"><span class="desp-txt fs-7">Action</span>Notifications And Timeline Activity Modules In Dashboard Page</div>
                                        <div class="timeline-text fs-6 achv-txt">Rebinding done in notifications page for the responses from the users after clicking on more info icon.</div>
            
                                    </div>
                                </div>
                                <!--end::Timeline content-->
                            </div>
            
                            
                            <div class="timeline-item">
                                <div class="timeline-icon symbol symbol-circle symbol-40px">
                                    <div class="symbol-label kt-bg-light-primary">
                                        <span class="timeline-media">
                                            VM
                                        </span>
                                    </div>
                                </div>
                                <!--end::Timeline icon-->
                                <div class="timeline-content mb-10 mt-n2">
                                    <div class="overflow-auto pt-2 pr-3">
                                        
                                        <div class="timeline-text fs-6">
                                            Venkata Maharshi
                                            <span class="desp-txt fs-7">Logged</span> '3 Hrs 30mins' 
                                            <span class="ml-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="16px" height="16px" viewBox="0 0 24 24" 
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="vertical-align: sub;color: #848c93;">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>  
                                                10:30 AM - 02:00 PM                                
                                            </span> in
                                        </div>
                                        <div class="timeline-text fs-6">
                                            <span class="desp-txt fs-7">Project</span> <a class="pro-link" href="javascript:void(0)">Stream Application(creative Planner) Development</a>
                                        </div>
                                        <div class="timeline-text fs-6"><span class="desp-txt fs-7">Action</span>Runway Module For Assign Project And Action To Project</div>
                                        <div class="timeline-text fs-6 achv-txt">Action to project service update for the list of projects to be shown in runway page.</div>
            
            
                                    </div>
                                </div>
                                <!--end::Timeline content-->
                            </div>
            
                            <div class="timeline-header sticky-header">
                                <span class="header-text header-date">
                                    13, March 2023
                                </span>
                                <a class="pro-name d-none" href="javascript:void(0)">
                                    <span class="header-text">Stream Application(creative Planner) Development</span>
                                </a>
                            </div>
            
                            <div class="timeline-item">
                                <div class="timeline-icon symbol symbol-circle symbol-40px">
                                    <div class="symbol-label kt-bg-light-primary">
                                        <span class="timeline-media">
                                            VM
                                        </span>
                                    </div>
                                </div>
                                <!--end::Timeline icon-->
                                <div class="timeline-content mb-10 mt-n2">
                                    <div class="overflow-auto pt-2 pr-3">
                                        
                                        <div class="timeline-text fs-6">
                                            Venkata Maharshi
                                            <span class="desp-txt fs-7">Logged</span> '3 Hrs 30mins' 
                                            <span class="ml-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="16px" height="16px" viewBox="0 0 24 24" 
                                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="vertical-align: sub;color: #848c93;">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>  
                                                10:30 AM - 02:00 PM                                
                                            </span> in
                                        </div>
                                        <div class="timeline-text fs-6">
                                            <span class="desp-txt fs-7">Project</span> <a class="pro-link" href="javascript:void(0)">Stream Application(creative Planner) Development</a>
                                        </div>
                                        <div class="timeline-text fs-6"><span class="desp-txt fs-7">Action</span>Runway Module For Assign Project And Action To Project</div>
                                        <div class="timeline-text fs-6 achv-txt">Action to project service update for the list of projects to be shown in runway page.</div>
            
            
                                    </div>
                                </div>
                                <!--end::Timeline content-->
                            </div>
            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
