
 <!-- <h1>Master Page</h1>  -->

 
<!-- <app-sidebar></app-sidebar> -->

<!-- <app-default></app-default> -->

<!-- <app-sidebar></app-sidebar> -->
       
<!-- <router-outlet></router-outlet> -->
<!-- <app-header></app-header>
            <app-sidebar></app-sidebar>
            <router-outlet></router-outlet>
    <app-footer></app-footer> -->
    <!-- <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
           
            <app-sidebar></app-sidebar>
            <div class="kt-aside-menu-overlay"></div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                   <router-outlet></router-outlet>
            </div>
        </div>
      
        <div id="kt_scrolltop" class="kt-scrolltop">
            <i class="fa fa-arrow-up"></i>
        </div>
    </div> -->