.card .card-body {
  padding: 2rem 2.25rem;
  color: var(--bs-card-color);
}

.py-9 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.bg-light {
  --bs-bg-rgb-color: 249, 249, 249;
  background-color: #f5f5f5 !important;
}

.h-lg-150px {
  height: 150px !important;
}

.w-lg-150px {
  width: 90px !important;
}

.rounded {
  border-radius: 0.475rem !important;
}

.mw-lg-75px {
  max-width: 75px !important;
}

.card {
  border: 1px solid #F1F1F2;
  border-radius: 0.625rem;
}

.me-7 {
  margin-right: 1.75rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.text-gray-800 {
  color: #252f4a !important;
}

.text-hover-primary {
  transition: color .2s ease;
}

.fs-2 {
  font-size: 1.5rem !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.me-3 {
  margin-right: 0.75rem !important;
}

.badge-light-success {
  color: #50cd89;
  background-color: #e8fff3;
}

.badge {
  display: inline-flex;
  align-items: center;
}

.me-auto {
  margin-right: auto !important;
}

.text-gray-400 {
  color: #b5b5c3 !important;
}

.fw-semibold {
  font-weight: 500 !important;
}

.fs-5 {
  font-size: 1.15rem !important;
}

.btn.btn-sm.btn-bg-light {
  background-color: #f1f1f2;
}

.min-w-125px {
  min-width: 125px !important;
}

.rounded {
  border-radius: 0.475rem !important;
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.px-4 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.me-6 {
  margin-right: 1.5rem !important;
}

.border {
  border: 1px solid #F1F1F2 !important;
}

.border-dashed {
  border-style: dashed !important;
  border-color: #dbdfe9;
}

.border-gray-300 {
  border-color: #dbdfe9 !important;
}

/* .dtl-bg-light-v{
    background-color: #f5f5f5 !important;
    border: 0 !important;
} */
.fw-semi-lt {
  color: #8f8f8f;
  margin-top: 3px;
}

.fw-stl {
  color: #4d5aa1;
  font-weight: 600;
}


.skills-bar-container {
  width: 40%;
  min-width: 170px;
  list-style: none;
  padding-left: 0px;
  margin-right: 10px;
  border-right: 1px dashed #ccc;
  padding-right: 10px;
}

.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 1px;

}

.skills-bar-container li .progressbar-title {
  color: #5867dd;
}

.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}

.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}

.skills-bar-container li .bar-container {
  background: #dde1ff;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.skills-bar-container li .bar-container #progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.skills-bar-container li .bar-container #progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.progressred {
  background-color: #c0392b;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #27ae60;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes progress-html {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes progress-css {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes progress-javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes progress-php {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@keyframes progress-angular {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

.text-danger-glow {
  color: #ff4141;
  text-shadow: 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00, 0 0 60px #f00, 0 0 70px #f00, 0 0 80px #f00;
  font-size: 8px;
  position: relative;
  top: -1px;
}

.blink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.kt-un-apr {
  position: relative;
  width: 100%;
  padding: 5px;

}

.kt-Status {
  /* border: 1px solid #ccc; */
  background-color: #fff3f3;
  border-radius: 5px;
  padding: 3px 5px;
}

span.wd-xv {
  display: inline-block;
  width: 49px;
}

.me-8 {
  margin-right: 1rem;
}

/*--------------tabs------------------*/
.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid #f1f1f2;
}

.nav-line-tabs.nav-line-tabs-2x {
  border-bottom-width: 2px;
}

.border-transparent {
  border-color: transparent !important;
}

.nav-line-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f1f1f2;
}

.nav-stretch {
  align-items: stretch;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fs-5 {
  font-size: 1.15rem !important;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: #3e97ff;
  --bs-nav-link-hover-color: #0095e8;
  --bs-nav-link-disabled-color: rgb(6 18 49 / 75%);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item {
  margin-bottom: -2px;
}

.nav-line-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-stretch .nav-item {
  display: flex;
  align-items: stretch;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.fs-5 {
  font-size: 1.15rem !important;
}

.nav-line-tabs .nav-item .nav-link {
  color: #777;
  border: 0;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  transition: color .2s ease;
  padding: 0.5rem 0;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 14px;
}

.text-active-primary.active {
  transition: color .2s ease;
  color: #3e97ff !important;
}

.nav-stretch .nav-link {
  display: flex;
  align-items: center;
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active {
  border-bottom-width: 2px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #6e6e6e;
  transition: color .2s ease;
  font-weight: 600;
}

.nav-line-tabs .nav-item:first-child .nav-link {
  margin-left: 0;
}

.kt-dl-icon {
  margin-right: 1rem;
  border-right: 1px dashed #dbdfe9;
  padding-right: 1rem;
}

span.kt-svg-ic svg {
  fill: #9b59b6;
}

/*--------- tabs -------------*/
.card1 {
  display: none;
}

.card1.active {
  display: block;
}

/*--------time line css -----------*/
.timeline-label {
  position: relative;
}

.timeline-label:before {
  content: "";
  position: absolute;
  left: 51px;
  width: 3px;
  top: 0;
  bottom: 0;
  background-color: #f1f1f2;
}

.timeline-label .timeline-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1.7rem;
}

.timeline-label .timeline-label {
  width: 65px;
  flex-shrink: 0;
  position: relative;
  color: #252f4a;
  line-height: 13px;
}

.fw-bold {
  font-weight: 600 !important;
}

.timeline-label:before {
  content: "";
  position: absolute;
  left: 66px;
  width: 3px;
  top: 0;
  bottom: 0;
  background-color: #f1f1f2;
}

.timeline-label .timeline-badge {
  flex-shrink: 0;
  background-color: #ffffff;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-top: 1px;
  margin-left: -0.5rem;
  padding: 3px !important;
  border: 6px solid #ffffff !important;
}

.text-warning {
  color: #ffc700 !important;
}

.fs-1 {
  font-size: 1.75rem !important;
}

.timeline-label .timeline-content {
  flex-grow: 1;
}

.text-muted {
  color: #99a1b7 !important;
}

.ps-3 {
  padding-left: 0.75rem !important;
}

.text-success {
  color: #50cd89 !important;
}

.text-danger {
  color: #f1416c !important;
}

.text-primary {
  color: #009ef7 !important;
}

span.kt-dt-l {
  font-size: 11px;
  color: #a5a5a5;
}

.kt-ct-sub-ttl {
  margin-bottom: 20px;
}

/*------------ timeline end css --------------*/
/*------------ Cart css --------------*/
.card-header-ovr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*------------ Cart css end--------------*/


/*---------new css -------------------*/
.kt-title-icon {
  background-color: #527ce2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.kt-info-box-tittle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #6388e3;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.kt-project-type {
  text-align: center;
}

.Kt-Pd-Status {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding:0.2em;
  padding-left:0.6em;
  padding-right:0.6em;
  border-radius:2px;
  font-size:15px;
}

.Core_task {
  background-image: linear-gradient(#ffc43a, #e9af29);
}

.Secondary_task {
  background-image: linear-gradient(#0095e8, #00669c);

}

.Todo_task {
  background-image: linear-gradient(rgb(226, 226, 4), rgb(196, 196, 11));
}


.kt-project-name h4 {
  color: #181818;
  font-weight: 700;
}

.kt-project-desc p {
  margin: 0;
  color: #999999;
  font-weight: 400;
}

.kt-project-desc {
  margin-top: 5px;
}

.kt-info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
  padding-right: 0px;
  border: 1px solid #ededed;
}

.More_info {
  background-color: #4574fe !important;
}

.kt-info-lable-v {
  color: #939393;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.kt-info-data-v {
  background-color: #f0f0f0;
  border-radius: 35px;
  padding: 5px 4px;
  font-weight: 500;
  color: #4f4f4f;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kt-client-icon img {
  width: 30px;
  border-radius: 50px;
}

.kt-client-icon {
  margin-top: 10px;
}

.bg-light-shade {
  background-color: #eaf2fd !important;
}

.Delay {
  background-color: #Ed6207 !important;
}

.kt-project-sts-data {
  margin-top: 17px;
  color: #3b3b3b;
  font-weight: 500;
  font-size: 14px;
}

.progress.kt-projcect-progress.bar {
  border-radius: 50px;
  height: 10px;
}

.bg-inprogress {
  background-color: #505050;
}

.bg-delay {
  background-color: #Ed6207;
}

.bg-done {
  background-color: #62B134;
  color: white;
}

.bg-rejected {
  background-color: rgb(255, 210, 210);
  color: rgb(204, 11, 11);

}



.kt-prg-bar-info {
  font-size: 15px;
  font-weight: 600; 
  color: #3d3d3d;
}

.kt-prg-bar-info b {
  font-size: 20px; 
  margin-right: 5px;
}

.kt-total-prg-vl b {
  font-size: 15px !important;
  margin-right: 0px;
}

.Deadline_Extend {
  background-color: #f48383;
}

button.Kt-Approval-btns {
  width: 100%;
  padding: 3px 5px;
  border-radius: 50px;
  background-color: #fff;
  color: #4f4f4f;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 14px;
}

.Btn_Accpet {
  border-color: #8ab991 !important;
}
.Btn_Accpet.active{
  background-color: #8ab991 !important;
  color: #fff;
  }

.Btn_Conditional_Accept {
  border-color: #407f4c !important;
}
.Btn_Conditional_Accept.active {
  background-color: #407f4c !important;
  color: #fff;
}

.Btn_Reject {
  border-color: #cf8e66 !important;
}
 
.Btn_Reject.active {
  background-color: #cf8e66 !important;
  color: #fff;
} 

.kt-approval-msg {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  min-height: 85px;
}

.text-end {
  text-align: end;
}

.btn-project-stv {
  width: 100px;
  background-color: #f0f0f0;
}

.Bt-Submit {
  background-color: #878787;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.kt-info-pg-footer {
  margin: 5px 10px;
}

.Add_Action_btn {
  background-color: transparent;
  background-color: transparent;
  border: 1px solid #527ce2;
  font-size: 13px !important;
  padding: 3px 5px;
  border-radius: 4px !important;
  border-width: 1px !important;
  font-weight: 400;
  font-weight: 400 !important;
  color: #527ce2;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Add_Action_btn:hover {
  background-color: #527ce2;
  color: #ffffff;
}

.kt-p-box {
  padding: 10px 10px;
  background-color: #f6f6f6;
}

.kt-action-p-tittle h4 {
  font-size: 14px;
  font-weight: 500;
  color: #5d5d5d;
}

.kt-action-p-tittle {
  margin-bottom: 11px;
}

.Status-done {
  color: #62B134;
}

span.Status-Delay {
  color: #EE4137;
}

.Status-In-progress {
  color: #1b272D;
}

.kt-p-action-No {
  margin-bottom: 6px;
  font-weight: 600;
  color: #526dd6;
  text-transform: capitalize;
  font-size: 14px;
}

.kt-p-action-Status span {
  font-weight: 500;
  font-size: 14px;
}

.kt-projcect-act-list {
  margin-bottom: 10px;
}

.kt-projcect-act-list:last-child {
  margin-bottom: 0px;
}

.Action-Active .kt-p-box {
  background-color: #ebf1ff !important;
}

.kt-projcect-act-list.Action-Active::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 12px solid #ebf1ff;
  z-index: 9999999;
}



.Active .kt-p-box {
  background-color: rgb(216, 239, 255);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

}
.example-chip-list {
  width: 100%;
}
.pdv{
  position: relative;
}
      span.add-icon {
  position: absolute;
  right: 3px;
  top: 6px;
  z-index: 0;
}span.add-icon svg {
  height: 23px;
  width: 25px;
  fill: #a7a7a7;
}
      span.add-icon {
  position: absolute;
  right: 3px;
  top: 9px;
  z-index: 0;
}








.kt-projcect-act-list.Action-Active {
  position: relative;

}

.kt-project-action-list-view {
  margin-top: 10px;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.kt-project-action-list-view::-webkit-scrollbar {
  width: 9px;
}

.kt-project-action-list-view::-webkit-scrollbar-thumb {
  background-color: #8cabfa;
  border-radius: 50px;
}

.kt-project-action-list-view::-webkit-scrollbar-track {
  background-color: #e9ebee;
  border-radius: 50px;
}

/*---------tool bar css ---------------*/
.br-line {
  border-left: 1px solid rgb(100 121 143 / 33%);
  height: 20px;
  margin: 0 2px;
}

.kt-inbox__icon {
  position: relative;
}

.kt-inbox__icon {
  border: 0;
  background: none;
  box-shadow: none;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  transition: all .3s ease;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
}

.kt-inbox__icon {
  border: none;
}

.kt-project-tool-bar {
  background-color: #f6f6f6;
  padding: 10px;
}

.gap_ic {
  gap: 1px;
}

.kt-note-icon {
  width: 40px;
  height: 40px;
  background: rgb(233, 15, 15);
  background: linear-gradient(6deg, rgba(233, 15, 15, 1) 0%, rgba(222, 21, 11, 1) 0%, rgb(253, 126, 122) 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
}

.kt-Note-msg {
  width: 100%;
  padding: 10px;
  background-color: #fd7e7a38;
  margin-top: 10px;
}

.kt-note-icon svg {
  fill: #fff;
}

.kt-note-text {
  margin-left: 14px;
  font-size: 14px;
  padding-right: 10px;
  color: #cb1910;
}

.kt-project-desc.w-80 {
  width: 75%;
  margin-top: 0px;
}

/*------to show team members ----------*/
.symbol-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}

.symbol-group .symbol {
  position: relative;
  z-index: 0;
  margin-left: -10px;
  transition: all .3s ease;
}

.symbol.symbol-circle,
.symbol.symbol-circle .symbol-label,
.symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #252f4a;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}

.text-inverse-warning {
  color: #ffffff !important;
}

.bg-warning {
  --bs-bg-rgb-color: rgba(255, 199, 0);
  background-color: #ffc700 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.symbol .symbol-label {
  width: 50px;
  height: 50px;
}

.symbol-group .symbol-label {
  position: relative;
}

.symbol.symbol-35px .symbol-label {
  width: 35px;
  height: 35px;
}

.symbol-group.symbol-hover .symbol {
  cursor: pointer;
}

.symbol .symbol-label:after {
  border-radius: 0.475rem;
}

.symbol-group .symbol-label:after {
  display: block;
  content: " ";
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bg-primary {
  --bs-bg-rgb-color: rgba(62, 151, 255);
  background-color: #3e97ff !important;
}

.text-inverse-primary {
  color: #ffffff !important;
}

.symbol.symbol-35px>img {
  width: 35px;
  height: 35px;
}

.text-inverse-danger {
  color: #ffffff !important;
}

.text-gray-300 {
  color: #dbdfe9 !important;
}

label.my-chosse-flv {
  min-height: 55px !important;
  background-color: #e1e1e1;
  cursor: pointer;
}

.my-chosse-flv .formbold-drop-file {
  display: block;
  font-weight: 400;
  color: #717171;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 12px;
  font-size: 16px;
  margin-bottom: 0;
}

.right-side-act {
  padding: 15px;
  border-left: 3px solid #d9d9d9;
  height: calc(100vh - 117px);
  overflow: auto;
}

.kt-action-list {
  margin-top: 1rem;
}

.Act-tittle-Right h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.Act-tittle-Right {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 9px;
}

.kt-right-style {
  padding-left: 15px;
  border-left: 3px solid #d9d9d9;
}


.Dividing-line {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 1px;
  background-color: #ededed;
}

.kt-ct-sub-ttl h6 {
  font-size: 15px;
  color: #a1a1a1;
  font-weight: 600;
}

.bd-right-x::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: -7px;
  background-color: #dfdfdf;
  top: 35px;
}

.kt-over-pd-in.bd-right-x {
  position: relative;
  padding-right: 20px;
}

/*--------chart css ----------*/
.chart {
  width: 100%;
  min-height:292px;
  max-height: 292px;
  overflow: hidden;
}


/*--------chart css --end------*/



.sideInfobar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-left: 1px solid #edeae9;
  box-shadow: 0 1px 9px -3px rgb(0 0 0 / 75%);
  transition: transform 0.2s ease-in;
  overflow-x: hidden;
  color: #212529;
}



/*color codes*/
.Delay {
  background-color: #EE4137 !important;
}

.UnderApproval {
  background-color: #888888 !important;
}

.Inprocess {
  background-color: #1B272D !important;
}

.NewProjectRejected {
  background-color: #DFDFDF !important;
  color: #000;
}

.NewProjectRejected1 {
  background-color: #DFDFDF !important;
  color: #000;
}

.Done {
  background-color: #62B134 !important;
  color: #fff;
}

.EnactiveUnderApproval {
  background-color: #C9C1E6 !important;
  color: #000;
}

.CompletionUnderApproval {
  background-color: #B2D732 !important;
  color: #000;
}

.DeadlineExtend {
  background-color: #F88282 !important;
  color: #fff;
}

.Hold {
  background-color: #E2D9BC;
  color: #000;
}






/* new  Add DMS sidebar */


#LinkSideBar-header {
  background-color: #f5f6fc;

}

div#DemoList-table {
  background-color: white;
  box-shadow: 0 0 1px rgb(124, 123, 123);
  margin-top: 10px;

}

div#DemoList-table div.demo {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 1em;
  cursor: pointer;
}

div#DemoList-table div.demo:hover {
  background-color: #F2F3F7;
  transition-duration: 0.4s;
}

div#DemoList-table div.demo a {
  color: #5867DD;
}

div#DemoList-table div.demo i:hover {
  background-color: #5867DD;
 color: #fff;
 transition-duration:0.4s;
 border-radius: 2px;
}

div#DemoList-table div.demo i {
  color: #5867DD;
  box-shadow:0 0 1px #5867DD;
  border-radius: 2px;
}



@media screen and (min-width: 1400px) {
  .kt-quick-panel--on {
    width: 50% !important;
    background-color: rgba(255, 255, 255, 1);
  }
  .kt-quick-active--on{
    width: 50% !important;
    background-color: rgba(255, 255, 255, 1);
  }
}



.NORESULTFOUND {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ////////////////////////// Approval section Start ////////////////////////////////////// */
button.Kt-Approval-btns{
  width: 100%;
  padding: 3px 5px;
  border-radius: 50px;
  background-color: #fff;
  color: #4f4f4f;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 14px;
  min-width: 110px;
}
.kt-info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}
.Btn_Conditional_Accept {
  border-color: #407f4c !important;
  }
  /*----- attachement css ---------*/
  .attachment-view svg {
    width: 20px;
  }
  .attachment-view {
    background-color:#f0f0f0;
    padding: 8px 3px;
    border-radius: 5px;
    margin-top: 7px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .attachment-view span {
    font-weight: 600;  
  }
  .attachment-view:hover{
    box-shadow: 0px 1px 6px #ccc;
    background-color: #ffffff;
  }
  .appr-comts h6 {
    margin: 0;
    flex: 1;
  }
  .exs-cmts .crd-bdy{  
    overflow: auto;
    max-height: 200px;
  }
  .cmts-items {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #e4e7e8;
  }
  .cmts-items:hover .cmts-svg svg {
    transform: scale(1.1);
    fill: #2786fb;
  }
  .cmts-svg svg {
    width: 20px;
    height: 20px;
    fill: #8d95a5;
  }
  .cmts-svg {
    cursor: pointer;
  }
  .g-10 {
    gap: 10px;
}
.kt-prg-progress {
  padding-top: 12px;
}
.kt-prg-progress ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.kt-prg-progress ul li {
  width: 33%; margin-bottom: 9px;
}
li.w-50P {
  width: 50% !important;
}



span.B-Bot {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 2px;
  border-radius: 2px;
  background-color: #e5e5e5;
}
.P_In_Progress{
  background-color: #1B272D !important;
}
.P_Not-Started{
  background-color: #888888 !important;
}
.P_Active{
  background-color: #0089FB !important;
}
.P_Completion_under_Approval{
  background-color: #B2d732 !important;
}
.P_Slow{
  background-color: #Fbcc61 !important;
}
.P_Delay{
  background-color: #EE4137 !important;
}
.P_Hold{
  background-color: #E2d9bc !important;
}
.P_Done{
  background-color: #62b134 !important;
}
.P_Very_Slow{
  background-color: #E1a63d !important;
}
.P_Very_Active{
  background-color: #0272d0 !important;
}
.P_Completion_under_Approval{
  background-color: #b2d732 !important;
}
.P_Deadline_Extend_Under_Approval{
  background-color: #F88282 !important;
}
.P_Enactive_Under_Approval{
  background-color: #C9c1e6 !important;
}
.P_New_Project_Rejected{
  background-color: #Dfdfdf !important;
}
.P_New_todo{
  background-color: #6e9bc4 !important;
}
.P_Project_complete_rejected{
  background-color: #FAF065 !important;
}

.g-10 {
  gap: 10px;
}




.pending_approval_form {
  /* background-color: #FFF0F0; */
  padding: 0px 10px;
  /* border-radius: 5px; */
  border-left: 1px solid #fbb;
}

.Paf_info label {
  font-size: 12px;
  margin: 0px;
  line-height: 9px;
  color: #919191;
}
.Paf_info p {
  margin: 0px;
  color: #434343;
  font-size: 14px;
  font-weight: 500;
}

span.Dote_red {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50px;
  position: relative;
  margin-right: 0px;
  background-color: #eb1000cc;
  box-shadow: 0px 0px 7px 1px #D90F00;
  top: -1px;
  left: -3px;
}

a.kt-inbox__icon:hover svg path {
  stroke: #527ce2;
}

















.arow-vx {
  text-align: center;
}
.arow-vx svg {
  fill: #527ce2;
  width: 30px;height: 30px;
}
.arow-vx {
  text-align: center;
}
.arow-vx svg {
  fill: #527ce2;
  width: 30px;height: 30px;
}
.fwd-v {
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 12px 13px;
  border-radius: 5px;
  padding: 3px 29px;
  height: 85px;
}

/* ////////////////////////// Approval section End ////////////////////////////////////// */

.delete-btn i {
  background: none;
  font-size: 16px;
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  width: 30px;
  background-color: #f5f6fc;
  border: 1px solid #b3bcff;
  color: #5867dd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 8px 0 0;
  border-radius: 0;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.delete-btn {
  display: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2f3f7;
  color: grey;
  line-height: 59px;
  padding: 0 20px;
  transition: all 2s ease !important;
}
.kt-inbox__item:hover .delete-btn {
  display: block;
}
.delete-btn i:hover {
  background-color: #5867dd;
  color: #fff;
}


/* ////////////////////////// Link Portfolio section Start ////////////////////////////////////// */


.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.kt-inbox__icon:hover svg path {
  stroke: #527CE2;
}



/*--------- new css ------------*/
.Ct-btn {
  border: 0px;
  background-color: transparent;
  border: 1px solid #527ce2;
  font-size: 13px !important;
  padding: 3px 5px;
  border-radius: 4px !important;
  border-width: 1px !important;
  font-weight: 400;
  font-weight: 400 !important;
  color: #527ce2;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Action_btn_all ul li {
  margin-right: 5px !important;
}
.Ct-btn:hover {
  background-color: #527ce2;
  color: #ffffff;
}
.border-b-dashed{
  border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 10px;
}
.date-picker-svg {
  border-radius: 0px 5px 5px 0px;
  padding: 5px 5px;
}

.Bt-Submit{
  background-color: transparent;
  color: #2786fb;
  font-size: 14px;
  border: 2px solid #2786fb;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Bt-Close{
  background-color: transparent !important;
  border: 2px solid #e7e7e7;
}
.Bt-Close:hover {
  background-color: #e7e7e7 !important;
  color: #000;
}
.Bt-Submit:hover {
  background-color: #2786fb;
  color: #fff;
}
.w-110 {
  width: 100px;
}
.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none !important;
}
.kt-quick-panel--on {
  width: 58% !important;
}
.kt-quick-active--on{
  width: 35% !important;
}
/*------------ timeline view css ------------*/
.timeline .timeline-item{
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.w-40px{
  width: 40px!important;
}
.timeline .timeline-line{
  display: block;
  content: " ";
  justify-content: center;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 40px;
  bottom: 0;
  transform: translate(50%);
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #d2d5e5;
}
.timeline .timeline-icon {
  z-index: 1;
  flex-shrink: 0;
  margin-right: 1rem;
}
.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}
.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle > img{
  border-radius: 50%;
}
.symbol.symbol-40px .symbol-label {
  width: 40px;
  height: 40px;
}

.symbol .symbol-label{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #3f4254;
  background-color: #f5f8fa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}
.kt-bg-light-primary {
  background-color: #5867dd1a!important;
}

.svg-icon{
  line-height: 1;
}
.svg-icon.svg-icon-2 svg{
  height: 1.5rem!important;
  width: 1.5rem!important;
}
.svg-icon.svg-icon-info svg {
  fill: #2786fb!important;
}
.svg-icon.svg-icon-info svg :not(.permanent):not(g) {
  fill: #2786fb!important;
}
.timeline .timeline-content {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.5rem;
}
.mb-10{
  margin-bottom: 2.5rem!important;
}
.mt-n2{
  margin-top: -0.5rem!important;
}
.symbol>img {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 0.475rem;
}

.txtm-def {
  color: #646c9a;
}
.fs-6 {
  font-size: 1.075rem!important;
}
.symbol.symbol-22px > img{
  width: 22px;
  height: 22px;
}
.symbol img {
  border: 1px solid #e1e1e1!important;
  background-color: #ccc;
}
.svg-icns{
  fill: #a1a5b7;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
a.kt-inbox__icon:hover svg path {
  stroke: #7a87ee;
}
.sorting-v {
  display: flex;
  align-items: center;
}
.sort-drp {
  border: 0;
  font-weight: 700;
  padding: 5px 15px;
}
.total-hrs p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #999;font-weight: 400;
}
.total-hrs p span {
  font-size: 15px;
  color: #575757;
  font-weight: 700;
}
.tlv-tl {
    border-bottom: 1px dashed #d2d5e5;
    padding-bottom: 5px;
    padding-top: 6px;
    margin-bottom: 10px;
}
.time-line-date{
  background-color: #e0f1ff;
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  width: -moz-fit-content;
  /* width: fit-content; */
  /* margin-bottom: 10px; */
  margin-left: 27px;
}
.time-line-date h4 {
  margin-bottom: 0px;
  font-size: 13px;
}

/*-----timline box ----------*/
.kt-task-head {
  display: flex;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #797979;
}

span.tmv-tm {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #a3a3a3;
}
span.svg-time-icon svg path {
  color: #939393;
}
span.svg-time-icon {
  margin-right: 6px;
}
span.mdl-line-h {
  display: inline-block;
  width: 10px;
  background-color: #ccc;
  height: 2px;
  position: relative;
  margin-right: 6px;
  top: -3px;
}
.time-line-cnt {
  padding: 10px;
  background-color: #f5f6fc;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 0px;
}
span.total-time-kt {
  margin-left: 10px;
}
.user-kt-n{
  margin-left: 10px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  color: #4f4f4f;
}
.sort-btn {
  border: 0;
  font-size: 14px;
  color: #353535;
  font-weight: 400;
}
.sort-ttl {
  color: #a1a1a1;
  font-size: 14px;
}
.kt-total-ac-hr h4 {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 400;    margin-bottom: 0px;
}
.kt-total-ac-hr h4 span {
  font-size: 15px;
  font-weight: 500;
  color: #353535;
}
.sort-view {
  display: flex;
  align-items: center;
}.kt-tm-hd {
    border-bottom: 1px dashed #d2d5e5;
    padding-bottom: 3px;
    margin: 0px 25px;
    margin-bottom: 15px;
}

.kt-task-cnt {
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 8px;
}
.action-name {
  color: #51667d;
  font-size: 16px;
  font-weight: 600;
}
.action-info-achivement {
  margin-top: 5px;
}
.action-info-achivement * {
  font-size: 13px;
  color: #818181;
  margin-bottom: 4px;
}
.kt-portlet__body_scroll {
  height: calc(100vh - 156px);
  overflow-y: hidden;
}
.kt-portlet__body_scroll:hover{
  overflow-y: auto;
}
.kt-total-time-bc h5 {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 400;
  margin-bottom: 0px;
}
.kt-total-time-bc {
  text-align: end;
  padding: 0px 15px;
  margin-bottom: 2rem;
}
.kt-total-time-bc h5 span {
  font-size: 15px;
  font-weight: 500;
  color: #353535;
}
.kt-total-time-bc{
  text-align: end;
  padding: 5px 15px;
  margin-bottom: 2rem;
  border: 1px dashed #d2d5e5;
  margin-left: 20px;
}
span.svg-icv-hd {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.ac-activity.active svg path {
  fill: #7784ee;
}
.kt-inbox__icon.active::after {
  content: "";
  width: 29px;
  height: 5px;
  background-color: #7986ee;
  position: absolute;
  bottom: -10px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px -3px 11px 0px #7986eea8;
}

/*---------- Accordion css---------*/
.titlediv{
  position: relative;
  cursor: pointer;
  color: #636363;
  font-size: 11px;
  line-height: 20px;
  width: 100% !important;
  font-weight: 400;
  padding: 0 4px;
  border-radius: 2px;
  background-color: #ededed;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-items: center;
  margin-bottom: 10px !important;
}
.kt-text-wrap {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  width: 75%;
}
.titlediv.collapsed i{
  transform: rotate(-90deg);
  transition:0.5s;
}
.titlediv i{
  position: relative;
  right: 0;
  top: 3px;transition:0.5s;
  color: #747a96;
}
.Kt-replay-count{
  font-weight: 600;
  color: #2196f3;
  letter-spacing: 0;
  margin-right: 8px;
}

.kt-notification__item {
  display: flex;
  align-items: center;
  padding: 1.1rem 1.5rem;
  border-bottom: 1px solid #f7f8fa;
  transition: background-color .3s ease;
}

.kt-notification__item {
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0 .125rem .25rem #00000014!important;
}
.kt-notification__item .kt-notification__item-icon {
  display: flex;
  flex: 0 0 2.5rem;
  align-items: center;
}
.kt-notification__item .kt-notification__item-icon svg {
  height: 24px;
  width: 24px;
  margin-left: -4px;
}
.asseticn.prim-icn{
  fill: #9886eb;
}
.asseticn {
  margin-top: 6px;
}
.memo_attachment_img{
  margin-right: 5px;
}
.kt-notification__item .kt-notification__item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.d-flex-center{
  align-items: center;
  justify-content: space-between;
  display: flex;
}
 .kt-notification__item .kt-notification__item-details .kt-notification__item-title {
  transition: color .3s ease;
  font-size: 1rem;
  font-weight: 400;
  color: #595d6e;
  word-break: break-all;
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.d-flex-center {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
svg.asseticn.prim-icn.memo_attachment_img {
  height: 24px;
  width: 24px;
  margin-left: -4px;
}
.kt-notification__item:hover {
  transform: scale(.98);
  transition: transform .2s;
  background-color: #fff;
}
.kt-notification__item:hover .kt-notification__item-details .kt-notification__item-title {
  transition: color .3s ease;
  color: #22b9ff;
}
.kt-notification__item:hover .kt-attachment-more-options {
  opacity: 1;
}
.kt-attachment-more-options {
  position: absolute;
  background-color: #e7e7e7;
  width: 70px;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  cursor: pointer;
  opacity: 0;
  box-shadow: 0 1px #e7e7e7;
  top: 0;
}
span.kt-stt-icon{
  display: block;
  background-color: #fff;
  padding: 4px 5px 5px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
span.kt-stt-icon svg{
  width: 30px;
  height: 30px;
  position: relative;
  top: 1px;
  margin: 0;
  fill: #898989;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  transition: all .5s;
}
small.tlv-df {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
  color: #4c6fc3;
}
span.kt-at-count {
  font-size: 14px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
  color: #6b6b6b;
}
span.kt-chat__title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
div#Attachment_view {
  background: #f2f6f6 !important;
}

/*----- search and fillter -------*/
.right-flter-bd{
  margin-right: 0!important;
  border-radius: 5px;
}
.kt-flter-ic-b {
  padding: 4px;
  border: 1px solid #e2e5ec;
  background-color: #fff;
  display: flex;
  border-radius:5px;
  align-items: center;
  height: calc(1.5em + 1.3rem + 2px);
  margin-left: 5px;cursor: pointer;
}
.iconify--mdi {
  font-size: 22px;
  height: 22px;
  width: 22px;
  color: #a0a0a1;
  color: #858190;
  fill: #858190;
}
.dropdown-menu.dropdown-filter {
  margin: 16px 0 0;
}
.dropdown-menu.dropdown-filter{
  float: left;
  width: 250px;
  min-width: 160px;
  padding: 7px 0 0!important;
  margin: 2px 0 0;
  z-index: 1002;
}

a#Filter_btn::after {
  display: none;
}
.kt-flter-ic-b .dropdown.filter-dot::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -1px;
  background-color: #9e6df5;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 9;
  border-radius: 50px;
}
.drop-ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: .875rem;
  color: #74788d;
  white-space: nowrap;
}
.btn-filtr svg {
  fill: #5c5b5a;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}
.btn-filtr {
  cursor: pointer;
  width: 100%;
}
.btn-filtr.active2 {
  color: #2786fb;
  background: rgba(39,134,251,.1)!important;
}

.fil-lbl {
  flex: 1;
  text-align: left;
}
.active2 .chck-icn {
  display: block;
}
.btn-filtr.active2 svg {
  fill: #2786fb!important;
}
.btn-filtr.active2 svg{
  fill: #2786fb!important;
}
.kt-Attachament__body {
  display: flex;
  flex-direction: column;
  padding: 16px 10px;
  border-radius: 4px;
  background-color: #f2f6f6;
  height: calc(100vh - 60px);
  overflow: auto;
}
.Bt-hold {
  background-color: transparent;
  color: #8f8153;
  font-size: 14px;
  border: 2px solid #E2d9bc;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Bt-hold:hover {
  background-color: #E2d9bc;
  color: #fff;
}
.Bt-cancel{
  background-color: transparent;
  color: #EE4137;
  font-size: 14px;
  border: 2px solid #EE4137;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.Bt-cancel:hover{
  background-color: #EE4137;
  color: #ffffff;}
.active .Bt-cancel{
    background-color: #EE4137;
  color: #ffffff;
  }
  .active .Bt-hold{
    background-color: #E2d9bc;
  color: #fff;
  }
  .active .Bt-Submit {
    background-color: #2786fb;
  color: #fff;
  }
  a.nav-link.c-cancel.active {
    border-bottom: 1px solid #ee4137 !important;
}
a.nav-link.c-hold.active {
  border-bottom: 1px solid #E2d9bc !important;
}
a.nav-link.c-Submit.active {
  border-bottom: 1px solid #2786fb !important;
}
.tab-view-dw {
  margin: 1rem 1rem;
  background-color: #f5f5f5;
  padding: 1rem 1rem;
  border-radius: 5px;
}

a.nav-link:hover{
  border-bottom: #ccc !important;
}
.tav-vdc {
  margin: 0rem 0rem !important;
}

/*------------ new css for add user list ------------*/
.user-icon-round {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}
.user-icon-round img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.user-list-card {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 0px 8px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.user-icc-info {
  flex: 1 1 auto;
  min-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.mvc-vb {
  min-width: 56px;
  flex-shrink: 0;
}
.user-icc-info h6 {
 margin: 0px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}
.user-icc-info p {
    margin-bottom: 0px;
    color: #959595;
}
.user-list-card:hover {
  background-color: #0000000a;
  border-radius: 5px;
}

.user-Ltr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 400;
}
button.Ct-btn.head-btn-right {
  margin-right: 29px;
  padding: 2px 8px;
  font-size: 13px;
}
.header-new-sp-team h5 {
  text-transform: capitalize;
  font-size: 17px;
  color: #4f4f4f;
  margin-bottom: 0px;
  line-height: 19px;
}
.header-new-sp-team span {
  font-size: 13px;
  color: #6f6f6f;
  display: block;
  margin-top: 3px;
}

/*-------- custom checkbox css ---------*/
.add-check-box input[type=checkbox] {
  position: relative;
  background-color: #ccc !important;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
  opacity: .5;
}

.add-check-box input[type=checkbox]:hover {
  opacity: 1;
}

.add-check-box input[type=checkbox]:checked {
  background-color: #2196F3 !important;
  opacity: 1;
}


.add-check-box input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: unset;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
.add-check-box input[type=checkbox]:checked:before {
  border: solid #FFF;
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
.user-roll-vx .dropdown-menu {
  min-width: fit-content;
  min-width: -webkit-fill-available !important;
}
.back-team-list-btn button {
  border: 0;
  background-color: #e8ebeb;
  padding: 5px 11px;
  border-radius: 5px;
  color: #959595;
}
.back-team-list-btn button:hover{
  background-color: #ccc;
  color: #000;
}
.back-team-list-btn button span {
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.header-team-view {
  padding-top: 10px;
}
div#add_new_team_sp .kt-portlet__head {
  height: 60px;
}
.back-team-list-btn .closebtn {
  top: 17px;

}

.dropdown-item:active{
   color: #2786fb;
   background: rgba(39,134,251,.1)!important;
}
.dropdown-item:active svg{
  color: #2786fb;
}


.bounce-effect{
  transition-duration:0.5s; 
  transition-timing-function:cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



/* /////////////////// Files Attachment   //////////////////// */
.asseticn.corol-icn {
  fill: #ff5263;
}

.asseticn.prim-icn {
  fill: #9886eb;
}

.asseticn.info-icn {
  fill: #14aaf5;
}

.asseticn.warn-icn {
  fill: #fcbd01;
}

.asseticn.dark-icn {
  fill: #6d6e6f;
}

.asseticn.suc-icn {
  fill: #00bf9c;
}

span.cancl-icon:hover svg {
  fill: #000;
}

.cancl-icon svg{
  width: 18px;
  height: 18px;
}

span.cancl-icon {
  position: absolute;
  right: 8px;
  top: 9px;
}
span.cancl-icon svg {
  fill: #9b9999;
}
span.cancl-icon:hover svg {
  fill: #000;
}
.pfl-img{
color:#9b9999;
}
.Activity_Log_vh {
  height: calc(100vh - 50px) !important;
  overflow-y: hidden;
}


.no-prjact-found{
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.no-prjact-found-img{
    width:30%;
}
.no-prjact-found-label{
  color:#9b9999;
}


.notimeline-present{
   padding-top:10%;
   display:flex;
   flex-direction: column;
   align-items: center;
}

.notimeline-present-img{
   width:30%;
}
.notimeline-present-label{
  color:#9b9999;
}


.no-DMS-found{
     padding-top: 10%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.no-DMS-found-image{
     width:30%;
}

.no-DMS-found-label{
  color:#9b9999;
}



/*--------multiselect ------------*/
#css-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}


div#prj-hold-sidebar {
  background: #f2f6f6 !important;
}
/*------meetings css ----------*/
.mt-date {
  display: flex;
  flex-direction: column;
  text-align: center; 
  box-sizing: border-box;
  background-color: white;
  line-height: 1.5em;
  border-radius: 10px;
  width: 70px;
  overflow: hidden;
  box-shadow: 1px 3px 4px #cccccca3;
}
.mt-date-haed.met-month {
  padding: 6px 0;
  position: relative;
  color: white;
  background-color: #2786fb;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 5px 10px rgb(39 134 251);
  text-transform: uppercase;
}

.mt-date-body.met-date {
  line-height: 0.8em;
  font-size: 2.5em;
  padding-top: 7px;
  font-weight: 500;
}
.mt-date-footer.met-day {
  margin-top: 4px;
  border-top: 1px dotted #959595;
  margin: 7px 12px;
  margin-bottom: 4px;
}
.kt-met-dtl {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}
.kt-app-svg-v svg {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.mt-left {
  margin-right: 15px;
}
.kt-met-label {
  font-size: 13px;
  color: #999;
  font-weight: 400;
  width: 70px;
}
.kt-met-app {
  margin-left: 1rem;
  border-left: 1px solid #c9c9c9;
  padding-left: 10px;
}
.kt-met-info {
  font-size: 13px;
}
.kt-met-tlt-in h4 {
  font-size: 15px;
  text-transform: capitalize;
  color: #5e5f63;
}
.mt-dtl-kt {
  width: 100%;
}
.mt-dtl-right {
  width: 53%;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
span.user-ft-ltr {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #518ef6;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 100px;
}
.org-name {
 
      display: flex;
      align-items: flex-end;
      /* justify-content: flex-start; */
      margin-left: 20px;

}
.org-name-email p {
  margin-bottom: 0px;
  line-height: 6px;
}
.org-name-email span {
  font-size: 11px;
  line-height: 0px;
  color: #ababab;
}
.org-name-email {
  margin-left: 9px;
}
.attens-total {
  display: flex;
  align-items: center;
  padding: 2px 12px;
  margin-left: 20px;
  background-color: #ccc;
  border-radius: 5px;
  line-height: 12px;
  background-color: #f0ebff;
  text-align: center;
  color: #8157f4;
  box-shadow: 0px 13px 74px -15px rgba(129,87,244,1);
}
.att-tv-kt {
  padding: 5px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 4px;
}
.stt-sp-line {
  height: 18px;
  width: 2px;
  background-color: #fff;
  margin: 0px 3px;
  border-radius: 50px;
}
.met-card.mb-3 {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
}
.kt-met-tlt-in {
  display: flex;
  align-items: center;
}
.kt-met-status {
  margin-left: 15px;
}
span.Running {
  color: #37ad3b;
  font-weight: 500;
  font-size: 10px;
  padding: 1px 6px;
  background-color: #e9ffea;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}
.Sheduled {
  color: #818181;
  font-weight: 500;
  font-size: 10px;
  padding: 1px 6px;
  background-color: #e9e9e9;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}
.date-d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.date-anc {
  font-size: 13px;
  line-height: 1.6923076923;
  color: #848c93;
}

.dat-icn {
  width: 16px;
  height: 16px;
  color: #848c93;
}
.date-mt-v {
  margin-bottom: 10px;
  border-left: 2px solid #3f51b56b;
  padding-left: 5px;
}

.tabs-iconic{
  background-color: #e2e8f0;
  background-color: #e2e8f0c9;
  color: #475569;
  border-radius: 0.5rem;
}
.icon-btn{
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  flex-shrink: 0;
  justify-content: center;
  letter-spacing: .025em;
  color: rgb(71, 85, 105);
  transform: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
span.lbl-hdn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.icn-active {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 2;
}
.icn-hvr.active {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 2;
}

.icn-hvr {
  margin: 1px 5px;
}
i.date-rg-icon {
  position: relative;
  top: -2px;
  left: 7px;
}

.kt-quick-Mettings--on{
  width: 70%;
}
/*----- edit btn css ----------*/
.PA_title {
  display: flex;
  align-items: center;
}
.PA_Edit_btn svg {
  width: 15px;
  height: 15px;transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.PA_Edit_btn {
  margin-left: 7px;
  position: relative;
  top: -1px;
  /* height: 23px; */
  border-left: 1px solid #ccc;
  padding-left: 7px; transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.PA_Edit_btn .lbl-hdn{
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: .2s;
  color: #61a2f1;
  z-index: -1;transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.PA_Edit_btn:hover .lbl-hdn {
  max-width: 200px;
  margin-left: 5px;
  opacity: 1;
  z-index: 1;
}
.PA_Edit_btn:hover svg{
  transform:rotate(360deg);
}




.total-meeting-count{
 
    background-color: rgb(0, 0, 0,0.7);
    color:white;
    border-radius:70%;
    padding:0.1em;
    padding-left:0.5em; 
    padding-right:0.5em;
    position:relative;
    right:10%;
    font-family: 'Lucida Sans Unicode';
    font-weight:bold;
}





.create-btm {

  border-radius:10px;
  opacity: 1;
  animation: kt-scrolltop-show-animation .4s ease-out 1;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  background: #fff;
}


.open_sidebar {
  width: 50%;
}


.kt-quick-Project_edit_form--on{
  width: 58%;
}
.Project_type_DW {
  min-width: 160px;
}
#calender{
  height: 1px;
 
}

label.pe-label {
  font-size: 13px;
  color: #8f8f8f;
  margin-bottom: 4px;
}
.input-icon.project-name_ed input {
  color: #181818;
  font-weight: 700;
  font-size: 1.4rem;
}


.input-icon.project_des_ed textarea {
  margin: 0;
  color: #999999;
  font-weight: 400;
  padding: 5px;
}
.kt-info-body {
  margin: 1.3rem;
  border: 1px solid #ededed;
  min-height: calc(100vh - 4vh);
  height: auto;
}
.kt-info-box_en{
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}
.Ic_ed span svg {
  height: 17px;
  width: 17px;
  position: relative;
  top: -2px;
}
.Ic_ed input, textarea {
  padding: 5px 5px !important;
}
.Ic_ed input {
  height: 36px;
  margin-top: 5px;
}
.Ic_ed {
  margin-bottom: 18px !important;
}


.mat-font{
  font-size: small;
}
mat-icon:hover {
  color: blue;
  transform: scale(1.2);
}
span.Wd_text_kt {
  font-size: 12px;
}
.kt-info-lable-v.mb-off {
  margin-bottom: 4px;
}
.input-icon.Sub_In_ed input {
  border: 1px solid #ccc;
}

.date-border-v {
  height: 36px;
  margin-top: 5px;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  overflow: hidden;
}
.date-border-v input {
  margin: 0px !important;
  padding-bottom: 0px !important;
}
.date-border-v input {
  margin: 0px !important;
  padding: 0px 5px;
  height: auto;
}
.input-icon.Sub_In_ed.date-border-v.d-flex .input-group-append.h-2 {
  margin-top: -2px;
  margin-right: -4px;
}
.readonly{
  color: #ccc!important;
  font-size: inherit;
}

.Data_chip_kt {
  padding: 6px !important;
  font-size: 12px;
  font-weight: 500;
  color: #60626D !important;
  padding-right: 2px !important;
  border-radius: 5px !important;
  min-height: 22px;
  background-color: #E6EAFF !important;
  line-height: 10px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
input.mat-chip-input {
  width: 150px;
  margin: 0px;
  width: 100%;
  flex: unset;
  height: 30px;
  line-height: 30px;
  padding-bottom: 5px;
}
.mat-form-field-underline {
  height: 1px;
  background-color: #CACACA !important;
}
input.mat-chip-input::placeholder {
  font-size: 13px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}
mat-icon.mat-icon.notranslate.curser-pointer {
  /* height: 20px; */
  width: 20px;
  font-size: 20px;
}


/* portfolio start*/
.matchip-drp-dwn{
  display:flex;
  column-gap:15px;
  align-items: flex-end;
}
.drp-dwn-field{
 margin: 0;
 padding: 0;
 flex-grow:1;
}
.drp-dwn-field input{
border:0;
}
.drp-dwn-submitbtn {
margin-bottom:15px;
}
.close-icon{
color:#f4f3f3;
background-color: gray;
border-radius: 50%;
}
.close-icon:hover{
color:#e0e0e0;
transform: none;
}
.add-icon{
color:white;
border-radius: 50%;
background-color: #646C9A;
}
.add-icon:hover{
background-color: #3D4991;
transform: none;
color:white;
}
/* portfolio End*/