<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid margin-height">

    <div class="kt-portlet kt-portlet--bordered-semi">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <strong>Portfolio history</strong>
                </h3>
            </div>
            <div class="kt-portlet__head-label mr-2">
                <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                    <div class="kt-header__topbar-wrapper">
                        <div class="kt-quick-search kt-quick-search--inline">
                            <div class="kt-quick-search__form">
                                <div class="input-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <strong>Projects history</strong>
                </h3>
            </div>
            <div class="kt-portlet__head-label mr-2">
                <div class="kt-header__topbar-item kt-header__topbar-item--search mr-3">
                    <div class="kt-header__topbar-wrapper">
                        <div class="kt-quick-search kt-quick-search--inline">
                            <div class="kt-quick-search__form">
                                <div class="input-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
