.kt-container{
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
}
h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

.project-info-page {
    letter-spacing: 0.4px;
}

.project-description .d-flex span {
    color: #969696;
    font-size: 13px;
}

.project-description p {
    color: #646464;
    /* font-size: 14px; */
}

.project-budget h6,
.project-duration h6 {
    color: #969696;
}

.project-duration-bar {
    width: 100%;
}

.subtask-list {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ebedf2;
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
    border-radius: 0.25rem;
    margin-right: 5px;
    margin-bottom: 10px;
}
.bg-custom {
    box-shadow: 2px 3px 4px #ccc;
    background-color: #cccfcf5c !important;
    border: 0px;
}
.subtask-radio {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.subtask-list p {
    font-weight: 400;
    font-size: 12px;
}
.subtask-list p.subtask-list-title {
    font-size: 14px;
    font-weight: 500;
}
/* ========= Progress Bar ========= */

.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height: 4px;
    margin-bottom: 12px;
    margin-top: 30px;
    position: relative;
}

.progress_bar .progress_bar_title {
    color: hsl(218, 4%, 50%);
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: -28px;
    z-index: 1;
}

.progress_bar .progress_number {
    float: right;
}

.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}

.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}

.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}

.bg-late {
    background-color: #ffa401 !important;
}

.bg-today {
    background-color: #342bf0 !important;
}

.bg-upcoming {
    background-color: #0292fc !important;
}


.action-count {
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    color: #646c9a;
    /* cursor: pointer; */
    letter-spacing: 0.2px;
    -webkit-transition: all 4s ease;
    transition: all .3s ease !important;
}

.action-count:hover {
    transform: scale(1.02);
}
.action-content{
    flex-grow: 1;
}
/* ========= Progress Bar tag ========= */

progress {
    border-radius: 4px;
    width: 100%;
    height: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 4px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

.project-duration-bar::-webkit-progress-bar {
    background-color: #c6f7fd;
}

.project-duration-bar::-webkit-progress-value {
    background-color: #0092fd;
}
.project-budget-bar::-webkit-progress-bar {
    background-color: #dcface;
}

.project-budget-bar::-webkit-progress-value {
    background-color: #25aa2a;
    background-color: #1cbb9c;
}

.project-budget h5 span {
    font-size: 14px;
    color: #25aa2a;
}

.initial-box {
    background-color: #f9ce6f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.owner-details {
    padding-left: 15px;
    font-size: 14px;
}

.owner-details p.user-name {
    white-space: nowrap;
    width: 88%;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.owner-details span {
    font-size: 14px;
}

.color-1 {
    background-color: #9cc9e8;
}

.color-2 {
    background-color: #f2c083;
}

.color-3 {
    background-color: #d1bf9b;
}

.color-4 {
    background-color: #ebaeb6;
}

.color-5 {
    background-color: #93d2bf;
}

.color-6 {
    background-color: #e2a5a8;
}

.project-people .initial-box {
    border-radius: 50%;
}

.project-people .owner-details {
    font-size: 14px;
}

.owner-details span {
    font-size: 11px;
}


/* .nav-buttons button {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
}

.nav-buttons button.active {
    background-color: #f9ce6f;
} */

#myTab1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#myTab2.nav-pills .nav-item .nav-link {
    /* background-color: #fff; */
    /* width: 90px; */
    text-align: center;
    /* margin-bottom: 10px; */
}

#myTab2.nav-pills .nav-item .nav-link.active {
    background-color: #157cc7;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

#myTab1.nav-pills .nav-item .nav-link.active {
    background-color: transparent;
    color: #595d6e;
    border-bottom: 2px solid #f9ce6f;
    border-radius: 0px !important;
}

.nav-pills .nav-item .nav-link:active {
    background-color: transparent;
}

.breakdown-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.font-14 {
    font-size: 14px;
}

.kt-widget__files .kt-widget__media,
.kt-widget__files .kt-widget__desc {
    text-align: left;
}

.subtask-radio {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 5px;
}

.comment-list {
    list-style: none;
}

.comment-list ul {
    padding: 0px 20px;
}

.comment-list commentlt {
    position: absolute;
    width: 98%;
    bottom: 0;
}

li.comment-list {
    list-style: none;
    margin-bottom: 1.5rem;
}

.comments-list h4 {
    margin: 0px 10px;
    color: #646c9a;
}
.blw .comment-info{
margin:0px 10px;
}
.blw{
    margin-left: 15px;
}

.comment-text {
    padding: 10px 13px;
    background:#45ACD4;
    /* Venkat Color -- background: #739abf; */
    /* background: #45AE92; */
    border-radius: 6px;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.06em;
    margin-left: 10px;
    width: 44%;
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
}

.odd .comment-text {
    margin-right: 10px;
    margin-left: 0px;
}

.comment-info {
    margin: 5px 15px;
    font-size: 14px;
}

.tab-section {
    background: #ffffff;
}


/* .space-tabs {
    justify-content: center;
    position: absolute;
    top: -20px;
    width: 99.5%; 
} */

.space-tabs {
    justify-content: center;
    position: absolute;
    top: -20px;
    margin: auto;
    /* background:#45AE92; */
    background: #45ACD4;
    /* Venkat Color -- background: #45abf5; */
    padding: 8px;
    border-radius: 10px;
    left: 23%;
}

.space-tabs .nav-item .nav-link {
    color: #fff;
    padding: 0.35rem 1.4rem;
    border-radius: 10px;
    background: transparent;
}

.pro-nm {
    font-size: 23px;
}

.project-info-page {
    background: #dfeaf1;
}

.project-info-page {
    background: #f3f6fb;
}

.cust-card {
    /* background: #f3f6fb !important;
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    border-radius: 15px; */
    border: none !important;
}

/* .cust-bd1 {
    height: calc(100vh - 385px);
    overflow: auto;
} */

.cust-bd1::-webkit-scrollbar {
    width: 5px;
}

.commentul {
    width: 53%;
    margin: auto;
}


/* Track */

.cust-bd1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

.odd .comment-text {
    background: #333;
    color: #fff;
}


/* Handle */

.cust-bd1::-webkit-scrollbar-thumb {
    background: rgb(197 200 201);
    border-radius: 10px;
}
.comment-info.dt {
    font-size: 12px;
}
.comment-list .name-box {
    margin-top: 5px;
}
.tabs-sticky{
    position: sticky;
    top: 1.5793rem;
    padding-top: 1rem;
    z-index: 999;
}
.b-line {
    border: 1px solid #e7ebf2;
    width: 100%;
}
.collapsed .fa-chevron-down:before{
    content: "\f054";
    margin-right: 4px;
}
.collapsed .det-text, .collapsed .text-info1 {
    color: #2786fb;
}
.det-text {
    font-weight: 600;
    font-size: 15px;
}
.b-line.two {
    width: 94%;
}
.hide{
    background-color: #ffffff;
    transition: 0.5s;  
    position: fixed;
    z-index: 999;
    top: 60px;
    right: -300px;
    overflow-x: hidden;  
    border: none;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
}
.pro-act:hover .hide{
    right:20px;
    transition: 1.3s ease-in-out;
}
.btn22{
    background-color: #2786fb;
    border-color: #2786fb;
    color: #ffffff;
    outline: none !important;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: inline-block;
    border: 1px solid transparent;
    font-weight: 600;
}
.btn-app{
    background: #fff;
    border: 1px solid #cfcbcb;
    color: #1e1f21;
    font-size:  1rem;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 6px;
    margin-right: 8px;
}
.sideInfobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #ffffff;
    border-left: 1px solid #EDEAE9;
    box-shadow:0 .1rem 1rem .25rem rgb(0 0 0/5%)!important;
    transition: transform .2s ease-in;
    overflow-x: hidden;    
    color: #212529;
}
.accordion-1 .card-title{
    padding: 12px;
    border: 1px solid #DFE1E6;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}
.accordion-body{
    padding: 12px;
    border: 1px solid #DFE1E6;
    border-radius: 0 0 4px 4px;
}
.accordion-1 .collapsed .fa-chevron-up:before{
    content: "\f078";
    margin-right: 4px;
}
.lbl-suc{
    border: 1px solid #13d33c;
}
.lbl-war{
    border: 1px solid #ffac15;
}
.lbl-dan{
    border: 1px solid #ff2c2c;
}
span.textts {
    color: #8993A4;
    font-size: 12px;
    padding: 0px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}
#sideTab1.nav-pills .nav-item .nav-link.active, #tasks-tabs.nav-pills .nav-item .nav-link.active {
    background-color: transparent;
    color: #00aef3;
    font-weight: 600;
    border-bottom: 2px solid #11bafd;
    border-radius: 0px !important;
}

.proctdetls .col1 {
    margin-bottom: 10px !important;
}
label.prol {
    font-weight: 500;
    color: #6d8085;
    color: #78868f;
}
.fw-400{
    font-weight: 600;
}
.lbl-sec{
    font-weight: 500 !important;
    font-family: var(--font-family-sans-serif);
}
.kt-container, .modal, .sideInfobar {
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
}
.text-blue {
    color: #646c9a;
}
#sideTab1, #tasks-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.none-checked{
    display:none
}
.det-text.pro-nm {
    cursor: pointer;
}
/* Handle on hover */

.cust-bd1::-webkit-scrollbar-thumb:hover {
    background: #009eb3;
}
@media (max-width: 1440px) {
    .space-tabs{
        left: 13%;
    }
}
@media (max-width: 1300px) {
    .space-tabs{
        left: 11%;
    }
}
@media (max-width: 1024px) {
    .space-tabs{
        left: 2%;
    }
    .tab-content{
        margin-top:50px !important;
    }
}
@media (max-width: 768px) {
    .space-tabs{
        left: 0;
    }
    .tab-content{
        margin-top:70px !important;
    }
    .col-sm-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }   
}
@media (max-width: 568px) {
.btn-hover-danger{
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}
}
@media (max-width: 420px){
    .col-xs-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }   
}